<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>판매 상세글</title>
    <!--css 연결하는곳-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="../../static/css/sell/sell-detail.css" >
  </head>
  <body>
    <div class="MainWrapper_content__GZkTa">
      <section>
        <div class="MainContainer_root__3gfdh">
          <div class="DetailHeader_container__3PGje">
            <div class="DetailHeader_detailImageArea__kVGJW">
              <div class="StoreSlider_container__ntgSo">
                <div class="StoreSlider_slickList__kf7h-">
                  <div class="slick-slider slick-initialized" dir="ltr">
                    <button
                      type="button"
                      class="StoreSlider_slickArrow__DO_oi StoreSlider_slickPrev__35Vwr"
                    >
                      Previous
                    </button>
                    <div class="slick-list" style="height: 470px">
                      <div
                        class="slick-track"
                        style="width: 8138px; opacity: 1; transform: translate3d(-626px, 0px, 0px)"
                      >
                        <div
                          data-index="-1"
                          tabindex="-1"
                          class="slick-slide slick-cloned"
                          aria-hidden="true"
                          style="width: 626px"
                        >
                          <div>
                            <div tabindex="-1" style="width: 100%; display: inline-block">
                              <div
                                class="StoreSlider_slickBackgroundImage__1CH4Y"
                                style="
                                  background-image: url('https://cdn2.wadiz.kr/2021/09/04/9ef63043-f2a8-409f-8526-1355debab9e6');
                                "
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          data-index="0"
                          class="slick-slide slick-active slick-current"
                          tabindex="-1"
                          aria-hidden="false"
                          style="outline: none; width: 626px"
                        >
                          <div>
                            <div tabindex="-1" style="width: 100%; display: inline-block">
                              <div
                                class="StoreSlider_slickBackgroundImage__1CH4Y"
                                style="
                                  background-image: url('https://cdn2.wadiz.kr/2021/09/01/7ba81656-973b-4ecc-916b-f4163dcb83f2');
                                "
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          data-index="1"
                          class="slick-slide"
                          tabindex="-1"
                          aria-hidden="true"
                          style="outline: none; width: 626px"
                        >
                          <div>
                            <div tabindex="-1" style="width: 100%; display: inline-block">
                              <div
                                class="StoreSlider_slickBackgroundImage__1CH4Y"
                                style="
                                  background-image: url('https://cdn2.wadiz.kr/2021/09/01/4d522400-bcd5-4cae-b2ab-a6164b15becf');
                                "
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          data-index="2"
                          class="slick-slide"
                          tabindex="-1"
                          aria-hidden="true"
                          style="outline: none; width: 626px"
                        >
                          <div>
                            <div tabindex="-1" style="width: 100%; display: inline-block">
                              <div
                                class="StoreSlider_slickBackgroundImage__1CH4Y"
                                style="
                                  background-image: url('https://cdn2.wadiz.kr/2021/09/01/660b9aa8-d73f-4caa-9ef8-f2091d0e829d');
                                "
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          data-index="3"
                          class="slick-slide"
                          tabindex="-1"
                          aria-hidden="true"
                          style="outline: none; width: 626px"
                        >
                          <div>
                            <div tabindex="-1" style="width: 100%; display: inline-block">
                              <div
                                class="StoreSlider_slickBackgroundImage__1CH4Y"
                                style="
                                  background-image: url('https://cdn2.wadiz.kr/2021/09/04/a62f4a22-e71a-4411-ad22-d3a26bd00cb1');
                                "
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          data-index="4"
                          class="slick-slide"
                          tabindex="-1"
                          aria-hidden="true"
                          style="outline: none; width: 626px"
                        >
                          <div>
                            <div tabindex="-1" style="width: 100%; display: inline-block">
                              <div
                                class="StoreSlider_slickBackgroundImage__1CH4Y"
                                style="
                                  background-image: url('https://cdn2.wadiz.kr/2021/09/04/9fdcb800-d419-4f19-8f50-290dc94c0493');
                                "
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          data-index="5"
                          class="slick-slide"
                          tabindex="-1"
                          aria-hidden="true"
                          style="outline: none; width: 626px"
                        >
                          <div>
                            <div tabindex="-1" style="width: 100%; display: inline-block">
                              <div
                                class="StoreSlider_slickBackgroundImage__1CH4Y"
                                style="
                                  background-image: url('https://cdn2.wadiz.kr/2021/09/04/9ef63043-f2a8-409f-8526-1355debab9e6');
                                "
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          data-index="6"
                          tabindex="-1"
                          class="slick-slide slick-cloned"
                          aria-hidden="true"
                          style="width: 626px"
                        >
                          <div>
                            <div tabindex="-1" style="width: 100%; display: inline-block">
                              <div
                                class="StoreSlider_slickBackgroundImage__1CH4Y"
                                style="
                                  background-image: url('https://cdn2.wadiz.kr/2021/09/01/7ba81656-973b-4ecc-916b-f4163dcb83f2');
                                "
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          data-index="7"
                          tabindex="-1"
                          class="slick-slide slick-cloned"
                          aria-hidden="true"
                          style="width: 626px"
                        >
                          <div>
                            <div tabindex="-1" style="width: 100%; display: inline-block">
                              <div
                                class="StoreSlider_slickBackgroundImage__1CH4Y"
                                style="
                                  background-image: url('https://cdn2.wadiz.kr/2021/09/01/4d522400-bcd5-4cae-b2ab-a6164b15becf');
                                "
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          data-index="8"
                          tabindex="-1"
                          class="slick-slide slick-cloned"
                          aria-hidden="true"
                          style="width: 626px"
                        >
                          <div>
                            <div tabindex="-1" style="width: 100%; display: inline-block">
                              <div
                                class="StoreSlider_slickBackgroundImage__1CH4Y"
                                style="
                                  background-image: url('https://cdn2.wadiz.kr/2021/09/01/660b9aa8-d73f-4caa-9ef8-f2091d0e829d');
                                "
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          data-index="9"
                          tabindex="-1"
                          class="slick-slide slick-cloned"
                          aria-hidden="true"
                          style="width: 626px"
                        >
                          <div>
                            <div tabindex="-1" style="width: 100%; display: inline-block">
                              <div
                                class="StoreSlider_slickBackgroundImage__1CH4Y"
                                style="
                                  background-image: url('https://cdn2.wadiz.kr/2021/09/04/a62f4a22-e71a-4411-ad22-d3a26bd00cb1');
                                "
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          data-index="10"
                          tabindex="-1"
                          class="slick-slide slick-cloned"
                          aria-hidden="true"
                          style="width: 626px"
                        >
                          <div>
                            <div tabindex="-1" style="width: 100%; display: inline-block">
                              <div
                                class="StoreSlider_slickBackgroundImage__1CH4Y"
                                style="
                                  background-image: url('https://cdn2.wadiz.kr/2021/09/04/9fdcb800-d419-4f19-8f50-290dc94c0493');
                                "
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          data-index="11"
                          tabindex="-1"
                          class="slick-slide slick-cloned"
                          aria-hidden="true"
                          style="width: 626px"
                        >
                          <div>
                            <div tabindex="-1" style="width: 100%; display: inline-block">
                              <div
                                class="StoreSlider_slickBackgroundImage__1CH4Y"
                                style="
                                  background-image: url('https://cdn2.wadiz.kr/2021/09/04/9ef63043-f2a8-409f-8526-1355debab9e6');
                                "
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="StoreSlider_slickArrow__DO_oi StoreSlider_slickNext__1xnz1"
                    >
                      Next
                    </button>
                  </div>
                </div>
                <span class="StoreSlider_slickIndex__1d6Eo">1/6</span>
              </div>
            </div>
            <div class="DetailHeader_detailInfoArea__cSsVa">
              <div class="DetailInfo_container__9Q8ap">
                <div class="DetailInfoHeader_container__2EKRL">
                  <h2 class="DetailInfoHeader_textBlind__2owz5">스토어 스토리 상세페이지</h2>
                  <div class="DetailInfoHeader_searchInfoWrapper__1R1Pn">
                    <div class="ProjectSearchTags_container__7YZNA">
                      <a
                        class="ProjectSearchTags_category__3ofgG ProjectSearchTags_gaElement__1mZHZ"
                        href="/web/wcampaign/search?category=288,sc002"
                        data-ga-category="스토어(상세)_카테고리"
                        data-ga-action="클릭"
                        data-ga-label="패션·잡화"
                        ><span aria-label="카테고리">패션·잡화</span
                        ><svg
                          viewBox="0 0 40 40"
                          focusable="false"
                          role="presentation"
                          class="withIcon_icon__3VTbq"
                          aria-hidden="true"
                          style="width: 18px; height: 18px"
                        >
                          <path d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg
                      ></a>
                      <div class="ProjectSearchTags_hashTags__3v6i6">
                        <a
                          data-ga-category="스토어(상세)_검색태그"
                          data-ga-action="클릭"
                          data-ga-label="안경"
                          href="/web/wcampaign/search?keyword=안경"
                          class="Button_button__2FuOU Button_tertiaryGrey__3jJV7 Button_contained__2SIAT Button_xs__2DWsb Button_circular__1cdcJ ProjectSearchTags_hashTagButton__fCndq ProjectSearchTags_gaElement__1mZHZ"
                          ><span
                            ><span class="Button_children__ilFun"
                              ><div class="ProjectSearchTags_hashTag__2UMo_">
                                <span class="ProjectSearchTags_hash__IgbO9">#</span
                                ><span>안경</span>
                              </div></span
                            ></span
                          ></a
                        >
                      </div>
                    </div>
                    <div class="DetailInfoHeader_share__AojFW">
                      <button type="button" aria-label="공유하기" style="position: relative">
                        <div
                          style="
                            position: absolute;
                            visibility: hidden;
                            left: -10px;
                            top: -10px;
                            width: 44px;
                            height: 44px;
                          "
                        ></div>
                        <svg
                          viewBox="0 0 40 40"
                          focusable="false"
                          role="presentation"
                          class="withIcon_icon__3VTbq"
                          aria-hidden="true"
                          style="width: 24px; height: 24px"
                        >
                          <path
                            d="M30 26a6 6 0 0 0-4.7 2.3L13.7 22a5.9 5.9 0 0 0 0-3.9l11.6-6.3a6 6 0 1 0-1-1.8l-11.6 6.3a6 6 0 1 0 0 7.4L24.3 30a6 6 0 1 0 5.7-4zM26 8a4.1 4.1 0 1 1 .1 1 4 4 0 0 1-.1-1zM8 24a4 4 0 1 1 3.9-5A4 4 0 0 1 8 24zm22 12a4 4 0 0 1-4-4 4 4 0 0 1 4-4 4 4 0 0 1 0 8z"
                          ></path>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="DetailInfoHeader_titleInfo__2nx8Q">
                    <h3 class="DetailInfoHeader_title__i0kaY">
                      블루라이트 차단 렌즈+풀 티타늄 티에어 명품 안경테
                    </h3>
                  </div>
                  <div class="DetailInfoHeader_participationInfo__1FHhm">
                    <div>
                      <a
                        class="DetailInfoHeader_rating__1xQMT"
                        href="/web/store/detail/105/satisfaction"
                        ><div
                          class="RatingScore_container__AeQ_I RatingScore_smTitle__1OhOH DetailInfoHeader_score__3mi3k"
                        >
                          <div class="RatingScore_icon__rIS_k"></div>
                          <span class="RatingScore_score__2a-SN">4.5</span>
                        </div>
                        <span class="DetailInfoHeader_count__O-2RE">(554)</span></a
                      >
                    </div>
                    <div class="DetailInfoHeader_orderInfo__3SR8a">
                      <span class="DetailInfoHeader_text__2P224">3,952</span>명 참여
                      <div>
                        <button
                          type="button"
                          class="Tooltip_button__2xpDd DetailInfoHeader_tooltip__1loaj"
                          aria-describedby="Tooltip_6"
                        >
                          <span class="Tooltip_label__eKqLa"></span
                          ><span class="Tooltip_helpIconWrap__3bvP3"
                            ><svg
                              viewBox="0 0 40 40"
                              focusable="false"
                              role="presentation"
                              class="withIcon_icon__3VTbq Tooltip_helpOutlineIcon__JkkNy"
                              aria-hidden="true"
                            >
                              <path fill="none" d="M0 0h40v40H0z"></path>
                              <path
                                d="M20 39a19 19 0 1 1 19-19 19.06 19.06 0 0 1-19 19zm0-36a17 17 0 1 0 17 17A17 17 0 0 0 20 3z"
                              ></path>
                              <path
                                d="M24.34 10A5.75 5.75 0 0 0 20 8.33a5.7 5.7 0 0 0-6 6h2a3.7 3.7 0 0 1 4-4 3.7 3.7 0 0 1 4 4A4.29 4.29 0 0 1 22 18l-.7.6a6.51 6.51 0 0 0-2.3 5.7h2c0-1.9 0-2.6 1.7-4.3l.6-.5a6.28 6.28 0 0 0 2.7-5.2 5.73 5.73 0 0 0-1.66-4.3zM20 26.87a1.8 1.8 0 1 0 0 3.6 1.8 1.8 0 1 0 0-3.6z"
                              ></path></svg
                            ><svg
                              viewBox="0 0 40 40"
                              focusable="false"
                              role="presentation"
                              class="withIcon_icon__3VTbq Tooltip_helpIcon__3jf9Q"
                              aria-hidden="true"
                            >
                              <path fill="none" d="M0 0h40v40H0z"></path>
                              <path
                                d="M20 1a19 19 0 1 0 19 19A19.06 19.06 0 0 0 20 1zm0 29.5a1.8 1.8 0 1 1 1.8-1.79 1.8 1.8 0 0 1-1.8 1.75zm6-16.13a6.28 6.28 0 0 1-2.7 5.2l-.6.5c-1.7 1.7-1.7 2.4-1.7 4.3h-2a6.51 6.51 0 0 1 2.3-5.7L22 18a4.29 4.29 0 0 0 2-3.7 3.7 3.7 0 0 0-4-4 3.7 3.7 0 0 0-4 4h-2a5.7 5.7 0 0 1 6-6 5.7 5.7 0 0 1 6 6z"
                              ></path></svg
                          ></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="DetailInfoHeader_buyInfo__160ZZ">
                    <em class="DetailInfoHeader_price__2PVzf"
                      ><span>65,000</span><span class="DetailInfoHeader_unit__2s2Vz">원</span></em
                    >
                    <div
                      class="ProductInfoWadizOnly_container__Tbnqh DetailInfoHeader_productInfoWadizOnly__3lpvW"
                    >
                      <em
                        class="ProductInfoWadizOnly_badge__2YuaA"
                        aria-label="와디즈 온리 상품"
                      ></em>
                      <div>
                        <button
                          type="button"
                          class="Tooltip_button__2xpDd ProductInfoWadizOnly_button__3aEIf"
                          aria-describedby="Tooltip_7"
                        >
                          <span class="Tooltip_label__eKqLa"></span
                          ><span class="Tooltip_helpIconWrap__3bvP3"
                            ><svg
                              viewBox="0 0 40 40"
                              focusable="false"
                              role="presentation"
                              class="withIcon_icon__3VTbq Tooltip_helpOutlineIcon__JkkNy"
                              aria-hidden="true"
                            >
                              <path fill="none" d="M0 0h40v40H0z"></path>
                              <path
                                d="M20 39a19 19 0 1 1 19-19 19.06 19.06 0 0 1-19 19zm0-36a17 17 0 1 0 17 17A17 17 0 0 0 20 3z"
                              ></path>
                              <path
                                d="M24.34 10A5.75 5.75 0 0 0 20 8.33a5.7 5.7 0 0 0-6 6h2a3.7 3.7 0 0 1 4-4 3.7 3.7 0 0 1 4 4A4.29 4.29 0 0 1 22 18l-.7.6a6.51 6.51 0 0 0-2.3 5.7h2c0-1.9 0-2.6 1.7-4.3l.6-.5a6.28 6.28 0 0 0 2.7-5.2 5.73 5.73 0 0 0-1.66-4.3zM20 26.87a1.8 1.8 0 1 0 0 3.6 1.8 1.8 0 1 0 0-3.6z"
                              ></path></svg
                            ><svg
                              viewBox="0 0 40 40"
                              focusable="false"
                              role="presentation"
                              class="withIcon_icon__3VTbq Tooltip_helpIcon__3jf9Q"
                              aria-hidden="true"
                            >
                              <path fill="none" d="M0 0h40v40H0z"></path>
                              <path
                                d="M20 1a19 19 0 1 0 19 19A19.06 19.06 0 0 0 20 1zm0 29.5a1.8 1.8 0 1 1 1.8-1.79 1.8 1.8 0 0 1-1.8 1.75zm6-16.13a6.28 6.28 0 0 1-2.7 5.2l-.6.5c-1.7 1.7-1.7 2.4-1.7 4.3h-2a6.51 6.51 0 0 1 2.3-5.7L22 18a4.29 4.29 0 0 0 2-3.7 3.7 3.7 0 0 0-4-4 3.7 3.7 0 0 0-4 4h-2a5.7 5.7 0 0 1 6-6 5.7 5.7 0 0 1 6 6z"
                              ></path></svg
                          ></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="AvailableCouponButton_button__3JH3v">
                    바로 사용 가능한 할인 쿠폰 보기<svg
                      viewBox="0 0 48 48"
                      focusable="false"
                      role="presentation"
                      class="withIcon_icon__3VTbq AvailableCouponButton_icon__6SEtq"
                      aria-hidden="true"
                    >
                      <path
                        d="M40.8 43.2H7.2v-2.4h33.6v2.4zm-5.28-22.08L25.2 31.44V4.8h-2.4v26.64L12.48 21.12 10.8 22.8 24 36l13.2-13.2-1.68-1.68z"
                      ></path>
                    </svg>
                  </button>
                  <div class="DetailInfoHeader_productInfo__2Sqwq">
                    <dl>
                      <div class="DetailInfoHeader_termsBox__3SFti">
                        <dt class="DetailInfoHeader_terms__1NMDk">배송</dt>
                        <dd class="DetailInfoHeader_termsDescription__rTnUJ">
                          <div class="WaDelivery_container__1rUdD WaDelivery_md__3zQ7U">
                            <span class="WaDelivery_badge__3p6M4"
                              ><i class="WaDelivery_icon__3J5iQ"></i
                              ><span class="WaDelivery_text__2E3D-">와배송 상품</span></span
                            >
                            <div class="WaDelivery_infoBox__-KOnU">
                              <span class="WaDelivery_text__2E3D-"
                                >평일 14시 전 주문하면 오늘 출발</span
                              >
                              <div class="WaDelivery_infoFree__2vg5K">
                                <div class="DetailInfoHeader_shippingChargeContainer__1VbQ9">
                                  <span>무료배송</span><span>(제주/도서산간 5,000원)</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </dd>
                      </div>
                      <div class="DetailInfoHeader_termsBox__3SFti">
                        <dt class="DetailInfoHeader_terms__1NMDk">혜택</dt>
                        <dd class="DetailInfoHeader_termsDescription__rTnUJ">
                          <div class="SupporterClubJoinButton_container__tvKI-">
                            올인원 멤버는
                            <button class="SupporterClubJoinButton_button__3FNPx">
                              배송비 할인 + 쿠폰팩
                            </button>
                          </div>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
                <div class="ProductSelectMenu_container__18idj">
                  <div class="ProductSelect_container__1Xa66">
                    <div class="ProductSelect_title__3FqMO">
                      <span class="ProductSelectMenu_defaultValue___MUYQ">상품 선택</span>
                      <div
                        class="ProductSelect_moreButton__2P_Sz ProductSelect_isOpenMoreInfo__201IV"
                      >
                        <svg
                          viewBox="0 0 32 32"
                          focusable="false"
                          role="presentation"
                          class="withIcon_icon__3VTbq"
                          aria-hidden="true"
                        >
                          <path
                            d="M16 9.6L26.4 20l-1.12 1.12L16 11.84l-9.28 9.28L5.6 20 16 9.6z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ProductBuyInfo_container__1nPti undefined">
                  <div class="ProductFloatButton_container__2jWfi">
                    <div class="ProductFloatButton_wishButtonBox__236EH">
                      <button
                        aria-label="찜하기 버튼"
                        aria-pressed="false"
                        data-ga-category="스토어_상세"
                        data-ga-action="찜하기_추가"
                        data-ga-label=""
                        class="Button_button__2FuOU ProductFloatButton_wishButton__2uCyk"
                        type="button"
                      >
                        <span
                          ><span class="Button_children__ilFun"
                            ><div>
                              <svg
                                viewBox="0 0 32 32"
                                focusable="false"
                                role="presentation"
                                class="withIcon_icon__3VTbq"
                                aria-hidden="true"
                                style="width: 24px; height: 24px"
                              >
                                <path
                                  d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085zm-5.28 21.84l-.88.8-.88-.8h-.08C8.4 19.76 4 15.84 4 11.44l-.001-.082A5.76 5.76 0 0 1 9.928 5.6a6.542 6.542 0 0 1 4.865 2.232l.486.567h1.52l.48-.56a6.548 6.548 0 0 1 4.877-2.24l.084-.001a5.76 5.76 0 0 1 5.76 5.76l-.001.085c0 4.396-4.4 8.316-11.12 14.396z"
                                ></path></svg
                              ><span class="ProductFloatButton_count__1a-7B">2,424</span>
                            </div></span
                          ></span
                        >
                      </button>
                    </div>
                    <button
                      rel="noreferrer noopener"
                      class="Button_button__2FuOU Button_primary__2mZni Button_contained__2SIAT Button_xl__1FM1L ProductFloatButton_button__tpSGA"
                      type="button"
                    >
                      <span
                        ><span class="Button_children__ilFun"><span>구매하기</span></span></span
                      >
                    </button>
                  </div>
                </div>
                <div class="PrevFundingInfo_prevFundingInfo__16jzd">
                  <h3 class="PrevFundingInfo_title__2SfFh">
                    <a href="/web/campaign/detail/112892" target="_blank">이전 펀딩 정보</a>
                  </h3>
                  <div class="PrevFundingInfo_stateInfoBox__3qg_4">
                    <div class="PrevProjectStateInfo_container__1wCwe" aria-label="펀딩 성공 금액">
                      <span>5,404만 원+</span
                      ><span class="PrevProjectStateInfo_word__2TPpL">성공</span>
                    </div>
                    <div class="PrevProjectStateInfo_container__1wCwe" aria-label="서포터 수">
                      <span>747명</span><span class="PrevProjectStateInfo_word__2TPpL">펀딩</span>
                    </div>
                  </div>
                </div>
                <div class="StoreMakerInfoContainer_container__RjIvt">
                  <div class="StoreMakerInfoContainer_content__3nIZo">
                    <div class="StoreMakerInfoContainer_header__3F8ep">
                      <a
                        class="MakerInfoHeader_link__29O6y StoreMakerInfoContainer_makerLink__UDmAv MakerInfoHeader_disabled__rOFG7"
                        href=""
                        ><div
                          class="Avatar_avatar__1d9Wt Avatar_xs__3q9gb MakerInfoHeader_avatar__1PMBy"
                        >
                          <span
                            class="Avatar_hasImage__2TKl6"
                            style="
                              background-image: url('https://cdn2.wadiz.kr/2022/05/13/f14f7b7d-6de5-4745-af61-8c4894b6a4e8.jpg/wadiz/resize/100/format/jpg/quality/90/');
                              border: 1px solid rgb(221, 226, 230);
                            "
                          ></span>
                        </div>
                        <div class="MakerInfoHeader_texts__3ft0t">
                          <span
                            class="MakerInfoHeader_makerName__2KFTA StoreMakerInfoContainer_makerName__2GZJn"
                            >와디즈 주식회사</span
                          >
                        </div></a
                      ><a
                        target="_blank"
                        rel="noreferrer noopener"
                        data-ga-category="스토어_상세"
                        data-ga-action="대량구매문의"
                        data-ga-label="105"
                        href="https://forms.monday.com/forms/f7903faf0062a05a3e5e967c354e5141?r=use1"
                        class="Button_button__2FuOU Button_tertiaryGrey__3jJV7 Button_contained__2SIAT Button_sm__16X6h Button_startIcon__3p6wN StoreMakerInfoContainer_rightButton__2cuwn StoreMakerInfoContainer_inquiryButton__1lxMg"
                        ><span
                          ><svg
                            viewBox="0 0 40 40"
                            focusable="false"
                            role="presentation"
                            class="withIcon_icon__3VTbq Button_icon__t6yp6"
                            aria-hidden="true"
                          >
                            <path fill="none" d="M0 0h40v40H0z"></path>
                            <path
                              d="M10.62 38.33V29H2.87V1.67h34.26v27.79H18.92zM5 27h7.7v6.11l5.3-5.73h17V3.75H5z"
                            ></path>
                            <path
                              d="M12.84 13.28a1.87 1.87 0 1 0 0 3.74 1.87 1.87 0 1 0 0-3.74zm7.16 0a1.87 1.87 0 1 0 0 3.74 1.87 1.87 0 1 0 0-3.74zm7.16 0a1.87 1.87 0 1 0 0 3.74 1.87 1.87 0 1 0 0-3.74z"
                            ></path></svg
                          ><span class="Button_children__ilFun">대량구매 문의</span></span
                        ></a
                      >
                    </div>
                  </div>
                  <button
                    class="AccordionButton_accordionButton__2LHP- StoreMakerInfoContainer_accordionButton__3rhUd"
                  >
                    <span class="StoreMakerInfoContainer_accordionButtonText__z7Jgs">더보기</span
                    ><svg
                      viewBox="0 0 32 32"
                      focusable="false"
                      role="presentation"
                      class="withIcon_icon__3VTbq"
                      aria-hidden="true"
                    >
                      <path
                        d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div class="DetailInfo_observer__1F3B3"></div>
              </div>
            </div>
          </div>
          <div>
            <div class="DetailContent_container__oYgFG">
              <nav class="DetailTab_container__1NVYg">
                <ul>
                  <li class="DetailTab_isActive__2Amuh">
                    <a href="/web/store/detail/105/story" aria-current="page" class="active"
                      ><span>스토리</span></a
                    >
                  </li>
                  <li class="">
                    <a href="/web/store/detail/105/satisfaction"
                      ><span>만족도<span class="DetailTab_badge__2oSI4">554</span></span></a
                    >
                  </li>
                  <li class="">
                    <a href="/web/store/detail/105/refund"><span>반품・교환</span></a>
                  </li>
                </ul>
              </nav>
              <div class="storeTabContentsWrapper">
                <div class="storeTabContents">
                  <div class="DetailStory_container__2f685">
                    <div
                      color="basic"
                      class="MessageBox_messageBox__2WX5N MessageBox_basic__1zukz MessageBox_vertical__2ODEW DetailStory_messageBox__kZGnE"
                    >
                      <span
                        ><svg
                          viewBox="0 0 40 40"
                          focusable="false"
                          role="presentation"
                          class="withIcon_icon__3VTbq MessageBox_icon__1NYKB"
                          aria-hidden="true"
                        >
                          <path fill="none" d="M0 0h40v40H0z"></path>
                          <path
                            d="M20 1a19 19 0 1 0 19 19A19.06 19.06 0 0 0 20 1zm1 28.6h-2v-13h2zm-1-15.84A1.8 1.8 0 1 1 21.8 12a1.8 1.8 0 0 1-1.8 1.76z"
                          ></path></svg
                      ></span>
                      <div class="MessageBox_content__3Yza8">
                        <p class="MessageBox_title__12hBF">구매 전 반드시 확인하세요!</p>
                        <div class="MessageBox_description__2Fyxq">
                          <ul>
                            <li>아래 스토리 내용은 이전 펀딩 진행 시 작성된 내용입니다.</li>
                            <li>프로젝트 변경사항을 반드시 확인하세요.</li>
                            <li>상품 금액은 스토리 상이 아닌 상품 선택해서 확인해 주세요.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="StoreGuide_storeGuide__1xzFN">
                      <img
                        alt="팬들이 인정한 성공펀딩 집합샵 가이드"
                        class="StoreGuide_image__Lk8Bn"
                        src="https://static.wadiz.kr/main/media/store-wa-delivery-guide-pc.e7e38062.png"
                      />
                    </div>
                    <div class="ProjectChangeNotice_container__3tNIH">
                      <div>
                        <section class="ContentFoldHeight_container__1-2AN">
                          <div
                            class="ContentFoldHeight_contentWrap__1Gap2 ContentFoldHeight_unFold__xRt8E"
                            style="height: 265px"
                          >
                            <div class="ContentFoldHeight_content__14HU9">
                              <div>
                                <div class="ContentFoldHeight_contentItem__3F3bZ">
                                  <div class="ProjectChangeNotice_notice__38XfH">
                                    <h3>프로젝트 변경사항, 꼭 확인하세요!</h3>
                                    <ol class="ProjectChangeNoticeList_container__vqeVW">
                                      <li>
                                        <div class="ProjectChangeNoticeItem_container__2evEx">
                                          <strong class="ProjectChangeNoticeItem_title__1pvye"
                                            >📢 구매 시 유의사항 안내</strong
                                          >
                                          <p class="ProjectChangeNoticeItem_description__1JNRj">
                                            클립온은 별도 구매가 필요한 상품입니다. 안경과 함께
                                            배송되지 않습니다.
                                          </p>
                                        </div>
                                      </li>
                                    </ol>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ContentFoldHeight_foldContainer__38f2_">
                            <div
                              class="MoreButton_button__3qNcH ProjectChangeNotice_foldButton__3lKOM"
                            >
                              <span class="ProjectChangeNotice_title__1Zaye">더보기</span
                              ><svg
                                viewBox="0 0 32 32"
                                focusable="false"
                                role="presentation"
                                class="withIcon_icon__3VTbq MoreButton_icon__2UKz5"
                                aria-hidden="true"
                              >
                                <path
                                  d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"
                                ></path>
                              </svg>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
