<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기업상세</title>
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/member-detail/company-detail.css">
    <link rel="shortcut icon" href="/images/logo_favi/favi/favicon.ico">

</head>
<body>
<div th:insert="~{components/header:: header}"></div>
    <main>
        <div>
            <div class="container">
                <div class="image_section">
                    <div class="image_section_div">
                        <span class="image_section_span" style="border: 1px solid rgb(221, 226, 230);"></span>
                    </div>
                </div>
                <div class="main_content">
                    <div>
                        <div class="company_title">
                            <strong class="company_title_strong">시티파이브</strong>
                        </div>
                        <p class="company_title_p">Awake your senses! 
여러분의 감각을 깨워드릴 새로운 제품을 생각합니다.</p>
                    </div>
                    <div class="main_content_second">
                        <div style="padding-bottom: 14px;">
                            <span class="star_icon" aria-hidden="true"></span>
                            <span class="satisfaction">만족도 4.0</span>
                            <span class="satisfaction_amount">(1004개)</span>
                        </div>
                        <div>
                            <span class="supporter_icon" aria-hidden="true"></span>
                            <span class="supporter_value">
                                누적 행사 수
                            </span>
                            <span class="satisfaction_amount">(1004개)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page_content">
                <nav class="page_content_nav">
                    <ul class="page_content_ul">
                        <li class="page_content_li">
                            <a class="page_content_a">
                                <span class="page_content_span">
                                    행사
                                </span>
                            </a>
                        </li>
                        <li class="page_content_li">
                            <a class="page_content_a">
                                <span class="page_content_span_not">
                                    기업 정보
                                </span>
                            </a>
                        </li>
                        <li class="page_content_li">
                            <a class="page_content_a">
                                <span class="page_content_span_not">
                                    만족도
                                </span>
                            </a>
                        </li>
                    </ul>
                

                    <!-- 프로젝트 -->
                    <div class="page_content_div">
                        <div style="background-color: #f2f4f6;">
                            <div class="content_wrap">

                            </div>
                        </div>
                    </div>

                    <!-- 메이커 정보 -->
                    <div class="maker_wrap" style="display: none;">
                    </div>

                    <!-- 만족도 -->
                    <div id="wrap_satisfaction" style="display: none;">
                    </div>


                </nav>
            </div>
        </div>
    </main>
<div th:insert="~{components/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/member-detail/company-detail.js"></script>
<script src="/js/components/header.js"></script>
</html>