<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원상세</title>
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/member-detail/member-detail.css">
    <link rel="shortcut icon" href="/images/logo_favi/favi/favicon.ico">

</head>
<body>
<div th:insert="~{/components/header:: header}"></div>
    <main>
        <div>
            <div class="container">
                <div class="image_section">
                    <div class="image_section_div">
                        <span class="image_section_span" style="border: 1px solid rgb(221, 226, 230);"></span>
                    </div>
                </div>
                <div class="main_content">
                    <div>
                        <div class="company_title">
                            <strong class="company_title_strong"></strong>
                        </div>
                        <p class="company_title_p"></p>
                    </div>
                    <div class="main_content_second">
                    </div>
                    <div class="main_content_third">
                        <button class="follow_button" follow="false" th:if="${session.member != null}">
                            <span class="follow_button_span">
                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="plus_icon" aria-hidden="true">
                                    <path d="M30.4 15.2H16.8V1.6h-1.6v13.6H1.6v1.6h13.6v13.6h1.6V16.8h13.6v-1.6z"></path>
                                </svg>
                                <span style="display: inline-block; vertical-align: middle;">
                                    팔로우
                                </span>
                            </span>
                        </button>
                        <div class="new_project">
                            <div class="up_arrow"></div>
                            <span>👆</span>
                            <p>일상을 공유받고 싶다면!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page_content">
                <div class="page_content_nav">
                    <ul class="page_content_ul">
                        <li class="page_content_li">
                            <a class="page_content_a">
                                <span class="page_content_span">
                                    부모님 마당 게시글
                                </span>
                            </a>
                        </li>
                        <li class="page_content_li">
                            <a class="page_content_a">
                                <span class="page_content_span_not">
                                    후기 게시판 게시글
                                </span>
                            </a>
                        </li>
                    </ul>


                    <!-- 프로젝트 -->
                    <div class="page_content_div">
                        <div style="background-color: #f2f4f6;">
                            <div class="content_wrap">
                                <section class="content_wrap_section parent-board-section-1">
                                    <div class="proceeding">
                                        <h2 class="proceeding_h2">
                                            작성 한 게시글
                                            <span class="free_order">🌟</span>
                                        </h2>
                                    </div>
                                    <div>
                                        <div class="real_content parents-board-section">
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- 후기게시판 -->
                    <div id="wrap_satisfaction" style="display: none;">
                        <section class="satisfaction_rating">
                            <div style="margin-bottom: 48px;">
                                <h2 class="new_h2">작성 후기</h2>
                                <span class="plus_satisfaction"></span>
                            </div>
                            <ul class="review-ul">

                            </ul>
                        </section>
                    </div>



            </div>
        </div>
    </main>
<div th:insert="~{/components/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/member-detail/member-detail.js"></script>
<script src="/js/components/header.js"></script>
</html>