<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>도담도담</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/css/components/header.css">
    <link rel="stylesheet" href="/static/css/main/main.css">
</head>
<body>
    <header>
        <div class="web-header">
            <div class="web-header-large">
                <header class="header-wrapper">
                    <div class="header-container">
                        <!-- <h1 class="wadiz-logo">
                            <a href="/templates/main/main.html" style="width: 100px;">
                                <span class="label">도담도담</span>
                                <img alt="" src="" style="width: 88%;">
                            </a>
                        </h1> -->
                        <ul class="header-menu-category-ul">
                            <li class="header-menu-category-li"><a
                                class="header-menu-category-a" href="/templates/main/main.html">
                                    <h1 class="wadiz-logo">
                                        <span>도담도담</span>
                                    </h1>
                            </a></li>
                            <li class="header-menu-category-li"><a
                                class="header-menu-category-a" href="">
                                    <span>사업소개</span>
                            </a></li>
                            <li class="header-menu-category-li"><a
                                class="header-menu-category-a" href=""> <span>오픈예정</span>
                            </a></li>
                            <li class="header-menu-category-li"><a
                                class="header-menu-category-a" href=""> <span>홍보하기</span>
                            </a></li>
                            <li class="header-menu-category-li"><a
                                class="header-menu-category-a" href=""> <span>고객센터</span>
                            </a></li>
                        </ul>
                        <div class="web-header-utils">
                            <div class="header-search-div">
                                <form>
                                    <div class="header-search-index-div" tabindex="-1">
                                        <div class="header-search-empty-div"></div>
                                        <div class="header-search-input-div">
                                            <input type="search" placeholder="새로운 것을 찾으시나요?"
                                                aria-label="검색" value="" style="">
                                        </div>
                                        <button type="submit" class="header-search-button"
                                            aria-label="검색">
                                            <svg viewBox="0 0 40 40" focusable="false" role="presentation"
                                                class="withIcon_icon__20lDO" aria-hidden="true"
                                                style="width: 24px; height: 24px;">
                                                <path fill="none" d="M0 0h40v40H0z"></path>
                                                <path
                                                    d="M29.2 27.91a14.38 14.38 0 1 0-1.42 1.4l7.16 7.15.07.08 1.41-1.41zM18.45 6a12.36 12.36 0 0 1 8.35 3.23 12.24 12.24 0 0 1 4 8.59A12.39 12.39 0 1 1 17.88 6z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <c:if
                                test="${not empty sessionScope.memberId || not empty cookie.memberIdentification }">
                                <!-- 로그아웃 버튼! -->
                                <div class="buttonWrap headerButton">
                                    <button class="listButton logoutButton"
                                        onclick="location.href = '${pageContext.request.contextPath}/user/loging.user'">
                                    </button>
                                </div>
                                <!-- // 로그아웃 버튼! -->
                            </c:if>
                            <div class="header-user-div">
                                <!-- <div class="header-user-container">
                                    <button type="button" class="header-user-button" onclick="location.href='${pageContext.request.contextPath}/user/logout.user'">로그아웃</button>
                                    <button data-event="iam.signup" class="header-user-button" onclick="location.href='${pageContext.request.contextPath}/dhouse/user/mypage.user'">마이페이지</button>
                                </div> -->
                                <div class="header-user-container">
                                    <button type="button" class="header-user-button">로그인</button>
                                    <button data-event="iam.signup" class="header-user-button" onclick="location.href='${pageContext.request.contextPath}/user/signUp.user'">회원가입</button>
                                </div>
                            </div>
                            <div class="web-header-funding-open funding-open">
                                <div>
                                    <div>
                                        <button aria-label="기부 참여하기"
                                            class="header-make-button header-make-button2 header-make-button3 funding-open-button"
                                            type="button">
                                            <span> 
                                                <span class="header-make-project-span">
                                                    프로젝트 만들기
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </header>
    <main>
        <!-- <div class="banner">

        </div> -->
        <div class="menus-bar">
            <div class="quick-bar">
                <div class="menu-title">
                    Quick! 바로가기
                </div>
                <div class="quick-menu-list">
                    <a href="" target="_blank" class="quick-menu">
                        <svg width="54" height="36" viewBox="0 0 57 38" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 5px;">
                            <path d="M49.5962 1H6.90385C5.44423 1 4.25 2.05 4.25 3.33333V31H52.25V3.33333C52.25 2.05 51.0558 1 49.5962 1Z" fill="white" stroke="#212529" stroke-width="2" stroke-miterlimit="10"></path><path d="M9.25 26V6H47.25V26H9.25Z" fill="#00C4C4" stroke="#212529" stroke-width="2"></path>
                            <path d="M1.25 31C1.25 34.3075 3.39049 36.985 7.0611 36.985L18.6611 37H35.8389L49.4389 36.985C53.1095 36.985 55.25 34.3075 55.25 31H1.25Z" fill="#C5E8E8" stroke="#212529" stroke-width="2" stroke-miterlimit="10"></path><path d="M24.25 34H32.25" stroke="#212529" stroke-width="2" stroke-miterlimit="10"></path>
                            <path d="M34.0704 12C33.8833 12 33.7039 12.0753 33.5716 12.2092C33.4394 12.3432 33.365 12.5249 33.365 12.7144V15.1102C32.983 14.7491 32.5077 14.505 31.9943 14.4063C31.4809 14.3076 30.9504 14.3582 30.4642 14.5524C29.9781 14.7466 29.5563 15.0763 29.2476 15.5034C28.939 15.9304 28.7562 16.4373 28.7204 16.9653C28.6925 17.4021 28.7681 17.8394 28.941 18.2405C29.1138 18.6417 29.3789 18.9952 29.7141 19.2716C30.2707 19.7239 30.9584 19.9788 31.6718 19.9973C32.3852 20.0158 33.0849 19.7969 33.6636 19.374C33.7074 19.4981 33.7879 19.6055 33.8942 19.6816C34.0006 19.7576 34.1275 19.7985 34.2576 19.7988H34.8303V12H34.0704ZM31.7915 18.8196C30.9574 18.8196 30.282 18.0789 30.282 17.1653C30.282 16.2518 30.9574 15.5118 31.7915 15.5118C32.6257 15.5118 33.3011 16.2518 33.3011 17.1653C33.3011 18.0789 32.6249 18.8196 31.7915 18.8196Z" fill="#1D2129"></path>
                            <path d="M28.1137 19.7995V14.4558H27.3507C27.1736 14.4558 27.0029 14.5233 26.8727 14.6448C26.7425 14.7663 26.6621 14.933 26.6476 15.1118C26.2656 14.7509 25.7904 14.507 25.2771 14.4084C24.7638 14.3098 24.2334 14.3605 23.7474 14.5547C23.2614 14.7488 22.8397 15.0784 22.5311 15.5054C22.2225 15.9323 22.0397 16.439 22.0038 16.9668C21.9757 17.4036 22.0512 17.8408 22.2239 18.242C22.3966 18.6432 22.6616 18.9967 22.9967 19.2731C23.5533 19.7254 24.241 19.9804 24.9544 19.9989C25.6678 20.0174 26.3675 19.7984 26.9462 19.3755C26.99 19.4997 27.0705 19.6071 27.1768 19.6831C27.2832 19.7591 27.4101 19.8001 27.5402 19.8003L28.1137 19.7995ZM25.0741 18.8203C24.24 18.8203 23.5646 18.0796 23.5646 17.166C23.5646 16.2525 24.24 15.5125 25.0741 15.5125C25.9083 15.5125 26.5837 16.2525 26.5837 17.166C26.5837 18.0796 25.9083 18.8203 25.0741 18.8203Z" fill="#1D2129"></path>
                            <path d="M43.1069 14.4565H39.2901C39.103 14.4565 38.9236 14.5318 38.7913 14.6658C38.659 14.7997 38.5847 14.9814 38.5847 15.1709V15.7109H40.9789L38.4188 19.0347V19.8026H43.1069V18.5475H40.5516L43.1069 15.2309V14.4565Z" fill="#1D2129"></path>
                            <path d="M36.7387 12.0425C36.5615 12.0425 36.3883 12.0957 36.241 12.1954C36.0937 12.295 35.9789 12.4367 35.9111 12.6025C35.8433 12.7682 35.8255 12.9506 35.8601 13.1266C35.8947 13.3026 35.98 13.4642 36.1053 13.5911C36.2305 13.7179 36.3901 13.8043 36.5639 13.8393C36.7377 13.8744 36.9178 13.8564 37.0814 13.7877C37.2451 13.7191 37.385 13.6028 37.4834 13.4536C37.5819 13.3044 37.6344 13.129 37.6344 12.9496C37.6344 12.8305 37.6112 12.7125 37.5662 12.6025C37.5212 12.4924 37.4552 12.3924 37.372 12.3082C37.2889 12.2239 37.1901 12.1571 37.0814 12.1115C36.9728 12.0659 36.8563 12.0425 36.7387 12.0425Z" fill="#1D2129"></path><path d="M20.5898 14.4565L19.5235 17.7852L18.4484 14.4565H17.3978C17.2493 14.4573 17.1047 14.5052 16.9845 14.5934C16.8642 14.6817 16.7742 14.8058 16.7272 14.9485L15.8117 17.7852L14.7453 14.4565H13.25L15.0052 19.801H16.506L17.6672 16.3724L18.8299 19.801H20.3307L22.0859 14.4565H20.5898Z" fill="#1D2129"></path>
                            <path d="M36.016 19.8018H37.486V14.4565H36.7214C36.5343 14.4565 36.3549 14.5318 36.2226 14.6658C36.0903 14.7997 36.016 14.9814 36.016 15.1709V19.8018Z" fill="#1D2129"></path>
                        </svg>
                        <div class="quick-name">
                            와디즈
                        </div>
                    </a>
                    <a href="" target="_blank" class="quick-menu">
                        <svg width="52" height="44" viewBox="0 0 33 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M29.4667 0.800049H3.8667C3.31441 0.800049 2.8667 1.24776 2.8667 1.80005V19C2.8667 19.5523 3.31442 20 3.8667 20H29.4667C30.019 20 30.4667 19.5523 30.4667 19V1.80005C30.4667 1.24776 30.019 0.800049 29.4667 0.800049Z" fill="#00C4C4" stroke="#212529"></path>
                            <path d="M31.2667 18.8H2.06671C1.51443 18.8 1.06671 19.2478 1.06671 19.8V20.8C1.06671 21.3523 1.51443 21.8 2.06671 21.8H31.2667C31.819 21.8 32.2667 21.3523 32.2667 20.8V19.8C32.2667 19.2478 31.819 18.8 31.2667 18.8Z" fill="#C5E8E8" stroke="#212529"></path>
                            <line x1="17.7667" y1="9.90015" x2="26.3667" y2="9.90015" stroke="#212529" stroke-linecap="round"></line>
                            <line x1="17.7667" y1="13.5" x2="26.3667" y2="13.5" stroke="#212529" stroke-linecap="round"></line>
                            <line x1="17.7667" y1="6.30005" x2="26.3667" y2="6.30005" stroke="#212529" stroke-linecap="round"></line>
                            <path d="M13.1485 27.2H15.4667V19.3684C15.4667 18.0658 14.2149 17 12.6849 17H8.04854C6.51854 17 5.26672 18.0658 5.26672 19.3684V27.2H13.1485Z" fill="white"></path>
                            <path d="M12.6079 13.0118C12.6079 14.2736 11.5755 15.3059 10.3138 15.3059C9.05201 15.3059 8.01965 14.2736 8.01965 13.0118V12.0942C8.01965 10.8324 9.05201 9.80005 10.3138 9.80005C11.5755 9.80005 12.6079 10.8324 12.6079 12.0942V13.0118Z" fill="white" stroke="#212529" stroke-miterlimit="10"></path>
                            <path d="M12.4667 27.2001H15.3608V19.5766C15.3608 18.3148 14.122 17.2825 12.6079 17.2825H8.01966C6.50555 17.2825 5.26672 18.3148 5.26672 19.5766V27.2001H8.16084" stroke="#212529" stroke-miterlimit="10"></path>
                            <path d="M7.56085 22.0117V27.4117" stroke="#212529" stroke-miterlimit="10"></path>
                            <path d="M13.0667 22.0117V27.4117" stroke="#212529" stroke-miterlimit="10"></path>
                        </svg>
                        <div class="quick-name">
                            도담도담 스쿨
                        </div>
                    </a>
                    <a href="" target="_blank" class="quick-menu">
                        <svg width="50" height="44" viewBox="0 0 54 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M32.5833 6.83333C32.5833 9.125 30.7083 11 28.4167 11C26.125 11 24.25 9.125 24.25 6.83333V5.16667C24.25 2.875 26.125 1 28.4167 1C30.7083 1 32.5833 2.875 32.5833 5.16667V6.83333Z" fill="#00C4C4" stroke="#212529" stroke-width="2" stroke-miterlimit="10"></path>
                            <path d="M37.3766 27H39.1117C39.7151 27 40.1811 26.4696 40.1034 25.8712L39.2437 19.2518C38.7724 16.8208 36.1622 15 33.1622 15H23.3378C20.3378 15 17.7277 16.8208 17.2564 19.2518L16.3966 25.8712C16.3189 26.4696 16.7849 27 17.3883 27H37.3766Z" fill="#00C4C4" stroke="#212529" stroke-width="2"></path>
                            <path d="M14.5086 45L2.25 32.2678L7.9569 26.3392L20.2155 39.0714L14.5086 45Z" fill="#C5E8E8" stroke="#212529" stroke-width="2"></path>
                            <path d="M52.2457 22.9464C52.2467 22.9486 52.25 22.9478 52.25 22.9454C52.2446 21.3161 50.919 20 49.2758 20C48.3793 20 47.5948 20.4018 47.0431 21.0179L39.9289 28.0871C39.7224 28.2922 39.3707 28.1572 39.3707 27.8661C39.3707 26.2321 38.0431 24.9107 36.3965 24.9107H28.9859C28.5649 24.9107 28.202 24.6368 27.9706 24.2851C27.4391 23.4771 26.5268 22.9375 25.4913 22.9375H17.5689C16.7586 22.9375 16.0172 23.2679 15.4741 23.8036L11.0798 28.1546C10.6913 28.5393 10.6837 29.1646 11.0628 29.5586L17.5153 36.2648C17.7038 36.4607 17.964 36.5714 18.2359 36.5714H38.5948C39.4913 36.5714 40.2845 36.1697 40.8276 35.5447L51.3534 25.0357C51.8943 24.5022 52.2386 23.7649 52.2413 22.9474C52.2413 22.945 52.2446 22.9443 52.2457 22.9464Z" fill="white" stroke="#212529" stroke-width="2"></path>
                            <path d="M39.3965 27.9106C39.3965 29.5446 38.0603 30.866 36.4224 30.866H27.1552" fill="white"></path>
                            <path d="M39.3965 27.9106C39.3965 29.5446 38.0603 30.866 36.4224 30.866H27.1552" stroke="#212529" stroke-width="2" stroke-miterlimit="10"></path><path d="M8.5 31.9107C8.5 32.4822 8.05172 32.9554 7.5 32.9554C6.94828 32.9554 6.5 32.4911 6.5 31.9107C6.5 31.3304 6.94828 30.8661 7.5 30.8661C8.05172 30.8661 8.5 31.3304 8.5 31.9107Z" fill="#212529"></path></svg><div class="MuiBox-root css-10kr861" data-gtm-vis-first-on-screen-97083289_157="4660" data-gtm-vis-total-visible-time-97083289_157="2000" data-gtm-vis-recent-on-screen-97083289_157="2507680" data-gtm-vis-has-fired-97083289_157="1">파트너 서비스</div></a>
                    <a href="" target="_blank" class="quick-menu">
                        <svg width="47" height="36" viewBox="0 0 49 40" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 5px;">
                            <rect x="12.1131" y="26.4901" width="5.15639" height="12.3753" rx="2.5782" transform="rotate(-12.7707 12.1131 26.4901)" fill="#C5E8E8" stroke="#212529" stroke-width="2"></rect>
                            <path d="M5.45883 14.76C4.34508 15.0428 3.36003 15.6947 2.66441 16.6093C2.25931 17.232 1.9824 17.9292 1.84982 18.6601C1.71724 19.3911 1.73167 20.1411 1.89227 20.8664L3.46507 27.8056C3.72987 29.0093 4.40314 30.0842 5.37056 30.8478C5.92845 31.2577 6.56668 31.5451 7.24338 31.691C7.92009 31.837 8.61999 31.8383 9.29724 31.6949L22.1595 28.7796L18.4147 12.2577L5.45883 14.76Z" fill="#00C4C4" stroke="#212529" stroke-width="2"></path><path d="M18.3209 11.8447L22.1593 28.7796L37.2426 32.4828L30.3335 2.00002L18.3209 11.8447Z" fill="white" stroke="#212529" stroke-width="2"></path>
                            <path d="M12.0811 25.8181L10.7279 26.0621L9.94944 21.7455C9.90132 21.4786 9.74737 21.2422 9.52147 21.0881C9.29558 20.934 9.01624 20.8749 8.74489 20.9239C8.47355 20.9728 8.23242 21.1257 8.07458 21.349C7.91674 21.5723 7.8551 21.8477 7.90323 22.1145L8.68172 26.4311L7.3286 26.6752L6.5501 22.3586C6.43833 21.7388 6.58149 21.0993 6.94809 20.5806C7.31468 20.062 7.87469 19.7068 8.50491 19.5932C9.13512 19.4795 9.78391 19.6167 10.3086 19.9746C10.8332 20.3325 11.1908 20.8817 11.3026 21.5015L12.0811 25.8181Z" fill="#212529"></path>
                            <path d="M11.4781 22.4751L6.75866 23.3263L6.99864 24.6569L11.7181 23.8058L11.4781 22.4751Z" fill="#212529"></path><path d="M15.1909 25.2571L13.0315 25.6466L11.8316 18.9931L13.8581 18.6276C14.5805 18.4973 15.3232 18.6487 15.9228 19.0485C16.5224 19.4483 16.9297 20.0637 17.0552 20.7593L17.2917 22.0708C17.4433 22.7564 17.3077 23.4757 16.9143 24.0723C16.521 24.6689 15.9016 25.0946 15.1909 25.2571ZM14.2899 24.0654L14.9543 23.9456C15.3156 23.8805 15.6371 23.6798 15.8482 23.3878C16.0592 23.0958 16.1426 22.7363 16.0798 22.3885L15.8433 21.077C15.7806 20.7292 15.5769 20.4215 15.2771 20.2216C14.9773 20.0217 14.606 19.946 14.2448 20.0111L13.5803 20.131L14.2899 24.0654Z" fill="#212529"></path><path d="M47.249 13.3079L41.274 15.0028" stroke="#212529" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"></path>
                            <path d="M41.3071 22.1339L47.75 23.9406" stroke="#212529" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"></path><path d="M38.2541 8.19183L43.4326 3.09746" stroke="#212529" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"></path>
                        </svg>
                        <div class="quick-name">
                            광고센터
                        </div>
                    </a>
                </div>
            </div>
            <div class="guide-bar">
                <div class="menu-title">
                    와디즈 알아보기
                </div>
                <div class="guide-menu-list">
                    <div class="guide-frequent-select">
                        <div class="guide-frequent-container">
                            <div class="frequent-title-bar">
                                <div class="frequent-title">자주 묻는 질문</div>
                                <div class="plus-menu">
                                    <div class="plus">더보기</div>
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L6 6L1 1" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="context-container">
                                <div class="context-mark">
                                    Q
                                </div>
                                <div class="context-inner">
                                    <div class="context">
                                        배너광고 프로모션 상품을 신청했는데, 할인 금액이<span class="more">...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="guide-frequent">
                        <div class="container-noselect">
                            <div class="title-bar-noselect">
                                자주<br>묻는 질문
                            </div>
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M34.047 13.6H19.7528C19.1288 13.6 18.5303 13.8479 18.0891 14.2891C17.6478 14.7304 17.3999 15.3289 17.3999 15.9529V27.7176C17.3999 28.3417 17.6478 28.9401 18.0891 29.3814C18.5303 29.8227 19.1288 30.0706 19.7528 30.0706H28.1646L32.2823 33.7764H32.8705V30.0706H34.047C34.671 30.0706 35.2695 29.8227 35.7107 29.3814C36.152 28.9401 36.3999 28.3417 36.3999 27.7176V15.9529C36.3999 15.3289 36.152 14.7304 35.7107 14.2891C35.2695 13.8479 34.671 13.6 34.047 13.6Z" fill="#C5E8E8" stroke="#212529" stroke-width="1.2" stroke-linejoin="round"></path>
                                <path d="M30 27V20.7143C30 20.2596 29.8025 19.8236 29.4508 19.5021C29.0992 19.1806 28.6223 19 28.125 19H26.875C26.3777 19 25.9008 19.1806 25.5492 19.5021C25.1975 19.8236 25 20.2596 25 20.7143V27" stroke="#212529" stroke-width="2" stroke-miterlimit="10"></path>
                                <path d="M25 24H30" stroke="#212529" stroke-width="2" stroke-miterlimit="10"></path><path d="M5.95304 6.59998H20.2472C20.8712 6.59998 21.4697 6.84787 21.9109 7.28913C22.3522 7.7304 22.6001 8.32888 22.6001 8.95292V20.7176C22.6001 21.3417 22.3522 21.9401 21.9109 22.3814C21.4697 22.8227 20.8712 23.0706 20.2472 23.0706H11.8354L7.71774 26.7764H7.12951V23.0706H5.95304C5.329 23.0706 4.73052 22.8227 4.28926 22.3814C3.848 21.9401 3.6001 21.3417 3.6001 20.7176V8.95292C3.6001 8.32888 3.848 7.7304 4.28926 7.28913C4.73052 6.84787 5.329 6.59998 5.95304 6.59998Z" fill="#00C4C4" stroke="#212529" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M13.125 11H11.875C10.8395 11 10 11.7675 10 12.7143V17.2857C10 18.2325 10.8395 19 11.875 19H13.125C14.1605 19 15 18.2325 15 17.2857V12.7143C15 11.7675 14.1605 11 13.125 11Z" stroke="white" stroke-width="2" stroke-miterlimit="10"></path>
                                <path d="M13 17L15 20" stroke="white" stroke-width="2" stroke-miterlimit="10"></path>
                            </svg>
                        </div>
                    </div> -->
                    <!-- <div class="guide-use-select">
                        <div class="guide-use-container">
                            <div class="use-title-bar">
                                <div class="use-title">이용 가이드</div>
                                <div class="plus-menu">
                                    <div class="plus">더보기</div>
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L6 6L1 1" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="context-container">
                                <div class="context-mark">Q</div>
                                <div class="context-inner">
                                    <div class="context">
                                        서포터가 교환·반품(환불)을 신청했어요. 어떻게 해야<span class="more">...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="guide-use">
                        <div class="container-noselect">
                            <div class="title-bar-noselect">
                                이용<br>가이드
                            </div>
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 28H3L4.65723 9H18.3428C18.7823 9 19.2038 9.16817 19.5146 9.46752C19.8254 9.76687 20 10.1729 20 10.5962V28Z" fill="#C5E8E8" stroke="#212529" stroke-width="1.2"></path>
                                <path d="M37 28H20V10.5962C19.9999 10.1773 20.1709 9.77514 20.4759 9.47653C20.7809 9.17791 21.1956 9.00676 21.6305 9H35.4497L37 28Z" fill="#C5E8E8" stroke="#212529" stroke-width="1.2"></path>
                                <line x1="8.6" y1="14.4" x2="15.4" y2="14.4" stroke="#212529" stroke-width="1.2" stroke-linecap="round"></line>
                                <line x1="8.1" y1="18.4" x2="15.4" y2="18.4" stroke="#212529" stroke-width="1.2" stroke-linecap="round"></line>
                                <line x1="7.6" y1="22.4" x2="15.4" y2="22.4" stroke="#212529" stroke-width="1.2" stroke-linecap="round"></line>
                                <line x1="24.6" y1="14.4" x2="31.4" y2="14.4" stroke="#212529" stroke-width="1.2" stroke-linecap="round"></line>
                                <line x1="24.6" y1="18.4" x2="27.4" y2="18.4" stroke="#212529" stroke-width="1.2" stroke-linecap="round"></line>
                                <path d="M37 31H22.1781C21.6004 31 21.0464 30.684 20.638 30.1213C20.2295 29.5587 20 28.7956 20 28H36.9469V29.5L37 31Z" fill="white" stroke="#212529" stroke-width="1.2"></path>
                                <path d="M3 28H20C20 28.7956 19.7691 29.5587 19.358 30.1213C18.947 30.684 18.3895 31 17.8082 31H3V28Z" fill="white" stroke="#212529" stroke-width="1.2"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- <div class="guide-reserve-select">
                        <div class="guide-reserve-container">
                            <div class="reserve-title-bar">
                                <div class="reserve-title">백wa사전</div>
                                <div class="plus-menu">
                                    <div class="plus">더보기</div>
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L6 6L1 1" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="context-container">
                                <div class="context-mark">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="white" stroke-width="2.5" stroke-miterlimit="10"></path><path d="M15 12L10 9V15L15 12Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <div class="context-inner">
                                    <div class="context">
                                        광고센터 알아보기 | 와디즈 광고 서비스 이용하고 싶<span class="more">...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="guide-reserve">
                        <div class="container-noselect">
                            <div class="title-bar-noselect">
                                백wa<br>사전
                            </div>
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.8567 32H6.85435C6.36255 32 5.89089 31.8223 5.54313 31.506C5.19537 31.1896 5 30.7606 5 30.3133V10.6867C5 10.2394 5.19537 9.81035 5.54313 9.49403C5.89089 9.17771 6.36255 9 6.85435 9H22" fill="white"></path>
                                <path d="M20.8567 32H6.85435C6.36255 32 5.89089 31.8223 5.54313 31.506C5.19537 31.1896 5 30.7606 5 30.3133V10.6867C5 10.2394 5.19537 9.81035 5.54313 9.49403C5.89089 9.17771 6.36255 9 6.85435 9H22" stroke="#212529" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M19 9H33.2165C33.689 9.00136 34.1418 9.1795 34.476 9.49553C34.8101 9.81156 34.9985 10.2398 34.9999 10.6867V30.2926C35.0021 30.5156 34.9576 30.7369 34.869 30.9436C34.7804 31.1503 34.6495 31.3385 34.4837 31.4971C34.318 31.6558 34.1207 31.7819 33.9032 31.8682C33.6857 31.9545 33.4523 31.9993 33.2165 32H19.7495" fill="white"></path>
                                <path d="M19 9H33.2165C33.689 9.00136 34.1418 9.1795 34.476 9.49553C34.8101 9.81156 34.9985 10.2398 34.9999 10.6867V30.2926C35.0021 30.5156 34.9576 30.7369 34.869 30.9436C34.7804 31.1503 34.6495 31.3385 34.4837 31.4971C34.318 31.6558 34.1207 31.782 33.9032 31.8683C33.6857 31.9545 33.4523 31.9993 33.2165 32H19.7495" stroke="#212529" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M20 28.8605H17.9327V33.1173L19.9977 32.5105" fill="#00C4C4"></path>
                                <path d="M20 28.8605H22.0673V33.1173L19.9977 32.5105" fill="#00C4C4"></path>
                                <path d="M20 28.8605H17.9327V33.1173L19.9977 32.5105L22.0673 33.1173V28.8605H20Z" stroke="#212529" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M32 27.301C32 27.7507 31.8202 28.182 31.5 28.5005C31.1798 28.819 30.7453 28.9986 30.2917 29H9.7083C9.25475 28.9986 8.82025 28.819 8.50003 28.5005C8.17981 28.182 8 27.7507 8 27.301V8.69383C8 8.2446 8.17998 7.81376 8.50035 7.49611C8.82072 7.17846 9.25523 7 9.7083 7L20.0419 8.03916L30.2917 7C30.7448 7 31.1793 7.17846 31.4997 7.49611C31.82 7.81376 32 8.2446 32 8.69383V27.301Z" fill="#C5E8E8" stroke="#212529" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M25.8894 13H14.1106C13.4972 13 13 13.505 13 14.1279V21.8721C13 22.495 13.4972 23 14.1106 23H25.8894C26.5028 23 27 22.495 27 21.8721V14.1279C27 13.505 26.5028 13 25.8894 13Z" fill="#00C4C4"></path><path d="M19 16L22 18.0015L19 20V16Z" fill="white"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="boards-bar">
            <div class="board-bar">
                <div class="board-title-bar">
                    <div class="board-title">
                        공지사항
                    </div>
                    <div class="plus-menu">
                        <div class="plus">
                            더보기
                        </div>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 13L11 8L6 3" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </div>
                <div class="board-ul">
                    <!-- 게시글 1개 시작 -->
                    <div class="board-li">
                        <div class="board-title">
                            <div class="board-title-context">
                                한 달간의 와디즈 소식을 모아보는, 월간와디즈
                            </div>
                        </div>
                        <div class="board-register-date">
                            2023.04.04
                        </div>
                    </div>
                    <!-- 게시글 1개 끝 -->
                    <!-- 게시글 1개 시작 -->
                    <div class="board-li">
                        <div class="board-title">
                            <div class="board-title-context">
                                2023 와디즈 콘텐츠 파트너 모집 안내(~2/26)
                            </div>
                        </div>
                        <div class="board-register-date">
                            2023.02.06
                        </div>
                    </div>
                    <!-- 게시글 1개 끝 -->
                    <!-- 게시글 1개 시작 -->
                    <div class="board-li">
                        <div class="board-title">
                            <div class="board-title-context">
                                [서비스 안내] 프리오더 서비스 정책 변경 안내
                            </div>
                        </div>
                        <div class="board-register-date">
                            2023.02.03
                        </div>
                    </div>
                    <!-- 게시글 1개 끝 -->
                </div>
            </div>
            <div class="board-bar">
                <div class="board-title-bar">
                    <div class="board-title">
                        공지사항
                    </div>
                    <div class="plus-menu">
                        <div class="plus">
                            더보기
                        </div>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 13L11 8L6 3" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </div>
                <div class="board-ul">
                    <!-- 게시글 1개 시작 -->
                    <div class="board-li">
                        <div class="board-title">
                            <div class="board-title-context">
                                한 달간의 와디즈 소식을 모아보는, 월간와디즈
                            </div>
                        </div>
                        <div class="board-register-date">
                            2023.04.04
                        </div>
                    </div>
                    <!-- 게시글 1개 끝 -->
                    <!-- 게시글 1개 시작 -->
                    <div class="board-li">
                        <div class="board-title">
                            <div class="board-title-context">
                                2023 와디즈 콘텐츠 파트너 모집 안내(~2/26)
                            </div>
                        </div>
                        <div class="board-register-date">
                            2023.02.06
                        </div>
                    </div>
                    <!-- 게시글 1개 끝 -->
                    <!-- 게시글 1개 시작 -->
                    <div class="board-li">
                        <div class="board-title">
                            <div class="board-title-context">
                                [서비스 안내] 프리오더 서비스 정책 변경 안내
                            </div>
                        </div>
                        <div class="board-register-date">
                            2023.02.03
                        </div>
                    </div>
                    <!-- 게시글 1개 끝 -->
                </div>
            </div>
        </div>
        <div class="events-bar">
            <div class="event-container">
                <button type="button" class="arrow-icon-left">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="20" fill="#F2F4F6"></rect>
                        <path d="M22 25L17 20L22 15" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <button type="button" class="arrow-icon-right">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="20" transform="matrix(-1 0 0 1 40 0)" fill="#F2F4F6"></rect>
                        <path d="M18 25L23 20L18 15" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <div class="event-banner">
                    <div class="event-title">
                        <div class="event-title-container">
                            이벤트·혜택
                        </div>
                        <div class="plus-menu">
                            <div class="plus">
                                더보기
                            </div>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 13L11 8L6 3" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="event-swiper-container">
                        <div class="swiper-wrapper">
                            <!-- 이벤트 박스 1개 시작 -->
                            <div class="event-swiper-box">
                                <div class="event-swiper-container">
                                    <div class="event-swiper-image"></div>
                                    <div class="event-status">
                                        <div></div>
                                        <div class="status-container">
                                            <div class="important-status">중요</div>
                                            <div class="finish-status">종료</div>
                                        </div>
                                    </div>
                                    <div class="event-box-title-container">
                                        <div class="event-box-title">
                                            [기획전]4월 기획전 참여 메이커 모집
                                        </div>
                                    </div>
                                    <div class="event-box-context-container">
                                        <div class="event-box-context">
                                            봄 맞이 인테리어, 가정의달 선물, 건강/다이어트 프로젝트를 메이커님이라면 꼭 확인해 주세요.
                                        </div>
                                    </div>
                                    <div class="event-box-date-container">
                                        2023.03.20
                                        &nbsp;~&nbsp;
                                        2023.04.16
                                    </div>
                                </div>
                            </div>
                            <!-- 이벤트 박스 1개 끝 -->
                            <!-- 이벤트 박스 1개 시작 -->
                            <div class="event-swiper-box">
                                <div class="event-swiper-container">
                                    <div class="event-swiper-image" style="background-image: url(https://static.makercenter.wadiz.kr/board/image/3a54037a-3fb9-4677-94e3-d6e0351e0612.jpg);"></div>
                                    <div class="event-status">
                                        <div></div>
                                        <div class="status-container">
                                            <div class="important-status">중요</div>
                                            <div class="finish-status">종료</div>
                                        </div>
                                    </div>
                                    <div class="event-box-title-container">
                                        <div class="event-box-title">
                                            [기획전]4월 기획전 참여 메이커 모집
                                        </div>
                                    </div>
                                    <div class="event-box-context-container">
                                        <div class="event-box-context">
                                            봄 맞이 인테리어, 가정의달 선물, 건강/다이어트 프로젝트를 메이커님이라면 꼭 확인해 주세요.
                                        </div>
                                    </div>
                                    <div class="event-box-date-container">
                                        2023.03.20
                                        &nbsp;~&nbsp;
                                        2023.04.16
                                    </div>
                                </div>
                            </div>
                            <!-- 이벤트 박스 1개 끝 -->
                            <!-- 이벤트 박스 1개 시작 -->
                            <div class="event-swiper-box">
                                <div class="event-swiper-container">
                                    <div class="event-swiper-image" style="background-image: url(https://static.makercenter.wadiz.kr/board/image/7111d226-bfeb-4f89-b8a8-71ef5b7a5ace.jpg);"></div>
                                    <div class="event-status">
                                        <div></div>
                                        <div class="status-container">
                                            <div class="important-status">중요</div>
                                            <div class="finish-status">종료</div>
                                        </div>
                                    </div>
                                    <div class="event-box-title-container">
                                        <div class="event-box-title">
                                            [기획전]4월 기획전 참여 메이커 모집
                                        </div>
                                    </div>
                                    <div class="event-box-context-container">
                                        <div class="event-box-context">
                                            봄 맞이 인테리어, 가정의달 선물, 건강/다이어트 프로젝트를 메이커님이라면 꼭 확인해 주세요.
                                        </div>
                                    </div>
                                    <div class="event-box-date-container">
                                        2023.03.20
                                        &nbsp;~&nbsp;
                                        2023.04.16
                                    </div>
                                </div>
                            </div>
                            <!-- 이벤트 박스 1개 끝 -->
                            <!-- 이벤트 박스 1개 시작 -->
                            <div class="event-swiper-box">
                                <div class="event-swiper-container">
                                    <div class="event-swiper-image" style="background-image: url(	https://static.makercenter.wadiz.kr/board/image/ceca1a4c-ec23-4199-bd12-10e35ac3fc61.png);"></div>
                                    <div class="event-status">
                                        <div></div>
                                        <div class="status-container">
                                            <div class="important-status">중요</div>
                                            <div class="progress-status">종료</div>
                                        </div>
                                    </div>
                                    <div class="event-box-title-container">
                                        <div class="event-box-title">
                                            [기획전]4월 기획전 참여 메이커 모집
                                        </div>
                                    </div>
                                    <div class="event-box-context-container">
                                        <div class="event-box-context">
                                            봄 맞이 인테리어, 가정의달 선물, 건강/다이어트 프로젝트를 메이커님이라면 꼭 확인해 주세요.
                                        </div>
                                    </div>
                                    <div class="event-box-date-container">
                                        2023.03.20
                                        &nbsp;~&nbsp;
                                        2023.04.16
                                    </div>
                                </div>
                            </div>
                            <!-- 이벤트 박스 1개 끝 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recruits-bar">
            <div class="recruit-container">
                <button type="button" class="arrow-icon-left">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="20" fill="#F2F4F6"></rect>
                        <path d="M22 25L17 20L22 15" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <button type="button" class="arrow-icon-right">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="20" transform="matrix(-1 0 0 1 40 0)" fill="#F2F4F6"></rect>
                        <path d="M18 25L23 20L18 15" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <div class="recruit-title">
                    <div class="recruit-title-container">
                        <div class="recruit-title-context">
                            메이커 성공사례
                        </div>
                        <div class="plus-menu">
                            <div class="plus">
                                더보기
                            </div>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 13L11 8L6 3" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="recruit-swiper-view">
                    <div class="recruit-swiper-container">
                        <div class="recruit-swiper-wrapper">
                            <!-- 모집 박스 1개 시작 -->
                            <div class="recruit-swiper-box">
                                <div class="recruit-swiper-container">
                                    <div class="recruit-swiper-image"></div>
                                    <div class="recruit-box-context">
                                        <div class="recruit-box-title">
                                            [메이커] 저희는 와디즈 메이커 입니다. 메이커 5인의 성공스토리
                                        </div>
                                        <div class="recruit-box-writer">
                                            와디즈 메이커
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 모집 박스 1개 끝 -->
                            <!-- 모집 박스 1개 시작 -->
                            <div class="recruit-swiper-box">
                                <div class="recruit-swiper-container">
                                    <div class="recruit-swiper-image" style="background-image: url(https://static.makercenter.wadiz.kr/board/image/8cc2499a-b0ac-4b67-b699-efa65243a544.png);"></div>
                                    <div class="recruit-box-context">
                                        <div class="recruit-box-title">
                                            [보드게임] 신규 보드게임, 경쟁력 있게 선보이려면
                                        </div>
                                        <div class="recruit-box-writer">
                                            올린스튜디오 정석현 대표
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 모집 박스 1개 끝 -->
                            <!-- 모집 박스 1개 시작 -->
                            <div class="recruit-swiper-box">
                                <div class="recruit-swiper-container">
                                    <div class="recruit-swiper-image" style="background-image: url(https://static.makercenter.wadiz.kr/board/image/8cc2499a-b0ac-4b67-b699-efa65243a544.png);"></div>
                                    <div class="recruit-box-context">
                                        <div class="recruit-box-title">
                                            [보드게임] 신규 보드게임, 경쟁력 있게 선보이려면
                                        </div>
                                        <div class="recruit-box-writer">
                                            올린스튜디오 정석현 대표
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 모집 박스 1개 끝 -->
                            <!-- 모집 박스 1개 시작 -->
                            <div class="recruit-swiper-box">
                                <div class="recruit-swiper-container">
                                    <div class="recruit-swiper-image" style="background-image: url(https://static.makercenter.wadiz.kr/board/image/8cc2499a-b0ac-4b67-b699-efa65243a544.png);"></div>
                                    <div class="recruit-box-context">
                                        <div class="recruit-box-title">
                                            [보드게임] 신규 보드게임, 경쟁력 있게 선보이려면
                                        </div>
                                        <div class="recruit-box-writer">
                                            올린스튜디오 정석현 대표
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 모집 박스 1개 끝 -->
                            <!-- 모집 박스 1개 시작 -->
                            <div class="recruit-swiper-box">
                                <div class="recruit-swiper-container">
                                    <div class="recruit-swiper-image" style="background-image: url(https://static.makercenter.wadiz.kr/board/image/8cc2499a-b0ac-4b67-b699-efa65243a544.png);"></div>
                                    <div class="recruit-box-context">
                                        <div class="recruit-box-title">
                                            [보드게임] 신규 보드게임, 경쟁력 있게 선보이려면
                                        </div>
                                        <div class="recruit-box-writer">
                                            올린스튜디오 정석현 대표
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 모집 박스 1개 끝 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="events-bar">
            <div class="event-container">
                <button type="button" class="arrow-icon-left">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="20" fill="#F2F4F6"></rect>
                        <path d="M22 25L17 20L22 15" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <button type="button" class="arrow-icon-right">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="20" transform="matrix(-1 0 0 1 40 0)" fill="#F2F4F6"></rect>
                        <path d="M18 25L23 20L18 15" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <div class="event-banner">
                    <div class="event-title">
                        <div class="event-title-container">
                            와디즈 아카데미
                        </div>
                        <div class="plus-menu">
                            <div class="plus">
                                더보기
                            </div>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 13L11 8L6 3" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="event-swiper-container">
                        <div class="swiper-wrapper">
                            <!-- 이벤트 박스 1개 시작 -->
                            <div class="event-swiper-box">
                                <div class="event-swiper-container">
                                    <div class="event-swiper-image" style="background-image: url('https://static.makercenter.wadiz.kr/board/image/ffaa703e-9caa-4d9c-a97f-0ccefd3d6388.jpg');"></div>
                                    <div class="event-box-title-container">
                                        <div class="event-box-title">
                                            카테고리성공비법서 : 스포츠 하편
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 이벤트 박스 1개 끝 -->
                            <!-- 이벤트 박스 1개 시작 -->
                            <div class="event-swiper-box">
                                <div class="event-swiper-container">
                                    <div class="event-swiper-image" style="background-image: url('	https://static.makercenter.wadiz.kr/board/image/cf918d9f-be9e-4bce-8899-e263e0db2579.jpg');"></div>
                                    <div class="event-box-title-container">
                                        <div class="event-box-title">
                                            카테고리성공비법서 : 스포츠 하편
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 이벤트 박스 1개 끝 -->
                            <!-- 이벤트 박스 1개 시작 -->
                            <div class="event-swiper-box">
                                <div class="event-swiper-container">
                                    <div class="event-swiper-image" style="background-image: url('	https://static.makercenter.wadiz.kr/board/image/cf918d9f-be9e-4bce-8899-e263e0db2579.jpg');"></div>
                                    <div class="event-box-title-container">
                                        <div class="event-box-title">
                                            카테고리성공비법서 : 스포츠 상편
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 이벤트 박스 1개 끝 -->
                            <!-- 이벤트 박스 1개 시작 -->
                            <div class="event-swiper-box">
                                <div class="event-swiper-container">
                                    <div class="event-swiper-image" style="background-image: url('https://static.makercenter.wadiz.kr/board/image/7bfd00cc-1ff0-4eca-a475-54a17dd5e3c5.jpg');"></div>
                                    <div class="event-box-title-container">
                                        <div class="event-box-title">
                                            카테고리성공비법서 : 출판·클래스 하편
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 이벤트 박스 1개 끝 -->
                            <!-- 이벤트 박스 1개 시작 -->
                            <div class="event-swiper-box">
                                <div class="event-swiper-container">
                                    <div class="event-swiper-image" style="background-image: url('	https://static.makercenter.wadiz.kr/board/image/97cad177-ca22-4da8-9ad6-be00ac99c599.jpg');"></div>
                                    <div class="event-box-title-container">
                                        <div class="event-box-title">
                                            카테고리성공비법서 : 출판·클래스 상편
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 이벤트 박스 1개 끝 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="static-banner-container">
            <div class="static-banner">
                <div class="static-banner-context">
                    <div class="static-banner-date">
                        격주 목요일 오전 8시!
                    </div>
                    <div class="satic-banner-title">
                        메이커님의 시작과 성장을 위한
                        <br>
                        펀딩 정보를 보내드릴게요
                    </div>
                </div>
                <a href="" class="apply-form">
                    <svg width="22" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 9.41545L0.5 6.10352e-05H22.5L11.5 9.41545ZM0.5 1.60012V16.0001H22.5V1.60012L11.5 11.0155L0.5 1.60012Z" fill="white"></path>
                    </svg>
                    <div class="a-context">
                        뉴스레터 신청하기
                    </div>
                </a>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>