<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이들 등록하기</title>
  <link rel="stylesheet" href="/css/components/header.css">
  <link rel="stylesheet" href="/css/components/footer.css">
  <link rel="stylesheet" href="/css/myPage/childrenRegister.css">
  <link rel="shortcut icon" href="/images/myPage/favicon.png">
</head>
<body>
<div th:insert="~{components/header:: header}"></div>
<form th:action="@{/mypage/kid/register}" method="post" th:object="${kid}">
  <input type="hidden" name="parent" th:field="*{parent}">
  <div
          class="body1"
          data-react-modal-body-trap=""
          tabindex="0"
          style="position: absolute; opacity: 0"
  ></div>
  <div id="root">
    <div id="AppLayout_Container" class="Layout">
      <div class="Layout_main">
        <div id="AppLayout_Contents" class="Contents">
          <div id="container" class="ContentsLayout">
            <div class="MyPage">
              <!-- 제출 버튼 -->
              <div class="HeaderLayout">
                <div class="HeaderLayout_contents">
                  <h2 class="Container_title">우리 아이 등록</h2>
                </div>
              </div>
              <!-- 글 내용 -->
              <section class="Section_contents" style="max-width: 720px">
                <div class="Section_header1 Section_header2">
                  <h2 class="Section_title">아이 소개</h2>
                </div>
                <div class="Section_content">
                  <div color="basic" class="MessageBox">
                    <p class="MessageBox_title">아이 정보를 입력해주세요</p>
                    <div class="MessageBox_description">
                      <ul>
                        <li class="imagenotice">
                          우리 아이의 정보를 입력하시면 통솔자가 더 안전하게 아이를 케어합니다.
                        </li>
                        <li class="imagenotice">
                          저희는 항상 아이들의 안전을 최우선으로 생각합니다.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
              <div class="input-full-wrapper">
                <div class="input-wrapper">
                  <select
                          name="kidGender"
                          id="option-select"
                          class="option-select"
                  >
                    <option value="">* 성별 선택</option>
                    <option value="MAN">남자</option>
                    <option value="WOMAN">여자</option>
                  </select>
                  <select
                          name="kidAge"
                          id="option-select"
                          class="option-select"
                  >
                    <option value="">* 나이 선택</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                  </select>
                  <input
                          type="text"
                          class="children-name"
                          name="kidName"
                          placeholder=" 아이의 이름을 입력해주세요"
                          th:field="*{kidName}"
                  />
                </div>
              </div>

              <div class="Loader"></div>
            </div>
            <div class="button-wrapper">
<!--              <button id="bottom-button" class="create" type="button" style="margin-right: 10px; background-color: #a2adad33; border:none; width: 109px;-->
<!--    border-radius: 7px;">-->
<!--                    <span id="button-inner-text">-->
<!--                      <span id="button-icon">-->
<!--                        <span id="button-text" style="color:black"> 추가 하기 </span>-->
<!--                      </span>-->
<!--                    </span>-->
<!--              </button>-->
              <button id="bottom-button" class="button-kid" type="submit">
                    <span id="button-inner-text">
                      <span id="button-icon">
                        <span id="button-text"> 등록 하기 </span>
                      </span>
                    </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-wrapper" style="display: none">
    <div class="modal">
      <h2 class="modal__title">신청이 완료되었습니다.</h2>
      <p class="modal__message">감사합니다! 신청이 성공적으로 처리되었습니다.</p>
      <button class="modal__button" onclick="closeModal()">확인</button>
    </div>
  </div>
</form>
<div th:insert="~{components/footer:: footer}"></div>
<!-- test -->
<!-- HTML 코드 -->
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/components/header.js"></script>
<script type="text/javascript" src="/js/myPage/register-children.js"></script>
</html>
</html>