<!DOCTYPE html>
<html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="shortcut icon" href="/../../static/images/myPage/favicon.png">
      <title>아이 등록</title>
    </head>
    <!--css 연결하는곳-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../../static/css/myPage/myPage-banner.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <style>
      body{
        zoom: 90%;
      }
      input[name='name'] {
        padding: 15px 19px;
        line-height: 20px;
        letter-spacing: 0;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        border: 1px solid #00c4c4;
        outline: none;
        height: 50px;
      }

      .input-wrapper {
        margin: 20px 0;
      }

      .Section_contents2 {
        margin: 50px 0;
      }

      .Layout_main {
        height: 90vh;
      }

      .button-wrapper {
        display: flex;
        justify-content: right;
      }

	  #bottom-button{
		position: static;
	  }


    </style>
    <body>
      <form action="#">
        <div
          class="body1"
          data-react-modal-body-trap=""
          tabindex="0"
          style="position: absolute; opacity: 0"
        ></div>
        <div id="root">
          <div id="AppLayout_Container" class="Layout">
            <div class="Layout_main">
              <div id="AppLayout_Contents" class="Contents">
                <div id="container" class="ContentsLayout">
                  <div class="MyPage">
                    <!-- 제출 버튼 -->
                    <div class="HeaderLayout">
                      <div class="HeaderLayout_contents">
                        <h2 class="Container_title">우리 아이 등록</h2>
                      </div>
                    </div>
                    <!-- 글 내용 -->
                    <section class="Section_contents" style="max-width: 720px">
                      <div class="Section_header1 Section_header2">
                        <h2 class="Section_title">아이 소개</h2>
                      </div>
                      <div class="Section_content">
                        <div color="basic" class="MessageBox">
                          <div class="MessageBox_content"></div>
                          <p class="MessageBox_title">아이 정보를 입력해주세요</p>
                          <div class="MessageBox_description">
                            <ul>
                              <li class="imagenotice">
                                우리 아이의 정보를 입력하시면 통솔자가 더 안전하게 아이를 케어합니다.
                              </li>
                              <li class="imagenotice">
                                저희는 항상 아이들의 안전을 최우선으로 생각합니다.
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </section>
					<div class="input-full-wrapper">
                    <div class="input-wrapper">
                      <select
                        name="gender"
                        id="option-select"
                        class="option-select"
                        style="width: 30%; margin-left: 10px"
                      >
                        <option value="">* 성별 선택</option>
                        <option value="남">남자</option>
                        <option value="여">여자</option>
                      </select>
                      <select
                        name="age"
                        id="option-select"
                        class="option-select"
                        style="width: 30%"
                      >
                        <option value="">* 나이 선택</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                      </select>
                      <input
                        type="text"
                        class="children-name"
                        name="name"
                        placeholder=" 아이의 이름을 입력해주세요"
                        style="width: 30%; height: 18px"
                      />
                    </div>
				</div>

                    <div class="Loader"></div>
                  </div>
                  <div class="button-wrapper">
                    <button id="bottom-button" class="create" type="button" style="margin-right: 10px; background-color: #a2adad33; border:none">
                      <span id="button-inner-text">
                        <span id="button-icon">
                          <svg
                            viewBox="0 0 32 32"
                            focusable="false"
                            role="presentation"
                            class="withIcon_icon__1VB4W"
                            aria-hidden="true"
                          >
                            <path
                              d="M30.4 15.2H16.8V1.6h-1.6v13.6H1.6v1.6h13.6v13.6h1.6V16.8h13.6v-1.6z"
                            ></path>
                          </svg>
                          <span id="button-text" style="color:black"> 추가 하기 </span>
                        </span>
                      </span>
                    </button>
                    <button id="bottom-button" type="button">
                      <span id="button-inner-text">
                        <span id="button-icon">
                          <svg
                            viewBox="0 0 32 32"
                            focusable="false"
                            role="presentation"
                            class="withIcon_icon__1VB4W"
                            aria-hidden="true"
                          >
                            <path
                              d="M30.4 15.2H16.8V1.6h-1.6v13.6H1.6v1.6h13.6v13.6h1.6V16.8h13.6v-1.6z"
                            ></path>
                          </svg>
                          <span id="button-text"> 등록 하기 </span>
                        </span>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-wrapper" style="display: none">
          <div class="modal">
            <h2 class="modal__title">신청이 완료되었습니다.</h2>
            <p class="modal__message">감사합니다! 신청이 성공적으로 처리되었습니다.</p>
            <button class="modal__button" onclick="closeModal()">확인</button>
          </div>
        </div>
      </form>
      <!-- test -->
      <!-- HTML 코드 -->
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../../static/js/myPage/register-children.js"></script>
  </html>
</html>
