<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결제내역</title>
     <!--css 연결하는곳-->
     <link rel="preconnect" href="https://fonts.googleapis.com" />
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
     <link
       href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
       rel="stylesheet"
     />
     <link rel="stylesheet" href="../../static/css/myPage/myPage-payment.css" />
  </head>
  <body>
    <section class="MyFundingListContainer_container__j04bM" style="">
      <h2 class="MyFundingListContainer_title__3_i7M">결제내역</h2>
      <div>
        <div class="MyFundingListContainer_topArea__1wIi6">
          <div class="select-menu small MyFundingListContainer_selectBox__333wz">
            <div class="css-2b097c-container">
              <span
                aria-live="polite"
                aria-atomic="false"
                aria-relevant="additions text"
                class="css-7pg0cj-a11yText"
              ></span>
                <div class="select" tabindex="1">
                    <input class="selectopt" name="test" type="radio" id="opt1" checked>
                    <label for="opt1" class="option">Oranges</label>
                    <input class="selectopt" name="test" type="radio" id="opt2">
                    <label for="opt2" class="option">Apples</label>
                    <input class="selectopt" name="test" type="radio" id="opt3">
                    <label for="opt3" class="option">Grapefruit</label>
                    <input class="selectopt" name="test" type="radio" id="opt4">
                    <label for="opt4" class="option">Bananas</label>
                    <input class="selectopt" name="test" type="radio" id="opt5">
                    <label for="opt5" class="option">Watermelon</label>
                  </div>
              <input name="filteringType" type="hidden" value="" />
            </div>
          </div>
        </div>
        <div><div class="MyFundingList_emptyList__1mUDD">참여 내역이 없어요.</div></div>
      </div>
    </section>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/static/js/myPage/myPage-payment.js"></script>
</html>
