<!DOCTYPE html>
<html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로필</title>
    <link rel="shortcut icon" href="/static/images/myPage/favicon.png">
    <!-- css 적용 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css"/>
    <link rel="stylesheet" href="../../static/css/myPage/myPage-profile.css" />


    <style>
.lecture-list-title {
    width: 100%;
    float: left;
    margin-bottom: 24px;
    background: #2c3d50;
    height: 100px;
}

.lecture-type-selection {
    float: left;
    width: 100%;
    height: 100px;
}

.lecture-list-header{
    position:static;
    top: 0;
    border-bottom: 1px solid #e4e4e4;
    height: 103px;
    z-index: 100;
}

.calender {
    position: absolute;
    right: 9px;
    top: 85px;
}

.lecture-list-title{
    display: flex;
    justify-content: center;
}

.lecture-type-selection{
    display: flex;
    justify-content: center;
}

.lecture{
    margin-left: 21px;
}
    </style>


  </head>
  <body>
    <div id="container">
      <div id="mypageWrap">
        <div class="myprofile-wrap">
          <div
            id="iam-profile-app"
            data-profile-image="https://static.wadiz.kr/static/icon/profile-icon-4.png"
            data-nickname="익명의 서포터 993"
            data-accnttype-name="개인 회원"
            data-is-valid-joined-premium-membership="false"
            data-my-self="true"
            data-my-funding-all-count="0"
            data-signature-cnt="0"
            data-follower-cnt="0"
            data-following-cnt="0"
            data-target-enc-user-id=""
            data-target-user-id="6034797"
            data-introduceme=""
            data-is-following="false"
            data-my-interest-user-keyword=""
          >
            <section class="ProfileCorp">
              <div class="ProfileCorp_inner">
                <h3 class="BlindText"></h3>
                <!-- 프로필 이미지 -->
                <div aria-hidden="true" class="Avatar">
                  <span
                    class="Avatar_image"
                    style="
                      background-image: url('https://static.wadiz.kr/assets/icon/profile-icon-6.png');
                      border: 1px solid rgb(221, 226, 230);
                    "
                  ></span>
                </div>
                <!-- 사업자 회원 정보 -->
                <div class="ProfileCorp_info">
                  <dl class="ProfileInfo_box" aria-label="회원정보">
                    <dt class="BlindText">회원닉네임</dt>
                    <dd class="ProfileInfo_nickname">
                      <img src="/static/images/myPage/tongsol.png" width="20" style = "margin-bottom: -3px;" alt="">
                      린먕
                    </dd>
                    <dt class="BlindText">회원유형</dt>
                    <dd class="ProfileInfo_type">통솔자</dd>
                  </dl>
                  <strong class="BlindText">관심 카테고리</strong>
                  <!-- 가상요소 -->
                  <ul class="ProfileInterestKeyword"></ul>
                  <!-- 카테고리 박스 -->
                  <dl class="ProfileActivityInfo_infoCountBox">
                    <div>
                      <dt>팔로워</dt>
                      <dd>
                        0
                        <span class="BlindText"></span>
                      </dd>
                    </div>
                    <div>
                      <dt>팔로잉</dt>
                      <dd>
                        0
                        <span class="BlindText"></span>
                      </dd>
                    </div>
                  </dl>
                </div>
                <!-- 프로필 설정 버튼 -->
                <a href="#" class="ProfileSet Mint" id="apply">
                  <span>
                    <span class="ProfileSet_button">통솔자 신청하기</span>
                  </span>
                </a>
                <a href="#" class="ProfileSet">
                  <span>
                    <span class="ProfileSet_button">프로필 편집하기</span>
                  </span>
                </a>
              </div>
            </section>
          </div>
          <!-- 참여한 -->
          <div class="mypage-project bg">
            <div class="tab-list">
              <ul role="tablist">
                <!-- 참여한 -->
              </ul>
            </div>
            <div class="project-list1" id="tabFunding" tabindex="0">
              <div class="top-area">
                <p id="fundingInfoMessage" class="status-text fundingCount" style="display: none">
                </p>
              </div>

              <div class="lecture-list-header">
                <div class="lecture-list-title">
                  <div class="lecture-list-info">
                    <p class="lecture-list-month"></p>
                    <p class="lecture-list-description">
                      현재 나의 체험학습<span
                        >현재 내가 신청한 체험학습은 오른쪽 달력에 표시됩니다</span
                      >
                    </p>
                  </div>
                </div>
                <div class="lecture-type-selection">
                  <ul class="lecture-type-buttons">
                    <li class="all-type-button">
                      <a class="all"> <em>ALL</em><span>전체</span> </a>
                    </li> 
                    <li class="intro-type-button">
                      <a class="science-btn"> <em></em><span>과학</span> </a>
                    </li>
                    <li class="practical-type-button">
                      <a class="sports"> <em></em><span>스포츠</span> </a>
                    </li>
                    <li class="mentoring-type-button">
                      <a class="traditional"> <em></em><span>전통</span> </a>
                    </li>
                    <li class="special-type-button">
                      <a class="musium"> <em></em><span>박물관</span> </a>
                    </li>
                    <li class="special-type-button">
                      <a class="agriculture"> <em></em><span>농촌</span> </a>
                    </li>
                    <li class="special-type-button">
                        <a class="art"> <em></em><span>미술관</span> </a>
                      </li>
                      <li class="special-type-button">
                        <a class="make"> <em></em><span>공방</span> </a>
                      </li>
                      <li class="special-type-button">
                        <a class="etc"> <em></em><span>기타</span> </a>
                      </li>
                  </ul>
                </div>
              </div>

              <div class="calender-content-wrapper">
                <div class="lecture-list">

                 <!-- 왼쪽 컨텐츠 한개 -->
                  <!-- <div class="lecture">
                    <div class="lecture-wrap">
                    <span class="lecture-image visible">
                        <img src="https://cdn.wadiz.kr/ft/images/green001/2023/0313/20230313133752303_null.jpg/wadiz/thumbnail/253/format/jpg/quality/95/) 1x, url(https://cdn.wadiz.kr/ft/images/green001/2023/0313/20230313133752303_null.jpg/wadiz/thumbnail/506/format/jpg/quality/95/" alt="">
                    </span>
                    
                    <div class="lecture-wrapper">
                      <div class="lecture-content">
                        <p class="lecture-type">
                          <span><i class="reward"></i>입문</span>
                        </p>
                        <p class="lecture-title">
                          농촌체험학습
                        </p>
                        <p class="lecture-subtitle">
                          떠나요~ 농촌체험학습
                        </p>
                        <p class="lecture-info">
                          시작 : 04월 06일(목) 오후 3시 00분
                          <br> 
                          종료 : 오후 4시 30분
                          <br />장소 : 유튜브
                          라이브
                        </p>
                        <p class="lecture-number">
                          <em><strong>지나간 체험학습 입니다.</strong></em>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="table-wrapper">
                    <table class="children-table">
                      <thead>
                        <tr>
                          <th class="num">No.</th>
                          <th class="nickname">닉네임</th>
                          <th class="name">이름</th>
                          <th class="place">체험 이름</th>
                          <th class="participant">체험 날짜</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="num">1</td>
                          <td class="nickname">lovelyU</td>
                          <td class="name">한동석</td>
                          <td class="place">진흙놀이</td>
                          <td class="participant">2023-04-22 18:26:00</td>
                        </tr>
                        <tr>
                          <td class="num">1</td>
                          <td class="nickname">lovelyU</td>
                          <td class="name">한동석</td>
                          <td class="place">진흙놀이</td>
                          <td class="participant">2023-04-22 18:26:00</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                  </div> -->
            <!-- 한개 끝 -->


   

                </div>

          
                <!-- <div id="txt" class="no-lecture">해당 월에 강의가 없습니다.</div> -->

                <div class="calender-wrapper">
                  <div class="calender">
                    <section>
                      <div class="calendar-box">
                        <div style="display: flex; justify-content: space-around;padding:15px;font-size: 23px;padding-top:40px;">
                          <div class="calendar-button-box">
                            <button type="button" id="calender-prev" class="btn">
                              <span class="auto-flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M15.5 5.5l-6 6.5 6 6.5L14 20l-7.5-8L14 4l1.5 1.5z" fill="#ccc"></path></svg>
                              </span>
                            </button>
                          </div>
                          <div class="calendar-button-box">
                            <button type="button" class="btn btn-padding" id="today">
                              <!-- <p class="auto-flex">TODAY</p> -->
                              <div style="display:flex; justify-content: center;">
                                <h3 class="calendar-year year"></h3>
                                <h3 class="calendar-year month"></h3>
                              </div>
                            </button>
                          </div>
                          <div>
                            <button type="button" id="calender-next" class="btn">
                              <span class="auto-flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z" fill="#ccc"></path></svg>
                              </span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div id="calendar"></div>
                    </section>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
  <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
  <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
  <script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
  <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
  <script src="/static/js/myPage/myPage-profile.js"></script>
</html>
