<!DOCTYPE html>
<html lang="en">
    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쿠폰페이지</title>
    <link rel="shortcut icon" href="../../static/images/myPage/favicon.png">
    <link rel="stylesheet" href="../../static/css/myPage/myPage-coupon.css" >
</head>
<body>
    <div class="header"></div>
    <div class="full-content-wrap"> <!--  -->
        <section class="full-content-section-wrap">
            <!-- 쿠폰존까지. -->
            <div class="coupon-header-wrap">
                <h2 class="coupon-header-title">사용 가능 쿠폰</h2>
                <nav class="coupon-header-nav">
                    <!-- <div class="coupon-header-nav-content">쿠폰존</div> -->
                </nav>
            </div>

            <div class="description">
                <div class="description-inner">
                    <div class="first-wrapper">
                        <div class="caution-icon"><img src="../../static/images/myPage/caution.png" alt=""></div>
                        <div class="caution-text">
                            <span>후기를 작성하시면 쿠폰이 자동으로 발급됩니다 <span class="emoji">(●'◡'●)</span></span>
                        </div>
                    </div>

                    <div class="second-wrapper">
                        <div class="caution-icon"><img src="../../static/images/myPage/caution.png" alt=""></div>
                        <div class="caution-text">
                            <span>한번에 두개의 쿠폰은 사용하실수없습니다 <span class="emoji">╰(*°▽°*)╯</span></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 쿠폰존 끝 -->
            <div class="coupon-body-full-wrap">
                <div class="coupon-body-right-margin">
                    <div class="coupon-body-full-inner">
                        <!-- 쿠폰하나 시작 -->
                        <div class="coupon-full-wrap-margin"> <!-- = CouponDownloadItem_container__1hk2 -->
                            <div class="coupon-full-wrap">
                                <div class="coupon-left-full-wrap">
                                    <dl>
                                        <dd class="coupon-left-title">후기</dd>
                                        <dd class="coupon-left-title-explain">성실한 후기 작성 쿠폰</dd>
                                        <dd class="coupon-left-price-wrap">
                                            <span class="coupon-left-price">5000</span><span>원</span>
                                        </dd>
                                        <dd class="coupon-left-deadline-wrap">
                                            <span>발행일</span><span class="coupon-left-deadline">2023.05.03</span>
                                        </dd>
                                    </dl>
                                </div>
                                <button type="button" class="coupon-right-full-wrap">
                                    <i class="coupon-right-icon">
                                        <img width="40px" height="40px" src="../../static/images/payment/coupon-use-S.png">
                                    </i>
                                    <span class="coupon-right-can-use">사용 가능</span>
                                </button>
                            </div>
                        </div>
                        <!-- 쿠폰하나 끝 -->
                        
                        <!-- 쿠폰하나 시작 -->
                        <div class="coupon-full-wrap-margin"> <!-- = CouponDownloadItem_container__1hk2 -->
                            <div class="coupon-full-wrap">
                                <div class="coupon-left-full-wrap">
                                    <dl>
                                        <dd class="coupon-left-title">후기</dd>
                                        <dd class="coupon-left-title-explain">성실한 후기 작성 쿠폰</dd>
                                        <dd class="coupon-left-price-wrap">
                                            <span class="coupon-left-price">5000</span><span>원</span>
                                        </dd>
                                        <dd class="coupon-left-deadline-wrap">
                                            <span>발행일</span><span class="coupon-left-deadline">2023.05.03</span>
                                        </dd>
                                    </dl>
                                </div>
                                <button type="button" class="coupon-right-full-wrap">
                                    <i class="coupon-right-icon">
                                        <img width="40px" height="40px" src="../../static/images/payment/coupon-use-S.png">
                                    </i>
                                    <span class="coupon-right-can-use">사용 가능</span>
                                </button>
                            </div>
                        </div>
                        <!-- 쿠폰하나 끝 -->

                        <!-- 쿠폰하나 시작 -->
                        <div class="coupon-full-wrap-margin"> <!-- = CouponDownloadItem_container__1hk2 -->
                            <div class="coupon-full-wrap">
                                <div class="coupon-left-full-wrap">
                                    <dl>
                                        <dd class="coupon-left-title">후기</dd>
                                        <dd class="coupon-left-title-explain">성실한 후기 작성 쿠폰</dd>
                                        <dd class="coupon-left-price-wrap">
                                            <span class="coupon-left-price">5000</span><span>원</span>
                                        </dd>
                                        <dd class="coupon-left-deadline-wrap">
                                            <span>발행일</span><span class="coupon-left-deadline">2023.05.03</span>
                                        </dd>
                                    </dl>
                                </div>
                                <button type="button" class="coupon-right-full-wrap">
                                    <i class="coupon-right-icon">
                                        <img width="40px" height="40px" src="../../static/images/payment/coupon-use-S.png">
                                    </i>
                                    <span class="coupon-right-can-use">사용 가능</span>
                                </button>
                            </div>
                        </div>
                        <!-- 쿠폰하나 끝 -->

                        <!-- 쿠폰하나 시작 -->
                        <div class="coupon-full-wrap-margin"> <!-- = CouponDownloadItem_container__1hk2 -->
                            <div class="coupon-full-wrap">
                                <div class="coupon-left-full-wrap">
                                    <dl>
                                        <dd class="coupon-left-title">후기</dd>
                                        <dd class="coupon-left-title-explain">성실한 후기 작성 쿠폰</dd>
                                        <dd class="coupon-left-price-wrap">
                                            <span class="coupon-left-price">5000</span><span>원</span>
                                        </dd>
                                        <dd class="coupon-left-deadline-wrap">
                                            <span>발행일</span><span class="coupon-left-deadline">2023.05.03</span>
                                        </dd>
                                    </dl>
                                </div>
                                <button type="button" class="coupon-right-full-wrap">
                                    <i class="coupon-right-icon">
                                        <img width="40px" height="40px" src="../../static/images/payment/coupon-use-S.png">
                                    </i>
                                    <span class="coupon-right-can-use">사용 가능</span>
                                </button>
                            </div>
                        </div>
                        <!-- 쿠폰하나 끝 -->

                        <!-- 쿠폰하나 시작 -->
                        <div class="coupon-full-wrap-margin"> <!-- = CouponDownloadItem_container__1hk2 -->
                            <div class="coupon-full-wrap">
                                <div class="coupon-left-full-wrap">
                                    <dl>
                                        <dd class="coupon-left-title">후기</dd>
                                        <dd class="coupon-left-title-explain">성실한 후기 작성 쿠폰</dd>
                                        <dd class="coupon-left-price-wrap">
                                            <span class="coupon-left-price">5000</span><span>원</span>
                                        </dd>
                                        <dd class="coupon-left-deadline-wrap">
                                            <span>발행일</span><span class="coupon-left-deadline">2023.05.03</span>
                                        </dd>
                                    </dl>
                                </div>
                                <button type="button" class="coupon-right-full-wrap">
                                    <i class="coupon-right-icon">
                                        <img width="40px" height="40px" src="../../static/images/payment/coupon-use-S.png">
                                    </i>
                                    <span class="coupon-right-can-use">사용 가능</span>
                                </button>
                            </div>
                        </div>
                        <!-- 쿠폰하나 끝 -->
                </div>
            </div>
        </section>
    </div>
    <div class="coupon-notice-full-wrap">
        <div class="coupon-notice-middle-wrap">
            <div class="coupon-notice-last-wrap">
                <strong class="coupon-notice-title">쿠폰 이용안내</strong>
                <ul class="coupon-notice-title-ul">
                    <li>쿠폰은 체험학습을 신청할 때 할인을 위해 사용할 수 있습니다.</li>
                    <li>쿠폰은 다른 쿠폰과 중복하여 사용할 수 없습니다.</li>
                    <li>쿠폰은 후기작성 및 부모님 마당에서 글을 작성 시 자동으로 발급됩니다.</li>
                    <li>쿠폰 이용에 대해 더 궁금하신 점이 있다면 1:1 문의를 통해 문의하여 주시기 바랍니다.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer"></div>
</body>
</html>