<!DOCTYPE html>
<html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My 정보설정</title>
    <link rel="shortcut icon" href="../../static/images/myPage/favicon.png">
    <!-- link 적용 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/css/myPage/myPage-info.css" />
  </head>
  <body>
    <div id="page-container">
      <main id="main-app">
        <!-- main -->
        <div id="accountWrap">
          <!-- S : #newContainer -->
          <div id="newContainer">
            <!-- account-wrap with-footer -->
            <div class="account-wrap with-footer">
              <h2 class="big">MY 정보설정</h2>

              <div class="wrapper-button">
                <button class="my-info" href="#">
                  <div class="my-info-text">
                    <h3>기본 정보 설정</h3>
                    <p>이름, 이메일, 휴대폰, SNS연동 등</p>
                  </div>
                  <div class="my-info-btn">
                    <i class="wadizicon wa-chevron-right"></i>
                  </div>
                </button>
                <div class="content-wrapper" style="display: none">
                  <span>회원정보 수정</span>
                  <div class="input-btn-wrap">
                    <div class="input">
                      <input
                        type="text"
                        id="memberNickname"
                        name="memberNickname"
                        class="input-text"
                        placeholder="닉네임"
                        value="린먕"
                      />
                      <div class="err-nickname"></div>
                    </div>
                    <div id="emailChangeBtn" class="changeBtnTop btn" data-status="change">
                      <a href="#" onclick="return false;">
                        <span>변경</span>
                      </a>
                    </div>
                  </div>

                  <div class="input-btn-wrap">
                    <div class="input">
                      <input
                        type="email"
                        id="userEmail"
                        name="userName"
                        class="disable input-text"
                        placeholder="이메일 계정"
                        value="rladnrtjdsla@gmail.com"
                      />
                      <div class="err-email"></div>
                    </div>
                    <div id="emailChangeBtn" class="changeBtn btn" data-status="change">
                      <a href="#" onclick="return false;">
                        <span>변경</span>
                      </a>
                    </div>
                  </div>

                  <div class="input-btn-wrap">
                    <div class="input">
                      <input
                        id="mobileNumber"
                        name="mobileNumber"
                        type="tel"
                        class="disable input-text"
                        placeholder="휴대폰 번호"
                        value="01012341234"
                      />
                    </div>
                    <div
                      id="mobileCheckBtn"
                      class="mobileAuthBtn btn"
                      style="display: none"
                      data-status="check"
                    >
                      <a href="#" onclick="return false;">
                        <span>등록하기</span>
                      </a>
                    </div>
                    <div id="mobileChangeBtn" class="mobileAuthBtn btn" data-status="change">
                      <a href="#" onclick="return false;">
                        <span>변경</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="wrapper-button">
                <button class="my-info" href="#">
                  <div class="my-info-text">
                    <h3>비밀번호 변경</h3>
                    <p>현재 비밀번호 변경</p>
                  </div>
                  <div class="my-info-btn">
                    <i class="wadizicon wa-chevron-right"></i>
                  </div>
                </button>

                <div class="content-wrapper" style="display: none; padding-left: 0; margin-top: 0">
                  <div class="account-wrap" style="padding: 0 25px 0px 0px; padding-left: 13px; padding-right: 35px;">
                    <h2 class="small">비밀번호 변경</h2>
                    <div class="email-input-wrap">
                      <form id="saveForm">
                        <input
                          type="password"
                          id="newPassword"
                          name="newPassword"
                          class="input-text passwordval"
                          placeholder="비밀번호"
                          maxlength="17"
                        />
                        <p id="passwordError" class="pwd-text">
                          영문,숫자,특수문자를 조합한 8자 이상
                        </p>
                        <input
                          type="password"
                          id="newPasswordConfirm"
                          name="newPasswordConfirm"
                          class="input-text passwordvalconfirm"
                          placeholder="비밀번호 확인"
                          maxlength="17"
                        />
                        <p class="error-text" style="display: none">비밀번호가 같지 않습니다.</p>
                        <div class="email-input-wrap small">
                          <div class="btn-wrap smaller">
                            <button id="saveBtn" type="submit" class="wz button primary block">
                              확인
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="wrapper-button">
                <button class="my-info" href="#">
                  <div class="my-info-text">
                    <h3>회원 정보 설정</h3>
                    <p>이력서, 프로필 정보 변경</p>
                  </div>
                  <div class="my-info-btn">
                    <i class="wadizicon wa-chevron-right"></i>
                  </div>
                </button>
                <div class="content-wrapper" style="display: none">
                  <div id="waccountContainer">
                    <div id="tabContent1" class="tab-content">
                      <div class="file-area">
                        <div class="profile-wrapper">
                          <h5 style="text-align: center">프로필 사진</h5>

                          <div class="profile-area">
                            <label for="profile">
                              <img src="../../static/images/myPage/children.png" alt="" />
                            </label>
                          </div>
                        </div>

                        <!-- <div class="profile-wrapper">
                          <h5 style="text-align: center">이력서</h5>

                          <div class="resume-area">
                            <label for="resume">
                              <img src="../../static/images/myPage/resume.png" class="resume-img" alt="" />
                            </label>
                            <div class="resume-info"></div>
                          </div>
                        </div> -->
                        <!-- <input type="file" style="display: none" id="resume" /> -->
                        <input type="file" style="display: none" id="profile" />
                      </div>
                      <!-- <h5 style="margin-top: 15px">관심분야 변경</h5>
                      <ul class="input-div2">
                        <li>
                          <input
                            type="text"
                            class="input-text"
                            maxlength="50"
                            id="belongsTo"
                            placeholder="직업"
                            value=""
                          />
                        </li>
                        <li>
                          <input
                            type="text"
                            class="input-text"
                            maxlength="50"
                            id="position"
                            placeholder="직책"
                            value=""
                          />
                        </li>
                      </ul> -->
                      <div class="form-group">
                        <label for="address-btu" class="address-label" class="inputs" onclick="sample6_execDaumPostcode()">주소 변경</label>
                        <div class="address-div" id="" >
                            <input type="text" id="sample6_postcode"  class="inputs" onclick="sample6_execDaumPostcode()" placeholder="우편번호">
                            <input type="button" name="address-btu" class="inputs" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                        </div>
                        <input type="text" id="sample6_address" class="inputs"  onclick="sample6_execDaumPostcode()" placeholder="주소"><br>
                        <input type="text" id="sample6_detailAddress" class="inputs" placeholder="상세주소1">
                        <input type="text" id="sample6_extraAddress" class="inputs" placeholder="상세주소2">
                    </div>
                      <h5>한줄 소개 변경</h5>
                      <div class="textarea-wrap">
                        <textarea id="introduceme" maxlength="80"></textarea>
                      </div>
                      <div class="btn-bottom">
                        <ul class="btn-div2">
                          <li>
                            <button
                              type="button"
                              class="save-btn button primary btn-mint"
                              id="gray"
                            >
                              확인
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="wrapper-button">
                <button class="my-info" href="#">
                  <div class="my-info-text">
                    <h3>알림 설정</h3>
                    <p>체험학습 알림</p>
                  </div>
                  <div class="my-info-btn">
                    <i class="wadizicon wa-chevron-right"></i>
                  </div>
                </button>
                <div class="content-wrapper" style="display: none">
                  <div class="main-alarm">
                    <div class="header-alarm">
                      <h1 style="margin-bottom: 15px">알림설정</h1>
                    </div>
                    <div class="alarm-content">
                      <div class="member-alarm-all">
                        <label for="member-follow">회원・서비스 이벤트 혜택 알림 동의</label>
                        <div class="member-toggle">
                          <!--not-allow-btn은 동의 안되어있는 상태 -->
                          <label for="allow" class="not-allow-btn"></label>
                        </div>
                      </div>
                      <ul>
                        <li>
                          <div class="first-alarm">
                            <label for="alarm-member">팔로잉</label>
                            <div class="member-toggle">
                              <!--allow-btn은 동의되어있는 상태 -->
                              <label for="allow" class="allow-btn"></label>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="second-alarm">
                            <label for="alarm-member">통솔자 알람</label>
                            <div class="member-toggle">
                              <label for="allow" class="allow-btn"></label>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- //account-wrap with-footer -->
          </div>
          <!-- E : #newContainer -->
        </div>
      </main>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="../../static/js/myPage/mypage-info.js"></script>
</html>
