<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>아기자기</title>
    <!--css 연결하는곳-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/css/myPage/myPage-main-kdh.css" />
</head>
<body>
    <main id="main-app">
        <div class="full-content-wrapper">
            <section class="full-content-wrapper-section">
                <div class="mypage-profile-background" aria-hidden="true">
                </div>
                <h2 class="media-query-title">마이페이지</h2>
                <div class="full-content-inner">
                    <div class="full-content-inner-header">
                        <div class="full-content-inner-header-padding">
                            <div class="header-button-wrapper switch-header" role="tablist">
                                <button role="tab" class="individule"></button>
                                <button role="tab" class="enterprise"></button>
                            </div>
                        </div>
                    </div>
                    <div class="body-content-full-wrapper">
                        <div class="body-content-full-wrapper-media-query">
                            <div class="body-left-full-wrapper">
                                <h3 class="media-query-myprofile">나의 프로필</h3>
                                <div class="myprofile-photo"
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>
