<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mypage-point</title>
    <!--css 연결하는곳-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/css/myPage/myPage-point.css" />
  </head>
  <body>
    <div id="wadizContainer">
      <div id="mypageWrap">
        <div class="mybenefit-wrap">
          <h2 class="mypage-top-title short">포인트</h2>
          <div class="mypage-project short">
            <p class="point-guide">포인트 적립, 사용, 소멸 내역입니다.</p>
            <div class="usable-point">
              <p>현재 사용가능 포인트 <em>0 p</em></p>
            </div>
            <!-- 포인트 -->
            <article class="module module--support-list">
                <div class="support-list__title-container">
                    <div class="support-list__title-unit">
                        <ul class="support-list__title">
                            <li class="title__id">번호</li>
                            <li class="title__money">이용 금액</li>
                            <li class="title__status">상태</li>
                            <li class="title__date-post">결제일</li>
                            <!-- <li class="title__detail">상세</li> -->
                        </ul>
                    </div>
                </div>
                <div id="scroll">

                    <div class="support-list__info-container">
                        <div class="support-list__info-unit">
                            <label for="kus" class="support__checkbox--label">
                                <ul class="support-list__info">
                                    <li class="support__id">01</li>
                                    <li class="support__money">100000</li>
                                    <li class="support__status">적립</li>
                                    <li class="support__date-post">2022-04-23</li>
                                </ul>
                            </label>
                        </div>
                    </div>

                    <div class="support-list__info-container">
                        <div class="support-list__info-unit">
                            <label for="kus" class="support__checkbox--label">
                                <ul class="support-list__info">
                                    <li class="support__id">02</li>
                                    <li class="support__money">50000</li>
                                    <li class="support__status">사용</li>
                                    <li class="support__date-post">2022-04-24</li>
                                </ul>
                            </label>
                        </div>
                    </div>

                    <div class="support-list__info-container">
                        <div class="support-list__info-unit">
                            <label for="kus" class="support__checkbox--label">
                                <ul class="support-list__info">
                                    <li class="support__id">03</li>
                                    <li class="support__money">50000</li>
                                    <li class="support__status">소멸</li>
                                    <li class="support__date-post">2023-04-23</li>
                                </ul>
                            </label>
                        </div>
                    </div>

                    <div class="support-list__info-container">
                        <div class="support-list__info-unit">
                            <label for="kus" class="support__checkbox--label">
                                <ul class="support-list__info">
                                    <li class="support__id">04</li>
                                    <li class="support__money">50000</li>
                                    <li class="support__status">소멸</li>
                                    <li class="support__date-post">2023-04-23</li>
                                </ul>
                            </label>
                        </div>
                    </div>

                    <div class="support-list__info-container">
                        <div class="support-list__info-unit">
                            <label for="kus" class="support__checkbox--label">
                                <ul class="support-list__info">
                                    <li class="support__id">05</li>
                                    <li class="support__money">50000</li>
                                    <li class="support__status">소멸</li>
                                    <li class="support__date-post">2023-04-23</li>
                                </ul>
                            </label>
                        </div>
                    </div>

                </div>
            </article>
            <!-- 포인트 완 -->
            <div class="point-list">
              <p id="emptyProjectText" style="display: none">포인트 거래 내역이 없습니다.
            </p>

              <div class="bottom-notice">
                <h4>포인트 이용안내</h4>
                <p>
                  1. 적립하신 포인트는 리워드 펀딩 참여시 결제금액에서 차감 사용할 수 있습니다.
                  (펀딩 서비스 서포터 이용약관 동의 시)<br />
                  2. 1 Point 당 1 원과 동일한 가치로 사용할 수 있습니다.<br />
                  3. 유효기간 내 사용하지 않은 잔여 포인트는 유효기간 종료일의 익일에 소멸됩니다.<br /><br />
                  <a
                    href="javascript:void(0)"
                    onclick="wdzLink.open('https://help.wadiz.kr/ko/articles/1138368-%ED%8E%80%EB%94%A9-%ED%8F%AC%EC%9D%B8%ED%8A%B8-%EC%82%AC%EC%9A%A9%EB%B0%A9%EB%B2%95%EC%9D%84-%EC%95%88%EB%82%B4%EB%93%9C%EB%A6%BD%EB%8B%88%EB%8B%A4');"
                    >포인트 이용 자세히 보기 <i class="wadizicon wa-chevron-right"></i
                  ></a>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
