<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>결제 내역</title>
  <link rel="shortcut icon" href="/images/myPage/favicon.png">
  <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="/css/components/header.css">
  <link rel="stylesheet" href="/css/components/footer.css">
  <link rel="stylesheet" href="/css/myPage/myPage-payment.css">

</head>
<body>
<div th:insert="~{/components/header:: header}"></div>
  <div class="all-content-wrapper">
    <section class="main-content"> 
      <h2>나의 구매</h2>

      <ul class="order-lists">

        <!--<li class="one-list">
          <div class="list-inner">
            <dl class="order-info">
              <dt>주문번호</dt>
              <dd>230426-174637-0001</dd>
              <dt>주문 일자</dt>
              <dd style="text-align: right;">2023-04-26 13:01:56</dd>
            </dl>

            <div class="product-info">

              <div class="product-thumb-area">
                <img src="https://cdn2.wadiz.kr/2023/04/25/f6a525c2-d0c8-469c-a820-f0a7289d9ab4.png/wadiz/resize/400/format/jpg/quality/85/" alt="">
              </div>

              <dl class="product-info">
                <dt class="product-name" style="display:none">상품명</dt>
                <dd>
                  "[플렉스토어][30%]레시피앤코 자극없이 피지,모공 청소 녹차팩 녹탄팩"
                </dd>
              </dl>
              <div class="more-info">
                <span>삼성</span>
                <span class="more-text">상세 보기 <span class="more-text-icon"> > </span></span>
              </div>
              
            </div>


          </div>
        </li>

        <li class="one-list">
          <div class="list-inner">
            <dl class="order-info">
              <dt>주문번호</dt>
              <dd>230426-174637-0001</dd>
              <dt>주문 일자</dt>
              <dd style="text-align: right;">2023-04-26 13:01:56</dd>
            </dl>

            <div class="product-info">

              <div class="product-thumb-area">
                <img src="https://cdn2.wadiz.kr/2023/04/25/f6a525c2-d0c8-469c-a820-f0a7289d9ab4.png/wadiz/resize/400/format/jpg/quality/85/" alt="">
              </div>

              <dl class="product-info">
                <dt class="product-name" style="display:none">상품명</dt>
                <dd>
                  "[플렉스토어][30%]레시피앤코 자극없이 피지,모공 청소 녹차팩 녹탄팩"
                </dd>
              </dl>
              <div class="more-info">
                <span>삼성</span>
                <span class="more-text">상세 보기 <span class="more-text-icon"> > </span></span>
              </div>
              
            </div>


          </div>
        </li>

        <li class="one-list">
          <div class="list-inner">
            <dl class="order-info">
              <dt>주문번호</dt>
              <dd>230426-174637-0001</dd>
              <dt>주문 일자</dt>
              <dd style="text-align: right;">2023-04-26 13:01:56</dd>
            </dl>

            <div class="product-info">

              <div class="product-thumb-area">
                <img src="https://cdn2.wadiz.kr/2023/04/25/f6a525c2-d0c8-469c-a820-f0a7289d9ab4.png/wadiz/resize/400/format/jpg/quality/85/" alt="">
              </div>

              <dl class="product-info">
                <dt class="product-name" style="display:none">상품명</dt>
                <dd>
                  "[플렉스토어][30%]레시피앤코 자극없이 피지,모공 청소 녹차팩 녹탄팩"
                </dd>
              </dl>
              <div class="more-info">
                <span>삼성</span>
                <span class="more-text">상세 보기 <span class="more-text-icon"> > </span></span>
              </div>
              
            </div>


          </div>
        </li>

        <li class="one-list">
          <div class="list-inner">
            <dl class="order-info">
              <dt>주문번호</dt>
              <dd>230426-174637-0001</dd>
              <dt>주문 일자</dt>
              <dd style="text-align: right;">2023-04-26 13:01:56</dd>
            </dl>

            <div class="product-info">

              <div class="product-thumb-area">
                <img src="https://cdn2.wadiz.kr/2023/04/25/f6a525c2-d0c8-469c-a820-f0a7289d9ab4.png/wadiz/resize/400/format/jpg/quality/85/" alt="">
              </div>

              <dl class="product-info">
                <dt class="product-name" style="display:none">상품명</dt>
                <dd>
                  "[플렉스토어][30%]레시피앤코 자극없이 피지,모공 청소 녹차팩 녹탄팩"
                </dd>
              </dl>
              <div class="more-info">
                <span>삼성</span>
                <span class="more-text">상세 보기 <span class="more-text-icon"> > </span></span>
              </div>
              
            </div>


          </div>
        </li>

        <li class="one-list">
          <div class="list-inner">
            <dl class="order-info">
              <dt>주문번호</dt>
              <dd>230426-174637-0001</dd>
              <dt>주문 일자</dt>
              <dd style="text-align: right;">2023-04-26 13:01:56</dd>
            </dl>

            <div class="product-info">

              <div class="product-thumb-area">
                <img src="https://cdn2.wadiz.kr/2023/04/25/f6a525c2-d0c8-469c-a820-f0a7289d9ab4.png/wadiz/resize/400/format/jpg/quality/85/" alt="">
              </div>

              <dl class="product-info">
                <dt class="product-name" style="display:none">상품명</dt>
                <dd>
                  "[플렉스토어][30%]레시피앤코 자극없이 피지,모공 청소 녹차팩 녹탄팩"
                </dd>
              </dl>
              <div class="more-info">
                <span>삼성</span>
                <span class="more-text">상세 보기 <span class="more-text-icon"> > </span></span>
              </div>
              
            </div>


          </div>
        </li>-->

      </ul>

    </section>
  </div>
<div th:insert="~{/components/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/components/header.js"></script>
<script src="/js/myPage/myPage-payment.js"></script>
</html>