<!DOCTYPE html>
<html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../static/images/myPage/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>팔로잉</title>
    <link rel="shortcut icon" href="../../static/images/myPage/favicon.png">
    <link rel="stylesheet" href="../../static/css/myPage/myPage-follow.css" />
  </head>
  <body>
    <main>
      <div class="main-wrapper">
        <div class="main-contents">
          <p class="head-text">팔로잉</p>
          <div class="follow-nav">
            <ul class="nav-lists">
              <li class="follow">
                <button class="follow-nav-btn nav-btn">
                  <span>팔로우</span>
                </button>
              </li>
              <li class="following">
                <button class="following-nav-btn nav-btn active">
                  <span>팔로잉</span>
                </button>
              </li>
            </ul>
          </div>

          <div>
            <div class="contents-lists-wrapper">
              <div class="contents-lists">
                <!-- 팔로잉 한명 -->
                <div class="one-content-wrapper">
                  <div class="one-content">
                    <a href="#">
                      <div class="profile-area">
                        <div class="profile">
                          <img
                            src="https://cdn.wadiz.kr/ft/images/maker/2023/0202/20230202172350131_null.png/wadiz/resize/150/format/jpg/quality/90/"
                            alt=""
                          />
                        </div>
                      </div>

                      <div class="profile-name-area">
                        <p class="name">(주)마미인터네셔널</p>
                        <p class="follower-count">팔로우 하는 사람 <span>194</span></p>
                      </div>
                    </a>
                  </div>
                  <div class="line"></div>
                  <!-- 리스트 한개 끝 -->

                   <!-- 팔로잉 한명 -->
                <div class="one-content-wrapper">
                  <div class="one-content">
                    <a href="#">
                      <div class="profile-area">
                        <div class="profile">
                          <img
                            src="https://cdn.wadiz.kr/ft/images/maker/2023/0202/20230202172350131_null.png/wadiz/resize/150/format/jpg/quality/90/"
                            alt=""
                          />
                        </div>
                      </div>

                      <div class="profile-name-area">
                        <p class="name">(주)마미인터네셔널</p>
                        <p class="follower-count">팔로우 하는 사람 <span>194</span></p>
                      </div>
                    </a>
                  </div>
                  <div class="line"></div>
                  <!-- 리스트 한개 끝 -->

                   <!-- 팔로잉 한명 -->
                <div class="one-content-wrapper">
                  <div class="one-content">
                    <a href="#">
                      <div class="profile-area">
                        <div class="profile">
                          <img
                            src="https://cdn.wadiz.kr/ft/images/maker/2023/0202/20230202172350131_null.png/wadiz/resize/150/format/jpg/quality/90/"
                            alt=""
                          />
                        </div>
                      </div>

                      <div class="profile-name-area">
                        <p class="name">(주)마미인터네셔널</p>
                        <p class="follower-count">팔로우 하는 사람 <span>194</span></p>
                      </div>
                    </a>
                  </div>
                  <div class="line"></div>
                  <!-- 리스트 한개 끝 -->

                   <!-- 팔로잉 한명 -->
                <div class="one-content-wrapper">
                  <div class="one-content">
                    <a href="#">
                      <div class="profile-area">
                        <div class="profile">
                          <img
                            src="https://cdn.wadiz.kr/ft/images/maker/2023/0202/20230202172350131_null.png/wadiz/resize/150/format/jpg/quality/90/"
                            alt=""
                          />
                        </div>
                      </div>

                      <div class="profile-name-area">
                        <p class="name">(주)마미인터네셔널</p>
                        <p class="follower-count">팔로우 하는 사람 <span>194</span></p>
                      </div>
                    </a>
                  </div>
                  <div class="line"></div>
                  <!-- 리스트 한개 끝 -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
