<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>도담도담 - 마이도담</title>
    <!--css 연결하는곳-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/css/myPage/myPage-main.css" />
  </head>
  <body>
    <div class="MainWrapper_content__GZkTa">
      <div class="MyWadizPage_myWadizPage__wOTdS">
        <div class="MyWadizPage_profileBackground__T_LTr" aria-hidden="true"></div>
        <h2 class="BlindText_textHidden__ovQb4">마이와디즈</h2>
        <div class="MyWadizPage_inner__1oq9M">
          <div class="MyWadizPage_popperBox__113hj">
            <div class="MyWadizHeader_wadizHeader__8fJ9f">
              <div
                class="MyWadizUserTypeSwitch_container__8B_kv MyWadizHeader_switch__2WQSt"
                role="tablist"
              >
                <button
                  role="tab"
                  id="myWadizTab_supporter"
                  aria-controls="myWadizPanel_supporter"
                  aria-selected="true"
                  aria-label="supporter"
                  data-event="supporter_mode"
                  class="MyWadizUserTypeSwitch_button__BYDWf MyWadizUserTypeSwitch_supporter__1yivJ MyWadizUserTypeSwitch_active__dwn-k"
                ></button>
                <button
                  role="tab"
                  id="myWadizTab_maker"
                  aria-controls="myWadizPanel_maker"
                  aria-selected="false"
                  aria-label="maker"
                  data-event="maker_mode"
                  class="MyWadizUserTypeSwitch_button__BYDWf MyWadizUserTypeSwitch_maker__3C77T"
                ></button>
              </div>
              <!-- 여기까지 작업 했음 -->
            </div>
          </div>
          <div class="MyWadizPage_contentsWrapper__1dzMJ">
            <div
              class="MyWadizSupporter_supporterMode__2XDQZ"
              role="tabpanel"
              id="myWadizPanel_supporter"
              aria-labelledby="myWadizTab_supporter"
            >
              <div class="MyWadizSupporterProfile_profileContainer__1q7eh">
                <h3 class="BlindText_textHidden__ovQb4">나의 프로필</h3>
                <div class="MyWadizSupporterProfile_profileImage__1eEvS">
                  <button
                    class="MyWadizSupporterProfile_detailProfile__1JImc"
                    aria-label="프로필 상세 보기"
                    data-event="profile"
                    style="
                      background-image: url('https://static.wadiz.kr/assets/icon/profile-icon-6.png');
                    "
                  ></button>
                  <button
                    class="MyWadizSupporterProfile_editProfile__3HG_Z"
                    aria-label="프로필 편집하기"
                    data-event="profile_edit"
                  ></button>
                </div>
                <div class="MyWadizSupporterProfile_profileUser__a_r1P">
                  <button data-event="profile">
                    <b class="MyWadizSupporterProfile_userName__3hSE4"
                      >린먕<span aria-label="프로필 상세 보기">님</span>
                      <img src="/static/images/myPage/arrowRight.png" class="arrowImg">
                    </b>
                </button>
                  <dl class="MyWadizSupporterProfile_profileUserLabel__1fiU3">
                    <dt class="BlindText_textHidden__ovQb4">내 회원 정보</dt>
                    <dd>서포터 ∙ 개인 회원</dd>
                  </dl>
                </div>
                <div class="MyWadizSupporterProfile_setting__n8-M7">
                  <button
                    class="Button_button__1HNjI Button_md__2Tyci Button_circular__3BLWf Button_block__3-IpL"
                    type="button"
                  >
                    <span><span class="Button_children__lqBGI">로그아웃</span></span>
                  </button>
                </div>
              </div>
              <div class="MyWadizSupporter_contents__1TmJ_">
                <div class="MyWadizSection_section__3FCv1">
                  <div class="MyWadizSupporterProject_container__2uWcZ">
                    <div class="MyWadizSupporterProject_title__1IOfu">
                      <div class="MyWadizSupporterProject_accumulate__1nyx5">
                        <div class="MyWadizSupporterProject_value__7aQ4B">
                          <a
                            class="MyWadizSupporterAccumulate_container__h_OVK"
                            href="/web/wmypage/mybenefit/pointlist"
                          >
                            <dl class="MyWadizSupporterAccumulate_info__2_7Is">
                              <dt class="MyWadizSupporterAccumulate_title__3CiIs">
                                <span class="MyWadizSupporterAccumulate_name__1mWXC">포인트</span>
                              </dt>
                              <dd class="MyWadizSupporterAccumulate_value__1oBSj">0 P</dd>
                            </dl>
                          </a>
                          <hr
                            class="Divider_divider__ToZaf Divider_horizontal__3W5eD Divider_lightBG__3bAAk Divider_spacing5__C3W8V Divider_caption2__3b6Dr MyWadizSupporterProject_accumulateDivider__1qDCv"
                          />
                          <a
                            class="MyWadizSupporterAccumulate_container__h_OVK"
                            href="/web/coupon-zone"
                          >
                            <dl class="MyWadizSupporterAccumulate_info__2_7Is">
                              <dt class="MyWadizSupporterAccumulate_title__3CiIs">
                                <span class="MyWadizSupporterAccumulate_name__1mWXC">쿠폰</span>
                              </dt>
                              <dd class="MyWadizSupporterAccumulate_value__1oBSj">6 장</dd>
                            </dl>
                          </a>
                        </div>
                      </div>
                      <div class="MyWadizSupporterProjectInfo_container__3MC9F">
                        <div class="MyWadizSupporterProjectInfo_project__3Vaun">
                          <div class="MyWadizSupporterProjectInfo_projectLink__2K77b">
                            <strong class="BlindText_textHidden__ovQb4">결제 건수</strong
                            ><a href="/web/mywadiz/participation"
                              ><span>펀딩·프리오더</span><b>0</b></a
                            >
                            <hr
                              class="Divider_divider__ToZaf Divider_vertical__fJJKf Divider_lightBG__3bAAk Divider_spacing5__C3W8V Divider_caption2__3b6Dr MyWadizSupporterProjectInfo_divider__2mXtA"
                            />
                            <a href="/web/mywadiz/store/order"><span>스토어</span><b>0</b></a>
                          </div>
                          <div class="MyWadizSupporterProjectInfo_payment__3SozX">
                            <a href="/web/mywadiz/payment-info">
                              <div class="MyWadizSupporterProjectInfo_content__2wrXr">
                                <div class="MyWadizSupporterProjectInfo_titleInfo__2yN9F">
                                  <i
                                    class="MyWadizSupporterProjectInfo_icon__SSJbz"
                                    aria-hidden="true"
                                  ></i
                                  ><strong class="MyWadizSupporterProjectInfo_title__16fdL"
                                    >결제정보 관리</strong
                                  >
                                  <p class="MyWadizSupporterProjectInfo_description___KORc">
                                    간편하게 카드 등록하고, 빠르게 결제 예약하세요!
                                  </p>
                                </div>
                                <div class="MyWadizSupporterProjectInfo_link__31iYu">
                                  <span>카드 등록</span>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a
                      class="MyWadizSupporterClubLinkButton_container__2WhpH MyWadizSupporterProject_supporterClubLinkButton__24tWw"
                      href="/web/supporter-club/intro"
                      ><strong class="MyWadizSupporterClubLinkButton_title__1EUEL"
                        >서포터클럽</strong
                      >
                      <div class="MyWadizSupporterClubLinkButton_message__3xRb-">
                        <p>
                          <span class="MyWadizSupporterClubLinkButton_highlight__dK7Qz"
                            >배송비 3,000원 무제한 할인</span
                          >과
                          <span class="MyWadizSupporterClubLinkButton_highlight__dK7Qz">쿠폰팩</span
                          >을 만나보세요.
                        </p>
                      </div>
                      <div class="MyWadizSupporterClubLinkButton_arrow__1uymK"></div>
                    </a>
                  </div>
                </div>
                <div class="MyWadizEventBanner_pare__2jf7V">
                  <div
                    class="banner_eventBanner__cLcyF MyWadizEventBanner_banner__2PC1U MyWadizEventBanner_banner__2PC1U"
                    style="background-color: rgb(165, 229, 230)"
                  >
                    <a
                      href="https://ad.wadiz.kr?_refer_section_st=MY3_0"
                      class="banner_link__11Ogl"
                      data-promo-id="https://ad.wadiz.kr?_refer_section_st=MY3_0"
                      data-promo-name="프로젝트 홍보를 시작하세요!"
                      data-promo-position="MY3"
                      data-gtm-vis-first-on-screen-11319722_2047="230190"
                      data-gtm-vis-recent-on-screen-11319722_2047="237478"
                      data-gtm-vis-total-visible-time-11319722_2047="2000"
                      data-gtm-vis-has-fired-11319722_2047="1"
                    >
                      <div class="banner_inner__1Pn-n">
                        <div
                          class="banner_contents__1rLTm"
                          style="
                            background-image: url('https://static.wadiz.kr/main/media/group-23@3x.1afee7f0.png');
                          "
                        >
                          <div class="banner_text__ROckl">
                            <p>와디즈 광고센터에서</p>
                            <strong>프로젝트 홍보를 시작하세요!</strong>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="MyWadizSection_section__3FCv1">
                  <h4 class="MyWadizSection_title__2pnV3">나의 활동</h4>
                  <div>
                    <ul>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/social/followingmaker"
                          ><span
                          class="MyWadizMenu_icon__1sqne" aria-hidden="true"><img class="follower-icon" src="/static/images/myPage/follower.png" >
                        </span><span class="MyWadizMenu_text__9ryGW">팔로잉</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/wish/main"
                          ><span class="MyWadizMenu_icon__1sqne" aria-hidden="true"
                            ><img class="follower-icon" src="/static/images/myPage/heart.png" ></span
                          ><span class="MyWadizMenu_text__9ryGW">찜하기</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/wmypage/myfunding/investfundinglist"
                          ><span class="MyWadizMenu_icon__1sqne" aria-hidden="true"
                            ><i class="invest-icon"></i></span
                          ><span class="MyWadizMenu_text__9ryGW">투자 관리</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="MyWadizSection_section__3FCv1">
                  <h4 class="MyWadizSection_title__2pnV3">나의 문의 내역</h4>
                  <div>
                    <ul>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/board/personalMessage/inbox"
                          ><span
                          class="MyWadizMenu_icon__1sqne" aria-hidden="true"><img class="follower-icon" src="/static/images/myPage/message.png">
                        </span><span class="MyWadizMenu_text__9ryGW">메이커 문의</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/wstartup/contactList"
                          ><span
                          class="MyWadizMenu_icon__1sqne" aria-hidden="true"><img class="follower-icon" src="/static/images/myPage/search.png"></span><span class="MyWadizMenu_text__9ryGW">스타트업 문의</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="MyWadizSection_section__3FCv1">
                  <h4 class="MyWadizSection_title__2pnV3">고객센터</h4>
                  <div>
                    <ul>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="https://helpcenter.wadiz.kr/hc/ko"
                          ><span class="MyWadizMenu_icon__1sqne" aria-hidden="true"
                          ><img class="follower-icon" src="/static/images/myPage/chat.png"></span
                        ><span class="MyWadizMenu_text__9ryGW">1:1 채팅 상담</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="https://helpcenter.wadiz.kr/hc/ko"
                          ><span class="MyWadizMenu_icon__1sqne" aria-hidden="true"
                          ><img class="follower-icon" src="/static/images/myPage/question.png"></span
                        ><span class="MyWadizMenu_text__9ryGW">도움말 센터</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="MyWadizSection_section__3FCv1">
                  <div>
                    <ul class="MyWadizOtherMenu_otherMenu__2GlwQ">
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/wboard/newsBoardList"
                          ><span class="MyWadizMenu_icon__1sqne" aria-hidden="true"
                          ><img class="follower-icon" src="/static/images/myPage/megaphone.png"></span
                        ><span class="MyWadizMenu_text__9ryGW">공지사항</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/waccount/wAccountUpdateBasicInfoIntro"
                          ><span class="MyWadizMenu_icon__1sqne" aria-hidden="true"
                          ><img class="follower-icon" src="/static/images/myPage/wheel.png"></span
                        ><span class="MyWadizMenu_text__9ryGW">설정</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
