<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필</title>
        <!-- css 적용 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/myPage/myPage-profile.css">
</head>
<body>
    <div id="container">
        <div id="mypageWrap">
            <div class="myprofile-wrap">
                <div id="iam-profile-app" data-profile-image="https://static.wadiz.kr/static/icon/profile-icon-4.png" data-nickname="익명의 서포터 993" data-accnttype-name="개인 회원" data-is-valid-joined-premium-membership="false" data-my-self="true" data-my-funding-all-count="0" data-signature-cnt="0" data-follower-cnt="0" data-following-cnt="0" data-target-enc-user-id="" data-target-user-id="6034797" data-introduceme="" data-is-following="false" data-my-interest-user-keyword="">
                    <section class="ProfileCorp">
                        <div class="ProfileCorp_inner">
                            <h3 class="BlindText"></h3>
                            <!-- 프로필 이미지 -->
                            <div aria-hidden="true" class="Avatar" >
                                <span class="Avatar_image" style="background-image: url('https://static.wadiz.kr/assets/icon/profile-icon-6.png'); border: 1px solid rgb(221, 226, 230);"></span>
                            </div>
                            <!-- 사업자 회원 정보 -->
                            <div class="ProfileCorp_info">
                                <dl class="ProfileInfo_box" aria-label="회원정보">
                                    <dt class="BlindText">회원닉네임</dt>
                                    <dd class="ProfileInfo_nickname">린먕</dd>
                                    <dt class="BlindText">회원유형</dt>
                                    <dd class="ProfileInfo_type">초보 회원</dd>
                                </dl>
                                <strong class="BlindText">관심 카테고리</strong>
                                <!-- 가상요소 -->
                                <ul class="ProfileInterestKeyword"></ul>
                                <!-- 카테고리 박스 -->
                                <dl class="ProfileActivityInfo_infoCountBox">
                                    <div>
                                        <dt>참여</dt>
                                        <dd>
                                            0
                                            <span class="BlindText"></span>
                                        </dd>
                                    </div>
                                    <div>
                                        <dt>지지서명</dt>
                                        <dd>
                                            0
                                            <span class="BlindText">회</span>
                                        </dd>
                                    </div>
                                    <!--  -->
                                    <div>
                                        <dt>팔로워</dt>
                                        <dd>
                                            0
                                            <span class="BlindText"></span>
                                        </dd>
                                    </div>
                                    <div>
                                        <dt>팔로잉</dt>
                                        <dd>
                                            0
                                            <span class="BlindText"></span>
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                            <!-- 프로필 설정 버튼 -->
                            <a href="https://www.wadiz.kr/web/wmypage/myprofile/modifyprofile" class="ProfileSet Mint" id="apply">
                                <span>
                                    <span class="ProfileSet_button">배너 신청하기</span>
                                </span>
                            </a>
                            <a href="https://www.wadiz.kr/web/wmypage/myprofile/modifyprofile" class="ProfileSet">
                                <span>
                                    <span class="ProfileSet_button">프로필 편집하기</span>
                                </span>
                            </a>
                        </div>
                    </section>
                    </div>
                    <!-- 참여한 -->
                    <div class="mypage-project bg">
                        <div class="tab-list">
                            <ul role="tablist">
                                <!-- 참여한 -->
                                <li class="active">
                                    <a class="list1" href="#" role="tab" aria-selected="true" aria-controls="tabFunding" tabindex="0">내가 쓴 글</a>
                                </li>
                                <li class="active">
                                    <a class="list2" href="#2" role="tab" aria-selected="true" aria-controls="tabFunding" tabindex="0">모집글</a>
                                </li>
                                <li class="active">
                                    <a class="list3" href="#3" role="tab" aria-selected="true" aria-controls="tabFunding" tabindex="0">판매글</a>
                                </li>
                            </ul>
                        </div>
                        <!-- 내가 쓴글 리스트 1-->
                        <div class="project-list1" id="tabFunding" tabindex="0">
                            <div class="top-area">
                                <p id="fundingInfoMessage" class="status-text fundingCount" style="display: none">내가 쓴 게시글 입니다.</p>
                            </div>
                            <!-- 공개 참여 현황 -->
                            <div id="projectCardList" class="card-list">
                                <p id="emptyProjectText" style="display: none;">내가 쓴 글이 없습니다.</p>
                                <ul>
                                    <!-- 글목록 -->
                                    <li class="reward " data-hiddentype="F" data-campaintype="RWD" data-campaignid="155943" data-campaignhiddenseq="">
                                        <a href="/web/campaign/detail/155943">
                                            <div class="project-card">
                                                <div class="card-img-section">
                                                      <em class="project-img" style="background-image:url(https://cdn.wadiz.kr/wwwwadiz/green001/2023/0320/20230320212007743_200034.png/wadiz/format/jpg/quality/80)"></em>
                                                    <em class="project-type reward">내가 쓴 글</em>
                                                </div>
                                                <div class="card-info-section">
                                                    <h4>[어린이날 맞춤배송] 단 1권에 20가지 컨텐츠, 마이펀북 헝겊책</h4>
                                                    <h5>일시 : 2023.04.25</h5>
                                                    <div class="card-category">
                                                        <span class="category1">베이비·키즈</span>
                                                        <span class="category2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="reward " data-hiddentype="F" data-campaintype="RWD" data-campaignid="155943" data-campaignhiddenseq="">
                                        <a href="/web/campaign/detail/155943">
                                            <div class="project-card">
                                                <div class="card-img-section">
                                                      <em class="project-img" style="background-image:url(https://cdn.wadiz.kr/wwwwadiz/green001/2023/0327/20230327124700428_183048.jpg/wadiz/format/jpg/quality/80)"></em>
                                                    <em class="project-type reward">내가 쓴 글</em>
                                                </div>
                                                <div class="card-info-section">
                                                    <h4>이건 혁신이에요ㅣ24시간 고정력. 떡지지 않은 자연스러움 시스루 스프레이</h4>
                                                    <h5>일시 : 2023.04.24</h5>
                                                    <div class="card-category">
                                                        <span class="category1">뷰티</span>
                                                        <span class="category2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="reward " data-hiddentype="F" data-campaintype="RWD" data-campaignid="155943" data-campaignhiddenseq="">
                                        <a href="/web/campaign/detail/155943">
                                            <div class="project-card">
                                                <div class="card-img-section">
                                                      <em class="project-img" style="background-image:url(https://cdn.wadiz.kr/wwwwadiz/green001/2023/0309/20230309163413407_196059.jpg/wadiz/format/jpg/quality/80)"></em>
                                                    <em class="project-type reward">내가 쓴 글</em>
                                                </div>
                                                <div class="card-info-section">
                                                    <h4>[SBS 모범택시2]정의 구현에 진심인 무지개 찐팬을 위한 스페셜 굿즈!</h4>
                                                    <h5>일시 : 2023.04.25</h5>
                                                    <div class="card-category">
                                                        <span class="category1">캐릭터·굿즈</span>
                                                        <span class="category2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- 내가 쓴글 리스트 2-->
                        <div class="project-list2" id="tabFunding" tabindex="0">
                            <div class="top-area">
                                <p id="fundingInfoMessage" class="status-text fundingCount" style="display: none">내가 쓴 게시글 입니다.</p>
                            </div>
                            <!-- 공개 참여 현황 -->
                            <div id="projectCardList" class="card-list">
                                <p id="emptyProjectText" style="display: none;">내가 쓴 글이 없습니다.</p>
                                <ul>
                                    <!-- 글목록 -->
                                    <li class="reward " data-hiddentype="F" data-campaintype="RWD" data-campaignid="155943" data-campaignhiddenseq="">
                                        <a href="/web/campaign/detail/155943">
                                            <div class="project-card">
                                                <div class="card-img-section">
                                                      <em class="project-img" style="background-image:url(https://cdn.wadiz.kr/wwwwadiz/green001/2023/0320/20230320212007743_200034.png/wadiz/format/jpg/quality/80)"></em>
                                                    <em class="project-type reward">내가 쓴 글</em>
                                                </div>
                                                <div class="card-info-section">
                                                    <h4>[어린이날 맞춤배송] 단 1권에 20가지 컨텐츠, 마이펀북 헝겊책</h4>
                                                    <h5>일시 : 2023.04.25</h5>
                                                    <div class="card-category">
                                                        <span class="category1">베이비·키즈</span>
                                                        <span class="category2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="reward " data-hiddentype="F" data-campaintype="RWD" data-campaignid="155943" data-campaignhiddenseq="">
                                        <a href="/web/campaign/detail/155943">
                                            <div class="project-card">
                                                <div class="card-img-section">
                                                      <em class="project-img" style="background-image:url(https://cdn.wadiz.kr/wwwwadiz/green001/2023/0327/20230327124700428_183048.jpg/wadiz/format/jpg/quality/80)"></em>
                                                    <em class="project-type reward">내가 쓴 글</em>
                                                </div>
                                                <div class="card-info-section">
                                                    <h4>이건 혁신이에요ㅣ24시간 고정력. 떡지지 않은 자연스러움 시스루 스프레이</h4>
                                                    <h5>일시 : 2023.04.24</h5>
                                                    <div class="card-category">
                                                        <span class="category1">뷰티</span>
                                                        <span class="category2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="reward " data-hiddentype="F" data-campaintype="RWD" data-campaignid="155943" data-campaignhiddenseq="">
                                        <a href="/web/campaign/detail/155943">
                                            <div class="project-card">
                                                <div class="card-img-section">
                                                      <em class="project-img" style="background-image:url(https://cdn.wadiz.kr/wwwwadiz/green001/2023/0309/20230309163413407_196059.jpg/wadiz/format/jpg/quality/80)"></em>
                                                    <em class="project-type reward">내가 쓴 글</em>
                                                </div>
                                                <div class="card-info-section">
                                                    <h4>[SBS 모범택시2]정의 구현에 진심인 무지개 찐팬을 위한 스페셜 굿즈!</h4>
                                                    <h5>일시 : 2023.04.25</h5>
                                                    <div class="card-category">
                                                        <span class="category1">캐릭터·굿즈</span>
                                                        <span class="category2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- 내가 쓴글 리스트 3-->
                        <div class="project-list3" id="tabFunding" tabindex="0">
                            <div class="top-area">
                                <p id="fundingInfoMessage" class="status-text fundingCount" style="display: none">내가 쓴 게시글 입니다.</p>
                            </div>
                            <!-- 공개 참여 현황 -->
                            <div id="projectCardList" class="card-list">
                                <p id="emptyProjectText" style="display: none;">내가 쓴 글이 없습니다.</p>
                                <ul>
                                    <!-- 글목록 -->
                                    <li class="reward " data-hiddentype="F" data-campaintype="RWD" data-campaignid="155943" data-campaignhiddenseq="">
                                        <a href="/web/campaign/detail/155943">
                                            <div class="project-card">
                                                <div class="card-img-section">
                                                      <em class="project-img" style="background-image:url(https://cdn.wadiz.kr/wwwwadiz/green001/2023/0320/20230320212007743_200034.png/wadiz/format/jpg/quality/80)"></em>
                                                    <em class="project-type reward">내가 쓴 글</em>
                                                </div>
                                                <div class="card-info-section">
                                                    <h4>[어린이날 맞춤배송] 단 1권에 20가지 컨텐츠, 마이펀북 헝겊책</h4>
                                                    <h5>일시 : 2023.04.25</h5>
                                                    <div class="card-category">
                                                        <span class="category1">베이비·키즈</span>
                                                        <span class="category2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="reward " data-hiddentype="F" data-campaintype="RWD" data-campaignid="155943" data-campaignhiddenseq="">
                                        <a href="/web/campaign/detail/155943">
                                            <div class="project-card">
                                                <div class="card-img-section">
                                                      <em class="project-img" style="background-image:url(https://cdn.wadiz.kr/wwwwadiz/green001/2023/0327/20230327124700428_183048.jpg/wadiz/format/jpg/quality/80)"></em>
                                                    <em class="project-type reward">내가 쓴 글</em>
                                                </div>
                                                <div class="card-info-section">
                                                    <h4>이건 혁신이에요ㅣ24시간 고정력. 떡지지 않은 자연스러움 시스루 스프레이</h4>
                                                    <h5>일시 : 2023.04.24</h5>
                                                    <div class="card-category">
                                                        <span class="category1">뷰티</span>
                                                        <span class="category2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="reward " data-hiddentype="F" data-campaintype="RWD" data-campaignid="155943" data-campaignhiddenseq="">
                                        <a href="/web/campaign/detail/155943">
                                            <div class="project-card">
                                                <div class="card-img-section">
                                                      <em class="project-img" style="background-image:url(https://cdn.wadiz.kr/wwwwadiz/green001/2023/0309/20230309163413407_196059.jpg/wadiz/format/jpg/quality/80)"></em>
                                                    <em class="project-type reward">내가 쓴 글</em>
                                                </div>
                                                <div class="card-info-section">
                                                    <h4>[SBS 모범택시2]정의 구현에 진심인 무지개 찐팬을 위한 스페셜 굿즈!</h4>
                                                    <h5>일시 : 2023.04.25</h5>
                                                    <div class="card-category">
                                                        <span class="category1">캐릭터·굿즈</span>
                                                        <span class="category2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/static/js/myPage/myPage-profile.js"></script>
</html>