<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
<!-- link 적용 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/myPage/myPage-password.css">
</head>
<body>
    <div id="page-container">
		<div id="accountWrap">
            <!-- S : #newContainer -->
            <div id="newContainer">
                <!-- account-wrap -->
                <div class="account-wrap">
                    <h2 class="small">비밀번호 변경</h2>
	                    <div class="email-input-wrap">
	                    	<form id="saveForm">
	                        	<input type="password" id="newPassword" name="newPassword" class="input-text passwordval" placeholder="비밀번호" maxlength="17">
	                        	<p id="passwordError" class="pwd-text">영문,숫자,특수문자를 조합한 8자 이상</p>
	                        	<input type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="input-text passwordvalconfirm" placeholder="비밀번호 확인" maxlength="17">
	                        	<p class="error-text">비밀번호가 같지 않습니다.</p>
	                        	<div class="email-input-wrap small">
                            		<div class="btn-wrap smaller">
                                		<button id="saveBtn" type="submit" class="wz button primary block">확인</button>
	                            	</div>
	                        	</div>
	                       </form>
	                    </div>
	                </div>
	            </div>
        </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/static/js/myPage/myPage-password.js"></script>
</html>