<!DOCTYPE html>
<html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>구매 상세 정보</title>
    <link rel="shortcut icon" href="../../static/images/myPage/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/css/myPage/payment-detail.css" />
  </head>
  <body>
    <main>
      <div class="main-content">
        <div class="main-content-inner">
          <div>
            <div class="white-background">
              <div class="title-area">
                <div class="order-info">
                  <span>주문번호 230426-174637-0001</span>
                  <span>2023-04-26 17:48 구매</span>
                </div>
                <div class="order-name-area">
                  <div class="order-name-inner">
                    <a href="#" class="order-name"
                      >놀이동산 체험학습 놀러가요~</a
                    >
                    <div class="company-name">와디즈 주식회사</div>
                  </div>
                </div>
              </div>

              <div>
                <div>
                  <div class="payment-info-area">
                    <h3>결제 정보</h3>
                  </div>

                  <div class="payment-info">
                    <dl class="price">
                      <dt>체험학습 금액</dt>
                      <dd><span>45000원</span></dd>
                    </dl>

                    <dl class="price">
                      <dt>참여 아이 수</dt>
                      <dd><span>3명</span></dd>
                    </dl>

                    <dl class="price">
                      <dt>쿠폰 할인 금액</dt>
                      <dd><span>-5000원</span></dd>
                    </dl>
                  </div>

                  <div class="last-price-area">
                    <dl class="price">
                      <dt>최종 결제 금액</dt>
                      <dd class="last-price">150000원</dd>
                    </dl>

                    <dl class="card-info">
                      <dt>결제 수단</dt>
                      <dd><span>신용카드</span></dd>
                    </dl>
                  </div>

                  <div class="product">
                    <h3 class="product-title">상품정보</h3>
                    <div class="product-info-wrapper">
                      <div class="product-info">
                        <div class="">놀이동산 체험학습 놀러가요~</div>
                        <div class="product-quantity">3명</div>
                        <div class="product-price">155000원</div>
                      </div>
                      <!-- 이벤트 써ㅓㅁ네일 -->
                      <div class="product-thumbnail">
                        <div
                          class="product-thumbnail-image"
                          style="
                            background-image: url('https://cdn2.wadiz.kr/2023/04/25/f6a525c2-d0c8-469c-a820-f0a7289d9ab4.png/wadiz/resize/400/format/jpg/quality/85/');
                          "
                        ></div>
                      </div>
                    </div>
                  </div>

                  <div class="maker-info">
                    <h3 class="maker-title">기업 정보</h3>
                    <div class="maker-details">
                      <dl class="maker-item">
                        <dt class="maker-label"><span>기업 이름</span></dt>
                        <dd class="maker-value">
                          <span title="와디즈 주식회사">와디즈 주식회사</span>
                        </dd>
                      </dl>
                      <dl class="maker-item">
                        <dt class="maker-label"><span>연락처</span></dt>
                        <dd class="maker-value"><span>01012341234</span></dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="margin" />

      <div class="order-info-warn">
        <div class="warn-wrapper" style="margin-top: 10px;">
        <h3 class="order-info-warn-title">주문 및 환불 시 참고해 주세요</h3>
        <div class="order-info-message-box">
          <div class="order-info-message-box-content">
            <div class="order-info-message-box-description">
              <ul>
                <li>
                  상품의 내용이 표시∙광고 내용과 다르거나 계약내용과 다르게 이행된 경우에는 해당
                  상품 등을 수령한 날부터 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일
                  이내에 환불을 신청할 수 있습니다.
                </li>
                <li>다음의 경우에는 교환/반품을 신청할 수 없습니다.</li>
                <ul class="order-info-message2">
                  <li>본인의 사용 또는 일부 소비로 인하여 상품 등의 가치가 현저히 감소한 경우</li>
                  <li>
                    시간의 경과에 의하여 재판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한 경우
                  </li>
                  <li>복제 가능한 상품 등의 포장을 훼손한 경우</li>
                  <li>
                    용역 또는 “문화산업진흥 기본법” 제2조 제5호의 디지털콘텐츠의 제공이 개시된
                    경우(다만, 가분적 용역 또는 가분적 디지털콘텐츠로 구성된 계약의 경우에는 제공이
                    개시되지 아니한 부분에 대하여는 제외함)
                  </li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    </main>
  </body>
</html>
