<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>배너 관리</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/admin/admin.css">
    <link rel="stylesheet" href="../../static/css/admin/banner-management.css">
</head>
<body>
    <!-- 헤더 -->
    <header>
        <div class="logo-wrapper">
            <div class="logo">도담 도담</div>
        </div>
        <div class="time-wrapper">
            <div class="time-left">현재 시간 : </div>
            <!-- 현재 시간 js로 들어감 -->
            <div class="time"></div>
        </div>
    </header>
    <main>
        <!-- 사이드 바 메뉴 -->
        <nav>
            <div class="menu-bar">
                <ul>
                    <li class="menu">
                        <a class="menus" href="#">홈</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="#">회원 목록</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="#">이벤트 게시글</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="#">모집 게시글</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="#">판매 게시글</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="#">자유 게시글</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="#">관리 게시글</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="#">문화공간 목록</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="#">배너신청 현황</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="#">배너관리</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- 사이드 바 메뉴 -->
        <!-- contents -->
        <content>
            <!-- 검색 창 -->
            <!-- <div class="module--search">
                <div class="search__searchbox">
                    <form action="" class="search__searchbox__form">
                        <input id="searchbox" type="text" placeholder="원하시는 키워드로 검색해보세요"/>
                        <button type="button" class="search__searchbox__button">
                            <img src="../../static/images/admin/search.png"/>
                        </button>
                    </form>
                </div>
            </div> -->
            <!-- 검색 창 -->
            <div class="inner-wrapper">
                <div class="page-title">배너 관리</div>
                <!-- 배너 관리 -->
                <article class="module--banner">
                    <!-- button이 style 때문에 form 밖에 있어서 js로 제출 해야함 js 만들어둠-->
                    <button type="submit" class="submit-button" id="submit-button">등록하기</button> 
                    <form action="#" enctype="multipart/form-data" name="bannerForm" style="width: 100%; height: 100%;">
                        <div class="banner__wrapper">
                        <!-- <div class="banner__title">배너 목록</div> -->
                            <div class="banner__button-wrapper">
                                <button type="button" class="banner__add-button">추가</button>
                                <button type="button" class="banner__delete-button">삭제</button>
                            </div>
                        </div>
                        <div class="banner__list">
                        <!-- 반복문으로 배너 아이템 추가 -->
                            <!-- 시작 -->
                            <div class="banner__item">
                                <div class="banner__info">
                                    <div class="banner__title">배너1</div>
                                </div>
                                <div class="banner__image">
                                        <input type="checkbox" class="banner__checkbox"/>
                                        <img src="../../static/images/admin/plus.png" class="add-image"  onclick="addImage(this)">
                                        <input type="file" name="banner1" style="display: none;" accept="image/gif, image/jpeg, image/jpg, image/png, image/bmp" onchange="imageUpload(this)">
                                    </div>
                            </div>
                                <!-- 끝 -->
                                <!-- 시작 -->
                            <div class="banner__item">
                                <div class="banner__info">
                                    <div class="banner__title">배너2</div>
                                </div>
                                <div class="banner__image">
                                        <input type="checkbox" class="banner__checkbox"/>
                                        <img class="add-image" src="../../static/images/admin/plus.png"/ onclick="addImage(this)">
                                        <input type="file" name="banner1" style="display: none;" accept="image/gif, image/jpeg, image/jpg, image/png, image/bmp" onchange="imageUpload(this)">
                                    </div>
                            </div>
                            <!-- 끝 -->
                            <!-- 시작 -->
                            <div class="banner__item">
                                <div class="banner__info">
                                    <div class="banner__title">배너3</div>
                                </div>
                                <div class="banner__image">
                                        <input type="checkbox" class="banner__checkbox"/>
                                        <img class="add-image" src="../../static/images/admin/plus.png"/ onclick="addImage(this)">
                                        <input type="file" name="banner1" style="display: none;" accept="image/gif, image/jpeg, image/jpg, image/png, image/bmp" onchange="imageUpload(this)">
                                    </div>
                            </div>
                            <!-- 끝 -->
                            <!-- 시작 -->
                            <div class="banner__item">
                                <div class="banner__info">
                                    <div class="banner__title">배너4</div>
                                </div>
                                <div class="banner__image">
                                        <input type="checkbox" class="banner__checkbox"/>
                                        <img class="add-image" src="../../static/images/admin/plus.png"/ onclick="addImage(this)">
                                        <input type="file" name="banner1" style="display: none;" accept="image/gif, image/jpeg, image/jpg, image/png, image/bmp" onchange="imageUpload(this)">
                                    </div>
                            </div>
                            <!-- 끝 -->
                            <!-- 시작 -->
                            <div class="banner__item">
                                <div class="banner__info">
                                    <div class="banner__title">배너5</div>
                                </div>
                                <div class="banner__image">
                                        <input type="checkbox" class="banner__checkbox"/>
                                        <img class="add-image" src="../../static/images/admin/plus.png"/ onclick="addImage(this)">
                                        <input type="file" name="banner1" style="display: none;" accept="image/gif, image/jpeg, image/jpg, image/png, image/bmp" onchange="imageUpload(this)">
                                    </div>
                            </div>
                            <!-- 끝 -->
                            <!-- 시작 -->
                            <div class="banner__item">
                                <div class="banner__info">
                                    <div class="banner__title">배너6</div>
                                </div>
                                <div class="banner__image">
                                        <input type="checkbox" class="banner__checkbox"/>
                                        <img class="add-image" src="../../static/images/admin/plus.png"/ onclick="addImage(this)">
                                        <input type="file" name="banner1" style="display: none;" accept="image/gif, image/jpeg, image/jpg, image/png, image/bmp" onchange="imageUpload(this)">
                                    </div>
                            </div>
                            <!-- 끝 -->
                        </div>
                    </form>
                </article>
            </div>
        </content>
        <!-- contents -->
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/js/admin/admin.js"></script>
<script src="../../static/js/admin/banner-management.js"></script>
</html>