@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700&display=swap');

html{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    border: 0;
    -webkit-locale: "ko";
    display: block;
    view-transition-name: root;
}

body{
    overflow: auto;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
    font-family: roboto,Noto Sans KR,-apple-system,dotum,sans-serif;
}

#page-container{
    transform-origin: 50% 0;
    transition-property: opacity,transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

#container{
    margin: 0;
    padding: 0;
    display: block;
    font: inherit;
}

.event-register{
    margin: 0 auto;
    padding: 0 16px;
    max-width: 480px;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    display: block;
}

section{
    display: block;
    margin: 0;
    padding: 0;
}

.member-type{
    padding-top: 40px;
}

h3{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.h3-text{
    line-height: 34px;
    letter-spacing: -.51px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}


.description-content{
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    color: #495057;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.member-type-btn{
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 8px;
    margin-bottom: 0;

}

.business-type-btn{
    padding: 9px 24px;
    line-height: 1.75;
    font-size: 16px;
    border-color: #00c4c4;
    color: #00c4c4;
    width: calc(50% - 4px);
}

.business-type-btn(:disaled){
    cursor: pointer;
}

.btn{
        position: relative;
        transition-property: background-color,border-color,color,opacity;
        transition-duration: .15s;
        border: 1px solid #cdd3d8;
        border-radius: 4px;
        background-color: #0000;
        padding: 9px 16px;
        vertical-align: middle;
        text-decoration: none;
        white-space: nowrap;
        font-weight: 500;
        box-sizing: border-box!important;
        -webkit-appearance: none;
        -webkit-font-smoothing: antialiased;
}

.business-type-btn span{
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    font-family: 'Noto Sans KR';
}

.button-children{
    vertical-align: top;
}

.personal{
    border: 1px solid #cdd3d8;
    background-color: #0000;
    color: #495057;
}

.info-register{
    padding-top: 40px;
    width: 410px;

}

.waffle{
    margin-bottom: 20px;
}

.label{
    margin-bottom: 4px;
}

.input-container{
    margin-bottom: 0;
    font-family: 'Noto Sans KR';
}

.waffle.input{
    display: block;
    position: relative;
    height: 48px;
    font-size: 15px;
}

.waffle.input :hover{
    border-color:#00c4c4;
}

.waffle.input>input{
    height: 48px;
    line-height: 1.2em;
    font-size: 15px;
    font-weight: 300;
    transition-property: border-color,height,padding-right,color;
    transition-duration: .2s,0s;
    outline: none;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    background: #fff;
    padding: 0 1.06667em;
    width: 100%;
    vertical-align: middle;
    color: #000000d6;
    font-family: Noto Sans KR;
}

input::placeholder {
   font-weight: 400;
}

.waffle.helper{
    display: block;
    margin-top: -17px;
    line-height: 20px;
    color: #60656a;
    font-size: 12px;
}

.waffle.input>input[readonly], .waffle.input>input[disabled] {
    border-color: #00000026;
    background-color: #0000000f;
    cursor: default;
    pointer-events: none;
}

.waffle.input>input[disabled] {
    opacity: .45;
}

.mb{
    margin-bottom: 35px;
}

.blank{
    height: 40px;
}

textarea{
    resize: none;
    width: 103%;
    padding:10px;
    font-family: 'Noto Sans KR';
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    outline: 0;
}


textarea::placeholder {
    font-weight:400;
    font-family: 'Noto Sans KR';
    font-size:15px;
    color: #cdd3d8;
}

textarea :hover{
    border-color:#00c4c4;
}

button:not(:disabled) {
    cursor: pointer;
}

.file-input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.introduction{
    margin-top: 85px;
}

.action-input {
    display: flex;
    position: relative;
    outline: none;
}

.action-input .input-container {
    flex: 1;
}

.address-btn{
    background-color: #00c4c4;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #00c4c4;
    width: 116px;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
}

.waffle.button {
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
}

.waffle.button{
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .2s;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    cursor: pointer;
    padding: 0 1.41176em;
    height: 48px;
    vertical-align: middle;
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box!important;
    -webkit-appearance: none;
}

.waffle.input>input {
    height: 48px;
    line-height: 1.2em;
    font-size: 15px;
    font-weight: 300;
}

.mb13{
    margin-bottom: -13px;
    display: flex;
}


.address{
    height: 48px;
    line-height: 1.2em;
    font-size: 15px;
    display: block;
    position: relative;
    font-weight: 300;
    width: 300px;
    padding-left: 14px;
    margin-right: 7px;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    background-color: #F8F8F8;
    cursor: default;
    pointer-events: none;
}

input[name=address]::placeholder {
    color: #C1C1C1;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: -.3px;
  }

#startDate{
    margin-bottom: 7px;
  }

.file-button{
    position: relative!important;
    width: 444px;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: #0000;
    cursor: pointer;
    padding: 9px 16px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.43;
    white-space: nowrap;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box!important;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'Noto Sans KR';
}

.submit-btn{
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
    padding: 14px 28px;
    line-height: 1.4;
    font-size: 18px;
    font-family: inherit;
    width: 444px;
}

.submit-btn[disabled]{
    opacity: .45;
    cursor: default;
    pointer-events: none;
}

.submit-notice{
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin-top: 16px;
}