body {
    font-family: Noto Sans KR !important;
    overflow-y: scroll;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
}

a, address, article, aside, audio, b, body, button, canvas, caption, dd, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, label, legend, li, nav, ol, p, pre, section, small, span, strong, summary, table, tbody, td, th, thead, time, tr, ul, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

article, blockquote, body, dd, div, dl, dt, h1, h2, h3, h4, html, li, main, ol, p, section, table, tbody, td, th, thead, tr, ul {
    margin: 0;
    padding: 0;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body, body button, body input, body li, body ol, body select, body textarea, body ul {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body li, body ol, body ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a, em, div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}

body a {
    text-decoration: none;
    color: rgba(0,0,0,.84);
}

strong {
    font-weight: 700;
}

.free-board-container {
    background: #f4f4f4;
    padding-bottom: 210px;
    width: 100%;
    height: 100%;
}

.free-board-top {
    z-index: 10;
    border-top: 1px solid #e4e4e4;
    background: #f4f4f4;
    width: 100%;
}

.free-board-top:after {
    display: block;
    clear: both;
    content: "";
}

.free-board-top .free-board-title {
    float: left;
    margin-bottom: 24px;
    background: #2c3d50;
    width: 100%;
    height: 100px;
}

.free-board-top .free-board-title:after {
    display: block;
    clear: both;
    content: "";
}

.free-board-top .free-board-title .title-bar {
    margin-left: 2%;

}

.free-board-top .free-board-title .title-bar:after {
    display: block;
    clear: both;
    content: "";
}

.title-bar-month {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    background: #e4e4e4;
    padding: 7px 0;
    width: 70px;
    text-align: center;
    line-height: initial;
    color: #2c3d50;
    font-size: 14px;
}

.title-bar-month strong {
    font-size: 38px;
}

.title-bar-text {
    float: left;
    margin: 15px 0 0 12px;
    width: 65%;
    line-height: 1.25;
    word-break: break-word;
    color: #fff;
    font-size: 17px;
}

.title-bar-text span {
    display: block;
    margin-top: 2px;
    color: #a6afde;
    font-size: 13px;
}

.free-board-type {
    margin: 0 auto 15px;
    width: 90%;
}

.bar-button-list {
    margin-top: 11px;
    height: 100%;
}

.bar-button-list:after {
    display: block;
    clear: both;
    content: "";
}

.bar-button {
    float: left;
    border-right: 1px solid #e4e4e4;
    cursor: pointer;
    width: 100%;
    max-width: 20%;
    height: 100%;
}

.bar-button:first-child {
    border-left: 1px solid #e4e4e4;
}

.bar-button a {
    display: block;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background: #fff;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
}

.bar-button a em {
    display: block;
    margin: 0 auto 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-weight: 500;
}

.bar-button .type-all>em {
    width: auto;
    line-height: 18px;
    font-weight: 500;
}

.bar-button .type-culture>em {
    background: #2e51ef;
}

.bar-button .type-event>em {
    background: #9f8673;
}

.bar-button .type-recruitment>em {
    background: #705f53;
}

.bar-button .type-free>em {
    background: #90949c;
}

.free-board-form {
    margin: 1px auto 0;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.free-board-list {
    width: 685px;
    height: auto;
}

.free-board-detail {
    margin-bottom: 23px;
    border: 1px solid #e4e4e4;
    background: #fff;
    width: 633px;
    height: 172px;
}

.free-board-image {
    display: block;
    float: left;
    transform: scale(1.05);
    transition: .25s ease-in-out;
    transition-property: opacity,transform;
    opacity: 0;
    background: no-repeat 50%/contain border-box;
    background-size: 100% 100%;
    width: 100%;
    max-width: 40%;
    height: 100%;
}

.free-board-image {
    background-image: url("https://cdn.wadiz.kr/ft/images/green001/2023/0313/20230313132913160_null.png/wadiz/thumbnail/252/format/jpg/quality/95/");
}

.free-board-image.image-detail {
    transform: scale(1);
    opacity: 1;
}

.free-board-detail a {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.detail-form {
    position: relative;
    float: left;
    padding: 15px 20px;
    width: 390px;
    max-width: 60%;
}

.detail-type {
    text-align: right;
    font-size: 12px;
}

.detail-type i {
    display: inline-block;
    margin-right: 8px;
    width: 10px;
    height: 10px;
}

.type-category {
    background: #705f53;
}

.detail-title {
    margin-bottom: 5px;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
}

.detail-content {
    margin-bottom: 10px;
    line-height: 18px;
    font-size: 12px;
}

.detail-info {
    margin-bottom: 5px;
    line-height: 18px;
    font-size: 12px;
}

.detail-number {
    position: absolute;
    top: 135px;
    right: 20px;
    text-align: right;
    font-size: 12px;
}

.detail-number em {
    padding-right: 10px;
    color: #c04646;
    font-weight: 500;
}

.detail-number strong {
    color: #929292;
    font-size: 16px;
    font-weight: 500;
}

/* side */

.search-area {
    position: relative;
    margin-bottom: 20px;
    height: 34px;
    border: 1px solid #e4e4e4;
}

.search-area.sub-page {
    display: none;
    background: #fff;
}

.search-area input[type=text] {
    width: 220px;
    height: 32px;
    padding: 0 10px;
    line-height: 34px;
    font-size: 13px;
    border: none;
}

button:not(:disabled) {
    cursor: pointer;
}

.btn-search {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    width: 30px;
    height: 34px;
    background: url('https://www.wadiz.kr/resources/static/img/common/icon_gray_search.png') no-repeat center center;
    background-size: 14px 14px;
    border: none;
}

.best-list {
    position: relative;
    padding: 20px 0;
    border-top: 1px solid #006633;
}

.best-list img {
    position: absolute;
    width: 25px;
    height: 25px;
}

.best-list.detail {
    display: none;
}

.main-content h4 {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}

.best-list ol li {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.best-list ol li em {
    display: table-cell;
    padding: 0;
    width: 30px;
    height: 40px;
    font-size: 24px;
    color: #006633;
}

.best-list ol li .title {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
}

.best-list ol li .title a {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

/* page-list */
.page-list {
    width: 100%;
}

.page-list ul {
    text-align: center;
    padding: 30px 0 10px;
}

.page-list ul li {
    display: inline-block;
}

.page-list ul li button {
    padding: 0 10px;
    font-size: 14px;
    background: none;
    border: none;
}

.page-list ul li.active button {
    font-weight: 500;
    color: #006633;
}


@media screen and (min-width: 769px) {
    .free-board-container {
        padding-bottom: 90px;
    }

    .free-board-top {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        border-bottom: 1px solid #e4e4e4;
        height: 103px;
    }

    .free-board-top .free-board-title {
        width: 48%;
    }

    .free-board-top .free-board-title .title-bar {
        float: right;
        width: 515px;
    }

    .title-bar-text {
        margin: 23px 0 0 20px;
        width: 400px;
        line-height: initial;
        font-size: 21px;
    }

    .title-bar-text span {
        font-size: 14px;
    }

    .free-board-type {
        float: left;
        width: 52%;
        height: 100px;
    }

    .bar-button-list {
        margin-top: 0;
        padding-right: 8px;
        padding-left: 16px;
    }

    .bar-button {
        width: 112px;
    }
    
    .bar-button a {
        padding: 19px 0 21px;
    }

    .bar-button a em {
        margin: 0 auto 20px;
    }

    .free-board-form {
        margin: 60px auto 0;
        width: 1100px;
    }

    .free-board-list {
        float: left;
    }

    .free-board-side {
        float: right;
        width: 290px;
        padding: 0;
        margin: 0;
        margin-right: 20px;
    }

    .search-area.sub-page {
        display: block;
    }

    .best-list.detail {
        display: block;
    }
}


