<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../static/css/free-board/free-board-list.css">
</head>
<body>
    <div class="main-content">
        <div class="free-board-container">
            <!-- 자유게시판 헤더 시작 -->
            <div class="free-board-top">
                <div class="free-board-title">
                    <div class="title-bar">
                        <p class="title-bar-month">
                            <strong>4</strong>월
                        </p>
                        <p class="title-bar-text">
                            자유게시판
                            <span>자유롭게 작성 가능합니다.</span>
                        </p>
                    </div>
                </div>
                <!-- 자유게시판 카테고리 시작 -->
                <div class="free-board-type">
                    <ul class="bar-button-list">
                        <li class="bar-button">
                            <a name="all" class="type-all">
                                <em>ALL</em>
                                <span>전체보기</span>
                            </a>
                        </li>
                        <li class="bar-button">
                            <a name="culture" class="type-culture">
                                <em></em>
                                <span>문화</span>
                            </a>
                        </li>
                        <li class="bar-button">
                            <a name="event" class="type-event">
                                <em></em>
                                <span>이벤트</span>
                            </a>
                        </li>
                        <li class="bar-button">
                            <a name="recruitment" class="type-recruitment">
                                <em></em>
                                <span>모집</span>
                            </a>
                        </li>
                        <li class="bar-button">
                            <a name="free" class="type-free">
                                <em></em>
                                <span>수다</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 자유게시판 카테고리 끝 -->
            </div>
            <!-- 자유게시판 헤더 끝 -->
            <!-- 자유게시판 목록 시작 -->
            <div class="free-board-form">
                <div class="free-board-list">
                    <div class="free-board-detail">
                        <span class="free-board-image image-detail"></span>
                        <a href="#">
                            <div class="detail-form">
                                <p class="detail-type">
                                    <span>
                                        <i class="type-category"></i>
                                        모집
                                    </span>
                                </p>
                                <p class="detail-title">[2주 과정] 펀딩 플래너② : 펀딩 상세페이지 정복</p>
                                <p class="detail-content">스토리 작성 첫걸음부터 완성까지!</p>
                                <p class="detail-info">
                                    일시 :  04월 25일(화) 오후 3시 00분 ~ 오후 4시 30분
                                    <br>
                                    장소 : 유튜브 라이브
                                </p>
                                <p class="detail-number">
                                    <em>서두르세요! 마감 임박!</em>
                                    <strong>781 / </strong> 950 명
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="free-board-detail">
                        <span class="free-board-image image-detail"></span>
                        <a href="#">
                            <div class="detail-form">
                                <p class="detail-type">
                                    <span>
                                        <i class="type-category"></i>
                                        모집
                                    </span>
                                </p>
                                <p class="detail-title">[2주 과정] 펀딩 플래너② : 펀딩 상세페이지 정복</p>
                                <p class="detail-content">스토리 작성 첫걸음부터 완성까지!</p>
                                <p class="detail-info">
                                    일시 :  04월 25일(화) 오후 3시 00분 ~ 오후 4시 30분
                                    <br>
                                    장소 : 유튜브 라이브
                                </p>
                                <p class="detail-number">
                                    <em>서두르세요! 마감 임박!</em>
                                    <strong>781 / </strong> 950 명
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="free-board-detail">
                        <span class="free-board-image image-detail"></span>
                        <a href="#">
                            <div class="detail-form">
                                <p class="detail-type">
                                    <span>
                                        <i class="type-category"></i>
                                        모집
                                    </span>
                                </p>
                                <p class="detail-title">[2주 과정] 펀딩 플래너② : 펀딩 상세페이지 정복</p>
                                <p class="detail-content">스토리 작성 첫걸음부터 완성까지!</p>
                                <p class="detail-info">
                                    일시 :  04월 25일(화) 오후 3시 00분 ~ 오후 4시 30분
                                    <br>
                                    장소 : 유튜브 라이브
                                </p>
                                <p class="detail-number">
                                    <em>서두르세요! 마감 임박!</em>
                                    <strong>781 / </strong> 950 명
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="free-board-detail">
                        <span class="free-board-image image-detail"></span>
                        <a href="#">
                            <div class="detail-form">
                                <p class="detail-type">
                                    <span>
                                        <i class="type-category"></i>
                                        모집
                                    </span>
                                </p>
                                <p class="detail-title">[2주 과정] 펀딩 플래너② : 펀딩 상세페이지 정복</p>
                                <p class="detail-content">스토리 작성 첫걸음부터 완성까지!</p>
                                <p class="detail-info">
                                    일시 :  04월 25일(화) 오후 3시 00분 ~ 오후 4시 30분
                                    <br>
                                    장소 : 유튜브 라이브
                                </p>
                                <p class="detail-number">
                                    <em>서두르세요! 마감 임박!</em>
                                    <strong>781 / </strong> 950 명
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="free-board-detail">
                        <span class="free-board-image image-detail"></span>
                        <a href="#">
                            <div class="detail-form">
                                <p class="detail-type">
                                    <span>
                                        <i class="type-category"></i>
                                        모집
                                    </span>
                                </p>
                                <p class="detail-title">[2주 과정] 펀딩 플래너② : 펀딩 상세페이지 정복</p>
                                <p class="detail-content">스토리 작성 첫걸음부터 완성까지!</p>
                                <p class="detail-info">
                                    일시 :  04월 25일(화) 오후 3시 00분 ~ 오후 4시 30분
                                    <br>
                                    장소 : 유튜브 라이브
                                </p>
                                <p class="detail-number">
                                    <em>서두르세요! 마감 임박!</em>
                                    <strong>781 / </strong> 950 명
                                </p>
                            </div>
                        </a>
                    </div>
                    <!-- 페이징 처리 시작 -->
                    <div class="page-list">
                        <ul>
                            <li>
                                <button>1</button>
                            </li>
                            <li>
                                <button>2</button>
                            </li>
                            <li>
                                <button>3</button>
                            </li>
                            <li>
                                <button>4</button>
                            </li>
                            <li>
                                <button>5</button>
                            </li>
                            <li>
                                <button>></button>
                            </li>
                        </ul>
                    </div>
                    <!-- 페이징 처리 끝 -->
                </div>
                <div class="free-board-side">
                    <div class="search-area sub-page">
                        <input type="text" name="" id="" placeholder="검색하기">
                        <button class="btn-search"></button>
                    </div>
                    <div class="best-list detail">
                        <img src="/static/images/free-board/trophy.png" alt="">
                        <h4>
                            인기글 TOP5
                        </h4>
                        <ol>
                           <li>
                                <em>1</em>
                                <p class="title">
                                    <a href="">[4팀 점메추] 네모오징어</a>
                                </p>
                           </li> 
                           <li>
                                <em>2</em>
                                <p class="title">
                                    <a href="">[4팀 점메추] 돛고기</a>
                                </p>
                           </li> 
                           <li>
                                <em>3</em>
                                <p class="title">
                                    <a href="">[4팀 점메추] 부대찌개</a>
                                </p>
                           </li> 
                           <li>
                                <em>4</em>
                                <p class="title">
                                    <a href="">[4팀 점메추] 연가</a>
                                </p>
                           </li> 
                           <li>
                                <em>5</em>
                                <p class="title">
                                    <a href="">[4팀 점메추] 스메쉬버거</a>
                                </p>
                           </li> 
                        </ol>
                    </div>
                </div>
            </div>
            <!-- 자유게시판 목록 끝 -->
        </div>
    </div>
</body>
</html>