<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판 상세보기</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../static/css/free-board/free-board-detail.css">
</head>
<body>
    <div class="main-wrap">
        <div class="board-detail">
            <!-- 상세페이지 시작 -->
            <div class="section1">
                <div class="detail-title">
                    <div class="detail-info">
                        <p class="board">자유게시판</p>
                        <em class="type">수다</em>
                        <p class="title">리바운드 본 사람??</p>
                        <p class="info">
                            <em class="writer">박다예</em>
                            <em class="date">2023.04.23</em>
                            <em class="like-count">10</em>
                        </p>
                    </div>
                </div>
                <div class="detail-content">
                    <p>
                        <img src="../../static/images/free-board/slamdunk.jpg" >
                        <img src="../../static/images/free-board/rebound.jpg" >
                    </p>
                    <p>슬램덩크 VS 리바운드<br></p>
                    <p>뭐가 더 재밌는지 댓글로 남겨주세요!<br></p>
                    <p>슬램덩크 봤어야 했는데!!!! 한손은 거들뿐!!!!<br></p>
                    <p>리바운드도 못 보겠지...ㅠㅠ<br></p>
                    <p>벌써 4월 23일이라니 이제 눈 감았다 뜨면 금요일...?<br></p>
                    <p>5월 1일날 리바운드...?...!(갠톡)<br></p>
                </div>
            </div>
            <!-- 상세페이지 끝 -->
            <div class="section2">
                <div class="best-list detail">
                    <h4>🏆 인기글 TOP5</h4>
                    <ol>
                       <li>
                            <em>1</em>
                            <p class="title">
                                <a href="">[4팀 점메추] 네모오징어</a>
                            </p>
                       </li> 
                       <li>
                            <em>2</em>
                            <p class="title">
                                <a href="">[4팀 점메추] 돛고기</a>
                            </p>
                       </li> 
                       <li>
                            <em>3</em>
                            <p class="title">
                                <a href="">[4팀 점메추] 부대찌개</a>
                            </p>
                       </li> 
                       <li>
                            <em>4</em>
                            <p class="title">
                                <a href="">[4팀 점메추] 연가</a>
                            </p>
                       </li> 
                       <li>
                            <em>5</em>
                            <p class="title">
                                <a href="">[4팀 점메추] 스메쉬버</a>
                            </p>
                       </li> 
                    </ol>
                </div>
            </div>
        </div>
        <!-- 댓글 시작 -->
        <div class="board-detail-bottom">
            <div class="board-comment">
                <div class="like-share-area">
                    <button class="btn-like">
                        <span>10</span>
                    </button>
                    <div class="btn-share">
                        <button class="kakao"></button>
                        <button class="facebook"></button>
                        <button class="twitter"></button>
                    </div>
                </div>
                <div class="comment-box">
                    <div class="message-box">
                        <p>
                            도담도담 서비스의 건전한 운영을 위하여 운영기준 상 문제의 소지가 있거나 게시물에 관련이 없는 악의적인 댓글은 임의로 삭제될 수 있습니다.
                        </p>
                    </div>
                    <p class="comment-count">
                        <em>3</em>개의 댓글이 달려있습니다.
                    </p>
                    <div class="main-comment">
                        <textarea name="" id="" placeholder="댓글을 입력하세요."></textarea>
                        <div class="btn-complete">
                            <button class="btn-color">댓글달기</button>
                        </div>
                    </div>
                    <div class="comment-list">
                        <ul id="comment-list-detail">
                            <li class="top" style="display: list-item;">
                                <div class="comment-wrap">
                                    <div class="comment-info">
                                        <img src="../../static/images/badge/medal_gold_winner_badge_achievement_icon.png">
                                        <span class="name">정세인</span>
                                        <button class="comment-util"></button>
                                        <ul class="comment-util-list">
                                            <li>
                                                <a href="#">수정</a>
                                            </li>
                                            <li>
                                                <a href="#">삭제</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="comment-content">
                                        슬램덩크만 봤는데 리바운드...?
                                        <br>
                                        갠톡할게요!!
                                    </p>
                                    <textarea id="" style="display: none;">
                                        슬램덩크만 봤는데 리바운드...?
                                        <br>
                                        갠톡할게요!!
                                    </textarea>
                                    <div class="comment-bottom">
                                        <span class="date">2023.04.23 23:56</span>
                                        <div class="modify-on" style="display: none;">
                                            <button type="button">취소</button>
                                            <button type="button">수정완료</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="top" style="display: list-item;">
                                <div class="comment-wrap">
                                    <div class="comment-info">
                                        <img src="../../static/images/badge/medal_gold_winner_badge_reward_icon.png">
                                        <span class="name">김욱성</span>
                                        <button class="comment-util"></button>
                                        <ul class="comment-util-list">
                                            <li>
                                                <a href="#">수정</a>
                                            </li>
                                            <li>
                                                <a href="#">삭제</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="comment-content">
                                        둘 다 재밌음 [스포]
                                    </p>
                                    <textarea id="" style="display: none;">
                                        둘 다 재밌음 [스포]
                                    </textarea>
                                    <div class="comment-bottom">
                                        <span class="date">2023.04.23 23:56</span>
                                        <div class="modify-on" style="display: none;">
                                            <button type="button">취소</button>
                                            <button type="button">수정완료</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="top" style="display: list-item;">
                                <div class="comment-wrap">
                                    <div class="comment-info">
                                        <img src="../../static/images/badge/medal_silver_badge_achievement_success_icon.png">
                                        <span class="name">김세윤</span>
                                        <button class="comment-util"></button>
                                        <ul class="comment-util-list">
                                            <li>
                                                <a href="#">수정</a>
                                            </li>
                                            <li>
                                                <a href="#">삭제</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="comment-content">
                                        슬램덩크가 더 재밌어요
                                    </p>
                                    <textarea id="" style="display: none;">
                                        슬램덩크가 더 재밌어요
                                    </textarea>
                                    <div class="comment-bottom">
                                        <span class="date">2023.04.23 23:56</span>
                                        <div class="modify-on" style="display: none;">
                                            <button type="button">취소</button>
                                            <button type="button">수정완료</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btn-place">
                    <button class="btn-comment">댓글 더 보기</button>
                    <button class="btn-comment" style="display: none;">댓글 닫기</button>
                </div>
            </div>
            <div class="free-board-other">
                <h4>
                    <em>수다</em>
                    카테고리의 다른글
                </h4>
                <div class="other-list">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="other-story">
                                    <div class="story-info">
                                        <em class="category">수다</em>
                                        <p class="other-title">[4팀 점심메뉴] 네모 오징어</p>
                                        <p class="other-content">여기 볶음밥 맛있데요. 가보신 분??</p>
                                        <p class="info">
                                            <em class="date">23.04.24</em>
                                            <em class="like-count">25</em>
                                        </p>
                                    </div>
                                    <div class="img-wrap">
                                        <img src="../../static/images/free-board/nemo.jpg">
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-place">
                    <button class="btn-category">카테고리 더 보기</button>
                </div>
            </div>
        </div>
        <!-- 댓글 끝 -->
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/js/free-board/free-board-detail.js"></script>
</html>