<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/components/footer.css">
</head>
<body>

<footer  th:fragment="footer" id="footer" class="web-footer inner-utils">
    <div class="footer">
        <div class="footer-container">
            <!-- 정책약관, 개인정보처리방침 바 -->
        </div>
        <div class="footer-container-container">
            <div class="footer-container-inner">
                <section class="footer-container-left-section">
                    <div class="footer-logo-image-wrapper">
                        <a th:href="@{/main}">
                            <img class="footer-logo-image" src="/images/main/images/small-logo.png">
                        </a>
                    </div>
                    <!-- <strong class="footer-container-title">
                        아기자기 고객센터
                    </strong>
                    <div class="footer-container-button-div">
                        <button type="button" class="footer-container-direct-button">
                            인사말
                            <i class="icon chevron-right" aria-hidden="true"></i>
                        </button>
                        <a href="https://helpcenter.wadiz.kr/hc/ko/requests/new" class="footer-container-direct-button" target="_blank" rel="noreferrer">
                            공지사항
                            <i class="icon chevron-right" aria-hidden="true"></i>
                        </a>
                        <a href="https://helpcenter.wadiz.kr/hc/ko" class="footer-container-direct-button footer-container-center-button" target="_blank" rel="noreferrer">
                            자주 묻는 질문 바로가기
                            <i class="icon chevron-right" aria-hidden="true">
                            </i>
                        </a>
                    </div>
                    <dl class="footer-container-enable-time">
                        <dt>상담 가능 시간</dt>
                        <dd>평일 오전 9시 ~ 오후 6시 (주말, 공휴일 제외)</dd>
                    </dl> -->
                </section>
                <section class="footer-container-right-section">
                    <address>
                        <ul class="footer-info-ul">
                            <li>아기자기</li>
                            <li>대표이사 김동한</li>
                            <li>대표번호 010-2002-4879</li>
                            <li>서울특별시 강남구 테헤란로 146</li>
                        </ul>
                        <div class="footer-contactinfo-wrap">
                            <ul class="footer-info-ul footer-contact-info">
                                <li>
                                    <a href="" target="" rel="noreferrer">이메일 상담 info@baby.kr</a>
                                </li>
                                <li>
                                    유선 상담
                                    <a href="tel:1661-9056">1234-1234</a>
                                </li>
                            </ul>
                            <span class='footer-info-copyright'>© baby Co., Ltd.</span>
                        </div>
                    </address>
                    <div class="footer-container-info-notice">
                        <p>아기자기는 아이들에게 적극적으로 체험활동을 제공하여 아이들과 부모님들의 행복한 미소를 지켜나갑니다.</p>
                    </div>
                    <div class="footer-container-appstore-section">
                        <a href="https://play.google.com/store/apps/details?id=com.markmount.wadiz&pli=1" target="_blank" class="icon-google-play" rel="noopener noreferrer">
                            Android앱
                        </a>
                        <a href="https://apps.apple.com/kr/app/wadijeu/id1107828621" target="_blank"  class="icon-apple" rel="noopener noreferrer">
                            iOS앱
                        </a>
                    </div>
                </section>
            </div>
        </div>
        <div class="externals">
            <div class="externals-wrap">
                <ul>
                    <li>
                            <span title="카카오톡 옐로아이디">
                                <i class="icon-kakao" aria-hidden="true"></i>
                            </span>
                        <ul>
                            <li>
                                <a href="http://pf.kakao.com/_MGxgmxl" target="_blank" rel="noopener noreferrer">투자</a>
                            </li>
                            <li>
                                <a href="http://pf.kakao.com/_pEeEl" target="_blank" rel="noopener noreferrer">펀딩</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                            <span title="페이스북">
                                <i class="icon-facebook" aria-hidden="true"></i>
                            </span>
                        <ul>
                            <li>
                                <a href="https://www.wadiz.kr/link/fb_invest" target="_blank" rel="noopener noreferrer">투자</a>
                            </li>
                            <li>
                                <a href="https://www.wadiz.kr/link/fb_reward" target="_blank" rel="noopener noreferrer">펀딩</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="https://brunch.co.kr/@wadiz" target="_blank" title="브런치" rel="noopener noreferrer">
                            <i class="icon-brunch" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/wadiz_official/" target="_blank" title="인스타그램" rel="noopener noreferrer">
                            <i class="icon-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.naver.com/wadiz_crowdfunding" target="_blank" title="네이버 블로그" rel="noopener noreferrer">
                            <i class="icon-naver-blog" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCF1_fHSt6Efemgy5wToafNw/featured" target="_blank" title="유튜브" rel="noopener noreferrer">
                            <i class="icon-youtube-play" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>