<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/components/header.css">
    <title>header</title>
</head>
<body>
    <header>
        <div class="web-header">
            <div class="web-header-large">
                <header class="header-wrapper">
                    <div class="header-container">
                        <ul class="header-menu-category-ul">
                            <li class="header-menu-category-li"><a
                                class="header-menu-category-a" href="/templates/main/main.html">
                                    <h1 class="wadiz-logo">
                                        <span>아기자기</span>
                                    </h1>
                            </a></li>
                            <li class="header-menu-category-li"><a
                                class="header-menu-category-a" href="">
                                    <span>사업소개</span>
                            </a></li>
                            <li class="header-menu-category-li"><a
                                class="header-menu-category-a" href=""> <span>오픈예정</span>
                            </a></li>
                            <li class="header-menu-category-li"><a
                                class="header-menu-category-a" href=""> <span>홍보하기</span>
                            </a></li>
                            <li class="header-menu-category-li"><a
                                class="header-menu-category-a" href=""> <span>고객센터</span>
                            </a></li>
                        </ul>
                        <div class="web-header-utils">
                            <div class="header-user-div">
                                <div class="header-user-container">
                                    <div class="alarm-wrapper">
                                        <button type="button" class="alarm-modal-btn">
                                            <div class="new-alarm"></div>
                                            <div class="alarm-image-wrapper">
                                                <img class="alarm-image" src="../../static/css/components/images/alarm.png">
                                            </div>
                                        </button>
                                    </div>
                                    <div class="profile-wrapper">
                                        <a href="" class="profile-link">
                                            <div class="profile-image-wrapper">
                                                <img class="profile-image" src="../../static/css/components/images/profile-image.png">
                                            </div>
                                        </a>
                                    </div>

                                    <a href="" class="header-user-button">로그인</a>
                                    <a href="" data-event="iam.signup" class="header-user-button">회원가입</a>
                                </div>
                            </div>
                            <div class="web-header-funding-open funding-open">
                                <div>
                                    <div>
                                        <button aria-label="기부 참여하기" class="header-make-button header-make-button2 header-make-button3 funding-open-button" type="button">
                                            <span> 
                                                <span class="header-make-project-span">
                                                    프로젝트 만들기
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </header>
</body>
</html>