<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../static/css/member/dodam-header.css">
</head>
<body>
    <div class="login-header">
        <div class="web-header">
            <div class="web-header-large">
                <header class="header-wrapper web-header-simple">
                    <div class="header-container">
                        <h1 class="dodam-logo">
                            <a href="#">
                                <span class="label">도담도담</span>
                                <img class="icon-logo" src="../../static/images/components/favicon.png">
                                <img src="../../static/images/components/dodamdodam-logo.png">
                            </a>
                        </h1>
                        <ul class="header-right">
                            <li class="login">
                                <a href="#" class="item">
                                    <span>로그인</span>
                                </a>
                            </li>
                            <li class="join">
                                <a href="#" class="item">
                                    <span>회원가입</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </header>
            </div>
        </div>
    </div>
</body>
</html>