<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../static/css/member/find-password.css">
    <link rel="stylesheet" href="../../static/css/member/dodam-header.css">
</head>
<body>
    <!-- header 시작 -->
    <div class="login-header">
        <div class="web-header">
            <div class="web-header-large">
                <header class="header-wrapper web-header-simple">
                    <div class="header-container">
                        <h1 class="dodam-logo">
                            <a href="#">
                                <span class="label">도담도담</span>
                                <img class="icon-logo" src="../../static/images/components/favicon.png">
                                <img src="../../static/images/components/dodamdodam-logo.png">
                            </a>
                        </h1>
                        <ul class="header-right">
                            <li class="login">
                                <a href="#" class="item">
                                    <span>로그인</span>
                                </a>
                            </li>
                            <li class="join">
                                <a href="#" class="item">
                                    <span>회원가입</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <!-- header 끝 -->
    <div class="account-find">
        <div class="page-header">
            <h2 class="find-title">아이디∙비밀번호 찾기</h2>
            <div class="tab-list">
                <ul>
                    <li>
                        <a href="#">아이디 찾기</a>
                    </li>
                    <li class="active">
                        <a href="#">비밀번호 찾기</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-body">
            <div class="common password-check">
                <p class="check-text">
                    가입하셨던 이메일 계정을 입력하시면,
                    <br>
                    비밀번호를 새로 만들 수 있는 링크를 이메일로
                    <br>
                    발송해드립니다.
                </p>
                <form class="form-email" id="form-findId" onsubmit="checkEmail(); return false;">
                    <div class="label-hidden field">
                        <label class="text-hidden" for="userName">이메일 주소</label>
                        <div class="input-email">
                            <input id="userName" class="input-text" type="email" name="userName" value="" placeholder="이메일 계정" onkeydown="hitEnterkey(event);">
                        </div>
                    </div>
                    <p class="helper error">이메일 형식이 올바르지 않습니다.</p>
                    <p class="helper error">도담도담에 등록되어 있지 않은 계정입니다.</p>
                    <button id="" class="primary block button" type="button" onclick="showModal()">
                        링크 발송
                    </button>
                    <button id="" class="block button" type="button" onclick="showModal()" style="display: none;">
                        링크 재 발송
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- 모달창 시작 -->
    <div class="modal-whole">
        <div class="modal-wrap element">
            <div class="modal-container">
                <div class="modal">
                    <div class="modal-box">
                        <div class="modal-title">발송완료</div>
                        <div class="modal-message">
                            <p>작성하신 이메일로 비밀번호를 등록할 수 있는 링크를 발송했으니 이메일을 확인해주세요.</p>
                        </div>
                        <div class="modal-button">
                            <button class="button modal-check">확인</button>
                        </div>
                    </div>
                    <button></button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="modal-whole">
        <div class="modal">
            <div class="modal-header">
                <div class="modal-title">발송완료</div>
                <div class="modal-message">
                    <p>작성하신 이메일로 비밀번호를 등록할 수 있는 링크를 발송했으니 이메일을 확인해주세요.</p>
                </div>
                <div class="modal-button">
                    <button class="button modal-check">확인</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- 모달창 끝 -->
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/js/member/find-password.js"></script>
</html>