<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../static/css/member/find-id-password.css">
    <link rel="stylesheet" href="../../static/css/member/find-password-modal.css">
    <link rel="stylesheet" href="../../static/css/member/member-header.css">
</head>
<body>
      <!-- header 시작 -->
      <div class="login-header">
        <div class="web-header">
            <div class="web-header-large">
                <header class="header-wrapper web-header-simple">
                    <div class="header-container">
                        <h1 class="dodam-logo">
                            <a href="#">
                                <span class="label"></span>
                                <img class="icon-logo" src="../../static/images/member/KakaoTalk_20230501_230826884_01.png">
                            </a>
                        </h1>
                        <ul class="header-right">
                            <li class="login">
                                <a href="#" class="item">
                                    <span>로그인</span>
                                </a>
                            </li>
                            <li class="join">
                                <a href="#" class="item">
                                    <span>회원가입</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <!-- header 끝 -->
    <div class="account-find">
        <div class="page-header">
            <h2 class="find-title">아이디∙비밀번호 찾기</h2>
            <div class="tab-list">
                <ul>
                    <li>
                        <a href="#">아이디 찾기</a>
                    </li>
                    <li class="active">
                        <a href="#">비밀번호 찾기</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-body">
            <div class="common password-check">
                <p class="check-text">
                    가입하셨던 이메일 계정을 입력하시면,
                    <br>
                    비밀번호 변경 페이지로 이동 됩니다
                    <br>
                </p>
                <form class="form-email" id="form-findId" onsubmit="checkEmail(); return false;">
                    <div class="label-hidden field">
                        <label class="text-hidden" for="userName">이메일 주소</label>
                        <div class="input-email">
                            <input id="userName" class="input-text" type="email" name="userName" value="" placeholder="이메일 계정" onkeydown="hitEnterkey(event);">
                        </div>
                    </div>
                    <p class="helper error">아기자기에 등록되어 있지 않은 계정입니다.</p> 
                    <button id="" class="primary block button" type="button">
                        비밀번호 변경하러 가기
                    </button>
                </form>
            </div>
        </div>
    </div>
      
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/js/member/find-password.js"></script>

</html>