<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../static/css/member/join.css">
</head>
<body>
    <!-- header 시작 -->
    <!-- header 끝 -->
    <div id="page-container">
        <main id="iam-account-app">
            <!-- SNS 로그인 버튼 시작 -->
            <div class="account-container">
                <h2 class="account-title">간편가입</h2>
                <div class="first-benefit">
                    <div class="first-benefit-content">
                        <span class="first-benefit-gift-icon"></span>
                        <span class="first-benefit-gift-text">카카오와 네이버로 간편한 <strong>로그인</strong></span>
                    </div>
                </div>
                <div>
                    <!-- kakao 로그인 시작 -->
                    <button class="kakaobutton">
                        <span>
                            <span class="Button_children__weH0H">
                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon__1YH1P SNSButtonList_kakaoIcon__1s6gw" aria-hidden="true">
                                    <path d="M16 4.64c-6.96 0-12.64 4.48-12.64 10.08 0 3.52 2.32 6.64 5.76 8.48l-.96 4.96 5.44-3.6 2.4.16c6.96 0 12.64-4.48 12.64-10.08S22.96 4.56 16 4.64z"></path>
                                </svg>
                                카카오로 시작하기
                            </span>
                        </span>
                    </button>
                    <!-- kakao 로그인 끝-->
                    <!-- naver 로그인 시작-->
                    <button class="naverbutton" type="button">
                        <span>
                            <span class="Button_children__weH0H">
                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon__1YH1P SNSButtonList_naverIcon__3TjPM" aria-hidden="true">
                                    <path d="M19.52 5.76v10.32L12.48 5.76H4.8v20.48h7.68V15.92l7.12 10.32h7.6V5.76z"></path>
                                </svg>
                                <b>네이버로 시작하기</b>
                            </span>
                        </span>
                    </button>
                    <!-- naver 로그인 끝-->
                    <!-- google, facebook, apple 로그인 버튼 시작 -->
                    <!-- <div class="snsbuttoncircle">
                        <button id="google">
                            <span class="google">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">s
                                    <defs>
                                        <path id="a" d="M0 0h348v46H0z"></path>
                                    </defs>
                                    <g fill="none" fill-rule="evenodd">
                                        <g transform="translate(-16 -13)">
                                            <use></use>
                                            <path stroke="#DADCE0" d="M-.5-.5h349v47H-.5z"></path>
                                        </g>
                                        <path fill="#4285F4"
                                            d="M18.64 10.205c0-.639-.057-1.252-.164-1.841H10v3.481h4.844a4.14 4.14 0 0 1-1.796 2.716v2.259h2.908c1.702-1.567 2.684-3.875 2.684-6.615z">
                                        </path>
                                        <path fill="#34A853"
                                            d="M10 19c2.43 0 4.467-.806 5.956-2.18l-2.908-2.259c-.806.54-1.837.86-3.048.86-2.344 0-4.328-1.584-5.036-3.711H1.957v2.332A8.997 8.997 0 0 0 10 19z">
                                        </path>
                                        <path fill="#FBBC05"
                                            d="M4.964 11.71A5.41 5.41 0 0 1 4.682 10c0-.593.102-1.17.282-1.71V5.958H1.957A8.996 8.996 0 0 0 1 10c0 1.452.348 2.827.957 4.042l3.007-2.332z">
                                        </path>
                                        <path fill="#EA4335"
                                            d="M10 4.58c1.321 0 2.508.454 3.44 1.345l2.582-2.58C14.463 1.891 12.426 1 10 1a8.997 8.997 0 0 0-8.043 4.958L4.964 8.29C5.672 6.163 7.656 4.58 10 4.58z">
                                        </path>
                                        <path d="M0 0h20v20H0z"></path>
                                    </g>
                                </svg>
                            </span>
                        </button>
                        <button id="facebook">
                            <span class="facebook">
                                <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="withIcon_icon__1YH1P" aria-hidden="true">
                                    <path d="M14.4 19.547h5.673v-5.256a8.559 8.559 0 0 1 2.4-6.132c2.618-2.628 6.109-2.3 11.127-1.861v5.913h-3.71a3.374 3.374 0 0 0-2.29.766 3.514 3.514 0 0 0-.655 2.3v4.27h6.437l-.873 6.57h-5.564V43.2h-6.872V26.118H14.4v-6.57z"></path>
                                </svg>
                            </span>
                        </button>
                        <button id="apple">
                            <span class="apple">
                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon__1YH1P" aria-hidden="true">
                                    <path d="M24.96 26c-1.12 1.68-2.32 3.28-4.08 3.28s-2.32-1.04-4.4-1.04-2.64 1.04-4.4 1.12S9.04 27.6 7.92 26c-2.32-3.28-4-9.36-1.68-13.44 1.098-1.973 3.148-3.299 5.512-3.36 1.688 0 3.368 1.12 4.408 1.12s3.04-1.44 5.12-1.2a6.157 6.157 0 0 1 4.867 2.62c-1.691 1.087-2.82 2.936-2.867 5.053a5.926 5.926 0 0 0 3.562 5.352 13.472 13.472 0 0 1-1.913 3.901zm-7.6-21.36a6.072 6.072 0 0 1 3.894-1.998c.038.139.045.303.045.469 0 1.44-.521 2.759-1.386 3.777A4.871 4.871 0 0 1 16.04 8.8h-.042a6.886 6.886 0 0 1-.016-.451 5.66 5.66 0 0 1 1.384-3.716z"></path>
                                </svg>
                            </span>
                        </button>
                    </div> -->
                    <!-- google, facebook, apple 로그인 버튼 끝 -->
                </div>
            </div>
            <!-- SNS 로그인 버튼 끝 -->
            <div class="signup-intro"> </div>
            <div class="account-container-email">
                <h3 class="signup-intro-email">이메일 간편가입</h3>
                <!-- 회원가입 정보 입력 폼 -->
                <form action="" name="joinForm" method="post">
               		 <div class="email-signup-form-container">
                        <div class="email-field-container">
                            <label class="EmailAuthField">아이디</label>
                            <div class="email-field-input-continer">
                                <div class="EmailAuthField_inputField">
                                    <input name="userIdentification" placeholder="아이디 입력(이메일)" type="text" class="email-field id_confirm" id="identification-input">
                                 	<!-- <div class="check_font" id="id_check"></div> -->
                                 	<span id="id_ok" style="color:green; display:none; font-size:13px;">사용 가능한 아이디입니다.</span>
                                 	<span id="id_already" style="color:red; display:none; font-size:13px;">중복된 아이디입니다!</span>
                                    
                                </div>
                            </div><!-- email-field-input-continer -->
                            <em class="identification-error error-message">아이디를 입력해주세요.</em>
                        </div><!-- email-field -->
                        <!-- 한줄 복사 -->
                        <div class="password-field">
                            <label>비밀번호</label><!-- 비밀번호 -->
                            <div class="password-field-text">
                                <input name="userPassword" placeholder="비밀번호 입력" type="password" class="input-password-container" id="password-input" aria-invalid="false">
                                <!-- 비밀번호 확인 -->
                                <button aria-label="비밀번호 보기" class="Button_TextField_icon" type="button">
                                    <span class="eye" id="eye1">
                                        <span class="Button_children_pw">
                                            <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="eye-icon" aria-hidden="true">
                                                <path d="M42.48 3.864l2.04 2.04-6.324 6.324-.864.852-.864.876-4.68 4.668-3.072 3.084-7.2 7.2-3.084 3.072-3.804 3.816-.912.912-.912.9-7.02 7.032-2.04-2.04 6.408-6.444a23.868 23.868 0 0 1-9.6-11.652l-.168-.432.156-.42A24.816 24.816 0 0 1 23.868 7.968c4.08.008 8.101.978 11.736 2.832l6.876-6.936zm-1.788 10.308a22.296 22.296 0 0 1 6.516 9.516l.072.444-.144.396c-3.216 9.168-12.816 15.6-23.328 15.6a25.676 25.676 0 0 1-7.872-1.2l5.532-5.532a9.06 9.06 0 0 0 2.4.312 9.6 9.6 0 0 0 9.6-9.6 9.06 9.06 0 0 0-.312-2.4zm-10.776 2.4a9.6 9.6 0 0 0-15.6 7.536l-.048-.036A9.6 9.6 0 0 0 16.332 30l3.12-2.964a5.316 5.316 0 0 1-.876-2.928 5.412 5.412 0 0 1 5.4-5.4c1.04 0 2.059.304 2.928.876z"></path>
                                            </svg>
                                        </span>
                                    </span>
                                </button>
                                <!--  -->
                            </div>
                        </div>
                        <em class="password-error error-message">비밀번호를 입력해주세요.</em>
                        <!-- password 1  -->
                        <div class="recheck-password"><label></label>
                            <div class="TextField_field__1B2AH">
                                <input name="userPassword" placeholder="비밀번호 확인" type="password"
                                    class="re-input-password-container" aria-invalid="false">
                                <button aria-label="비밀번호 보기" class="Button_TextField_icon1" id="eye-wrapper" type="button">
                                    <span class="eye">
                                        <span class="Button_children">
                                            <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="eye-icon1" aria-hidden="true">
                                                <path class="path2" d="M42.48 3.864l2.04 2.04-6.324 6.324-.864.852-.864.876-4.68 4.668-3.072 3.084-7.2 7.2-3.084 3.072-3.804 3.816-.912.912-.912.9-7.02 7.032-2.04-2.04 6.408-6.444a23.868 23.868 0 0 1-9.6-11.652l-.168-.432.156-.42A24.816 24.816 0 0 1 23.868 7.968c4.08.008 8.101.978 11.736 2.832l6.876-6.936zm-1.788 10.308a22.296 22.296 0 0 1 6.516 9.516l.072.444-.144.396c-3.216 9.168-12.816 15.6-23.328 15.6a25.676 25.676 0 0 1-7.872-1.2l5.532-5.532a9.06 9.06 0 0 0 2.4.312 9.6 9.6 0 0 0 9.6-9.6 9.06 9.06 0 0 0-.312-2.4zm-10.776 2.4a9.6 9.6 0 0 0-15.6 7.536l-.048-.036A9.6 9.6 0 0 0 16.332 30l3.12-2.964a5.316 5.316 0 0 1-.876-2.928 5.412 5.412 0 0 1 5.4-5.4c1.04 0 2.059.304 2.928.876z"></path>
                                            </svg>
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <!-- test -->
                        <em class="recheck-password-error error-message">비밀번호가 일치하지 않습니다.</em>
                        
                        <div class="email-field-container" id="nickName-title">
                            <label class="EmailAuthField">닉네임</label>
                            <div class="email-field-input-continer">
                                <div class="EmailAuthField_inputField">
                                    <input name="userNickname" placeholder="닉네임 입력" type="text" class="nickname-field email-field" id="nickname">
                                </div>
                            </div>
                            <em class="nickname-error error-message">최소 2자입니다.</em>
                        </div>
                         <!-- 주소 -->
                        <div class="form-group">
                            <label for="address-btu" class="address-label" onclick="sample6_execDaumPostcode()">주소</label>
                            <div class="address-div" id="" >
                                <input type="text" id="sample6_postcode"  onclick="sample6_execDaumPostcode()" placeholder="우편번호">
                                <input type="button" name="address-btu" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                            </div>
                            <input type="text" id="sample6_address"  onclick="sample6_execDaumPostcode()" placeholder="주소"><br>
                            <input type="text" id="sample6_detailAddress" placeholder="상세주소1">
                            <input type="text" id="sample6_extraAddress" placeholder="상세주소2">
                        </div>
                	</div>
                    <div class="name-field" id="name-name"><label>이름</label>
                        <div class="TextField_field__1B2AH">
                            <input name="userName" placeholder="이름 입력" type="text" class="name-input" id="name-input">
                        </div>
                        <em class="name-error error-message">이름을 입력해주세요.</em>
                    </div>
                    <div class="name-field phone-field" id="phone-name"><label>핸드폰 번호</label>
                        <div class="TextField_field__1B2AH">
                            <input name="userPhone" placeholder="핸드폰 번호 입력" type="text" class="name-input" id="input-phone-number" maxlength="11">
                        </div>
                        <em class="phone-error error-message">핸드폰 번호를 입력해주세요.</em>
                    </div>
                    <section class="Section_contents2">
                        <div style="max-width: 600px;">
                            <div class="Section_header1">
                                <h2 class="Section_title">프로필 사진 등록</h2>
                                <div class="Section_guide"></div>
                            </div>
                            <div class="Section_description">프로필 사진 제출</div>
                            <div class="Section_content">
                                <div class="ImageField">
                                    <div class="ImageField_Form">
                                        <div class="buttonWrapper">
                                            <label class="ImageFileButton">
                                                <button type="button" class="Button_gray" id="photosubmit">
                                                    <i class="icon-camera-o" aria-hidden="true"></i>등록하기
                                                </button>
                                                <div class="Input_right">
                                                    <input type="file" id="image" accept="image/*" onchange="setThumbnail(event);"/>
                                                </div>
                                            </label>
                                            <em class="helper error"></em>
                                            <em class="helper_ImageFormField">2MB 이하의 JPG, JPEG, GIF, PNG 파일</em>
                                            <div id="image_container"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> 
                    <!-- 완료 버튼 -->
                    <button class="signup-submit-button" type="button" onclick="send()"> 
                        <span>
                            <span class="signup-submit-button-text" >완료</span>
                        </span>
                    </button>
                </form>
                <!-- 하단 메세지 -->
                <p class="login-page-link">
                    이미 아기자기 계정이 있나요?
                    <a href="">로그인</a>
                </p>
            </div>
        </main>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="../../static/js/member/join.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
</script>
</html>