<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../static/css/member/password-change.css">
    <link rel="stylesheet" href="../../static/css/member/member-header.css">
</head>
<body>
    <!-- header 시작 -->
    <div class="login-header">
        <div class="web-header">
            <div class="web-header-large">
                <header class="header-wrapper web-header-simple">
                    <div class="header-container">
                        <h1 class="dodam-logo">
                            <a href="#">
                                <span class="label">도담도담</span>
                                <img class="icon-logo" src="../../static/images/member/KakaoTalk_20230501_230826884_01.png">
                            </a>
                        </h1>
                        <ul class="header-right">
                            <li class="login">
                                <a href="#" class="item">
                                    <span>로그인</span>
                                </a>
                            </li>
                            <li class="join">
                                <a href="#" class="item">
                                    <span>회원가입</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <!-- header 끝 -->
    <div class="account-password">
        <div class="container">
            <div class="page-header">
                <h2>비밀번호 재설정</h2>
                <p class="page-header-text">새로 사용하기를 원하는 비밀번호를 입력해 주세요.</p>
            </div>
            <div class="page-body">
                <form action="#" class="password-form">
                    <div class="password">비밀번호</div>
                    <div class="new-password">
                        <input type="password" class="input-text input-password" placeholder="비밀번호 입력">
                        <div class="check-icon">
                            <img src="../../static/images/member/pass.png">
                        </div>
                        <p class="helper-text error-text">영문, 숫자, 특수문자 (!@#$%^&*+=-)를 조합한 8자 이상 입력</p>
                    </div>
                    <div class="password-confirm">
                        <input type="password" class="input-text input-re-password" placeholder="비밀번호 확인">
                        <div class="re-check-icon">
                            <img src="../../static/images/member/pass.png">
                        </div>
                        <p class="helper-text re-error-text">새 비밀번호가 일치하지 않습니다.</p>
                    </div>
                    <div class="btn-confirm">
                        <button type="button" class="password-submit btn-color" onclick="showModal()">완료</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- 모달 시작 -->
        <div class="modal">
            <div class="modal-container">
                <div class="modal-text">
                    <p class="success headline">비밀번호 변경 완료</p>
                    <p class="success-text body-margin">
                        비밀번호 변경이 완료되었습니다.
                        <br>
                        변경된 비밀번호로 다시 로그인해주세요.
                    </p>
                    <button class="close" onclick="closeModal()">
                    </button>
                </div>
                <div class="btn-agree-box">
                    <button class="confirm" onclick="closeModal()">확인</button>
                </div>
            </div>
        </div>
        <!-- 모달 끝 -->
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/js/member/password-change.js"></script>
</html>