<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/parents-yard-board/parents-yard-board-detail.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="/images/logo_favi/favi/favicon.ico">
    <title>부모님마당 - 상세보기</title>
</head>
<body>
<div th:insert="~{/components/header:: header}"></div>

    <div class="parents-yard-board-detail-wrapper">
        <div class="parents-yard-board-detail-top">
            <div class="parents-yard-board-detail-user-profile">
                <img class="parents-yard-board-detail-user-profile-image" th:src="${'/eventFiles/display?fileName=/Member/Profile/' + parentsBoard.memberProfilePath + '/' + parentsBoard.memberProfileUUID + '_' +  parentsBoard.memberProfileOriginalName}">
            </div>
            <span class="parents-yard-board-detail-user-name" th:text="${parentsBoard.memberNickname}"></span>
            <input class="boardId" type="hidden" th:value="${parentsBoard.id}" style="display: none;">
            <input class="category" type="hidden" th:value="${parentsBoard.eventCategory}" style="display: none;">
            <h2 class="event-title"><span>[</span> <span th:attr="data-category=${parentsBoard.eventCategory}">
                <script th:inline="javascript">
                    var category = /*[[${parentsBoard.eventCategory}]]*/ '';
                    var convertedCategory = convertCategory(category);

                    // 한글로 변환된 카테고리 값 적용
                    document.write(convertedCategory);

                    function convertCategory(category) {
                        //    AGRICULTURE, ART, TRADITION, CRAFT, SCIENCE, MUSEUM, SPORTS, ETC
                        let categoryResult;

                        if (category == "AGRICULTURE") {
                            categoryResult = "농촌";
                        } else if (category == "ART") {
                            categoryResult = "예술";
                        } else if (category == "TRADITION") {
                            categoryResult = "전통";
                        } else if (category == "CRAFT") {
                            categoryResult = "공방";
                        } else if (category == "SCIENCE") {
                            categoryResult = "과학";
                        } else if (category == "MUSEUM") {
                            categoryResult = "박물관";
                        } else if (category == "SPORTS") {
                            categoryResult = "스포츠";
                        } else {
                            categoryResult = "기타";
                        }
                        return categoryResult;
                    }
                </script>

            </span>

                <span>]</span><span th:text="${parentsBoard.eventTitle}"></span></h2>
            <h2 class="parents-yard-board-detail-title" th:text="${parentsBoard.parentsBoardTitle}"></h2>
            <div>
                <span class="parents-yard-board-detail-date" th:attr="data-original-date=${parentsBoard.parentsBoardUpdateDate}">
            <script th:inline="javascript">
                let boardId = [[${parentsBoard.id}]];
                var originalDate = /*[[${parentsBoard.parentsBoardUpdateDate}]]*/ '';
                var formattedDate = formatDate(originalDate);

                // 기존 내용을 지우고 포맷팅된 날짜 값을 삽입
                document.write(formattedDate);

                function formatDate(originalDate) {
                    let date = new Date(originalDate);
                    let formattedDate = date.toLocaleDateString("ko-KR", {
                        year: "numeric",
                        month: "2-digit",
                        day: "2-digit"
                    });

                    // 마지막 점 제거
                    formattedDate = formattedDate.replace(/\.$/, "");

                    return formattedDate;
                }
            </script>
        </span>
            </div>
        </div>
        <div class="divide-line"></div>
        <div class="parents-yard-board-detail-content-wrapper">
            <div class="parents-yard-board-detail-content-container">
                <div class="parents-yard-detail-img" th:each="file : ${parentsBoard.parentsBoardFileDTOS}">
                    <img class="detail-img" th:src="'/parentsBoardFiles/display?fileName=ParentsBoard/' + ${file.filePath} + '/' + ${file.fileUUID} + '_' + ${file.fileOriginalName}">
                </div>
                <div class="parents-yard-detail-text">
                    <div class="detail-text" th:text="${parentsBoard.parentsBoardContent}"></div>
                </div>
            </div>

            <!-- 댓글 시작 -->
        <div class="board-detail-bottom">
            <div class="board-comment">
                <div class="comment-box">
                    <div class="message-box">
                        <p>
                            아기자기 서비스의 건전한 운영을 위하여 운영기준 상 문제의 소지가 있거나 게시물에 관련이 없는 악의적인 댓글은 임의로 삭제될 수 있습니다.
                        </p>
                    </div>
                    <br>
                    <p class="comment-count">
<!--                        <em>1</em>개의 댓글이 달려있습니다.-->
                    </p>
                    <div class="main-comment">
                        <textarea class="replyContent" id="" placeholder="댓글을 입력하세요."></textarea>
                        <div class="btn-complete">
                            <button class="btn-color write-reply">댓글달기</button>
                        </div>
                    </div>
                    <div class="comment-list">
<!--                        <ul id="comment-list-detail">-->
<!--                            <li class="top" style="display: list-item;">-->
<!--                                <div class="comment-wrap">-->
<!--                                    <div class="comment-info">-->
<!--                                        <img src="/images/parents-yard-board/parents-yard-board-detail/profile-sample1.jpg">-->
<!--                                        <span class="name">임의택</span>-->
<!--                                        <button class="comment-util" onclick="showList()"></button>-->
<!--                                        <ul class="comment-util-list">-->
<!--                                            <li>-->
<!--                                                <button type="button" class="modify-button">수정</button>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <button>삭제</button>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <p class="comment-content">정말 재밌어 보이네요~ 다음에 저희 아이도 이 체험학습에 보내야겠어요!</p>-->
<!--                                    <textarea id="" class="modify-textarea" style="display: none;">정말 재밌어 보이네요~ 다음에 저희 아이도 이 체험학습에 보내야겠어요!</textarea>-->
<!--                                    <div class="comment-date">-->
<!--                                        2023.04.23 23:56-->
<!--                                    </div>-->
<!--                                    <div class="comment-bottom" style="display:none;">-->
<!--                                        <button type="button" class="modify-cancel">취소</button>-->
<!--                                        <button type="button" class="modify-confirm">수정완료</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                        </ul>-->
                    </div>
                </div>
                <div class="btn-place">
                    <button class="btn-comment comment-open">댓글 더 보기</button>
                </div>
            </div>
            <!--여기가 같은 카테고리 중 최신순-->
            <div class="free-board-other">
                <h4>
                    <em id="categoryElement" th:attr="data-category=${parentsBoard.eventCategory}"></em><span> 카테고리 최신 글</span>
                    <script th:inline="javascript">
                        var category = /*[[${parentsBoard.eventCategory}]]*/ '';
                        var convertedCategory = convertCategory(category);

                        // 한글로 변환된 카테고리 값 적용
                        // document.write(convertedCategory);

                        var categoryElement = document.getElementById('categoryElement');
                        categoryElement.innerText = convertedCategory;
                        categoryElement.style.color = '#00c4c4';
                        function convertCategory(category) {
                            //    AGRICULTURE, ART, TRADITION, CRAFT, SCIENCE, MUSEUM, SPORTS, ETC
                            let categoryResult;

                            if (category == "AGRICULTURE") {
                                categoryResult = "농촌";
                            } else if (category == "ART") {
                                categoryResult = "예술";
                            } else if (category == "TRADITION") {
                                categoryResult = "전통";
                            } else if (category == "CRAFT") {
                                categoryResult = "공방";
                            } else if (category == "SCIENCE") {
                                categoryResult = "과학";
                            } else if (category == "MUSEUM") {
                                categoryResult = "박물관";
                            } else if (category == "SPORTS") {
                                categoryResult = "스포츠";
                            } else {
                                categoryResult = "기타";
                            }
                            return categoryResult;
                        }
                    </script>
<!--                    카테고리의 최신글-->
                </h4>
                <div class="other-list">
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <a>-->
<!--                                <div class="other-story">-->
<!--                                    <div class="story-info">-->
<!--                                        <em class="category" th:text="${category.eventCategory}"></em>-->
<!--                                        <p class="other-title" th:text="${category.parentsBoardTitle}"></p>-->
<!--                                        <p class="other-content" th:text="${category.parentsBoardContent}"></p>-->
<!--                                        <p class="info">-->
<!--                                            <em class="date" th:text="${parentsBoard.parentsBoardRegisterDate}></em>-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                    <div class="img-wrap">-->
<!--                                        <img src="/images/parents-yard-board/parents-yard-board-detail/next-write-thumbnail.png">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">-->
<!--                                <div class="other-story">-->
<!--                                    <div class="story-info">-->
<!--                                        <em class="category">박물관</em>-->
<!--                                        <p class="other-title">Z세대/알파세대의 새로운 놀이터, ‘메타버스’</p>-->
<!--                                        <p class="other-content">실내에서 놀수 있는 새로운 놀이터를 아시나요?</p>-->
<!--                                        <p class="info">-->
<!--                                            <em class="date">23.04.24</em>-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                    <div class="img-wrap">-->
<!--                                        <img src="/images/parents-yard-board/parents-yard-board-detail/next-write-thumbnail.png">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
                </div>
            </div>
        </div>
        <!-- 댓글 끝 -->
        </div>
    </div>
<div th:insert="~{/components/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/parents-yard-board/parents-yard-board-detail.js"></script>
<script src="/js/components/header.js"></script>
<script>
    let sessionId = [[${session.member.id}]]
    console.log("세션아이디: " + sessionId)
</script>
</html>
