<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>부모님마당 글작성</title>
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/parents-yard-board/parents-yard-board-write.css">
    <link rel="shortcut icon" href="/images/logo_favi/favi/favicon.ico">
</head>

<body>
<div th:insert="~{/components/header:: header}"></div>

    <div>
        <div class="wrap">
            <div class="now-kids.container">
                <div class="nav-header-box nav-header-background">
                    <div style="display: flex">
                        <span class="nav-header-span">부모님마당</span>
                        <span class="nav-header-span">작성중</span>
                    </div>
                    <a href="javascript:void(0)" class="profile-box">
                        <span class="profile-name">임종욱</span><span>의</span>
                        <p>부모님마당 글작성</p>
                    </a>
                    <button type="button" class="profile-btn">
                        <span class="profile-span">
                            <span>1</span>
                            <span class="profile-span">번째 글작성</span>
                        </span>
                    </button>
                </div>
                <nav class="side-nav-box">
                    <div class="side-nav-layout"></div>
                    <ul>
                        <li>
                            <div href="javascript:void(0)" class="nav-title-box">
                                부모님마당 작성 순서
                            </div>
                            <ul class="nav-info-ul">
                                <li>
                                    <a href="" class="nav-detail-title">부모님마당 내용 작성</a>
                                </li>
                                <li>
                                    <a href="" class="nav-detail-title thumbnail-title">대표사진 등록</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <form>
                <div class="content-wrap">
                    <section class="content-container">
                        <ol class="content-ol">
                            <li class="content-ol-li">부모님마당</li>
                            <li class="content-ol-li">부모님마당 내용 작성</li>
                            <li class="content-ol-li">대표사진 등록</li>
                        </ol>
                        <div class="content-title">부모님마당 내용 작성</div>
                        <div class="content-sub-title">부모님마당에 등록할 기본정보를 입력해 주세요.</div>
                        <div class="content-box">
                            <section class="content-section">
                                <div class="input-title-box">
                                    <div class="input-title-layout2 field-study-title">
                                        <h2>참여예정 체험학습</h2>
                                    </div>
                                    <div class="input-title-box">
                                        <div class="input-box">
                                            <div class="input-layout">
                                                <input type="text" class="normal-text-input input-size title" maxlength="40"
                                                    placeholder="참여예정 체험학습이 없습니다." value="실내 액티비티 VR체험학습" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="content-section">
                                <div class="input-content-box">
                                    <div class="input-content-layout2">
                                        <h2>체험학습 일정</h2>
                                    </div>
                                    <div class="input-content-box">
                                        <div class="input-box">
                                            <div class="input-layout">
                                                <input class="field-study-date-input" type="text" placeholder="참여예정 체험학습이 없습니다." value="2023-04-28 ~ 2023-05-05" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="reset-btn" type="button">초기화</button>
                                </div>
                            </section>

                            <section class="content-section">
                                <div class="input-title-box">
                                    <div class="input-title-layout2">
                                        <h2 class="class-for-after">카테고리</h2>
                                    </div>
                                    <div class="input-sub-title">
                                        부모님마당의 카테고리를 선택해주세요.
                                    </div>
                                    <div class="input-box">
                                        <div class="select-box">
                                            <div style="position: relative">
                                                <div class="select-layout">
                                                    <div class="select-value-box">
                                                        <div class="select-value select-placeholder">
                                                            선택해주세요.
                                                        </div>
                                                        <input type="text" class="dummy-input" readonly />
                                                    </div>
                                                    <div class="select-icon-box">
                                                        <div class="select-icon-layout">
                                                            <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                                                aria-hidden="true" style="color: rgb(134, 142, 150)">
                                                                <path
                                                                    d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z">
                                                                </path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="select-menu-box">
                                                    <div class="select-menu-layout">
                                                        <div class="select-option">농촌</div>
                                                        <div class="select-option">예술</div>
                                                        <div class="select-option">전통</div>
                                                        <div class="select-option">공방</div>
                                                        <div class="select-option">과학</div>
                                                        <div class="select-option">박물관</div>
                                                        <div class="select-option">스포츠</div>
                                                        <div class="select-option">기타</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="content-section">
                                <div class="input-content-box">
                                    <div class="input-content-layout2">
                                        <h2 class="class-for-after">부모님마당 제목</h2>
                                    </div>
                                    <div class="input-sub-content">
                                        부모님마당에 등록할 제목을 입력해주세요. 
                                    </div>
                                    <div class="input-content-box">
                                        <div class="input-box">
                                            <div class="input-layout">
                                                <input class="parents-yard-title-input" type="text" placeholder="제목을 입력해주세요.">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="content-section">
                                <div class="input-content-box">
                                    <div class="input-content-layout2">
                                        <h2 class="class-for-after">부모님마당 내용</h2>
                                    </div>
                                    <div class="input-sub-content">
                                        부모님마당에 등록할 내용을 입력해주세요.
                                    </div>
                                    <div class="input-content-box">
                                        <div class="input-box">
                                            <div class="input-layout">
                                                <textarea name="text" id="editor"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <button type="button" class="btn confirm-button">
                                <span>다음으로</span>
                            </button>
                        </div>
                    </section>
                </div>
            </form>
        </div>
    </div>
<div th:insert="~{/components/footer:: footer}"></div>

</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/parents-yard-board/parents-yard-board-write.js"></script>
<script src="/js/components/header.js"></script>

<script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
<script>
    ClassicEditor.create( document.querySelector( '#editor' ), {
        ckfinder: {
			uploadUrl : '/css/images/ck-editor-upload'
		},
        language: "ko"
    } );
</script>
<style>
    .ck.ck-editor {
	width: 850px;
    }
    .ck-editor__editable {
        height: 60vh; 
    }

    .ck-content { 
        font-size: 15px;
        padding-right: 16px;
        padding-left: 16px;
    }
</style>
</html>