@charset "UTF-8";
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}



.parents-yard-board-wrapper{
    margin: 80px auto 120px;
    width: 880px;
}

.parents-yard-board-top{
    position: relative;
    margin-bottom: 16px;
    box-shadow: inset 0 -1px #0000000f;
    height: 50px;
}

.parents-yard-board-title{
    position: absolute;
    left: 0;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000d6;
    font-size: 21px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

.parents-yard-board-drop-down{
    position: absolute;
    right: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    text-align: center;
}

.status-filter{
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

.filter-select-box{
    outline: 0;
    background-color: #fff;
    padding: 0 20px 0 0;
    width: 100%;
    height: 100%;
    line-height: inherit;
    color: #000000de;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding-left: 10px;
}

.drop-down-image-wrapper{
    position: absolute;
    right: 2px;
    top: 2px;
    width: 17px;
    height: 15px;
}

.drop-down-image{
    width: 100%;
    height: 100%;
}

.parents-yard-board-item-link{
    text-decoration: none;
}

.parents-yard-board-item-wrapper{
    border-bottom: 1px solid #f2f4f6;
    padding: 16px 0;
    text-align: left;
    box-sizing: border-box;
    vertical-align: baseline;
    font: inherit;
    cursor: pointer;
}

.category{
    display: inline-block;
    margin-bottom: 8px;
    line-height: 1.67;
    color: #00c4c4;
    font-size: 12px;
}
.parents-yard-board-item-container{
    position: relative;
    min-height: 92px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    letter-spacing: -.02em;
}

.parents-yard-board-item-title{
    display: -webkit-box;
    margin: 0;
    margin-bottom: 8px;
    overflow: hidden;
    line-height: 24px;
    color: #000;
    font-size: 17px;
    font-weight: 700;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
}

.parents-yard-board-item-content{
    display: -webkit-box;
    width: 480px;
    margin: 0;
    margin-bottom: 8px;
    overflow: hidden;
    line-height: 18px;
    white-space: normal;
    color: #868e96;
    font-size: 13px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.parents-yard-board-item-writer{
    line-height: 1.67;
    color: #868e96;
    font-size: 12px;
}

.parents-yard-board-item-bottom-wrapper{
    width: 480px;
    display: flex;
}

.bottom-divide-line{
    margin-left: 2px;
    margin-right: 2px;
}

.parents-yard-board-item-date{
    display: flex;
    text-align: left;
    align-items: center;
    line-height: 1.67;
    color: #868e96;
    font-size: 12px;
}

.parents-yard-board-item-thumbnail-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 3px;
    overflow: hidden;
    text-align: right;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.thumbnail{
    transform: scale(1);
    opacity: 1;
    width: 138px;
    height: 96px;
    display: block;
    background-color: #0000000d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

/* 페이징 */
.paging-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.paging-btn-wrapper{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
}

.paging-btn-prev{
    cursor: pointer;
    width: 34px;
    height: 34px;
    line-height: 34px;
    color: #0000008a;
    font-size: 20px;
    background-color: #fff;
    border: none;
}   

.paging-btn-next{
    cursor: pointer;
    width: 34px;
    height: 34px;
    line-height: 34px;
    color: #0000008a;
    font-size: 20px;
    background-color: #fff;
    border: none;
}

.paging-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.paging-list-item{
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;

}


.paging-list-item-btn{
    width: 34px;
    height: 34px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #0000008a;
    font-size: 15px;
}

.paging-btn-prev-image-wrapper{
    width: 20px;
    height: 20px;
}

.paging-btn-prev-image{
    width: 100%;
    height: 100%;
    margin-bottom: 9px;
}

.paging-btn-next-image-wrapper{
    width: 20px;
    height: 20px;
}

.paging-btn-next-image{
    width: 100%;
    height: 100%;
    margin-bottom: 9px;
}

.active{
    color: #00b2b2;
}

.write-text-wrapper{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.write-text{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    background-color: #00c4c4;
    padding: 5px;
    font-size: 15px;
    color: #fff;
    width: 51px;
}

.star_svg{
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: #00c4c4;
}

.star-score{
    line-height: 1px;
}


.search-form-wrapper{
    display: flex;
    align-items: center;
    width: 400px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

.filter-container{
    position: relative;
    float: left;
    margin-right: 8px;
    border: none;
    height: 48px;
    outline: none;
}

.filter-for-serach{
    border: 1px solid #00c4c4;
    border-color: #00c4c4;
    outline: none;
    border-radius: 4px;
    background-color: #fff;
    padding-right: 20px;
    padding-left: 16px;
    width: 100%;
    height: 100%;
    line-height: 2.82;
    letter-spacing: normal;
    color: #0000008a;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-input-wrapper{
    position: relative;
    height: 48px;
    border: 1px solid #00c4c4;
    padding-left: 10px;
    padding-right: 38px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 282px;
}

.go-search-btn{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 3px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 2px;
}

.search-input{
    height: 45px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 15px;
    color: #0000008a;

}