@charset "UTF-8";
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}


.parents-yard-board-detail-wrapper{
    padding: 0;
    width: 640px;
    margin: 0 auto;
}

.parents-yard-board-detail-top{
    padding-top: 32px;
    padding-bottom: 40px;
    overflow: hidden;
    text-align: center;
}

.parents-yard-board-detail-user-profile{
    margin: 0 auto 16px;
    width: 32px;
    height: 32px;
}

.parents-yard-board-detail-user-profile-image{
    width: 100%;
    height: 100%;
}

.parents-yard-board-detail-user-name{
    display: block;
    margin-bottom: 24px;
    color: #868e96;
    font-size: 12px;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.event-title{
    margin-bottom: 15px;
    line-height: 1.33;
    word-break: normal;
    color:  #99752e;
    font-size: 15px;
    font-weight: 700;
}

.parents-yard-board-detail-title{
    margin-bottom: 24px;
    line-height: 1.33;
    word-break: normal;
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.parents-yard-board-detail-date{
    color: #868e96;
    font-size: 12px;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.category{
    color: #99752e;
    font-size: 12px;
}

.divide-line{
    border-top: 1px solid #F3F4F6;
}

.parents-yard-board-detail-content-container{
    padding: 80px 0 50px;
    line-height: 1.65;
    font-size: 17px;
}

.detail-img {
    width:100%;
}

/* 댓글 */

body {
    font-family: Noto Sans KR !important;
    overflow-y: scroll;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
}

a, address, article, aside, audio, b, body, button, canvas, caption, dd, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, label, legend, li, nav, ol, p, pre, section, small, span, strong, summary, table, tbody, td, th, thead, time, tr, ul, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

article, blockquote, body, dd, div, dl, dt, h1, h2, h3, h4, html, li, main, ol, p, section, table, tbody, td, th, thead, tr, ul {
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, em, div {
    margin: 0;
    padding: 0;
    border: 0;
}


button {
    background: none;
    color: inherit;
    border-radius: 0;
    cursor: pointer;
    font-family: 'Noto Sans KR';
    -webkit-font-smoothing: antialiased;
}

body, body button, body input, body li, body ol, body select, body textarea, body ul {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body, body button, body input, body select, body textarea {
    font-family: Noto Sans KR !important;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body li, body ol, body ul {
    list-style: none;
}

textarea {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}

input, optgroup, select, textarea {
    colorbtn-comment: inherit;
}

a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}

body a {
    color: rgba(0,0,0,.84);
}

button:not(:disabled) {
    cursor: pointer;
}

.main-wrap {
    color: #4a4a4a;
    padding-bottom: 160px;
}

.board-detail {
    width: 100%;
    padding: 30px 0 0;
}

.wcommunity-wrap {
    color: #4a4a4a;
    padding-bottom: 160px;
}

.section1 {
    padding: 0 10px 15px;
}

.detail-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
}

p.board {
    margin-bottom: 10px;
    font-size: 13px;
    color: #006633;
}

em.type {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 6px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    color: #fff;
    background: #006633;
}

p.title {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
}

p.info {
    margin-bottom: 10px;
}

p.info em {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    color: #65696B;
}

.detail-content {
    padding: 20px 0;
    word-break: keep-all;
    color: #212529;
    overflow-wrap: break-word;
}

.detail-content p {
    line-height: 28px;
    letter-spacing: -0.3px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #495057;
}

.detail-content img {
    max-width: 100%;
    vertical-align: top;
    height: 350px;
}

.board-comment {
    padding-bottom: 30px;
}


.comment-box {
    padding: 20px 10px;
    border-top: 1px solid #e4e4e4;
}

.message-box {
    margin-top: 0;
}

.comment-count {
    margin-bottom: 20px;
    font-size: 16px;
}

.comment-count em {
    color: #00c4c4;
}

.main-comment textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #e4e4e4;
    background: #fff;
    box-sizing: border-box !important;
    overflow-y: hidden;
    resize: none;
}

.main-comment .btn-complete {
    text-align: right;
}

/* 댓글 버튼 */
/* .btn-color {
    display: inline-block;
    padding: 0 12px;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    background: #006633;
    color: #fff;
    border: none;
    cursor: pointer;
} */

.btn-color {
    display: inline-block;
    padding: 0 12px;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    background: #fff;
    color: #00c4c4;
    border: 1px solid;
    cursor: pointer;
    font-weight: 600;
}

.comment-list {
    margin-bottom: 15px;
    border-bottom: none;
}

#comment-list-detail > li {
    display: none;
}

.comment-wrap {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #e4e4e4;
}

.comment-info {
    position: relative;
    margin-bottom: 10px;
    height: 35px;
}

.comment-info img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    background: no-repeat center center;
    background-size: cover;
    border-radius: 50%;
}

.comment-wrap .comment-content {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
}

.comment-info .name {
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
}

.comment-date {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
    line-height: 12px;
    color: #929292;
}

.comment-bottom button {
    padding: 0 5px;
    font-size: 12px;
    vertical-align: middle;
    line-height: 12px;
    color: #006633;
    background: none;
    border: none;
}

/* 수정/삭제 */
.comment-util {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    display: inline-block;
    width: 11px;
    height: 9px;
    background: url('https://www.wadiz.kr/resources/static/img/common/icon_grey_open.png') no-repeat 0 0;
    background-size: cover;
    border: none;
    z-index: 9;
}

.comment-util-list {
    display: none;
    position: absolute;
    right: 0;
    top: 10px;
    width: 50px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    background: #fff;
    z-index: 10;
}

.comment-util-list li button {
    display: block;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
}

.comment-wrap textarea {
    overflow-y: hidden;
    resize: none;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #e4e4e4;
    background: #F4F4F4;
    box-sizing: border-box !important;
}

.btn-place {
    text-align: center;
}

button.btn-comment {
    display: inline-block;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #4a4a4a;
    background: transparent;
    border: 1px solid #e4e4e4;
    cursor: pointer;
}

/* 카테고리 별 다른글 */
.free-board-other {
    padding: 30px 0;
    border-top: 1px solid #006633;
}

.free-board-other h4 {
    padding: 0 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.free-board-other h4 em {
    color: #00c4c4;
}

.other-list ul {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.06);
}

.other-story {
    height: 374px;
    border: 1px solid #e4e4e4;
    background: #fff;
    position: relative;
    padding: 10px;
    height: auto;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.06);
}

.story-info {
    height: 114px;
    padding: 15px 12px;
    float: left;
    width: 55%;
    height: auto;
    padding: 10px 0 10px 10px;
}

.story-info em.category {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 5px;
    padding: 0 6px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    font-weight: 400;
    background: none !important;
    color: #90949c !important;
    border: 1px solid #babdc0;
}

p.other-content {
    display: none;
}

p.info em {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    color: #65696B;
}

p.info em.like-count {
    padding-left: 15px;
    background: url('https://www.wadiz.kr/resources/static/img/common/icon_red_heart.png') no-repeat 0 center;
    background-size: 11px 10px;
}

.img-wrap {
    float: right;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
}

.img-wrap img {
    width: 100%;
    height: 110px;
    background: no-repeat center center #ddd;
    background-size: cover;
}

.free-board-other .btn-place {
    padding-top: 30px;
    text-align: center;
}

button.btn-category {
    display: inline-block;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #4a4a4a;
    background: transparent;
    border: 1px solid #e4e4e4;
    cursor: pointer;
}

/* section2 */
.section2 {
    padding: 0 10px;
    margin: 0 auto;
}

/* 작성하기 버튼 */
/* .btn-wrap .btn-write {
    display: block;
    width: 100%;
    padding: 0;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    background: #006633;
    color: #fff;
    border: none;
    text-align: center;
} */

.btn-wrap .btn-write {
    display: block;
    width: 100%;
    padding: 0;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    background: #fff;
    color: #006633;
    border: 1px solid #006633;
    text-align: center;
    font-weight: 600;
}


.best-list {
    position: relative;
    margin-top: 20px;
    padding: 20px 0;
    background: #E3E5E4;
    padding-left: 25px;
    padding-bottom: 1px;
}

.best-list img {
    position: absolute;
    width: 25px;
    height: 25px;
}

.best-list.detail {
    display: none;
}

.best-list h4 {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}

.free-board-other h4 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}

.best-list ol li {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.best-list ol li em {
    display: table-cell;
    padding: 0;
    width: 30px;
    height: 40px;
    font-size: 24px;
    color: #006633;
}

.best-list ol li .title {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
}

.best-list ol li .title a {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.star-wrapper{
    display: flex;
    margin-top: 12px;
    justify-content: center;
}

.review-my-star{
    fill: #00c4c4;
    width: 32px;
    height: 32px;
    margin-right: 2.5px;
}



@media screen and (min-width: 960px){
    .board-detail:after {
        content: "";
        clear: both;
        display: block;
    }

    .board-detail {
        width: 960px;
        margin: 0 auto;
        padding: 50px 0;
    }

    .section1 {
        float: left;
        padding: 0;
        width: 670px;
    }

    .detail-title {
        width: 650px;
        padding: 0;
    }

    .detail-info {
        position: relative;
    }

    .board-detail-bottom {
        width: 960px;
        margin: 0 auto;
    }

    .board-comment {
        width: 650px;
    }

    .free-board-other {
        width: 650px;
    }

    .other-list ul {
        width: 630px;
    }

    .other-story {
        position: relative;
        padding: 0;
        min-height: 160px;
    }

    .story-info {
        position: relative;
        width: 430px;
        height: auto;
        padding: 15px 0 15px 15px;
    }
    
    .story-info em.category {
        display: inline-block;
        margin-bottom: 8px;
        margin-right: 5px;
        padding: 0 6px;
        height: 24px;
        line-height: 24px;
        font-size: 13px;
        color: #fff;
        background: #006633;
    }

    p.other-content {
        display: block;
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 18px;
        color: #7c8288;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
    }
    
    .img-wrap {
        width: 156px;
        height: 108px;
    }

    .img-wrap img {
        width: 100%;
        height: 100%;
        background: no-repeat center center #ddd;
        background-size: cover;
    }

    .section2 {
        float: right;
        width: 290px;
        padding: 0;
        margin: 0;
        padding-left: 19px;
        border-left: 1px solid #e4e4e4;
    }

    .best-list.detail {
        display: block;
    }
}