
table {
    color: #000000b8;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 30px;
    border-color: #1083765c;
    table-layout: fixed;
}

thead {
    /* background-color: var(--main-color); */
    background-color: #fff;
    /* color: #000; */
    color: #000000b8;
}

tbody{
    color: #000000b8;
}

th {
    /* font-size: 20px; */
    font-size: 16px;
    font-family: 'NanumGothicLight';
    font-family: 'NanumGothic';
    font-family: 'NanumGothicBold';
    font-family: 'NanumGothicExtraBold';
    font-weight: bold;
    text-align: left;
    padding: 10px 15px;
    border: 1px solid #cad7d552;
}

th:first-child {
    width: 20px;
    text-align: center;
}

th:nth-child(2) {
    width: 70px;
    /* text-align: center; */
}

tbody tr:hover {
    background-color: red;
    /* background-color: #f5f5f5; */
}

td {
    font-size: 16px;
    padding: 3px 15px;
    /* border: 1px solid #1083765c; */
    border: 1px solid #cad7d552;
    font-family: 'NanumGothicLight';
    font-family: 'NanumGothic';
    font-family: 'NanumGothicBold';
    font-family: 'NanumGothicExtraBold';
    background-color: #fff;
    color: #000000b8;
}

td:first-child {
    text-align: center;
}


.select-all {
    margin-right: 10px;
    cursor: pointer;
}

.select-member {
    /* margin-left: 10px; */
    cursor: pointer;
}

.detail-top{
    width: 120px;
    text-align: center;
}


/* 체크 박스 */
.checkbox-wrapper-21 .control {
    display: block;
    position: relative;
    /* padding-left: 30px; */
    cursor: pointer;
    font-size: 18px;
}
.checkbox-wrapper-21 .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox-wrapper-21 .control__indicator {
    position: relative;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 10%;
    border: 1px solid #00000063;
    /* border: 1px solid var(--main-color); */
}
.checkbox-wrapper-21 .control:hover input ~ .control__indicator,
.checkbox-wrapper-21 .control input:focus ~ .control__indicator {
    /* background: #ccc; */
    background: #1083761a;
}
.checkbox-wrapper-21 .control input:checked ~ .control__indicator {
    background: var(--main-color);
    border: 1px solid #fff;
    /* background: #2aa1c0; */
}
.checkbox-wrapper-21 .control:hover input:not([disabled]):checked ~ .control__indicator,
.checkbox-wrapper-21 .control input:checked:focus ~ .control__indicator {
    background: var(--main-color);
    /* background: #0e647d; */
}
.checkbox-wrapper-21 .control input:disabled ~ .control__indicator {
    /* background: #e6e6e6; */
    background: var(--main-color);
    opacity: 0.6;
    pointer-events: none;
}
.checkbox-wrapper-21 .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.checkbox-wrapper-21 .control input:checked ~ .control__indicator:after {
    display: block;
}
.checkbox-wrapper-21 .control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.checkbox-wrapper-21 .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}


/* 상세보기 버튼 */
/* .show-detail {
    background-color: #9bd8d0fc;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #474747;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 7px 0;
    max-width: none;
    min-height: 30px;
    height: 35px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
} */

.show-detail {
    width: 120px;
    background-color: #fff;
    color: #000000b8;
    /* margin-top: 22px; */
    text-align: center;
    border-radius: 5px;
    position: relative;
    /* right: 20px; */
    align-items: center;
    font-size: 15px;
    line-height: 18px;
    padding: 9px 0;
    border: 1px solid #00000029;
    font-family: TheJamsil5Bold;
    box-shadow: rgba(0, 0, 0, 0.15) 0.95px 0.95px 1.6px;
    cursor: pointer;
    margin: 7px 0;
    min-height: 30px;
    height: 35px;
}

.show-detail:hover{
    opacity: .75;
}
/* 상세보기 버튼 */

/* 페이징 */
.pages-wrapper{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    font-family: 'TheJamsil5Bold';
    font-weight: bold;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.page{
    margin: 2px 5px;
    /* color: #87232378; */
    color: #00000078;
    cursor: pointer;
}

.active{
    color: #00000078;
    font-size: 18px;
    color: #000;
    bottom: 2px;
    position: relative;
}

.arrow-left {
    background-image: url(../../images/admin/left-arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    /* margin-top: 2.5px; */
    cursor: pointer;
}

.arrow-right {
    background-image: url(../../images/admin/right-arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    /* margin-top: 2.5px; */
    cursor: pointer;
}

/* 페이징 */


/* 모달 */
.modal-whole {
    font-family: 'TheJamsil5Bold';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* display: flex; */
    display: none;
}

.modal {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    height: 300px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    font-size: 30px;
    cursor: pointer;
    /* display: none; */
}

.modal-title{
    margin-left: 10px;
}

.modal-body {
    margin-top: 20px;
}

.member-profile {
    display: flex;
}

.profile-image {
    width: 180px;
    height: 180px;
    margin-right: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-info {
    display: flex;
    flex-direction: column;
}

.info-row {
    display: flex;
    margin-bottom: 14px;
}

.info-label {
    font-weight: bold;
    margin-right: 10px;
    width: 100px;
}

.badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.gold {
    background-color: gold;
    color: white;
}

/* 모달 */