@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;600;700;900&display=swap');

html{
    --scrollbar-width: 0;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR';
}

body{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    overflow-y: scroll;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

#page-container{
    transform-origin: 50% 0;
    transition-property: opacity,transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

#main-app{
    display: block;
    font-family: inherit;
}

.main-wrapper-content{
    transition: padding-top .25s;
}

.culture-space-container{
    text-align: center;
    word-break: keep-all;
    word-wrap: break-word;
}

.culture-inner{
    margin: 0px auto;
    padding: 80px 16px;
    box-sizing: content-box;
    max-width: 900px;
}

.culture-space-title{
    margin-bottom: 24px;
    text-align: center;
    word-break: keep-all;
    word-wrap: break-word;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.culture-space-content{
    margin-bottom: 32px;
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 700;
    display: block;
}

.culture-space-content:before {
    display: block;
    margin: 0 auto 8px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 40px;
    content: "";
}

.background{
    opacity: 0.2;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.culture-space-instance{
    margin-right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* margin: 0; */
    flex-wrap: wrap;
    justify-content: center;
}
.instance{
    display: -webkit-inline-box;
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.space-name{
    position: absolute;
    top: 13%;
    left: 3%;
    text-align: center;
    font-size: 24px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
}

.mouseover{
    position: absolute;
    font-size: 14px;
    top: 83%;
    left: 3%;
}

.photo-img{
    width: 100px;
    height: 80px;
}

.space-info{
    position: absolute;
    top: 35%;
    left: 6%;
}

.space-text-info{
    display: inline-block;
    text-align: left;
    margin-left: 20px;
    left:0%;
    font-size:12px;
}


.arrow-button{
    cursor: pointer;
    position: absolute;
    top: 25%;
    z-index: 9999;
}


.left-arrow-class{
    position: relative !important;
}

.prev{
    opacity: 0.5;
    cursor: pointer;
    z-index:9999;
    position: absolute;
    top: 42%;
    left:0%;
}

.next{
    margin-left: 270px;
    top: 35%;
    z-index:9999;
    display: none;
}

.img{
    position: absolute;
    opacity: 0;
}


.img:first-child {
    /* display: block; */
    opacity: 1;
}

ul.lecture-type-buttons {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    cursor: pointer;
}