@charset "UTF-8";
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}


.parents-yard-board-detail-wrapper{
    padding: 0;
    width: 640px;
    margin: 0 auto;
}

.parents-yard-board-detail-top{
    padding-top: 32px;
    padding-bottom: 40px;
    overflow: hidden;
    text-align: center;
}

.parents-yard-board-detail-user-profile{
    margin: 0 auto 16px;
    width: 32px;
    height: 32px;
}

.parents-yard-board-detail-user-profile-image{
    width: 100%;
    height: 100%;
}

.parents-yard-board-detail-user-name{
    display: block;
    margin-bottom: 24px;
    color: #868e96;
    font-size: 12px;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.parents-yard-board-detail-title{
    margin-bottom: 24px;
    line-height: 1.33;
    word-break: normal;
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.parents-yard-board-detail-date{
    color: #868e96;
    font-size: 12px;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.category{
    color: #99752e;
    font-size: 12px;
}

.divide-line{
    border-top: 1px solid #F3F4F6;
}

.parents-yard-board-detail-content-container{
    padding: 80px 0 50px;
    width: 100%;
    line-height: 1.65;
    font-size: 17px;
}

.reply-box{
    margin-top: 80px;
    margin-bottom: 80px;
}

.reply-box-title{
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 16px;
    line-height: 1.33;
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f4f6;
}

.reply-box-content-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f2f4f6;
    padding: 16px 0;
    text-align: left;
    border-radius: 3px;
    background-color: #f5f7fa;
    height: 80px;
    margin-top: -1px;
    border-top: 1px solid rgba(206, 201, 201, 0.879);
    border-bottom: 1px solid rgba(206, 201, 201, 0.879);
}

.reply-content-user-profile-image-wrapper{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.reply-content-user-profile-image{
    width: 100%;
    height: 100%;
}

.name-reply-content-user-name{
    display: flex;
    align-items: center;
    margin: 0;
}

.name-reply-content-text{
    color:#868e96;
    font-size: 15px;
}

.upload-date{
    font-size: 12px;
    color: #868e96;;
    margin-left: 8px;
}

.reply-box-to-list{
    font-size: 15px;
    cursor: pointer;
}

.reply-box-write-container{
    display: flex;
    margin-top: 50px;
}

.write-form{
    outline: none;
    width: 570px;
    border: none;
    border-bottom: 2px solid #868e96;
}

.send-btn-wrapper{
    display: flex;
    margin-top: 25px;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 19px;
}

.send-write{
    width: 50px;
    height: 30px;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
}

.send-write:hover{
    background-color: #00c4c4;
    color: white;
    border: none;
}

.delete-write{
    width: 50px;
    height: 30px;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
}

.delete-write:hover{
    background-color: #00c4c4;
    color: white;
    border: none;
}