@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OAGothic-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

/* 스크롤 없애기 */
/* ::-webkit-scrollbar {
    display: none;
} */
/* 스크롤 없애기 */


:root{
    /* --main-color: #000; */
    /* --main-color: #666666; */
    /* --main-color: #4169E1; */
    /* --main-color: #0f0f0fe7; */
    /* --main-color: #526499cc; */
    /* --main-color: #a7aab4cc;
    --main-color: #212945cc;
    --main-color: #1a348b9e;
    --main-color: #2C3E50; */
    --main-color: #1083765c;
    /* --main-color: #F7CAC9; */
    /* --main-color: #2980B9; */
    /* --main-color: #363b3e; */
    /* --main-color: #2a2b32; */
    /* --main-color: #333333; */
}


html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    /* font-family: "TheJamsil5Bold"; */
    /* font-family: 'OAGothic-ExtraBold'; */
    /* font-family: 'KOTRA_BOLD-Bold'; */
    /* font-family: NotoSansKR; */
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
    position: relative;
    width: 100%;
    height: 100%;

}

header{
    /* background-color: var(--main-color); */
    background-color: #fff;
    width: 100%;
    height: 70px;
    color: #1083765c;
    /* color: #fff; */
    position: relative;
    font-size: 18px;
    display: flex;
    font-family: 'KOTRA_BOLD-Bold';
    font-weight: 400;
    border-bottom: 1px solid #1083765c;
}

.logo-wrapper{
    /* left: 30px; */
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 25px;
    padding-left: 40px;
    text-align: center;
    padding-right: 60px;
    margin: 0;
    /* border-bottom: 0.3px solid white; */
    width: 150px;
}

nav{
    background-color: #fff;
    /* 헤더 70px + border 1px */
    height: calc(100vh - 71px);
    width: 250px;
    /* border-right: 1px solid var(--main-color); */
}

.time-wrapper{
    position: absolute;
    right: 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

li{
    margin-top: 10px;
    margin-bottom: 10px;
}

main{
    /* 헤더 70px + border 1px */
    height: calc(100vh - 71px);
    width: 100%;
    display: flex;
}


.menu-bar{
    padding-top: 20px;
}

.menus{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    height: fit-content;
    /* font-family: 'KOTRA_BOLD-Bold'; */
    font-family: 'TheJamsil5Bold';
    font-size: 17px;
    color: #474747;
    /* background-color: var(--main-color); */
    padding-left: 40px;
    text-align: left;
    height: 40px;
}

content{
    width: 100%;
    height: 100%;
    /* background: #10837614; */
    background: #1083761c;

}

.inner-wrapper{
    width: calc(100% - 80px);
    height: calc(100% - 114px);
    /* background-color: beige; */
    margin: 40px;
    margin-top: 20px;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    position: relative;
    background-color: #fff;
}

.page-title{
    width: fit-content;
    /* width: calc(100%-30px); */
    font-size: 25px;
    /* background-color: aqua; */
    font-family: "TheJamsil5Bold";
    /* font-family: 'OAGothic-ExtraBold'; */
    /* font-family: 'KOTRA_BOLD-Bold'; */
    padding-top: 22px;
    height: 30px;
    margin-left: 30px;
    color: #000000b8;
}

.title-wrapper{
    display: flex;
    justify-content: space-between;
}

.delete-button{
    width: 120px;
    background-color: #fff;
    color: #000000b8;
    margin-top: 22px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    right: 20px;
    align-items: center;
    font-size: 18px;
    line-height: 18px;
    padding: 9px 0;
    border: 1px solid #00000029;
    font-family: TheJamsil5Bold;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

/* searchBox */

.module--search {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.search__searchbox {
    display: flex;
    align-items: center;
    width: 100%;
}

.search__searchbox__form {
    position: relative;
    display: flex;
    width: 100%;
}

#searchbox {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-left: 2em;
    font-size: 16px;
    line-height: 3em;
    background-color: #fff;
    color: #434343;
    border-radius: 16px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    border: 1.5px solid #1083765c;
}


.search__searchbox__button {
    position: absolute;
    top: 1.0em;
    right: 6%;
    width: 2em;
    height: 2em;
    /* border-radius: 50%; */
    cursor: pointer;
    border: 0;
    background-color: #fff;
    /* background-color: aquamarine; */
}

.search__searchbox__button > img {
    height: 100%;
}
/* searchBox */

::placeholder{
    /* font-family: "TheJamsil5Bold"; */
    /* font-family: 'Black Han Sans', sans-serif; */
    font-weight: bold;
    /* font-family: 'OAGothic-ExtraBold'; */
    /* font-family: 'KOTRA_BOLD-Bold'; */
    color: #8282827e;
}
