.profile-img-wrapper {
    display: flex;
    width: 765px;
    height: 175px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow-x: scroll;
}

.user-modal-shape{
    width: 820px;
    height: 848px;
    top: 3%;
    left: 29%;
}

.event-status.process{
    color: green;
}

.event-status.hold{
    color: red;
}

.event-status.end{
    color: black;
}

.content-div{
    height: 200px;
}

.review-content{
    height: 85%;
    width: 100%;
    padding: 0px 20px;
    border: none;
    resize: none;
    color: #777777;
    font-family: inherit;
}

textarea:focus {
    outline: none;
}

.content-list .content-input{
    display: flex;
    flex: 1;
    align-items: center;
    padding: 12px 0;
    margin: 12px 12px 12px 0px;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.reply-content{
    font-weight: 300;
    max-width: 200px;
    overflow: visible;
    white-space: normal;
    line-height: 30px;
}