.user-modal-shape {
    position: absolute;
    left: 37%;
    top: 3%;
    height: 92%;
}

.status.accepted,
.status-btn.accepted.active{
    color: green;
}
.status.waiting,
.status-btn.hold.active{
    color: red;
}
.field.abled,
.status-btn.accepted.end.active{
    color: black;
}
.field.disabled{
    color:blueviolet;
}

.board-info-title-box div{
    display: flex;
    justify-content: space-between;
}

.category-abled,
.category-disabled,
.category-entire,
.delete-button,
.status-btn{
    font-family: 'GmarketSansMedium';
    border: none;
    width: fit-content;
    height: 20px;
    margin: 0 7px;
    background-color: #fff;
    border-radius: 3px;
    font-weight: bold;
    line-height: 24px;
}


.category-abled:hover,
.category-disabled:hover,
.category-entire:hover,
.delete-button:hover,
.status-btn:hover,
.category-abled.active,
.category-disabled.active,
.category-entire.active{
    color: #c97793;
}

.content-list p,
.content-list a{
    display: flex;
    flex: 1;
    align-items: center;
    padding: 12px 0;
    margin: 12px 12px 12px 0px;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}


.guide-file{
    border-bottom: groove;
}

.margin-box button{
    color: gray;
}

.margin-box{
    margin-right: 27px;
}