.user-modal-shape {
    position: absolute;
    left: 37%;
    top: 8%;
    width: 600px;
    height: 76%;
}

.board-info-title-box div{
    display: flex;
    justify-content: space-between;
}

.board-info-title-box span{
    line-height: 35px;
    font-size: larger;
}

.delete-box div{
    margin: 0;
}

.event-status.status-btn {
    color: grey;
    line-height: 24px;
}



.event-status.process.selected{
    color: green;
}

.event-status.hold.selected{
    color: red;
}

.event-status.end.selected{
    color: black;
}

.category-country-side,
.category-gallery-art,
.category-tradition,
.category-craft,
.category-science,
.category-museum,
.category-sports,
.category-etc,
.category-entire,
.status-btn{
    font-family: 'GmarketSansMedium';
    border: none;
    width: fit-content;
    height: 20px;
    margin: 0 7px;
    background-color: #fff;
    border-radius: 3px;
    font-weight: bold;
    line-height: 24px;
}


.category-country-side:hover,
.category-gallery-art:hover,
.category-tradition:hover,
.category-craft:hover,
.category-science:hover,
.category-museum:hover,
.category-sports:hover,
.category-etc:hover,
.category-entire:hover,
.category-country-side.active,
.category-gallery-art.active,
.category-tradition.active,
.category-craft.active,
.category-science.active,
.category-museum.active,
.category-sports.active,
.category-etc.active,
.category-entire.active{
    color: #c97793;
}

.content-list .content-input{
    display: flex;
    flex: 1;
    align-items: center;
    padding: 12px 0;
    margin: 12px 12px 12px 0px;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.content-input span{
    margin: 0;
    display: inline;
    font-size: 12px;
}