.profile-img-wrapper {
    display: flex;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
}

.label-for-update-img{
    display: block;
    width: 32px;
    position: absolute;
    bottom: -16px;
    right: -14px;
    cursor: pointer;
}