.btn-row{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    top: 17px;
    right: 96px;
}

tbody{
    position: relative;
}

.add-button {
    font-family: 'GmarketSansMedium';
    border: none;
    width: 100px;
    height: 20px;
    background-color: #fff;
	border-radius: 3px;
}

.add-button:hover {
	color: #c97793;
}

.anouncement-content{
    height: 85%;
    width: 100%;
    padding: 0px 20px;
    border: none;
    resize: none;
    color: #777777;
    font-family: inherit;
}

textarea:focus {
    outline: none;
}

.content-div{
    height: 200px;
}

#answer-write .user-modal-shape {
    height: 488px;
}

.row{
    position: relative;
}

.answer{
    font-family: 'GmarketSansMedium';
    border: none;
    width: 100px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 12px;
}

.answer{
	position: absolute;
}

button.answer :hover{
	color: #c97793;
}


