@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

li {
	list-style: none;
}

body {
	background-color: #f1f1f1;
	font-family: 'GmarketSansMedium';
}

button {
	cursor: pointer;
}

/* 섹션 구분하기 */
.header-section {
	width: 100%;
	height: 56px;
}

.main-section {
	display: flex;
	width: 100%;
}

.content-section {
	display: flex;
	width: 100%;
}


.info-title-box {
	width: 100%;
	height: 55px;
	border-radius: 3px;
	border-bottom: 1px solid;
	background: #fff;
	box-shadow: 11px 13px 11px -14px grey;
}

.info-title-box-flex {
	display: flex;
	position: fixed;
	justify-content: flex-start;
}

.logo-box-layout {
	display: flex;
	width: 250px;
}

/*  메뉴 타이틀 */

.logo-title-layout {
	margin: 8px 18px 0px 44px;
}

.logo-title {
	display: flex;
	justify-content: flex-start;
	position: relative;
	font-size: 21px;
	color: #fff;
	height: 32px;
}

.logo-name {
	color:#4e4e4e;
	font-size: 20px;
	margin-top: 6px;
	font-weight: bold;
}

.select-name {
	padding-top : 17px;
	padding-left: 10px;
	align-items: center;
	display: flex;
	gap: 8px;
}

.depth1-icon {
	transform: rotate(270deg);
	width: 12px;
	filter: opacity(0.5) drop-shadow(0 0 0 #4e4e4e);
}


.search {
	position: relative;
	width: 300px;
}


.board-info-title{
	display: flex;
	justify-content: space-between;
	margin-bottom: 22px;
}

.search input{
	width: 85%;
	border: 1px solid #c60a164d;
	border-radius: 8px;
	padding: 10px 36px 10px 12px;
	font-size: 14px;
}

.search img {
	position: absolute;
	width: 17px;
	top: 10px;
	right: 7px;
	margin: 0;
	filter: opacity(0.2) drop-shadow(0 0 0 red);
	cursor: pointer;
}

.board-info-title div span {
	line-height: 35px;
	font-size: larger;
}

div.search {
	margin: 0;
}

div.search input:focus{
	outline: none;
}

.row:hover {
	background-color: #828282;
	color: #fff;
	font-weight: lighter;
}

.content-list p{
	height: 85%;
	width: 100%;
	padding: 0px 20px;
	border: none;
	resize: none;
	color: #777777;
	font-family: inherit;
}























