<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../static/images/myPage/favicon.png">
    <title>문의하기</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/css/myPage/myPage-inquire.css" />
  </head>
  <body>
    <div class="main-wrapper">
      <div class="main-content">
        <div class="content-cheer">
          우리 아이들의 <strong>안전</strong>과 <strong>즐거움</strong>을 위해서
          <p></p>
          통솔자분을 따뜻하게 대해주세요 (●'◡'●)
        </div>

        <div class="content-title-wrapper">
          <div class="content-title">
            <h2>자주묻는 질문</h2>
          </div>
          <div class="title-sub">체험학습에 참여하는 방법이 궁금하다면?</div>
        </div>

        <div class="content-wrapper">
          <div class="one-content">
            <div class="inquire-title">
              체험학습에 참여하고 싶어요
              <i class="icon expand-more" aria-hidden="true"></i>
            </div>
            <div class="inquire-content">
              체험학습 상세페이지에 오른쪽 체험하기 버튼을 누르시고 결제하시면 체험학습에 참여할 수
              있습니다.
            </div>
          </div>

          <div class="one-content">
            <div class="inquire-title">
              통솔자는 어떻게 신청하나요?
              <i class="icon expand-more" aria-hidden="true"></i>
            </div>
            <div class="inquire-content">
              로그인 하신후 마이페이지에 들어가시면 아래에 통솔자로 지원할 수 있는 버튼이 있습니다.
              혹은 나의 체험학습에 들어가서 <strong>통솔자로 지원</strong>을 누르시면 됩니다.
            </div>
          </div>

          <div class="one-content">
            <div class="inquire-title">
              통솔자의 선정기준과 방법이 궁금해요
              <i class="icon expand-more" aria-hidden="true"></i>
            </div>
            <div class="inquire-content">
                통솔자는 아기자기에서 자체적으로 엄격하게 심사하고있습니다. 
                <br>
                전문적인 인증서 혹은 이 분야에서 오랜 경력이 있는 분들만이 통솔자로 선정됩니다.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script>
    let $inquireTitle = $('.inquire-title');
    let $inquireContent = $('.inquire-content');
    $inquireTitle.on('click', function () {
      let index = $(this).parent().index();
      console.log($inquireContent.eq(index));
      $inquireContent.eq(index).show();
    });
  </script>
</html>
