/* children-register.html */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
    font-family: roboto, 'Noto Sans KR', -apple-system, dotum, sans-serif;
}

input, select{
    border: 1px solid #00c4c4;
    height: 40px;
    width: 32%;
    border-radius: 4px;
}

.ContentsLayout{
    width: 768px;
    margin: 0 auto;
    padding: 40px 66px;
}

.Container_title {
    display: block;
    max-width: 850px;
    margin: 0 0 16px;
    line-height: 1.22;
    letter-spacing: -.7px;
    color: rgba(0,0,0,.84);
    font-size: 36px;
    font-weight: 700;
    border: 0;
    padding: 0;
    overflow-wrap: break-word;
    font-family: roboto,"Noto Sans KR",-apple-system,dotum,sans-serif;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    --vh: 7.46px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

.Section_title{
    font-size: 16px;
}

.MessageBox{
    background-color: #f9fafb;
    padding: 16px;
    display: flex;
    border-radius: 4px;
}

.MessageBox

.MessageBox_title{
    font-size: 14px;
}

.MessageBox_description{
    font-size: 12px;
}

.input-wrapper{
    max-width: 720px;
    display: flex;
    justify-content: space-between;
}

.children-name{
    height: 37px;
}


.input-wrapper{
    margin-top: 10px;
}

.button-wrapper{
    max-width: 720px;
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.button-kid{
    border: none;
    background-color: #00c4c4;
    cursor: pointer;
    padding: 10px 22px;
    border-radius: 6px;
    color: white;
}


