@charset "UTF-8";

@font-face {
    font-family: Noto Sans KR;
    font-weight: 300;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Light.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Light.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Light.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Regular.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Regular.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Regular.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 500;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Medium.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Medium.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Medium.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 700;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Bold.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Bold.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Bold.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: wadizicon;
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/static/web/media/wadizicon.1de1502a.eot#iefix) format("embedded-opentype"),url(https://static.wadiz.kr/static/web/media/wadizicon.f5cdf486.woff2) format("woff2"),url(https://static.wadiz.kr/static/web/media/wadizicon.9eb6b0a9.woff) format("woff"),url(https://static.wadiz.kr/static/web/media/wadizicon.e5379495.ttf) format("truetype"),url(https://static.wadiz.kr/static/web/media/wadizicon.077f5804.svg#wadizicon) format("svg")
}

:root {
    --scrollbar-width: 0;
}

body {
    line-height: 1.33;
    font-family: Roboto,Noto Sans KR,-apple-system,Dotum,sans-serif;
}

body {
    overflow-y: scroll;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

body, body button, body input, body select, body textarea {
    font-family: roboto,Noto Sans KR,-apple-system,dotum,sans-serif;
}

body, html {
    -webkit-text-size-adjust: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, address, article, aside, audio, b, body, button, canvas, caption, dd, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, label, legend, li, nav, ol, p, pre, section, small, span, strong, summary, table, tbody, td, th, thead, time, tr, ul, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

input, optgroup, select, textarea {
    color: inherit;
}

body, body button, body input, body select, body textarea {
    font-family: roboto,Noto Sans KR,-apple-system,dotum,sans-serif;
}

body, body button, body input, body li, body ol, body select, body textarea, body ul {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

article, blockquote, body, dd, div, dl, dt, h1, h2, h3, h4, html, li, main, ol, p, section, table, tbody, td, th, thead, tr, ul {
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, em, div {
    margin: 0;
    padding: 0;
    border: 0;
}

#accountWrap {
    width: 100%;
    padding-bottom: 160px;
    background: #f9f9f9;
}

#newContainer {
    min-height: 100%;
    background: #eee;
}

#accountWrap #newContainer {
    background: #f9f9f9;
}

.account-wrap {
    padding: 35px 20px;
    padding-left: max(20px, env(safe-area-inset-left));
    padding-right: max(20px, env(safe-area-inset-right));
}

.account-wrap h2 {
    margin-bottom: 8px;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: normal;
}

.account-wrap h2.small {
    margin-bottom: 0;
}

.email-input-wrap {
    padding-top: 16px;
}

.email-input-wrap.small {
    padding-top: 0;
}


/* 비밀번호 */
.input-text, textarea {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}

.input-text {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0 17px;
    margin-bottom: 7px;
    height: 46px;
    line-height: 45px;
    font-size: 13px;
    color: #4a4a4a;
    background: #fff;
    border: 1px solid #e4e4e4;
    outline: none;
}

.input-text {
    -webkit-appearance: none;
    border-radius: 0;
}

.pwd-text {
    font-size: 11px;
    line-height: 14px;
    color: #e54545;
}

.email-input-wrap .pwd-text {
    margin-bottom: 12px;
}

.error-text {
    margin-bottom: 12px;
    font-size: 11px;
    line-height: 1.5;
    color: #e54545;
    display: none;
}

.btn-wrap {
    padding-top: 15px;
    text-align: center;
}

.btn-wrap {
    width: 100%;
    margin-bottom: 10px;
}

.btn-wrap.smaller {
    padding-top: 5px;
}

.wz.button {
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .2s;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    padding: 0 1.41176em;
    height: 48px;
    vertical-align: middle;
    line-height: 1;
    color: rgba(0,0,0,.54);
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box!important;
    -webkit-appearance: none;
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
}

.wz.button.block, .wz.button.fluid {
    width: 100%;
    text-align: center;
}

.wz.button.primary, .wz.button.primary-outline {
    border-color: #00c4c4;
}

.wz.button.primary {
    background-color: #00c4c4;
    color: #fff;
}

#passwordError {
	display: none;
}


/* 모달 */
#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal {
    background-color: #fff;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
}

#modal p {
    margin-bottom: 1em;
}

#modal-close {
    background-color: #00c4c4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
}



/* ========================================media======================================== */
@media screen and (min-width: 1000px) {
.account-wrap {
    width: 350px;
    margin: 0 auto;
    padding-top: 75px;
}
}
