/* myPage-payment.css */

li{
    list-style: none;
    margin-top: 10px;
}
dd{
    margin-inline-start: 0;
}

.all-content-wrapper{
    padding: 0;
}

.main-content{
    margin: 0 auto;
    padding: 56px 16px 0;
    max-width: 912px;
    box-sizing: border-box;
}

.main-content h2{
    line-height: 44px;
    letter-spacing: -.6px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 45px;
}

.order-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(100% - 0px);
}

.one-list{
    width: calc((100% - 0px) - 0.01px);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

.list-inner{
    display: felx;
    position: relative;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 16px;
}

.product-info{
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    color: #adb5bd;
}

dd{
    width: 100%;
}

.order-info{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.order-info dt{
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.order-info dd{
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    color: #adb5bd;
    font-size: 12px;
}

.product-info{
    position:relative;
}

.product-thumb-area{
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    transition: transform .5s;
    margin-right: 16px;
    border-radius: 8px;
    width: 64px;
    height: 64px;
    overflow: hidden;
}

.product-info dd{
    line-height: 0;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 700;
    display: -webkit-box;
    margin-top: 6px;
    margin-bottom: 4px;
    max-height: 56px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #212529;
}

.product-thumb-area img{
    width: 100%;
    height: 100%;
}

.more-info{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 70px;
    bottom: 5px;
    left: 12px;
}

.more-text{
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #495057;
}

.more-text-icon{
    padding-left: 5px;
}