@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700&display=swap');

@font-face {
    font-family: wadizicon;
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/static/web/media/wadizicon.1de1502a.eot#iefix) format("embedded-opentype"),url(https://static.wadiz.kr/static/web/media/wadizicon.f5cdf486.woff2) format("woff2"),url(https://static.wadiz.kr/static/web/media/wadizicon.9eb6b0a9.woff) format("woff"),url(https://static.wadiz.kr/static/web/media/wadizicon.e5379495.ttf) format("truetype"),url(https://static.wadiz.kr/static/web/media/wadizicon.077f5804.svg#wadizicon) format("svg")
}



body {
    line-height: 1.33;
    font-family: Noto Sans KR;
    background-color: #f4f4f4;;
}

body {
    overflow-y: scroll;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    -webkit-text-size-adjust: none;
}

a, address, article, aside, audio, b, body, button, canvas, caption, dd, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, label, legend, li, nav, ol, p, pre, section, small, span, strong, summary, table, tbody, td, th, thead, time, tr, ul, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}


article, main, section {
    display: block;
}

body>#root, #wadizTopBanner, #page-container {
    transform-origin: 50% 0;
    transition-property: opacity,transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

strong {
    font-weight: 700;
}

body li, body ol, body ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* container */
#mypageWrap {
    width: 100%;
}

#iam-profile-app{
    background-color: #fff;
}

#mypageWrap, #mypageWrap * {
    font-family: "Noto Sans KR";
    -webkit-font-smoothing: antialiased;
}

/* 사업자 프로필 */
.ProfileCorp {
    margin: 0 auto;
    padding: 8px 24px 32px;
    max-width: 870px;
    word-break: keep-all;
    overflow-wrap: break-word;
    box-sizing: content-box;
    color: inherit;
}

.ProfileCorp_inner {
    position: relative;
}

/* 프로필 상세목록 - BlindText */
.BlindText {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* 프로필 이미지 */
.Avatar {
    display: inline-flex;
    position: relative;
    outline: none;
    border: none;
    border-radius: 100%;
    padding: 0;
    width: 64px;
    height: 64px;
    vertical-align: middle;
    margin-bottom: 8px;
}

.Avatar>span {
    display: block;
    position: absolute;
    opacity: 1;
    border-radius: 100%;
    background: no-repeat 50% / cover;
    width: 100%;
    height: 100%;
}
/* 회원 닉네임 */
.ProfileInfo_box .ProfileInfo_nickname {
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 700;
    display: inline;
    margin-right: 4px;
    vertical-align: middle;
}

/* 회원 타입 */
.ProfileInfo_box .ProfileInfo_type {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    word-spacing: -1.5px;
    color: #adb5bd;
}

/* 가상요소 */
.ProfileInterestKeyword {
    margin-left: -4px;
}

.ProfileInterestKeyword:after {
    display: block;
    clear: both;
    content: "";
}

/* 카테고리 박스 */
.ProfileActivityInfo_infoCountBox {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    text-align: center;
    color: #495057;
}
/* 레벨 */
.ProfileActivityInfo_infoCountBox>div {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column-reverse;
    align-items: center;
    padding: 12px 10px 16px;
}

.ProfileActivityInfo_infoCountBox dt {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
}

.ProfileActivityInfo_infoCountBox dd {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 700;
}

/* 프로필 설정 */
.ProfileSet {
    position: relative;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding: 9px 16px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.43;
    white-space: nowrap;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box!important;
    margin-top: 8px;/* 합침 */
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

a.ProfileSet {
	display: inline-block;
    align-items: center;
    text-decoration: none;
	padding: 9px 16px;
    line-height: 1.45;
    font-size: 14px;
    text-align: center;
    width: 100%;
    color: inherit;
    margin-left: 10px;
}

.ProfileSet span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.ProfileSet .ProfileSet_button {
    vertical-align: top;
}

/* 배너신청하기 버튼 : 색지정 */
a.Mint {
    background-color: rgb(255, 212, 0);
    color: black;
}


/* a.ProfileSet:hover{
	border-color: #E9ECEF;
	background-color: #E9ECEF;
} */


/* 참여한 */
.mypage-project.bg {
    background: #F5F7FA;
}

.mypage-project .tab-list {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 8%);
    z-index: 100;
    transition-property: background-color,-webkit-backdrop-filter,backdrop-filter;
    transition-duration: .5s;
    border-top: none;
}

.mypage-project.bg .tab-list {
    border-top: none;
}

.mypage-project .tab-list ul li {
    float: left;
    width: 33.33333%;
}

.mypage-project .tab-list ul li a {
    display: block;
    width: 100%;
    height: 47px;
    font-size: 15px;
    line-height: 48px;
    color: #90949c;
    text-align: center;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

.mypage-project .tab-list ul li.active a  {
    color: black;
    height: 47px;
}

.mypage-project .project-list {
    width: 100%;
    padding: 0;
    /* background: #F5F7FA; */
}

/* 가상요소 */
.mypage-project .tab-list ul:after {
    content: "";
    clear: both;
    display: block;
}

/* 공개 참여 기부가 있을 때 */
.mypage-project .top-area {
    position: relative;
    padding: 16px 16px 24px;
}

.mypage-project .top-area .status-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #44484b;
}

/* 공개 참여 기부가 없을 때 */
.mypage-project .card-list {
    width: 100%;
}

#emptyProjectText {
    padding: 80px 0;
    text-align: center;
    line-height: 24px;
    letter-spacing: -0.5;
    font-size: 17px;
    color: #44484B;
}

/* 리워드 리스트 */
.mypage-project .card-list ul li {
    position: relative;
    margin-bottom: 16px;
}

.project-card, .project-card * {
    box-sizing: content-box !important;
}

.project-card {
    width: 100%;
    text-align: left;
    position: relative;
}

.project-card .card-img-section {
    position: relative;
    width: 100%;
}

.project-card .card-img-section .project-img {
    display: block;
    width: 100%;
    min-height: 225px;
    background: #0f171e 50% 50%/cover;
}

.project-card .card-img-section .project-type {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    padding: 0 6px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    z-index: 10;
    opacity: .96;
}

.project-card .card-img-section .project-type.reward {
    background: rgb(255, 212, 0);
    color: black;
}

/* 가상요소 */
.project-card .card-img-section:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    border: 1px solid rgba(0, 0, 0, .06);
    box-sizing: border-box!important;
}

/* 기부목록 */
.project-card .card-info-section {
    position: relative;
    height: 143px;
    padding: 0 20px;
    border: 1px solid #DADCE0;
    border-top: none;
    background: #fff;
}

.project-card .card-info-section h4 {
    padding: 16px 0 0;
    margin: 0 0 8px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 24px;
    max-height: 48px;
    color: #1D2129;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.project-card .card-info-section h5 {
    margin: 0;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #90949c;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.project-card .card-info-section .card-category {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 12px;
}

.project-card .card-info-section .card-category .category1 {
    float: left;
    display: block;
    padding-left: 20px;
    width: 52%;
    text-align: left;
    font-size: 13px;
    color: #0d0f12;
    letter-spacing: -1px;
    box-sizing: border-box!important;
}

.project-card .card-info-section .card-category .category2 {
    float: right;
    display: block;
    padding-right: 20px;
    width: 48%;
    text-align: right;
    font-size: 11px;
    color: #00c4c4;
    letter-spacing: -1px;
    box-sizing: border-box!important;
}

/* 가상요소 */
.project-card .card-info-section .card-category:after {
    content: "";
    clear: both;
    display: block;
}


/* ======================================media========================================== */
@media screen and (min-width: 960px) {
.mypage-project .tab-list ul {
    width: 960px;
    margin: 0 auto;
    padding: 0 24px;
}

.myprofile-wrap .mypage-project .card-list ul, .myprofile-wrap .mypage-project .tab-list ul, .myprofile-wrap .mypage-project .top-area {
    width: 918px;
}

.mypage-project .tab-list ul li {
    width: auto;
    margin-right: 24px;
}

.mypage-project .tab-list ul li.active a {
    font-weight: 700;
}

.mypage-project .top-area {
    width: 960px;
    margin: 0 auto;
    padding: 16px 24px 35px;
}

.mypage-project .top-area .status-text {
    font-size: 13px;
    line-height: 18px;
}

.mypage-project .card-list ul {
    width: 960px;
    margin: -2px auto 0;
    padding: 0 9px;
}

.mypage-project .card-list ul li {
    float: left;
    width: 300px;
    padding: 0 15px;
}

.project-card .card-img-section .project-img {
    height: 225px;
    overflow: hidden;
}

.mypage-project .card-list ul:after {
    content: "";
    clear: both;
    display: block;
}

}

@media screen and (min-width: 769px) {
.ProfileCorp {
    padding-top: 50px;
    padding-bottom: 80px;
}

.ProfileCorp_inner {
    display: flex;
    padding-left: 94px;
}

.Avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

.ProfileCorp_info {
    flex-basis: 370px;
    flex-shrink: 0;
    max-width: 370px;
}

.ProfileActivityInfo_infoCountBox {
    justify-content: initial;
    margin: 6px 0 -12px;
}

.ProfileActivityInfo_infoCountBox>div {
    flex: none;
    padding: 12px 20px 16px;
}


.ProfileActivityInfo_infoCountBox>div:first-child {
    padding-left: 0;
}

.ProfileActivityInfo_infoCountBox dt {
    margin-top: 2px;
}

.ProfileSet {
    margin: auto 0 0 auto;
    max-width: 327px;
    }
}


/* 추가 */
.project-list1{
    padding-bottom: 90px;
    background: #f4f4f4;
    width: 100%;
    height: 130vh;
    
}

.lecture-list-header{
    position: sticky;
    top: 0;
    border-bottom: 1px solid #e4e4e4;
    height: 103px;
    z-index: 100;
}

.lecture-list-title{
    width: 48%;
    float: left;
    margin-bottom: 24px;
    background: #2c3d50;
    height: 100px;
}
.lecture-list-info{
    float: right;
    width: 515px;
}

.lecture-list-month{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    background: #e4e4e4;
    padding: 12px 0;
    width: 70px;
    text-align: center;
    line-height: initial;
    color: #2c3d50;
    font-size: 14px;
}

.lecture-list-description{
    margin: 23px 0 0 20px;
    width: 400px;
    line-height: initial;
    font-size: 21px;
    color: #fff;
    float: left;
}

.lecture-list-description span{
    display: block;
    font-size: 14px;
    margin-top: 2px;
    color: #a6afde;
}

.lecture-type-selection{
    float: left;
    width: 52%;
    height: 100px;
}

.lecture-type-buttons{
    display: flex;
    margin-top: 0;
    padding-right: 8px;
    padding-left: 16px;
}

.lecture-type-buttons li {
    border-left: 1px solid #e4e4e4;
    width: 119px;
    height: 98px;
}

.all-type-button, .intro-type-button, .practical-type-button,
.mentoring-type-button, .special-type-button{
    display: block;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background: #fff;
    color: rgba(0,0,0,.84);
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    padding: 19px 0 21px;
}

.all em{
    width: auto;
    line-height: 18px;
    font-weight: 500;
    display: block;
    margin: 0 auto 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-weight: 500;
}

.all span{
    display: block;
}

.reward-btn em{
        display: block;
    margin: 0 auto 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-weight: 500;
        background: #2e51ef;
}

.invest em{
        display: block;
    margin: 0 auto 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-weight: 500;
    background: #9f8673;
}

.combine em{
    display: block;
    margin: 0 auto 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-weight: 500;
    background: #705f53;
}

.special em{
    display: block;
    margin: 0 auto 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-weight: 500;
    background: #90949c;
}

.lecture-type-buttons li:hover{
background-color: #e4e4e4;
cursor: pointer;
}

/* 상세정보 */

.calender-content-wrapper{
    margin: 60px auto 0;
    width: 1100px;
    position: relative;
}

.lecture-list{
    width: 685px;
    height: auto;
    float: left;
    margin-top: 29px;
}

.lecture{
    margin-bottom: 23px;
    border: 1px solid #e4e4e4;
    background: #fff;
    width: 633px;
    height: 172px;
    display: flex;
}

.lecture-image{
    background-image:(url(https://cdn.wadiz.kr/ft/images/green001/2023/0313/20230313133752303_null.jpg/wadiz/thumbnail/253/format/jpg/quality/95/) 1x, url(https://cdn.wadiz.kr/ft/images/green001/2023/0313/20230313133752303_null.jpg/wadiz/thumbnail/506/format/jpg/quality/95/) 2x);
    transform: scale(1);
    opacity: 1;
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 40%;
    }

.lecture-image img{
    width: 100%;
    height: 100%;
}

.lecture a{
        display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.lecture-content{
position: relative;
float: left;
padding: 15px 20px;
width: 390px;
max-width: 60%;
}

.lecture-type{
    display: flex;
    font-size: 12px;
}

.reward{
    background: #2e51ef;
    display: inline-block;
    margin-right: 8px;
    width: 10px;
    height: 10px;
}

.lecture-title{
    margin-bottom: 5px;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
}

.lecture-subtitle{
    margin-bottom: 10px;
    line-height: 18px;
    font-size: 12px;
}

.lecture-info{
    margin-bottom: 5px;
    line-height: 18px;
    font-size: 12px;
}

.lecture-number{
        position: absolute;
    top: 135px;
    right: -135px;
    text-align: right;
    font-size: 12px;
}

/* 켈린더 */
.calender{
    position: absolute;
    right: 0;
}

#calendar {
    width: 350px;
    height: 400px;
  }
  
  .tui-full-calendar {
    width: 100%;
    height: 100%;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

.toastui-calendar-template-time,   .toastui-calendar-weekday-grid-more-events {
    display: none;
}

.toastui-calendar-daygrid-cell{
    cursor: pointer;
}