<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>체험제공 신청</title>
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/parents-yard-board/parents-yard-board-thumbnail.css">
    <link rel="shortcut icon" href="/images/logo_favi/favi/favicon.ico">
    <style>
        .image-display {
            display: none;
        }
    </style>
</head>

<body>
<div th:insert="~{/components/header:: header}"></div>
<form action="/review/save" method="post">
    <div>
        <input type="hidden" name="reviewScore">
        <input type="hidden" name="eventId">
        <input type="hidden" name="boardTitle">
        <input type="hidden" name="boardContent">
        <div class="wrap">
            <div class="container">
                <div class="nav-header-box nav-header-background">
                    <div style="display: flex">
                        <span class="nav-header-span">후기게시판</span>
                        <span class="nav-header-span">작성중</span>
                    </div>
                    <a href="javascript:void(0)" class="profile-box">
                        <span class="profile-name">임종욱</span><span>의</span>
                        <p>후기게시판 글작성</p>
                    </a>
                    <button type="button" class="profile-btn">
                        <span class="profile-span">
                            <span class="profile-span">후기 글작성</span>
                        </span>
                    </button>
                </div>
                <nav class="side-nav-box">
                    <div class="side-nav-layout"></div>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" class="nav-title-box">
                                후기게시판 작성 순서
                            </a>
                            <ul class="nav-info-ul">
                                <li>
                                    <a href="" class="nav-detail-title info-title">후기게시판 내용 작성</a>
                                </li>
                                <li>
                                    <a href="" class="nav-detail-title thumbnail-title"> 후기 사진 등록</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="content-wrap">
                <section class="content-container">
                    <ol class="content-ol">
                        <li class="content-ol-li">후기게시판</li>
                        <li class="content-ol-li">후기게시판 내용 작성</li>
                        <li class="content-ol-li">후기 사진 등록</li>
                    </ol>
                    <div class="content-title">후기사진 등록</div>
                    <div class="content-sub-title">글작성을 대표하는 이미지를 등록 해주세요.</div>
                    <div class="content-side-box">
                        <button type="button" class="side-button">
                            <div class="side-button-icon">
                                <i></i>
                            </div>
                            <div>
                                <div class="side-button-sub-title">후기사진 등록 가이드</div>
                            </div>
                        </button>
                    </div>
                    <div class="content-box">
                        <section class="content-section">
                            <div class="content-max-width">
                                <div class="input-title-layout">
                                    <h2>대표 이미지</h2>
                                </div>
                                <div class="file-info-box">
                                    <ul>
                                        <li>3MB 이하의 JPG, JPEG, PNG 파일</li>
                                        <li>해상도 1200x675 픽셀 이상</li>
                                        <li>텍스트나 로고는 넣을 수 없어요.</li>
                                    </ul>
                                </div>
                                <div class="file-input-box">
                                    <div class="file-input-layout">
                                        <div class="file-input-flex">
                                            첨부 파일을 업로드해 주세요.
                                            <div class="file-input-div">
                                                <input type="file" class="image-file" multiple style="display:none">
                                                <button type="button" class="btn file-button">
                                                    <span>
                                                        <span class="file-button-span">업로드</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file-content-box">
                                    <div class="file-content-layout">
                                        <div class="file-container">
                                            <div class="file-wrap">
                                                <div class="file-header">
                                                    <div class="preview-text">미리 보기</div>
                                                </div>
                                                <div class="image-display">
                                                    <div class="image-file-content-box">
                                                        <div>
                                                            <span class="image-file-info">원본 이미지</span>
                                                            <div class="first-image-box">
                                                                <img src="https://www.wadiz.kr/wwwwadiz/green001/2023/0428/20230428001502093_210472.jpg">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <span class="image-file-info">정방향 이미지</span>
                                                            <div class="second-image-box">
                                                                <img src="https://www.wadiz.kr/wwwwadiz/green001/2023/0428/20230428001502093_210472.jpg">
                                                            </div>
                                                        </div>
                                                        <button class="image-cancel">
                                                            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="image-cancel-icon" aria-hidden="true" style="width: 24px; height: 24px; margin-top: -100px;"><path d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"></path></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-box">
                                <h4>
                                    <a class="link" href="javascript:void(0)">
                                        클릭할 수밖에 없는 매력적인 이미지 만들기
                                    </a>
                                </h4>
                                <p>체험학습 게시글의 첫인상인 대표 이미지는 체험학습 주제에 따라 리워드가 가장 매력적으로 보이는 사진을 선택해 주세요.</p>
                                <p>SNS 노출 시 이미지가 1:1 비율로 보일 수 있으므로 이미지 내 좌우 여백이 충분하고 리워드가 중앙에 위치한 사진을 선택해 주세요.</p>
                                <p>대표 이미지에는 텍스트나 로고를 넣을 수 없어요.</p>
                            </div>
                        </section>
                        <button type="submit" class="btn confirm-button">
                            <span>작성하기</span>
                        </button>
                    </div>
                </section>
            </div>
        </div>

        <div id="footer"></div>
    </div>

    <div class="file-modal-display">
        <div class="file-modal-wrap">
            <div class="file-modal-container">
                <div class="file-modal-header">
                    <div class="file-modal-close-box">
                        <button type="button" class="exit">
                            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="exit-icon"
                                aria-hidden="true">
                                <path
                                    d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z">
                                </path>
                            </svg>
                        </button>
                    </div>
                    <div class="file-modal-title">
                        이미지 등록 전, 유의 사항을 확인해 주세요
                    </div>
                </div>
                <div class="file-modal-content-box">
                    <input type="file" style="display: none;">
                    <div class="file-modal-content-layout">
                        <div>
                            <div class="file-modal-sub-title">
                                잘못된 이미지 예시
                            </div>
                            <div class="example-image-box">
                                <div class="example-image image1">
                                    <div class="wrong-image"></div>
                                </div>
                                <div class="example-image image2">
                                    <div class="wrong-image"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="file-modal-sub-title">
                                올바른 이미지 예시
                            </div>
                            <div class="example-image-box">
                                <div class="example-image image3">
                                    <div class="proper-image"></div>
                                </div>
                                <div class="example-image image4">
                                    <div class="proper-image"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li>이미지에는 텍스트를 넣을 수 없어요.</li>
                        <li>리워드가 한쪽에 치우친 사진은 잘려 보일 수 있어요. 중앙에 위치한 사진으로 골라 보세요.</li>
                        <li>이미지 등록 후 미리 보기를 꼭 확인해 보세요.</li>
                        <li>잘못된 이미지는 사전 안내 없이 담당자가 다른 이미지로 변경할 수 있어요. (이미지 변경 시 별도로 안내드릴게요.)</li>
                    </ul>
                </div>
                <div class="image-register-button-box">
                    <div class="image-register-button-layout">
                        <button type="button" class="btn image-register-button">
                            <span>
                                <span>이미지 등록하기</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <div th:insert="~{/components/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/components/header.js"></script>
<script src="/js/review-board/review-board-thumbnail.js"></script>

</html>