<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>체험학습 신청</title>
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/play/event-join-write.css">
    <link rel="shortcut icon" href="/images/logo_favi/favi/favicon.ico">

    <style>
        .selected-option{
            display: flex;
        }

    </style>
</head>

<body>
<div th:insert="~{/components/header:: header}"></div>
<div>
    <div id="header"></div>

    <div class="wrap">
        <div class="now-kids.container">
            <div class="nav-header-box nav-header-background">
                <div style="display: flex">
                    <span class="nav-header-span">보호자 또는 일반 둘 중 선택</span>
                </div>
                <a href="javascript:void(0)" class="profile-box">
                    <span class="profile-name" th:text="${eventDTO.memberNickname}">임종욱</span><span>의</span>
                    <p>체험학습 신청</p>
                </a>
                <button type="button" class="profile-btn">
                        <span class="profile-span">
<!--                            <span>체험학습 게시글 번호</span>-->
                            <!--                            <span class="profile-span">1</span>-->
                            <!--                             <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="arrow-icon"
                                                            aria-hidden="true" style="width: 20px; height: 20px">
                                                            <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                                        </svg> -->
                        </span>
                </button>
            </div>
            <nav class="side-nav-box">
                <div class="side-nav-layout"></div>
                <ul>
                    <li>
                        <div href="javascript:void(0)" class="nav-title-box">
                            체험학습 신청 순서
                                                             <span>
                                                                <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                                                    class="nav-arrow-icon" aria-hidden="true" style="width: 20px; height: 20px">
                                                                    <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                                                </svg>
                                                            </span>
                        </div>
                        <ul class="nav-info-ul">
                            <li>
                                <a href="javascript:void(0)" class="nav-detail-title">체험학습 신청</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="content-wrap">
            <section class="content-container">
                <ol class="content-ol">
                    <li class="content-ol-li">체험학습 신청</li>
                </ol>
                <div class="content-title">체험학습 신청하기</div>
                <div class="content-sub-title">체험학습을 신청하기 위해 기본정보를 입력해 주세요.</div>
                <div class="content-box">
                    <section class="content-section">
                        <div class="input-title-box">
                            <div class="input-title-layout2">
                                <h2>체험학습 제목</h2>
                            </div>
                            <div class="input-sub-title">
                                진행할 체험학습의 제목입니다
                            </div>
                            <div class="input-title-box">
                                <div class="input-box">
                                    <div class="input-layout">
                                        <div class="normal-text-input input-size title" th:text="${eventDTO.boardTitle}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="content-section">
                        <div class="input-title-box">
                            <div class="input-title-layout">
                                <h2>체험학습 당일날짜</h2>
                            </div>
                            <div class="input-sub-title">체험학습을 진행하고자 하시는 날짜를 기입해주세요</div>
                            <div class="input-box">
                                <div class="select-box">
                                    <div style="position: relative">
                                        <div class="date-wrap">
                                            <div class="date-container">
                                                <div class="date-input-box">
                                                    <input type="date" name="" class="form-control date-box"
                                                           placeholder="예시) 2023-04-28" autocomplete="off" size="12"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="content-section">
                        <div class="input-title-box">
                            <div class="input-title-layout2">
                                <h2>아이 정보</h2>
                            </div>
                            <div class="input-sub-title">
                                체험학습을 진행할 아이를 선택해주세요.
                            </div>
                            <div class="child-box">
                                <div class="select-box child-select">
                                    <div class="select-layout-kid">
                                        <div class="select-value-box">
                                            <div class="select-value select-placeholder-kid">
                                                선택해주세요.
                                            </div>
                                            <input type="text" class="dummy-input" readonly>
                                        </div>
                                        <div class="select-icon-box">
                                            <div class="select-icon-layout">
                                                <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                                     aria-hidden="true" style="color: rgb(134, 142, 150)">
                                                    <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="select-menu-box-kid">
                                        <div class="select-menu-layout">
                                            <th:block th:each="kid: ${kidsList}">
                                                <div class="select-option-kid">
                                                    <span class="select-name" th:text="${kid.kidName}">김동한&nbsp;</span>
                                                    (만&nbsp;
                                                    <span class="select-age" th:text="${kid.kidAge}">3</span>
                                                    세)&nbsp;(
                                                    <span class="select-gender" th:if="${kid.kidGender.toString() == 'MAN'}">👦)</span>
                                                    <span class="select-gender" th:if="${kid.kidGender.toString() == 'WOMAN'}">👧)</span>
                                                </div>
                                                <input class="kidIdforPurchase" style="display: none" th:value="${kid.id}" >
                                                <input class="eventIdforPurchase" style="display: none" value="${eventDTO.id}" >
                                            </th:block>
                                        </div>
                                    </div>
                                    <form id="go-payment" th:action="@{/payment/pay/{eventId}(eventId=${eventDTO.id})}" method="get">
                                        <div class="kids-table">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="content-section">
                        <div class="input-title-box">
                            <div class="input-title-layout2">
                                <h2>통솔자 종류</h2>
                            </div>
                            <div class="input-sub-title">
                                진행할 체험학습의 통솔자 종류를 선택해주세요.
                            </div>
                            <div class="input-box">
                                <div class="select-box">
                                    <div style="position: relative">
                                        <div class="select-layout">
                                            <div class="select-value-box">
                                                <div class="select-value select-placeholder">
                                                    선택해주세요.
                                                </div>
                                                <input type="text" class="dummy-input" readonly/>
                                            </div>
                                            <div class="select-icon-box">
                                                <div class="select-icon-layout">
                                                    <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                                         aria-hidden="true" style="color: rgb(134, 142, 150)">
                                                        <path
                                                                d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z">
                                                        </path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="select-menu-box">
                                            <div class="select-menu-layout">
                                                <div class="select-option">장애인</div>
                                                <div class="select-option">비장애인</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <button type="submit" form="go-payment" class="btn confirm-button">
                        <span>결제하기</span>
                    </button>
                </div>
            </section>
        </div>
    </div>
</div>
<div th:insert="~{/components/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript">
    let eventDTO = [[${eventDTO}]];
    console.log(eventDTO)
</script>
<script src="/js/play/event-join-write.js"></script>
<script>

    const $selectBox = $(".select-layout");
    const $selectMenuBox = $(".select-menu-box");

    $selectBox.mouseup(() => {
        $selectMenuBox.show();
    });

    $selectMenuBox.mouseleave(() => {
        $selectMenuBox.hide();
    })


    let $selectOption = $(".select-option");

    $selectOption.each((i, e) => {

        $(e).click(() => {
            $selectOption.css("color", "#0c0c0c");
            $(".select-placeholder").css("color", "#0c0c0c");
            $(".select-placeholder").text($(e).text());
            $(e).css("color", "#e1e1e1");
            $selectMenuBox.hide();
        });
    });

    /* 아이 정보 */
    const $selectBoxKid = $(".select-layout-kid");
    const $selectMenuBoxKid = $(".select-menu-box-kid");

    $selectBoxKid.mouseup(() => {
        $selectMenuBoxKid.show();
    });

    $selectMenuBoxKid.mouseleave(() => {
        $selectMenuBoxKid.hide();
    })


    let $selectOptionKid = $(".select-option-kid");

    $selectOptionKid.each((i, e) => {
        $(e).click(() => {
            let kids = "";
            $selectOptionKid.css("color", "#0c0c0c");
            $(".select-placeholder-kid").css("color", "#0c0c0c");
            $(".select-placeholder-kid").text($(e).text());
            $(e).css("color", "#e1e1e1");
            $(e).css("color", "#e1e1e1");
            $(e).css("display", "none");
            kids = $(".select-placeholder-kid").text();

            let kidId = $(e).nextAll(".kidIdforPurchase").val();
            let eventId = $(e).nextAll(".eventIdforPurchase").val();
            let $selectedOption = $("<p class='selected-option'></p>").text(kids);
            $selectedOption.append("<input class='sendKidId'  name='kidIds' value='" + kidId + "'/>");
            $selectedOption.append("<input class='sendEventId' style='display:none;' name='eventId' value='" + eventId + "'/>");
            console.log(kidId)
            console.log(e)
            let $removeButton = $("<button>X</button>");

            $removeButton.click(() => {
                $selectedOption.remove();
                $removeButton.remove();
                $(e).css("display", "block");
            });

            $selectedOption.append($removeButton);
            $(".kids-table").append($selectedOption);
            $selectMenuBoxKid.hide();
        });
    });


    /* 카테고리 끝 */

    const $selectBox2 = $(".select-layout2");
    const $selectKidsCount = $(".select-kids-count");

    $selectBox2.mouseup(() => {
        $selectKidsCount.show();
    });

    $selectKidsCount.mouseleave(() => {
        $selectKidsCount.hide();
    })


    let $selectOption2 = $(".select-option2");

    $selectOption2.each((i, e) => {

        $(e).click(() => {
            $selectOption.css("color", "#0c0c0c");
            $(".select-placeholder2").css("color", "#0c0c0c");
            $(".select-placeholder2").text($(e).text());
            $(e).css("color", "#e1e1e1");
            $selectKidsCount.hide();
        });
    });


    $selectOption2.each((i, e) => {
        $(e).click(() => {
            $selectOption2.css("color", "#0c0c0c");
            $(".select-placeholder2").css("color", "#0c0c0c");
            $(".select-placeholder2").text($(e).text());
            $(e).css("color", "#e1e1e1");
            $selectKidsCount.hide();

        });
    });


</script>
<script>
    const $inputTitle = $(".title");
    const $maxCount = $(".text-max-count");
    // 제목 입력 js
    $inputTitle.keyup(() => {
        $maxCount.text((40 - $inputTitle.val().length) + "자 남음");
    });

</script>
<script src="/js/components/header.js"></script>
</html>