<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문화 공간</title>
    <link rel="stylesheet" href="/css/play/event-open-api.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
</head>
<style>
    .selected {
        border-bottom: 2px solid #00c4c4;
        width: 50px;
    }
</style>
<body>
<div th:insert="~{/components/header:: header}"></div>
<div id="page-container">
    <main id="main-app">
        <div class="main-wrapper-content">
            <div class="culture-space-container">
                <section>
                    <div class="culture-inner">
                        <div>
                            <h3 class="culture-space-title">전국 체험학습 소개</h3>
                        </div>
                        <div class="culture-space-content-container">
                            <strong class="culture-space-content">
                                <div class="lecture-type-selection">
                                    <ul class="lecture-type-buttons">
                                        <li class="special-type-button">
                                            <div class="choice"> <em></em><span>전체</span> </a>
                                        </li>
                                        <li class="intro-type-button">
                                            <a class="science-btn"> <em></em><span>과학</span> </a>
                                        </li>
                                        <li class="practical-type-button">
                                            <a class="sports"> <em></em><span>스포츠</span> </a>
                                        </li>
                                        <li class="mentoring-type-button">
                                            <a class="traditional"> <em></em><span>전통</span> </a>
                                        </li>
                                        <li class="special-type-button">
                                            <a class="musium"> <em></em><span>박물관</span> </a>
                                        </li>
                                        <li class="special-type-button">
                                            <a class="agriculture"> <em></em><span>농촌</span> </a>
                                        </li>
                                        <li class="special-type-button">
                                            <a class="art"> <em></em><span>미술관</span> </a>
                                        </li>
                                        <li class="special-type-button">
                                            <a class="make"> <em></em><span>공방</span> </a>
                                        </li>
                                        <li class="special-type-button">
                                            <a class="etc"> <em></em><span>기타</span> </a>
                                        </li>
                                    </ul>
                                </div>
                            </strong>
                            <div>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <!-- 본문 시작  -->
                            <div class="culture-space-instance">
                                <!--                                    <div class="instance imgBox">-->
                                <!--                                        <div class="culture-space img on">-->
                                <!--                                            &lt;!&ndash; 뒷배경 &ndash;&gt;-->
                                <!--                                            <img class="background" src="https://culture.seoul.go.kr/cmmn/file/getImage.do?atchFileId=04ae3506f18f4fb39a8553095364f973&thumb=Y">-->
                                <!--                                            &lt;!&ndash; 정보란 &ndash;&gt;-->
                                <!--                                            <div class="space-info">-->
                                <!--                                                &lt;!&ndash; 이미지 &ndash;&gt;-->
                                <!--                                                <img class="photo-img" src="https://culture.seoul.go.kr/cmmn/file/getImage.do?atchFileId=04ae3506f18f4fb39a8553095364f973&thumb=Y">-->
                                <!--                                                <div class="space-text-info">-->
                                <!--                                                <div class="space-name-small"><span><strong>DDP(동대문디자인플라자)</strong></span></div>-->
                                <!--                                                <div class="space-name-category"><span></span></div>-->
                                <!--                                                <div class="space-address"><span>서울특별시 중구 을지로 281</span></div>-->
                                <!--                                                <div class="space-tel"><span>02-2153-0000</span></div>-->
                                <!--                                                <div class="space-web"><span>http://www.ddp.or.kr/main</span></div></div>-->
                                <!--                                                <div class="arrow-button">-->
                                <!--                                                    <img class="next" src="/images/culture-space/map-icon1.png">-->
                                <!--                                                </div>-->
                                <!--                                            </div>&lt;!&ndash; space info &ndash;&gt;-->
                                <!--                                        </div>-->
                                <!-- 지도 화면 -->
                                <!--                                    </div>-->
                            </div>
                        </div>
                    </div><!-- culture-inner -->
                </section>
            </div>
        </div>
    </main>
    <div th:insert="~{/components/footer:: footer}"></div>
</div> <!-- page container -->
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3366aee711925269dca27f42bfb64ad1"></script>
<script>
    $(document).ready(function(){
        $(".lecture-type-buttons li").click(function(){
            $(".lecture-type-buttons li").removeClass("selected");
            $(this).addClass("selected");
        });
    });

    let getList = function(callback) {
        $.ajax({
            url: 'http://openapi.seoul.go.kr:8088/694c5a6149676f6f3330585553414f/json/culturalSpaceInfo/1/100/',
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                if (callback) {
                    callback(result);
                }
            }
        });
    }

    function setList(center, index) {
        let text = `
            <div class="instance imgBox">
                <div class="culture-space img on">
                    <img class="background" src="${center.MAIN_IMG}">
                    <div class="space-info">
                        <img class="photo-img" src="${center.MAIN_IMG}">
                        <div class="space-text-info">
                            <div class="space-name-small"><span><strong>${center.FAC_NAME}</strong></span></div>
                            <div class="space-name-category"><span>${center.SUBJCODE}</span></div>
                            <div class="space-address"><span>${center.ADDR}</span></div>
                            <div class="space-tel"><span>${center.PHNE}</span></div>
                        </div>
                        <div class="arrow-button">
                            <img class="next" src="/images/culture-space/map-icon1.png">
                        </div>
                    </div>
                </div>
                <div class="img left-arrow-class">
                    <img class="prev" src="/images/culture-space/left-arrow.png">
                    <div id="map${index + 1}" style="width:350px;height:350px;">${center.X_COORD},${center.Y_COORD}</div>
                </div>
            </div>
        `;
        return text;
    }

    getList(function(result) {
        let text = '';
        result.culturalSpaceInfo.row.forEach(function(center, index) {
            text += setList(center, index);
        });

        /* 마우스오버 이벤트 */
        $('.culture-space-instance').html(text);

        $('.instance').mouseover(function(e) {
            $(this).find('.next').show(); // 우측 지도 버튼
            $(this).find('.next').css('display', 'block');
        }).mouseout(function(e) {
            $(this).find('.next').hide();
        });

        /* 클릭 이벤트 */
        const $nextBtn = $('.next');
        $nextBtn.click(function(e) {
            const $hideTarget = $(this).parent().parent().parent();
            const $showTarget = $hideTarget.next();
            $hideTarget.css('opacity', 0);
            $showTarget.css('opacity', 1);
        });

        const $prevBtn = $('.prev');
        $prevBtn.click(function(e) {
            const $hideTarget = $(this).parent();
            const $showTarget = $hideTarget.prev('.culture-space');
            $hideTarget.css('opacity', 0);
            $showTarget.css('opacity', 1);
        });

        result.culturalSpaceInfo.row.forEach(function(center, index) {
            console.log("들어옴")
            var mapContainer = document.getElementById('map' + (index+1)); // 지도를 표시할 div
            var mapOption = {
                center: new kakao.maps.LatLng(center.X_COORD, center.Y_COORD), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

            // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption);
            var markerPosition = new kakao.maps.LatLng(center.X_COORD, center.Y_COORD);
            var marker = new kakao.maps.Marker({
                position: markerPosition
            });
            marker.setMap(map);
        });

    });

    getList();
</script>