<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>모집 게시판</title>
        <link rel="stylesheet" href="/css/components/header.css">
        <link rel="stylesheet" href="/css/components/footer.css">
        <link rel="stylesheet" href="/css/play/event-category-list.css" />
        <link rel="shortcut icon" href="/images/logo_favi/favi/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
    <div th:insert="~{/components/header:: header}"></div>
        <div id="page-container">
            <main id="main-app">
                <div class="main-wrapper-content">
                    <!-- 모달창 -->
                    <div class="collection-container">
                        <div class="like-modal-container" id="like-modal" style="display: none">
                            <span class="like-text" style="display: none;"
                                >찜 목록에 추가했습니다</span
                            >
                            <span class="like-cancel-text" style="display: none"
                                >찜 목록에서 제외했습니다</span
                            >
                        </div>
                        <div class="collection-list">
                            <!-- <div class="category-container">
                                <ul
                                    class="category-list-wrapper"
                                    style="-webkit-padding-start: 0px"
                                >
                                    <li class="header-category">전체</li>
                                    <li class="header-category">농촌</li>
                                    <li class="header-category">미술관/박람회</li>
                                    <li class="header-category">전통</li>
                                    <li class="header-category">공방</li>
                                    <li class="header-category">과학</li>
                                    <li class="header-category">박물관</li>
                                    <li class="header-category">스포츠</li>
                                    <li class="header-category">기타</li>
                                </ul>
                                <div class="search">
                                    <input type="text" placeholder="검색어 입력" />
                                    <img
                                        src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
                                    />
                                </div>
                            </div> -->
                            <div class="category-tabs">
                                <ul>
                                    <li class="active categoryType" value="ALL">
                                        <button>전체</button>
                                    </li>

                                    <li class="categoryType" value="AGRICULTURE">
                                        <button>농촌</button>
                                    </li>

                                    <li class="categoryType" value="ART">
                                        <button>미술관/박람회</button>
                                    </li>

                                    <li class="categoryType" value="TRADITION">
                                        <button>전통</button>
                                    </li>

                                    <li class="categoryType" value="CRAFT">
                                        <button>공방</button>
                                    </li>

                                    <li class="categoryType" value="SCIENCE">
                                        <button>과학</button>
                                    </li>

                                    <li class="categoryType" value="MUSEUM">
                                        <button>박물관</button>
                                    </li>

                                    <li class="categoryType" value="SPORTS">
                                        <button>스포츠</button>
                                    </li>

                                    <li class="categoryType" value="ETC">
                                        <button>기타</button>
                                    </li>

                                    <li class="introduce-all-events" onclick="location.href='/event/api'">
                                        <button>서울시 체험학습 소개</button>
                                    </li>
                                    <form name="search-form">
                                    <div class="search">
                                        <input class="event-search-input" type="text" placeholder="검색어 입력" />
                                        <img
                                            src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
                                        />
                                    </div>
                                    </form>
                                </ul>
                            </div>
                            <div class="collection-table">
                                <section class="go-write">
                                    <!-- <div class="static-banner">
                                        <div class="static-banner-context">
                                            <div class="static-banner-date">
                                                리더쉽을 기르는 좋은 방법!
                                            </div>
                                            <div class="satic-banner-title">
                                                회원님의 경력과 아이들의 행복을 위한
                                                <br>
                                                통솔자를 신청해보세요.
                                            </div>
                                        </div>
                                        <a href="" class="apply-form">
                                            <svg width="22" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 9.41545L0.5 6.10352e-05H22.5L11.5 9.41545ZM0.5 1.60012V16.0001H22.5V1.60012L11.5 11.0155L0.5 1.60012Z" fill="white"></path>
                                            </svg>
                                            <div class="a-context">
                                                통솔자 신청하기
                                            </div>
                                        </a>
                                    </div> -->
                                    <div class="static-banner" th:if="${session.member != null and #strings.equals(session.member.memberType, 'COMPANY')}">
                                        <div class="static-banner-context">
                                            <div class="static-banner-date">
                                                부모님에겐 휴식을, 아이들에겐 추억을!
                                            </div>
                                            <div class="satic-banner-title">
                                                아이들의 행복한 체험과 성장을 위한
                                                <br>
                                                체험학습을 제공해보세요.
                                            </div>
                                        </div>
                                        <a href="/event/writeFirst" class="apply-form">
                                            <svg width="22" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 9.41545L0.5 6.10352e-05H22.5L11.5 9.41545ZM0.5 1.60012V16.0001H22.5V1.60012L11.5 11.0155L0.5 1.60012Z" fill="white"></path>
                                            </svg>
                                            <div class="a-context">
                                                체험학습 제공하기
                                            </div>
                                        </a>
                                    </div>

                                    <div class="static-banner" th:if="${session.member != null and !#strings.equals(session.member.memberType, 'COMPANY')}">
                                        <div class="static-banner-context">
                                            <div class="static-banner-date">
                                                부모님에겐 휴식을, 아이들에겐 추억을!
                                            </div>
                                            <div class="satic-banner-title">
                                                체험학습은 어떠셨나요?
                                                <br>
                                                체험학습을 공유해보세요
                                            </div>
                                        </div>
                                        <a href="/parentsYard/list" class="apply-form">
                                            <svg width="22" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 9.41545L0.5 6.10352e-05H22.5L11.5 9.41545ZM0.5 1.60012V16.0001H22.5V1.60012L11.5 11.0155L0.5 1.60012Z" fill="white"></path>
                                            </svg>
                                            <div class="a-context">
                                                부모님 마당 바로가기
                                            </div>
                                        </a>
                                    </div>

                                    <div class="static-banner" th:if="${session.member == null}">
                                        <div class="static-banner-context">
                                            <div class="static-banner-date">
                                                부모님에겐 휴식을, 아이들에겐 추억을!
                                            </div>
                                            <div class="satic-banner-title">
                                                체험학습을 경헙하고싶으신가요?
                                                <br>
                                                지금 바로 가입하세요!
                                            </div>
                                        </div>
                                        <a href="/member/login" class="apply-form">
                                            <svg width="22" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 9.41545L0.5 6.10352e-05H22.5L11.5 9.41545ZM0.5 1.60012V16.0001H22.5V1.60012L11.5 11.0155L0.5 1.60012Z" fill="white"></path>
                                            </svg>
                                            <div class="a-context">
                                                아기자기 가입하러가기
                                            </div>
                                        </a>
                                    </div>



                                </section>
                                <!-- top 버튼 -->
<!--                                <div class="top-btn-container">-->
<!--                                    <button type="button" class="top-btn">-->
<!--                                        <svg-->
<!--                                            viewBox="0 0 40 40"-->
<!--                                            focusable="false"-->
<!--                                            role="presentation"-->
<!--                                            class="top-btn-svg"-->
<!--                                            aria-hidden="true"-->
<!--                                        >-->
<!--                                            <path-->
<!--                                                d="M33 30l-1.4 1.4L20 19.8 8.4 31.4 7 30l13-13zm1-21H6v2h28z"-->
<!--                                            ></path>-->
<!--                                        </svg>-->
<!--                                    </button>-->
<!--                                </div>-->
                                <!-- write 버튼 -->
                                <div class="write-btn-container" th:if="${session.member != null}" onclick="location.href='/event/goWrite'">
                                    <button type="button" class="write-btn">
                                        <div class="bottom-write"> 글쓰기
                                            <path fill="none" d="M0 0h24v24H0z"></path>
                                            <path
                                                d="M19 4l-1.41 1.41L20.17 8H4v2h16.17l-2.58 2.59L19 14l5-5L19 4z"
                                            ></path>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .collection-container{ -->
                </div>
            </main>
        </div>
        <!-- page container -->
    <div th:insert="~{/components/footer:: footer}"></div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/components/header.js"></script>
    <script src="/js/play/event-category-list.js"></script>
    <script>
        /* 좋아요 버튼 */
        $(function () {
            $('.wish-button').click(function (e) {
                var target = $(e.target);
                if ($(target).attr('aria-pressed') == 'false') {
                    $(target).attr('aria-pressed', 'true'); //하트 색 채우기
                    $('.like-cancel-text').hide(); //해제 문구
                    $('#like-modal').css({ right: '-30%' }); //오->왼 슬라이드 등장
                    $('#like-modal').animate({ right: '30px' }, { duration: 500 }); //오->왼 슬라이드 등장
                    $('#like-modal').show(); //슬라이드 보이기
                    $('.like-text').show(); //찜 추가 문구
                    $('#like-modal').fadeOut(); //사라지기
                } else {
                    $(target).attr('aria-pressed', 'false'); //색 비우기
                    $('.like-text').hide(); //찜 추가 문구
                    $('#like-modal').css({ right: '-30%' }); //오->왼 슬라이드 등장
                    $('#like-modal').animate({ right: '30px' }, { duration: 500 }); //오->왼 슬라이드 등장
                    $('#like-modal').show(); //슬라이드 보이기
                    $('.like-cancel-text').show(); //찜 해제 문구
                    $('#like-modal').fadeOut(); //사라지기
                }
            });
        });

        /* top 버튼  */
        var topEle = $('.top-btn');
        var delay = 400;
        console.log(topEle);

        /* top show-hide */
        $(window).scroll(function () {
            if ($(this).scrollTop() > 200) {
                $('.top-btn').fadeIn();
            } else {
                $('.top-btn').fadeOut();
            }
        });

        /* top버튼- 위로 올리기 */
        $('.top-btn').click(function () {
            $('html, body').animate({ scrollTop: 0 }, delay);
            return false;
        });
    </script>

</html>
