<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>체험제공 신청</title>
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/play/play-write-multi.css" />
    <link rel="shortcut icon" href="/images/logo_favi/favi/favicon.ico">
    <style>
        .cancel-box {
            position: absolute;
            right: 0;
            top: 0;
        }
    </style>
</head>

<body>
<div th:insert="~{/components/header:: header}"></div>
<form action="/event/save" method="get">
    <div class="image-inputs">
        <input type="hidden" name="boardTitle">
        <input type="hidden" name="boardContent">
        <input type="hidden" name="category">
        <input type="hidden" name="eventRecruitCount">
        <input type="hidden" name="address" class="event-address">
        <input type="hidden" name="eventPrice">
        <input type="hidden" name="stringStartDate">
        <input type="hidden" name="stringEndDate">
        <input type="hidden" name="mainFileOriginalName">
        <input type="hidden" name="mainFileUUID">
        <input type="hidden" name="mainFilePath">
        <input type="hidden" name="fileType">
    </div>
    <div>
        <div id="play-header-multi"></div>

        <div class="wrap">
            <div class="container">
                <div class="nav-header-box nav-header-background">
                    <div style="display: flex">
                        <span class="nav-header-span">기업</span>
                    </div>
                    <a href="javascript:void(0)" class="profile-box">
                        <p class="profile-name">임종욱의</p>
                        <p>체험제공 신청</p>
                    </a>
                    <button type="button" class="profile-btn">
                        <span class="profile-span">
                            <span>게시글 번호 </span>
                            <span class="profile-span">1</span>
                            <!-- <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="arrow-icon"
                            aria-hidden="true" style="width: 20px; height: 20px;">
                            <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                        </svg> -->
                        </span>
                    </button>
                </div>
                <nav class="side-nav-box">
                    <div class="side-nav-layout"></div>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" class="nav-title-box">
                                게시글 작성 순서
                                <!--                                 <span>
                                <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                    class="nav-arrow-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                    <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                </svg>
                            </span> -->
                            </a>
                            <ul class="nav-info-ul">
                                <li>
                                    <a href="javascript:void(0)" class="nav-detail-title"
                                        >게시글 내용 작성</a
                                    >
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="nav-detail-title"
                                        >대표사진 등록</a
                                    >
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="nav-detail-title"
                                        >내용사진 등록</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="content-wrap">
                <section class="content-container">
                    <ol class="content-ol">
                        <li class="content-ol-li">체험제공 신청</li>
                        <li class="content-ol-li">게시글 내용작성</li>
                        <li class="content-ol-li">대표사진 등록</li>
                        <li class="content-ol-li">내용사진 등록</li>
                    </ol>
                    <div class="content-title">내용사진 등록</div>
                    <div class="content-sub-title">
                        체험학습을 대표하는 중요한 정보들을 입력해 주세요.
                    </div>
                    <div class="content-side-box">
                        <button type="button" class="side-button">
                            <div class="side-button-icon">
                                <i></i>
                            </div>
                            <div>
                                <!-- <div class="side-button-title">이미지 등록 모음집</div> -->
                                <div class="side-button-sub-title">내용사진 등록 가이드</div>
                                <div class="guide-box">
                                    <h4>
                                        <a class="link" href="javascript:void(0)">
                                            보호자 분들의 시선을 끌 이미지 만들기
                                        </a>
                                    </h4>
                                    <p>
                                        게시글의 큰 부분인 이미지는 가장 매력적으로 보이는
                                        사진을 선택해 주세요.
                                    </p>
                                    <p>
                                        SNS 노출 시 이미지가 1:1 비율로 보일 수 있으므로 이미지
                                        내 좌우 여백이 충분하고 리워드가 중앙에 위치한 사진을
                                        선택해 주세요.
                                    </p>
                                    <p>이미지에는 텍스트나 로고를 넣을 수 없어요.</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="content-box">
                        <!--                         <section class="content-section">
                        <div class="input-title-box">
                            <div class="input-title-layout">
                                <h2>통솔중인 행사정보</h2>
                            </div>
                            <div class="input-box">
                                <div class="input-layout">
                                    <input type="text" class="normal-text-input input-size title" maxlength="40"
                                        placeholder="통솔중인 행사 정보를 입력해주세요.">
                                    <span class="text-max-count">40자 남음</span>
                                </div>
                            </div>
                        </div>
                        <div class="guide-box">
                            <h2>프로젝트 제목은 핵심을 간결하게</h2>
                            <p>리워드의 장점과 특징이 잘 드러나는 키워드를 한 가지 이상 포함해 주세요.</p>
                            <p>중요한 키워드는 눈에 잘 띄도록 제목 앞부분에 적는 것을 추천해요.</p>
                        </div>
                    </section> -->
                        <section class="content-section">
                            <div class="content-max-width">
                                <div class="input-title-layout">
                                    <h2>이미지</h2>
                                </div>
                                <div class="file-info-box">
                                    <ul>
                                        <li>3MB 이하의 JPG, JPEG, PNG 파일</li>
                                        <li>해상도 1200x675 픽셀 이상</li>
                                        <li>텍스트나 로고는 넣을 수 없어요.</li>
                                    </ul>
                                </div>
                                <div class="file-input-box">
                                    <div class="file-input-layout">
                                        <div class="file-input-flex">
                                            첨부 파일을 업로드해 주세요.
                                            <div class="file-input-div">
                                                <input
                                                    type="file"
                                                    class="image-file"
                                                    style="display: none"
                                                    multiple
                                                />
                                                <button type="button" class="btn file-button">
                                                    <span>
                                                        <span class="file-button-span"
                                                            >업로드</span
                                                        >
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="file-content-box">
                                    <div class="file-content-layout">
                                        <div class="file-container">
                                            <div class="file-wrap">
                                                <div class="file-header">
                                                    <div class="preview-text">미리 보기</div>
                                                    <!-- <button class="image-cancel">
                                                    <svg viewBox="0 0 40 40" focusable="false" role="presentation"
                                                        class="image-cancel-icon" aria-hidden="true"
                                                        style="width: 24px; height: 24px;">
                                                        <path
                                                            d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z">
                                                        </path>
                                                    </svg>
                                                </button> -->
                                                </div>
                                                <div class="file-list-box">
                                                    <!-- 이미지 들어가는 곳ㅇ -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <button type="submit" class="btn confirm-button">
                            <span>등록하기</span>
                        </button>
                    </div>
                </section>
            </div>
        </div>

        <div id="footer"></div>
    </div>

    <div class="file-modal-display">
        <div class="file-modal-wrap">
            <div class="file-modal-container">
                <div class="file-modal-header">
                    <div class="file-modal-close-box">
                        <button type="button" class="exit">
                            <svg
                                viewBox="0 0 40 40"
                                focusable="false"
                                role="presentation"
                                class="exit-icon"
                                aria-hidden="true"
                            >
                                <path
                                    d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"
                                ></path>
                            </svg>
                        </button>
                    </div>
                    <div class="file-modal-title">
                        이미지 등록 전, 유의 사항을 확인해 주세요
                    </div>
                </div>
                <div class="file-modal-content-box">
                    <input type="file" style="display: none" />
                    <div class="file-modal-content-layout">
                        <div>
                            <div class="file-modal-sub-title">잘못된 이미지 예시</div>
                            <div class="example-image-box">
                                <div class="example-image image1">
                                    <div class="wrong-image"></div>
                                </div>
                                <div class="example-image image2">
                                    <div class="wrong-image"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="file-modal-sub-title">올바른 이미지 예시</div>
                            <div class="example-image-box">
                                <div class="example-image image3">
                                    <div class="proper-image"></div>
                                </div>
                                <div class="example-image image4">
                                    <div class="proper-image"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li>이미지에는 텍스트를 넣을 수 없어요.</li>
                        <li>
                            리워드가 한쪽에 치우친 사진은 잘려 보일 수 있어요. 중앙에 위치한
                            사진으로 골라 보세요.
                        </li>
                        <li>이미지 등록 후 미리 보기를 꼭 확인해 보세요.</li>
                        <li>
                            잘못된 이미지는 사전 안내 없이 담당자가 다른 이미지로 변경할 수
                            있어요. (이미지 변경 시 별도로 안내드릴게요.)
                        </li>
                    </ul>
                </div>
                <div class="image-register-button-box">
                    <div class="image-register-button-layout">
                        <button type="button" class="btn image-register-button">
                            <span>
                                <span>이미지 등록하기</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div th:insert="~{/components/footer:: footer}"></div>

</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/components/header.js"></script>
<script src="/js/play/play-write-multi.js"></script>
</html>
