<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>체험제공 신청</title>
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/play/play-write-field.css">
    <link rel="shortcut icon" href="/images/logo_favi/favi/favicon.ico">
</head>

<body>
<div th:insert="~{/components/header:: header}"></div>

    <div>
        <div class="wrap">
            <div class="now-kids.container">
                <div class="nav-header-box nav-header-background">
                    <div style="display: flex">
                        <span class="nav-header-span">기업</span>
                    </div>
                    <a href="javascript:void(0)" class="profile-box">
                        <span class="profile-name">임종욱</span><span>의</span>
                        <p>체험제공 신청</p>
                    </a>
                    <button type="button" class="profile-btn">
                        <span class="profile-span">
                            <span>게시글 번호</span>
                            <span class="profile-span">1</span>
<!--                             <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="arrow-icon"
                                aria-hidden="true" style="width: 20px; height: 20px">
                                <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                            </svg> -->
                        </span>
                    </button>
                </div>
                <nav class="side-nav-box">
                    <div class="side-nav-layout"></div>
                    <ul>
                        <li>
                            <div href="javascript:void(0)" class="nav-title-box">
                                게시글 작성 순서
<!--                                 <span>
                                    <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                        class="nav-arrow-icon" aria-hidden="true" style="width: 20px; height: 20px">
                                        <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                    </svg>
                                </span> -->
                            </div>
                            <ul class="nav-info-ul">
                                <li>
                                    <a href="javascript:void(0)" class="nav-detail-title">게시글 내용 작성</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="nav-detail-title">대표사진 등록</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="nav-detail-title">내용사진 등록</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="content-wrap">
                <section class="content-container">
                    <ol class="content-ol">
                        <li class="content-ol-li">체험제공 신청</li>
                        <li class="content-ol-li">게시글 내용 작성</li>
                        <li class="content-ol-li">대표사진 등록</li>
                        <li class="content-ol-li">내용사진 등록</li>
                    </ol>
                    <div class="content-title">게시글 내용 작성</div>
                    <div class="content-sub-title">게시글에 등록할 체험학습 기본정보를 확인해 주세요.</div>
                    <div class="content-box">
                        <section class="content-section">
                            <div class="input-title-box">
                                <div class="input-title-layout2">
                                    <h2>체험학습 제목</h2>
                                </div>
                                <div class="input-sub-title">
                                    게시글에 등록할 체험학습 제목을 입력해주세요.
                                </div>
                                <div class="input-title-box">
                                    <div class="input-box">
                                        <div class="input-layout">
                                            <input type="text" class="normal-text-input input-size title" maxlength="40"
                                                placeholder="등록할 체험학습 정보를 입력해주세요.">
                                            <span class="text-max-count">40자 남음</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="content-section">
                            <div class="input-content-box">
                                <div class="input-content-layout2">
                                    <h2>체험학습 내용</h2>
                                </div>
                                <div class="input-sub-content">
                                    게시글에 등록할 체험학습 내용을 입력해주세요.
                                </div>
                                <div class="input-content-box">
                                    <div class="input-box">
                                        <div class="input-layout">
                                            <textarea class="input-content-area"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="content-section">
                            <div class="input-title-box">
                                <div class="input-title-layout2">
                                    <h2>카테고리</h2>
                                </div>
                                <div class="input-sub-title">
                                    진행할 체험학습의 카테고리를 선택해주세요.
                                </div>
                                <div class="input-box">
                                    <div class="select-box">
                                        <div style="position: relative">
                                            <div class="select-layout">
                                                <div class="select-value-box">
                                                    <div class="select-value select-placeholder">
                                                        선택해주세요.
                                                    </div>
                                                    <input type="text" class="dummy-input" readonly />
                                                </div>
                                                <div class="select-icon-box">
                                                    <div class="select-icon-layout">
                                                        <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                                            aria-hidden="true" style="color: rgb(134, 142, 150)">
                                                            <path
                                                                d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z">
                                                            </path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="select-menu-box">
                                                <div class="select-menu-layout">
                                                    <div class="select-option">농촌</div>
                                                    <div class="select-option">미술관/박람회</div>
                                                    <div class="select-option">전통</div>
                                                    <div class="select-option">공방</div>
                                                    <div class="select-option">과학</div>
                                                    <div class="select-option">박물관</div>
                                                    <div class="select-option">스포츠</div>
                                                    <div class="select-option">기타</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="content-section">
                            <div class="input-title-box">
                                <div class="input-title-layout2">
                                    <h2>모집인원</h2>
                                </div>
                                <div class="input-sub-title">
                                    진행할 체험학습의 모집인원을 선택해주세요.
                                </div>
                                <div class="input-box">
                                    <div class="select-box">
                                        <div style="position: relative">
                                            <div class="select-layout2">
                                                <div class="select-value-box">
                                                    <div class="select-value select-placeholder2">
                                                        선택해주세요.
                                                    </div>
                                                    <input type="text" class="dummy-input" readonly />
                                                </div>
                                                <div class="select-icon-box">
                                                    <div class="select-icon-layout">
                                                        <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                                            aria-hidden="true" style="color: rgb(134, 142, 150)">
                                                            <path
                                                                d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z">
                                                            </path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="select-kids-count">
                                                <div class="select-kids-layout">
                                                    <div class="select-option2">1명</div>
                                                    <div class="select-option2">2명</div>
                                                    <div class="select-option2">3명</div>
                                                    <div class="select-option2">4명</div>
                                                    <div class="select-option2">5명</div>
                                                    <div class="select-option2">6명</div>
                                                    <div class="select-option2">7명</div>
                                                    <div class="select-option2">8명</div>
                                                    <div class="select-option2">9명</div>
                                                    <div class="select-option2">10명</div>
                                                    <div class="select-option2">11명</div>
                                                    <div class="select-option2">12명</div>
                                                    <div class="select-option2">13명</div>
                                                    <div class="select-option2">14명</div>
                                                    <div class="select-option2">15명</div>
                                                    <div class="select-option2">16명</div>
                                                    <div class="select-option2">17명</div>
                                                    <div class="select-option2">18명</div>
                                                    <div class="select-option2">19명</div>
                                                    <div class="select-option2">20명</div>
                                                    <div class="select-option2">21명</div>
                                                    <div class="select-option2">22명</div>
                                                    <div class="select-option2">23명</div>
                                                    <div class="select-option2">24명</div>
                                                    <div class="select-option2">25명</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="content-section">
                            <div class="input-content-box">
                                <div class="input-content-layout2">
                                    <h2>모집 장소</h2>
                                </div>
                                <div class="input-sub-content">
                                    게시글에 등록할 모집 장소를 입력해주세요.
                                </div>
                                <div class="input-content-box">
                                    <div class="input-box">
                                        <div class="input-layout">
                                            <input name="groupLocation" id="address-kakao" class="location-input" type="text" placeholder="상세 주소">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="content-section">
                            <div class="input-content-box">
                                <div class="input-content-layout2">
                                    <h2>체험학습 일정</h2>
                                </div>
                                <div class="input-sub-content" style="margin-bottom: 5px;">
                                    게시글에 등록할 체험학습 일정을 입력해주세요. 
                                </div>
                                <p class="example"> 예시 : 1. 8:00 ~ 9:00 체험장이동 2. 9:00 ~ 12:00 갯벌 체험..</p>
                                <div class="input-content-box">
                                    <div class="input-box">
                                        <div class="input-layout">
                                            <textarea class="input-schedule-area"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="content-section">
                            <div class="input-content-box">
                                <div class="input-content-layout2">
                                    <h2>가격</h2>
                                </div>
                                <div class="input-sub-content">
                                    게시글에 등록할 체험학습 가격을 입력해주세요. 
                                </div>
                                <div class="input-content-box">
                                    <div class="input-box">
                                        <div class="input-layout">
                                            <input class="price-input" type="text" placeholder="숫자로 가격을 입력해주세요.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="content-section">
                            <div class="input-title-box">
                                <div class="input-title-layout">
                                    <h2>체험학습 모집기간</h2>
                                </div>
                                <div class="input-sub-title">체험학습 모집기간을 기입해주세요</div>
                                <div class="start-end-day">
                                    <span class="start-day">모집시작 날짜</span>
                                    <span class="end-day">모집마감 날짜</span>
                                </div>
                                
                                <div class="input-box">
                                    <div class="select-box">
                                        <div style="position: relative">
                                            <div class="date-wrap2">
                                                <div class="date-container-start">
                                                    <div class="date-input-box">
                                                        <input type="date" class="form-control date-box"
                                                            placeholder="예시) 2023-04-28" autocomplete="off" size="12" />
                                                    </div>
                                                </div>
                                                <div class="date-container-end">
                                                    <div class="date-input-box-end">
                                                        <input type="date" class="form-control date-box"
                                                            placeholder="예시) 2023-04-28" autocomplete="off" size="12" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <button type="button" class="btn confirm-button">
                            <span>다음으로</span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </div>
<div th:insert="~{/components/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/play/play-write-field.js"></script>
<script src="/js/components/header.js"></script>
<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script src="jquery.js"></script>
<script src="jquery-ui.js"></script>
<script src="datepicker-ko.js"></script> -->
<script>

    const $selectBox = $(".select-layout");
    const $selectMenuBox = $(".select-menu-box");

    $selectBox.mouseup(() => {
        $selectMenuBox.show();
    });

    $selectMenuBox.mouseleave(() => {
        $selectMenuBox.hide();
    })


    let $selectOption = $(".select-option");

    $selectOption.each((i, e) => {

        $(e).click(() => {
            $selectOption.css("color", "#0c0c0c");
            $(".select-placeholder").css("color","#0c0c0c"); 
            $(".select-placeholder").text($(e).text()); 
            $(e).css("color", "#e1e1e1");
            $selectMenuBox.hide();       
        });
    });
    /* 카테고리 끝 */

    const $selectBox2 = $(".select-layout2");
    const $selectKidsCount = $(".select-kids-count");

    $selectBox2.mouseup(() => {
        $selectKidsCount.show();
    });

    $selectKidsCount.mouseleave(() => {
        $selectKidsCount.hide();
    })


    let $selectOption2 = $(".select-option2");

    $selectOption2.each((i, e) => {

        $(e).click(() => {
            $selectOption.css("color", "#0c0c0c");
            $(".select-placeholder2").css("color","#0c0c0c"); 
            $(".select-placeholder2").text($(e).text()); 
            $(e).css("color", "#e1e1e1");
            $selectKidsCount.hide();       
        });
    });

    /* 달력 모달 */

        // datepicker를 사용하여 달력 생성
    /*         $('#datepicker').datepicker({
                dateFormat: 'yy년 mm월 dd일',
                monthNames: [
                    '1월',
                    '2월',
                    '3월',
                    '4월',
                    '5월',
                    '6월',
                    '7월',
                    '8월',
                    '9월',
                    '10월',
                    '11월',
                    '12월',
                ],
                dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
                titleFormat: 'yyyy년 MM월',
                todayHighlight: true,
                autoclose: true,
                titleFormat: 'yyyy년 MM월',
                yearSuffix: '년',
                monthSuffix: '월',
            });
    
            // date-container 클릭 시 datepicker 보이도록 설정
            $('.date-container').click(function (e) {
                e.stopPropagation();
                $('#datepicker').datepicker('show');
            });
    
            // datepicker에서 날짜 선택 시 input value에 값을 넣는 함수
            $('#datepicker').datepicker({
                onSelect: function (dateText) {
                    $('#datepicker').val(dateText);
                },
            }); */
</script>
<script>
    const $inputTitle = $(".title");
    const $maxCount = $(".text-max-count");
        // 제목 입력 js
    $inputTitle.keyup(() => {
        $maxCount.text((40 - $inputTitle.val().length) + "자 남음");
    });
</script>
</html>