<div class="product_info">
	<div class="maker_info_wrapper">
		<strong style="font-weight: 700"
			>메이커 정보</strong
		>
		<div class="maker_up_button">
			<svg
				viewbox="0 0 32 32"
				focusable="false"
				role="presentation"
				class="maker_svg"
				aria-hidden="true"
			>
				<path
					d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"
				></path>
			</svg>
		</div>
	</div>
	<div class="maker_real_info" style="display: none;">
		<div style="margin-bottom: 16px">
			<div class="maker_info_wrap">
				<div class="maker_info_line">
					<div class="maker_info_title">
						상호명
					</div>
					<div class="maker_info_content">
						와디즈 주식회사
					</div>
				</div>
				<div class="maker_info_line">
					<div class="maker_info_title">
						대표자명
					</div>
					<div class="maker_info_content">
						신혜성
					</div>
				</div>
				<div class="maker_info_line">
					<div class="maker_info_title">
						사업자등록번호
					</div>
					<div class="maker_info_content">
						258-87-01370
					</div>
				</div>
				<div class="maker_info_line">
					<div class="maker_info_title">
						통신판매업신고번호
					</div>
					<div class="maker_info_content">
						2021-성남분당C-1153
					</div>
				</div>
				<div class="maker_info_line">
					<div class="maker_info_title">
						사업장소재지
					</div>
					<div class="maker_info_content">
						(13487) 경기 성남시 분당구 판교로
						242 A동 402호
					</div>
				</div>
				<div class="maker_info_line">
					<div class="maker_info_title">
						연락처
					</div>
					<div class="maker_info_content">
						1661-9056
					</div>
				</div>
				<div class="maker_info_line">
					<div class="maker_info_title">
						이메일 주소
					</div>
					<div class="maker_info_content">
						info@wadiz.kr
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	const makerUpButton = document.querySelector('.maker_up_button');
	const makerWrap = document.querySelector('.maker_real_info');
	const makerPath = document.querySelector('.maker_svg path');
	makerUpButton.addEventListener('click', () => {
		if (makerWrap.style.display === 'none') {
			makerWrap.style.display = 'block';
			let makerAngle = 0;

			const intervalId = setInterval(() => {
				makerAngle += 5; // 회전 각도를 5도씩 증가시킵니다.

				if (makerAngle <= 180) {
					// 회전 각도가 180도 이하인 경우
					makerPath.setAttribute('transform', `rotate(${makerAngle} 16 16)`);
				} else {
					// 회전 각도가 180도 이상인 경우
					makerAngle = 360 - makerAngle; // 180도를 빼서 원래 각도로 되돌립니다.
					makerPath.setAttribute('transform', `rotate(${makerAngle} 16 16)`);
					clearInterval(intervalId); // setInterval을 종료합니다.
				}
			}, 5);
		} else {
			let makerAngle = 180; // 회전 각도를 180도로 초기화합니다.

			const intervalId = setInterval(() => {
				makerAngle += 5; // 회전 각도를 5도씩 증가시킵니다.
				makerPath.setAttribute('transform', `rotate(${makerAngle} 16 16)`);

				if (makerAngle >= 360) {
					// 회전 각도가 360도 이상이 되면 setInterval을 종료합니다.
					clearInterval(intervalId);
					makerWrap.style.display = 'none'; // display를 none으로 설정합니다.
				}
			}, 5);
		}
	});
</script>