/* payment-main.html */

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

body {
    font-family: SUIT, "UI Frip", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

* {
    outline: none;
    font-family: inherit;
}

p, label {
    margin: 0px;
}

hr {
    height: 0;
    overflow: visible;
}

button, input, select, textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}

button, input {
    overflow: visible;
}

a, area, button, input, label, select, textarea, [tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

[type="checkbox"], [type="radio"] {
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

img {
    border-style: none;
}

button {
    cursor: pointer;
}









/*********************************************************************************************/
.payment-entire-conatiner{
    width: 100%;
}

.payment-wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 768px;
    width: 100%;
    padding: 36px 20px 0px;
    min-height: 1px;
}

.payment-main-container{
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
    opacity: 1;
    display: block;
}

.payment-info-title,
.payment-method-container,
.payment-contributors-info-container,
.payment-coupon-container p,
.payment-final-price-container p{
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: -0.6px;
    color: rgb(51, 51, 51);
}

.payment-info-wrapper{
    padding-top: 16px;
    display: flex;
}

.product-main-info-container{
    height: fit-content;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
}

.payment-main-info-pic{
    min-width: 112px;
    height: 112px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-pack: justify;
}

.payment-main-info-pic img {
    border-style: none;
    vertical-align: middle;
    width: 112px;
    height: 112px;
}

.payment-main-info {
    /* display: flex; */
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: 16px;
}

.company-name{
    color: rgb(153, 153, 153);
    letter-spacing: -0.36px;
    line-height: 16px;
    font-size: 12px;
    font-weight: 500;
}

.event-title{
    font-family: inherit;
    max-width: 350px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.48px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 6px;
    word-break: normal;
    overflow-wrap: break-word;
}

.payment.option-info-container{
    flex-basis: 232px;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid rgb(244, 244, 244);
}

.payment.option-info-container p{
    color: rgb(51, 51, 51);
    letter-spacing: -0.48px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
}

.payment p.event-period{
    padding-top: 12px;
    padding-bottom: 0px;
    border-bottom: initial;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
    color: rgb(119, 119, 119);
}

.payment-hr-border {
    height: 8px;
    background-color: rgb(244, 244, 244);
    border: none;
    width: 100%;
    margin: 24px 0px 32px;
}

.pay-method{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.48px;
    color: rgb(51, 51, 51);
    padding: 16px 0px;
    /* border-bottom: 1px solid rgb(244, 244, 244); */
}

.pay-method input {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-top: 4px;
}

.pay-method img {
    margin-left: 4px;
    margin-right: 8px;
}

.payment.coupon-wrapper{
    padding: 24px 0px;
}

.payment.coupon-wrapper p{
    color: rgb(51, 51, 51);
    letter-spacing: -0.48px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
}

.coupon-info{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
}

.coupon-count span{
    color: rgb(170, 170, 170);
    font-weight: 600;
}

.check-coupon-btn{
    padding: 9px 17px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.42px;
    color: rgb(51, 51, 51);
    white-space: nowrap;
}

.hr-lighter{
    width: 100%;
    height: 1px;
    background-color: rgb(238, 238, 238);
    margin: 16px 0px;
    border: none;
}

.coupon-notion{
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    padding: 16px;
}

.coupon-notion p{
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.36px;
    color: rgb(153, 153, 153);
    word-break: keep-all;
}

.payment-final-price-container{
    padding-bottom: 24px;
}

.payment-final-price-container hr{
    height: 1px;
    background-color: rgb(244, 244, 244);
    border: none;
    margin: 16px 0px;
}

.final-price{
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: -0.6px;
    color: rgb(51, 51, 51);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.final-price span{
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: -0.72px;
    color: rgb(122, 41, 250);
}

p.summary {
    color: rgb(51, 51, 51);
    letter-spacing: -0.48px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
}

p.summary span{
    margin-bottom: initial;
}

.payment-purchase-notice-container{
    padding: 16px 20px;
    background-color: rgb(250, 250, 250);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.36px;
    color: rgb(153, 153, 153);
}

.payment-purchase-notice-container p{
    margin-bottom: 16px;
    font-weight: 600;
}

.payment-purchase-notice-container p button{
    font-weight: 600;
    padding: 0px;
    margin-left: 20px;
}

.payment-purchase-agreement{
    color: rgb(153, 153, 153);
    letter-spacing: -0.36px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    height: 22px;
    margin-top: 17px;
}

.payment-submit-button{
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 17px 0px 24px;
    min-height: 1px;
    max-width: 768px;
}

.payment-submit-button button{
    /* width: 100%; */
    height: 24px;
    line-height: 24px;
    padding: 16px;
    background-color: rgb(122, 41, 250);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}

.coupon-modal-container{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3001;
    margin: 0px auto -100px;
    padding-bottom: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    animation: 0.3s ease 0s 1 normal none running gDIGGC;
    max-width: 375px;
}

.coupon.main-wrapper{
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
    padding: 0px 20px 16px;
}

.coupon.title{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 32px 0px 36px;
}

.coupon.title h3{
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
}

.close-btn{
    width: 24px;
    padding: 0px;
}

.close-btn img{
    width: 100%;
}

.coupon.coupon-list{
    overflow: auto;
    max-height: 420px;
}

.coupon.coupon-card-container{
    position: relative;
    width: calc(100% - 2px);
    margin-bottom: 14px;
    overflow-y: hidden;
    cursor: pointer;
}

.coupon.coupon-card::before{
    content: "";
    position: absolute;
    bottom: -7px;
    right: 71px;
    width: 17px;
    height: 17px;
    border-top: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    background-color: white;
    transform: rotate(45deg);
}

.coupon.coupon-card{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 144px;
    border-radius: 5px;
}

.coupon.coupon-card::after{
    position: relative;
    width: calc(100% - 2px);
    margin-bottom: 14px;
    overflow-y: hidden;
    cursor: pointer;
}

.coupon.coupon-main{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 22px;
    font-size: 10px;
}

.coupon.coupon-main.checked{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: calc(100% - 80px);
    height: 142px;
    border-radius: 5px;
    padding: 20px;
    border-top: 1px solid rgb(122, 41, 250);
    border-bottom: 1px solid rgb(122, 41, 250);
    border-left: 1px solid rgb(122, 41, 250);
    border-image: initial;
    border-right: none;
}

.coupon-price{
    align-self: flex-end;
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    color: rgb(122, 41, 250);
    white-space: nowrap;
}

.coupon-date{
    color: rgb(119, 119, 119);
    font-size: 10px;
    line-height: 13px;
    word-break: keep-all;
}

.coupon coupon-title{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 206px;
    height: 32px;
    margin-top: 6px;
    display: -webkit-box;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: rgb(0, 0, 0);
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.coupon-right{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 80px;
    height: 142px;
    border-width: 1px;
    border-style: solid solid solid dashed;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 5px;
}










