@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap);

body {
    font-family: 'Noto Sans KR', sans-serif;
    src: local ("NotoSansKR");
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;

}

header {
    background: rgba(255, 255, 255, 1);
    z-index: 9;
    position: relative;
}

.header-container {
    padding: 0;
    width: 90%;

    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
    align-items: center;
    display: flex;
    height: 71px;
    justify-content: space-between;
}

a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    background-color: transparent;
    transition: all 0.3s ease;
}

.header-logo img {
    max-height: 32px;
}

img {
    border-style: none;
}

.user-nav {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}


.nav-trigger-icon::before , .nav-trigger-icon::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(10, 10, 10, 1);
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
}

.header-nav {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}
.header-nav a {
    border: 0;
    color: rgba(10, 10, 10, 1);
    font-size: 14px;
    padding: 0 10px 0 10px;
    width: auto;
}
.submit-inquiry {
    display: inline-block;
}

.nav-trigger {
    padding-right: 0;
    margin-right: -10px;
    display: inline-block;
    background-color: transparent;
}
.nav-trigger-text {
    display: inline-block;
    color: rgba(10, 10, 10, 1);
}

.nav-trigger-icon {
    left: auto;
    right: 1em;
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: rgba(10, 10, 10, 1);
    transform: translateX(0) translateY(-50%);
    transition: background-color 0.3s;

    position: relative;
    top: -3px;
    margin-left: 23px;
}

.nav-trigger-icon::before {
    top: -5px;
}

.nav-trigger-icon::after {
    top: 5px;
}

/* 헤더 네비 선택됐을 때 */
.is-clicked {
    background-color: rgba(255, 255, 255, 0);
}

.is-clicked::before {
    top: 0;
    transform: rotate(135deg);
    background-color: rgba(10, 10, 10, 1);
}
.is-clicked::after {
    top: 0;
    transform: rotate(225deg);
    background-color: rgba(10, 10, 10, 1);
}
.nav-trigger-ul {
    padding: 80px 0;
    
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.83);
    z-index: 2;
    text-align: center;
    backface-visibility: hidden;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: 0.4s;
}

.nav-trigger-ul li {
    font-size: 1.875rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0.2em 0;
}

.nav-trigger-ul a {
    display: block;
    padding: 0.2em 1em;
    transition: background 0.2s;
    color: #FFFFFF;
}


/* main */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 22px;
}

.visibility-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.section {
    margin-bottom: 60px;
}

.hero_show {
    background-image: url('https://theme.zdassets.com/theme_assets/13612819/ce50aeb00da862eb39d6acc202ba4ad7711f769a.jpg');
    background-position: center;
    background-size: cover;
}

.hero {
    background-color: rgba(255, 255, 255, 1);
    height: 400px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

.hero-inner {
    position: relative;
    top: 50%;
    transform: translateY(-70%);
    max-width: 610px;
    margin: 0 auto;
}

.welcome_text {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
    font-weight: 600;
    line-height: 1.2;
    font-size: 28px;
}

.search {
    position: relative;
}

.hero .search-full::before {
    content: "\f002";
    font-family: 'FontAwesome';
    left: 0;
    position: absolute;
    height: 100%;
    align-items: center;
    display: flex;
    color: #777;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 2px;
}

input:not([type="checkbox"]) {
    outline: none;
}

input {
    font-weight: 300;
    max-width: 100%;
    box-sizing: border-box;
    transition: border .12s ease-in-out;
}

input, textarea {
    color: #000;
    font-size: 14px;
}


.search input[type="search"] {
    border: 1px solid #fff;
    border-radius: 2px;
    color: #999;
    font-weight: 500;
    height: 50px;
    padding-left: 40px;
    padding-right: 20px;
    width: 100%;
}

.search input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    min-width: 100px;
    max-width: 100px;
    border-radius: 0 2px 2px 0;
    background: #363633;
    color: #fff;
}

/* 메인 컨텐츠 */
.container {
    padding: 0;
    width: 90%;
    max-width: 1160px;
    margin: 0 auto;
}

.section {
    margin-bottom: 60px;
}

.categories {
    position: relative;
    top: -150px;
    margin-bottom: -150px;
}

.blocks-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}

.blocks-item, .quick-articles section {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(0, 204, 204, 1);
    display: flex;
    flex: 1 0 340px;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: center;
}

.blocks-item {
    margin: 40px 5px 10px;
}

.blocks-item-link {
    background: #fff;
    color: #333;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border-radius: inherit;
    position: relative;
}

.blocks-item span.category-icon {
    background: #363633;
    height: 60px;
    width: 60px;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: -30px;
    transition: transform 0.2s, opacity 0.2s;
}

.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.blocks-item span.category-icon i {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5em;
    line-height: 60px;
}


/* ??? */
.fa-book-open-reader:before, .fa-book-reader:before {
    content: "\f5da";
}

.blocks-item-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.1em;
}

.blocks-item-description {
    font-size: 0.9em;
    margin: 0;
}

.blocks-item-description:not(:empty) {
    margin-top: 10px;
}

.blocks-list, .quick-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}

.quick-articles section {
    display: block;
    margin: 40px 5px 10px;
    text-align: left;
    padding: 30px 30px;
}

.quick-articles h2 {
    font-size: 1.3em;
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
}

.quick-articles section h2:after{
    content: "\f006";
    font-family: 'FontAwesome';
    margin-left: -18px;
    opacity: 0.1;
    font-size: 2em;
    position: absolute;
    margin-top: -4px;
}

.quick-articles section.recent-articles h2:after {
    content: "\f06e";
}

.promoted-articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.promoted-articles-item {
    align-self: flex-end;
    flex: 0 0 auto;
    padding-right: 0;
    width: 100%;
}

.quick-articles section li, .article-list li, .section-lists li {
    position: relative;
    margin-bottom: 0;
}

.promoted-articles-item {
    width: 100%;
}

.promoted-articles-item a, .quick-articles li a {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    color: #333333;
}

.quick-articles li a, .article-list li, .article-relatives li, .section-lists li {
    padding-left: 25px;
}

.article-list li:before, .quick-articles ul > li > a:before, .article-relatives li:before, .section-lists li:before {
    content: "\f0f6";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
}

ul {
    list-style:none;
    margin: 0;
    padding: 0;
}
.quick-articles ul li:last-child a {
    border-bottom: 0;
}


/* footer */

.footer {
    background: #363633;
    margin-top: 30px;
    padding: 30px 0;
    color: #FFFFFF;
}

.text-center {
    text-align: center;
}

.footer-legal p {
    font-size: 0.9em;
}

.footer a {
    color: #FFFFFF;
    text-underline-position: under;
}

b, strong {
    font-weight: bolder;
}

