@charset "UTF-8";
@font-face {
    font-family: wadizicon;
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/static/web/media/wadizicon.1de1502a.eot#iefix) format("embedded-opentype"),url(https://static.wadiz.kr/static/web/media/wadizicon.f5cdf486.woff2) format("woff2"),url(https://static.wadiz.kr/static/web/media/wadizicon.9eb6b0a9.woff) format("woff"),url(https://static.wadiz.kr/static/web/media/wadizicon.e5379495.ttf) format("truetype"),url(https://static.wadiz.kr/static/web/media/wadizicon.077f5804.svg#wadizicon) format("svg")
}
body {
    line-height: 1.33;
    font-family: Roboto,Noto Sans KR,-apple-system,Dotum,sans-serif
}
@font-face {
    font-family: Noto Sans KR;
    font-weight: 300;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Light.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Light.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Light.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Regular.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Regular.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Regular.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 500;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Medium.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Medium.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Medium.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 700;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Bold.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Bold.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Bold.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: "Noto Serif KR";
    font-weight: 300;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notoserif/NotoSerifKR-Light.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notoserif/NotoSerifKR-Light.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notoserif/NotoSerifKR-Light.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: "Noto Serif KR";
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notoserif/NotoSerifKR-Regular.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notoserif/NotoSerifKR-Regular.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notoserif/NotoSerifKR-Regular.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: "Noto Serif KR";
    font-weight: 500;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notoserif/NotoSerifKR-Medium.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notoserif/NotoSerifKR-Medium.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notoserif/NotoSerifKR-Medium.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: "Noto Serif KR";
    font-weight: 700;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notoserif/NotoSerifKR-Bold.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notoserif/NotoSerifKR-Bold.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notoserif/NotoSerifKR-Bold.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    src: local("Roboto Light"),url(https://static.wadiz.kr/assets/fonts/roboto/Roboto-Light.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/roboto/Roboto-Light.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/roboto/Roboto-Light.ttf) format("truetype");
    unicode-range: u+000-5ff
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: local("Roboto"),local("Roboto-Regular"),url(https://static.wadiz.kr/assets/fonts/roboto/Roboto-Regular.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/roboto/Roboto-Regular.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/roboto/Roboto-Regular.ttf) format("truetype");
    unicode-range: u+000-5ff
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: local("Roboto Medium"),url(https://static.wadiz.kr/assets/fonts/roboto/Roboto-Medium.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/roboto/Roboto-Medium.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/roboto/Roboto-Medium.ttf) format("truetype");
    unicode-range: u+000-5ff
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: local("Roboto Bold"),url(https://static.wadiz.kr/assets/fonts/roboto/Roboto-Bold.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/roboto/Roboto-Bold.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/roboto/Roboto-Bold.ttf) format("truetype");
    unicode-range: u+000-5ff
}

@font-face {
    font-family: wadizicon;
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/static/web/media/wadizicon.1de1502a.eot#iefix) format("embedded-opentype"),url(https://static.wadiz.kr/static/web/media/wadizicon.f5cdf486.woff2) format("woff2"),url(https://static.wadiz.kr/static/web/media/wadizicon.9eb6b0a9.woff) format("woff"),url(https://static.wadiz.kr/static/web/media/wadizicon.e5379495.ttf) format("truetype"),url(https://static.wadiz.kr/static/web/media/wadizicon.077f5804.svg#wadizicon) format("svg")
}

/* [class*=icon-]:before,i.icon:before,i.wadizicon {
    display: inline-block;
    margin-top: -.2em;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: wadizicon!important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    speak: none
} */

body {
	overflow-y: scroll; /* 내용이 넘칠때 어떻게 보여줄지 지정 */
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
body, body button, body input, body select, body textarea {
    font-family: roboto,Noto Sans KR,-apple-system,dotum,sans-serif;
}
div {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}
a, div, header, h1, span, ul, form, input {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}
div, h1 {
	margin: 0;
    padding: 0;
}
div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
button {
    background: none;
    color: inherit;
}
body, body button, body input, body li, 
body ol, body select, body textarea, body ul {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}
.web-header {
       position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: top .25s;
    z-index: 1201;
    width: 100%;
}
.web-header .header-wrapper {
    position: relative;
    top: 0;
    z-index: 9998;
    background-color: #fff;
    width: 100%;
    height: 56px;
    text-align: center;
}
.web-header .header-wrapper .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1440px;
    height: 100%;
}
.web-header .header-wrapper .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1440px;
    height: 100%;
}
.web-header .wadiz-logo {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 16px;
    margin: 0;
    line-height: 22px;
    font-size: 23px;
    font-weight: 800;
}
.web-header .wadiz-logo>a {
    display: block;
    padding: 11px 0 13px;
}
.web-header .wadiz-logo .label { /* wadiz 적힌 span태그 */
    display: block;
    position: absolute;
    left: -9999px; /* 화면 밖으로 빼버림. */
    visibility: none;
    height: 1px;
}
a, a:visited { /* a태그 방문 시 */
    text-decoration: none;
    color: inherit;
}
.web-header .wadiz-logo .label {
    display: block;
    position: absolute;
    left: -9999px;
    visibility: none;
    height: 1px;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
/* :not(svg) { 해당 선택자 제외 적용
    transform-origin: 0px 0px;
} */
.header-menu-category-ul { /* 헤더 상단 카테고리 메뉴 - ul태그 */
    display: inline-block;
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    flex-shrink: 0;
    justify-content: space-between;
    z-index: 1;
    margin-left: -15px;
    padding: 0;
    width: auto;
    list-style: none;
    vertical-align: top;
}
.header-menu-category-li { /* 헤더 상단 카테고리 메뉴 - li태그 */
    display: inline-block;
    text-decoration: none;
    color: #212529;
}
.header-menu-category-a { /* 헤더 상단 카테고리 메뉴 - a태그 */
    line-height: 30px;
    letter-spacing: -.6px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    transition: .2s;
    cursor: pointer;
    padding: 14px 16px;
    text-align: center;
    color: #212529;
}
.web-header .web-header-utils { /* 헤더 검색창, 로그인, 회원가입, 프로젝트 만들기 div */
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: top;
}
.header-search-div { /* 헤더 검색창 div */
    display: inline-block;
    position: relative;
    padding: 8px 16px 8px 0;
    min-width: 185px;
    height: 56px;
}
.header-search-index-div { /* 헤더 검색창 div 내의 div */
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    position: relative;
    transition-property: border-color,background-color,color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 10px 0 0;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    color: #212529;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-appearance: none;
}
.header-search-empty-div { /* 검색창 div 내 왼쪽 여백 div */
    position: relative;
    width: 16px;
}
.header-search-input-div { /* 검색창 input태그로 감싼 div */
    display: flex;
    position: relative;
    flex: 1 1 0%;
    margin-right: 40px;
}
.header-search-input-div input { /* 검색창 input태그 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    flex-grow: 1;
    outline: none;
    background: none;
    padding-right: 32px;
    width: 100%;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-sizing: border-box;
}
.header-search-button { /* 헤더 검색버튼 */
    position: absolute;
    top: 52%;
    right: 16px;
    left: auto;
    transform: translateY(-52%);
    z-index: 1;
    pointer-events: visible;
}
.withIcon_icon__20lDO { /* 검색버튼 돋보기 모양 */
   	display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
    cursor: pointer;
}
.header-user-div { /* 로그인, 회원가입을 감싼 div를 감싼 div태그 */
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.header-user-container { /* 로그인, 회원가입을 감싼 div태그 */
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.header-user-container .header-user-button { /* 로그인, 회원가입 버튼 태그 */
    display: inline-block;
    cursor: pointer;
    padding: 0 8px;
    text-align: center;
    line-height: 56px;
    color: #60656a;
    font-size: 15px;
}
.web-header .web-header-funding-open { /* 프로젝트 만들기 버튼을 감싼 div */
    display: inline-block;
    vertical-align: top;
}
.web-header .web-header-utils .funding-open { /* 프로젝트 만들기 버튼을 감싼 div */
    margin-left: 12px;
}
.header-make-button { /* 프로젝트 버튼 */
    position: relative;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding: 9px 16px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.43;
    white-space: nowrap;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box!important;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}
.header-make-button.header-make-button2 { /* 프로젝트 만들기 버튼 */
    border-color: #00c4c4;
    color: #00a2a2;
}
.header-make-button.header-make-button3 { /* 프로젝트 만들기 버튼 */
    padding: 9px 16px;
    line-height: 1.45;
    font-size: 14px;
}
.web-header .web-header-funding-open .funding-open-button { /* 프로젝트 만들기 버튼 */
    margin-top: 9px;
    border-radius: 4px;
    vertical-align: top;
}
.header-make-button span { /* 프로젝트 만들기가 적힌 span태그를 감싼 span태그 */
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}
.header-make-button span { /* 프로젝트 만들기가 적힌 span태그 */
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

input::placeholder {
	color: #adb5bd;
}









/* 헤더 반응형 */
@media screen and (min-width: 1097px){
	.web-header {
	    position: static;
	}
}

@media screen and (min-width: 1097px){
	.web-header .header-wrapper {
	    position: relative;
	    border-bottom: 1px solid #f0f2f5;
	    padding: 0;
	    height: 56px;
	    text-align: left;
	}
}
@media screen and (min-width: 1097px){
	.web-header .header-wrapper .header-container {
	    padding: 0 80px;
	}
}
@media screen and (min-width: 1097px){
	.web-header .wadiz-logo {
	    position: static;
	}
}
@media screen and (min-width: 1097px){
	.web-header .wadiz-logo>a {
	    padding: 14px 0 18px;
	}
}
@media screen and (min-width: 1097px){
	.web-header .web-header-utils { /* 헤더 검색창, 로그인, 회원가입, 프로젝트 만들기 div */
	    display: flex;
	    position: relative;
	    margin-left: auto;
	}
}
@media screen and (min-width: 1360px){
	.header-search-div { /* 헤더 검색창 div */
	    min-width: 360px;
	}
}
@media screen and (min-width: 1097px){
	.header-search-index-div { /* 헤더 검색창 div 내의 div */
	    border: 1px solid #00c4c4;
	}
}