<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지금 우리 아이들은</title>
    <link rel="stylesheet" href="/css/nowKids/now-kids-list.css">
    <link rel="shortcut icon" href="/images/logo_favi/favi/favicon.ico">
</head>
<body>
    <div class="full-content-wrapper-media">
        <div class="full-content-wrapper">
            <div class="full-content-inner">
                <div class="title-line">
                    <span style="margin-left: 15px;">지금 우리 아이들은</span>
                    <span class="write-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.31999 3.48005L12.52 6.68005L3.99999 15.2H0.799988V12L9.31999 3.48005ZM12 0.800049L9.87999 2.92005L13.08 6.12005L15.2 4.00005L12 0.800049Z" fill="white"></path></svg></span>
                </div>
                <div class="like-modal-container" id="like-modal" style="display: none">
                    <span class="like-text" style="display: none"
                    >찜 목록에 추가했습니다</span
                    >
                    <span class="like-cancel-text" style="display: none"
                    >찜 목록에서 제외했습니다</span
                    >
                </div>
                <div class="top-content-flex-wrapper">
                    <div class="go-write-wrapper">
                        글쓰러가기
                    </div>
                    <div class="top-content-margin-wrapper">
                        <div class="top-content-inner-flex">

                            <div class="user-info-wrap">
                                <span class="top-content-new-img"></span>
                                <div class="user-img-wrap">
                                    <span class="top-content-user-img"></span>
                                </div>
                                <div class="top-content-user-name">
                                    김동한
                                </div>
                            </div>

<!--                            <div class="user-info-wrap">-->
<!--                                <div class="user-img-wrap">-->
<!--                                    <span class="top-content-user-img"></span>-->
<!--                                </div>-->
<!--                                <div class="top-content-user-name">-->
<!--                                    황현수-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="user-info-wrap">-->
<!--                                <div class="user-img-wrap">-->
<!--                                    <span class="top-content-user-img"></span>-->
<!--                                </div>-->
<!--                                <div class="top-content-user-name">-->
<!--                                    김정표-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="user-info-wrap">-->
<!--                                <div class="user-img-wrap">-->
<!--                                    <span class="top-content-user-img"></span>-->
<!--                                </div>-->
<!--                                <div class="top-content-user-name">-->
<!--                                    임의택-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="user-info-wrap">-->
<!--                                <div class="user-img-wrap">-->
<!--                                    <span class="top-content-user-img"></span>-->
<!--                                </div>-->
<!--                                <div class="top-content-user-name">-->
<!--                                    정유찬-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="user-info-wrap">-->
<!--                                <div class="user-img-wrap">-->
<!--                                    <span class="top-content-user-img"></span>-->
<!--                                </div>-->
<!--                                <div class="top-content-user-name">-->
<!--                                    박다예-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="user-info-wrap">-->
<!--                                <div class="user-img-wrap">-->
<!--                                    <span class="top-content-user-img"></span>-->
<!--                                </div>-->
<!--                                <div class="top-content-user-name">-->
<!--                                    뚝딱이-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="user-info-wrap">-->
<!--                                <div class="user-img-wrap">-->
<!--                                    <span class="top-content-user-img"></span>-->
<!--                                </div>-->
<!--                                <div class="top-content-user-name">-->
<!--                                    뚝딱이-->
<!--                                </div>-->
<!--                            </div>-->
                            <!-- 이거 8개까지만 받기 -->
                        </div>
                    </div>
                </div>
                <!-- 윗 부분 끝 -->
                <div class="bottom-content-full-wrap">
                    <div class="botom-content-full-wrap-media">
                        <div class="bottom-content-full-flex">

                            <!-- 컨텐트 하나 시작 -->
                            <!-- <div class="bottom-content-flex">
                                <section class="feed-header-full-wrap">
                                    <div class="feed-header-inner-flex">
                                        <div class="feed-header-left-flex">
                                            <a class="feed-header-user-img-wrap">
                                                <span class="feed-header-user-img">
                                                </span>
                                            </a>
                                            <div class="feed-header-new-board">
                                                <em class="feed-header-user-name">
                                                    김동한
                                                </em>
                                                <span class="feed-header-new-message">
                                                    님이&nbsp; 새 글을 작성했습니다.
                                                </span>
                                            </div>
                                        </div>
                                        <span class="feed-header-time">3시간 전</span>
                                    </div>
                                </section>
                                <div class="board-component-image-wrapper">
                                    <section class="banner-container">
                                        <div class="banner">
                                            
                                        </div>
                            
                                        <div class="buttons">
                                            <button><span>1</span></button>
                                            <button><span>2</span></button>
                                            <button><span>3</span></button>
                                            <button><span>4</span></button>
                                            <button><span>5</span></button>
                                        </div>
                                        <div class="move-arrow">
                                            <div class="prev">
                                                <img data-role="none" class="prev-image" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E" style="display: block;">
                                            </div>
                                            <div class="next">
                                                <img data-role="none" class="prev-image" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E" style="display: block;">
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <section class="bottom-full-wrap">
                                    <section class="bottom-event-title-wrap">
                                        <p class="bottom-event-title">뚝딱이가 왔어요 [제목]</p>
                                        <button type="button">
                                            <span>
                                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="nav-arrow-icon" aria-hidden="true" style="width: 20px; height: 20px;">
                                                    <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                                </svg>
                                            </span>
                                        </button>
                                    </section>
                                    <div class="table-display">
                                        <table class="table-box">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>닉네임</th>
                                                    <th>이름</th>
                                                    <th>나이</th>                                
                                                    <th>통솔자 이름</th>                                
                                                    <th>참여일자</th>    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>  
                                                    <td>1</td>
                                                    <td>뚝딱이</td>
                                                    <td>임종욱</td>
                                                    <td>27</td>
                                                    <td>뚝딱이</td>
                                                    <td>2023.04.27</td>  
                                                </tr>   
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                                <div class="bottom-space"></div>
                            </div> -->
                            <!-- 컨텐트 하나 끝 -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    let nowKidsDTOJSON = [[${nowKidsDTOS}]];
    let nowKidsDTOS = JSON.parse(nowKidsDTOJSON)

    let members = [[${memberDTOS}]]
    console.log(members)
    // console.log(nowKidsDTOS)
</script>
<script src="/js/nowKids/slide.js"></script>
<!--<script src="/js/nowKids/now-kids-list.js"></script>-->
</html>