<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지금 우리아이들은 작성</title>
    <link rel="stylesheet" href="../../static/css/nowKids/now-kids-write.css">
</head>
<body>
    <header class="header"></header>
    <div class="full-content-wrapper">
        <div class="full-content-flex-wrapper">
            <div class="left-full-content">
                <div class="left-header-full-wrapper">
                    <div class="left-header-box-wrapper">
                        <span class="left-header-category-name">농촌</span>
                        <span class="left-header-leader">통솔자</span>
                    </div>
                    <a class="left-header-leader-mypage">
                        <span class="left-header-leader-name">김동한</span>의<br>체험활동
                    </a>
                    <span class="left-header-experience-num-wrapper">체험활동 번호 <span class="left-header-experience-num">1</span>
                </div>
                <nav class="left-body-full-wrapper">
                    <div class="left-body-space"></div>
                    <ul>
                        <li>
                            <div class="left-body-category-toggle">지금 우리 아이들은<span class="toggle-img"><img src="/static/images/nowKids/bottom-arrow.png"></span></div>
                            <ul class="left-body-category-list">
                                <li>
                                    <a class="left-body-category">
                                        진행중인 체험학습
                                    </a>
                                </li>
                                <li>
                                    <a class="left-body-category">
                                        사진 등록
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>



    <footer class="footer"></footer>
</body>
</html>