<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지금 우리 아이들은</title>
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/nowKids/now-kids-list.css">
    <link rel="shortcut icon" href="/images/logo_favi/favi/favicon.ico">
</head>
<body>
<div th:insert="~{components/header:: header}"></div>
    <div class="full-content-wrapper-media">
        <div class="full-content-wrapper">
            <div class="full-content-inner">
                <div class="title-line">
                    <span style="margin-left: 15px;">지금 우리 아이들은</span>
                    <span class="write-icon" th:if="${#strings.equals(session.member.memberType, 'GENERAL_GUIDE')}" onclick="location.href='/nowKid/writeFirst'"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.31999 3.48005L12.52 6.68005L3.99999 15.2H0.799988V12L9.31999 3.48005ZM12 0.800049L9.87999 2.92005L13.08 6.12005L15.2 4.00005L12 0.800049Z" fill="white"></path></svg></span>
                </div>
                <div class="like-modal-container" id="like-modal" style="display: none">
                    <span class="like-text" style="display: none"
                    >좋아요 목록에 추가했습니다</span
                    >
                    <span class="like-cancel-text" style="display: none"
                    >좋아요 목록에서 제외했습니다</span
                    >
                </div>
                <div class="top-content-flex-wrapper">
                    <div class="go-write-wrapper" onclick="location.href='/nowKid/writeFirst'" th:if="${#strings.equals(session.member.memberType, 'GENERAL_GUIDE')}">
                        글쓰러가기
                    </div>
                    <div class="top-content-margin-wrapper">
                        <div class="top-content-inner-flex">

                        </div>
                    </div>
                </div>
                <!-- 윗 부분 끝 -->
                <div class="bottom-content-full-wrap">
                    <div class="botom-content-full-wrap-media">
                        <div class="bottom-content-full-flex">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:insert="~{components/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/components/header.js"></script>
<script th:inline="javascript">
    let nowKidsDTOJSON = [[${nowKidsDTOS}]];
    let nowKidsDTOS = JSON.parse(nowKidsDTOJSON)

    let members = [[${memberDTOS}]]
    console.log(members)
    // console.log(nowKidsDTOS)
</script>
<script src="/js/nowKids/slide.js"></script>
<!--<script src="/js/nowKids/now-kids-list.js"></script>-->
</html>