<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지금 우리 아이들은</title>
    <link rel="stylesheet" href="../../static/css/nowKids/now-kids-list.css">

</head>
<body>
    <div class="full-content-wrapper-media">
        <div class="full-content-wrapper">
            <div class="full-content-inner">
                <div class="top-content-flex-wrapper">
                    <div class="top-content-margin-wrapper">
                        <div class="top-content-inner-flex">
                            <div class="user-info-wrap">
                                <div class="user-img-wrap">
                                    <span class="top-content-user-img"></span>
                                </div>
                                <div class="top-content-user-name">
                                    김동한
                                </div>
                            </div>
                            <div class="user-info-wrap">
                                <div class="user-img-wrap">
                                    <span class="top-content-user-img"></span>
                                </div>
                                <div class="top-content-user-name">
                                    황현수
                                </div>
                            </div>
                            <div class="user-info-wrap">
                                <div class="user-img-wrap">
                                    <span class="top-content-user-img"></span>
                                </div>
                                <div class="top-content-user-name">
                                    김정표
                                </div>
                            </div>
                            <div class="user-info-wrap">
                                <div class="user-img-wrap">
                                    <span class="top-content-user-img"></span>
                                </div>
                                <div class="top-content-user-name">
                                    임의택
                                </div>
                            </div>
                            <div class="user-info-wrap">
                                <div class="user-img-wrap">
                                    <span class="top-content-user-img"></span>
                                </div>
                                <div class="top-content-user-name">
                                    정유찬
                                </div>
                            </div>
                            <div class="user-info-wrap">
                                <div class="user-img-wrap">
                                    <span class="top-content-user-img"></span>
                                </div>
                                <div class="top-content-user-name">
                                    박다예
                                </div>
                            </div>
                            <div class="user-info-wrap">
                                <div class="user-img-wrap">
                                    <span class="top-content-user-img"></span>
                                </div>
                                <div class="top-content-user-name">
                                    정세인
                                </div>
                            </div>
                            <div class="user-info-wrap">
                                <div class="user-img-wrap">
                                    <span class="top-content-user-img"></span>
                                </div>
                                <div class="top-content-user-name">
                                    김세윤
                                </div>
                            </div>
                            <!-- 이거 8개까지만 받기 -->
                        </div>
                    </div>
                </div>
                <!-- 윗 부분 끝 -->
                <div class="bottom-content-full-wrap">
                    <div class="botom-content-full-wrap-media">
                        <div class="bottom-content-full-flex">
                            <div class="bottom-content-flex">
                                <section class="feed-header-full-wrap">
                                    <div class="feed-header-inner-flex">
                                        <div class="feed-header-left-flex">
                                            <a class="feed-header-user-img-wrap">
                                                <span class="feed-header-user-img">

                                                </span>
                                            </a>
                                            <div class="feed-header-new-board">
                                                <em class="feed-header-user-name">
                                                    김동한
                                                </em>
                                                <span class="feed-header-new-message">
                                                    님이&nbsp; 새 글을 작성했습니다.
                                                </span>
                                            </div>
                                        </div>
                                        <span class="feed-header-time">3시간 전</span>
                                    </div>
                                </section>
                                <div class="board-component-image-wrapper">
                                    <section class="banner-container">
                                        <!-- 메인 배너 -->
                                        <div class="banner">
                                            <div onclick="imageModal()"></div>
                                            <div onclick="imageModal()"></div>
                                            <div onclick="imageModal()"></div>
                                            <div onclick="imageModal()"></div>
                                            <div onclick="imageModal()"></div>
                                        </div>
                            
                                        <!-- 선택 버튼 -->
                                        <div class="buttons">
                                            <button><span>1</span></button>
                                            <button><span>2</span></button>
                                            <button><span>3</span></button>
                                            <button><span>4</span></button>
                                            <button><span>5</span></button>
                                        </div>
                                        <div class="move-arrow">
                                            <!-- 이전 버튼 -->
                                            <div class="prev">
                                                <img data-role="none" class="prev-image" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E" style="display: block;">
                                            </div>
                                            <!-- 사이 -->
                                            <!-- <div class="page-move-wrapper">;
                                                <span id="page-now">1</span>;
                                                <span id="page-total"> / 4 </span>;
                                                <div style="line-height: 1;">;
                                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' fill='none' viewBox='0 0 8 7'%3E %3Cpath fill='%23fff' d='M3 0H5V7H3z'/%3E %3Cpath fill='%23fff' d='M0.5 4.5H2.5V11.5H0.5z' transform='rotate(-90 .5 4.5)'/%3E %3C/svg%3E" alt="icon-plus" class="banner-plus-image">;
                                                </div>;
                                            </div>; -->
                                            <!-- 다음 버튼 -->
                                            <div class="next">
                                                <img data-role="none" class="prev-image" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E" style="display: block;">
                                            </div>
                                        </div>
                                    </section>
                                    <!-- <img class="board-component-image" src="https://res.cloudinary.com/frientrip/image/upload/ios_image_1356137_20230424014945071_9ad15baefa1dc376855bc8bb2082239d205edadf28bd55b68e241f21989fc59a"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/js/nowKids/now-kids-list.js"></script>
</html>