<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>통솔중인 행사 정보</title>
    <link rel="stylesheet" href="../../static/css/nowKids/now-kids-write2.css">
    <link rel="shortcut icon" href="../../static/images/logo_favi/favi/favicon.ico">
</head>

<body>
    <div>
        <div id="header"></div>

        <div class="wrap">
            <div class="now-kids.container">
                <div class="nav-header-box nav-header-background">
                    <div style="display: flex">
                        <span class="nav-header-span">통솔자</span>
                        <span class="nav-header-span">농촌</span>
                    </div>
                    <a href="javascript:void(0)" class="profile-box">
                        <span class="profile-name">임종욱</span><span>의</span>
                        <p>지금 우리 아이들은</p>
                    </a>
                    <button type="button" class="profile-btn">
                        <span class="profile-span">
                            <span>게시글 번호</span>
                            <span class="profile-span">1</span>
<!--                             <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="arrow-icon"
                                aria-hidden="true" style="width: 20px; height: 20px">
                                <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                            </svg> -->
                        </span>
                    </button>
                </div>
                <nav class="side-nav-box">
                    <div class="side-nav-layout"></div>
                    <ul>
                        <li>
                            <div href="javascript:void(0)" class="nav-title-box">
                                게시글 작성 순서
<!--                                 <span>
                                    <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                        class="nav-arrow-icon" aria-hidden="true" style="width: 20px; height: 20px">
                                        <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                    </svg>
                                </span> -->
                            </div>
                            <ul class="nav-info-ul">
                                <li>
                                    <a href="javascript:void(0)" class="nav-detail-title">통솔중인 행사</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="nav-detail-title">사진 등록</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="content-wrap">
                <section class="content-container">
                    <ol class="content-ol">
                        <li class="content-ol-li">지금 우리 아이들은</li>
                        <li class="content-ol-li">통솔중인 행사</li>
                    </ol>
                    <div class="content-title">통솔중인 행사 정보</div>
                    <div class="content-sub-title">통솔중인 행사 기본정보를 확인해 주세요.</div>
<!--                     <div class="content-side-box">
                        <button type="button" class="side-button">
                            <div class="side-button-icon">
                                <i></i>
                            </div>
                            <div>
                                <div class="side-button-title">다른 메이커들 다 본다는</div>
                                <div class="side-button-sub-title">필수 가이드 모음집</div>
                            </div>
                        </button>
                    </div> -->
                    <div class="content-box">
                        <section class="content-section">
                            <div class="input-title-box">
                                <div class="input-title-layout2">
                                    <h2>진행중인 행사</h2>
                                </div>
                                <div class="input-sub-title">
                                    지금 진행중인 행사를 선택해주세요.
                                </div>
                                <div class="input-box">
                                    <div class="select-box">
                                        <div style="position: relative">
                                            <div class="select-layout">
                                                <div class="select-value-box">
                                                    <div class="select-value select-placeholder">
                                                        선택해주세요.
                                                    </div>
                                                    <input type="text" class="dummy-input" readonly />
                                                </div>
                                                <div class="select-icon-box">
                                                    <div class="select-icon-layout">
                                                        <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                                            aria-hidden="true" style="color: rgb(134, 142, 150)">
                                                            <path
                                                                d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z">
                                                            </path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="select-menu-box">
                                                <div class="select-menu-layout">
                                                    <div class="select-option">안녕하세요.</div>
                                                    <div class="select-option">안녕하세요.</div>
                                                    <div class="select-option">안녕하세요.</div>
                                                    <div class="select-option">안녕하세요.</div>
                                                    <div class="select-option">안녕하세요.</div>
                                                    <div class="select-option">안녕하세요.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="content-section">
                            <div class="input-title-box">
                                <div class="input-title-layout">
                                    <h2>해당 날짜</h2>
                                </div>
                                <div class="input-sub-title">행사 참여날짜를 기입해주세요</div>
                                <div class="input-box">
                                    <div class="select-box">
                                        <div style="position: relative">
                                            <div class="date-wrap">
                                                <div class="date-container">
                                                    <div class="date-input-box">
                                                        <input type="date" class="form-control date-box"
                                                            placeholder="예시) 2023-04-28" autocomplete="off" size="12" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="content-section">
                            <div class="table-wrap">
                                <div class="input-title-layout2">
                                    <h2>통솔중인 참여자 목록</h2>
                                </div>
                                <div class="input-sub-title">행사 참여날짜를 기입해주세요</div>
                                <div>
                                <div>
                                    <table class="table-box">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>닉네임</th>
                                                <th>이름</th>
                                                <th>나이</th>                                
                                                <th>참여행사</th>                                
                                                <th>참여일자</th>    
                                            </tr>
                                        </thead>
                                        <tbody>       
                                            <!-- 여기에 요소 추가 -->                                 
                                            <tr>
                                                <td>1</td>
                                                <td>뚝딱이</td>
                                                <td>임종욱</td>
                                                <td>27</td>
                                                <td>1팀 고쳐주러 온 뚝딱이 안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</td>
                                                <td>2023.04.27 13:00:00</td>
                                            </tr>    
                                            <!-- 여기에 요소 추가 -->                                 
                                            <tr>
                                                <td>1</td>
                                                <td>뚝딱이</td>
                                                <td>임종욱</td>
                                                <td>27</td>
                                                <td>1팀 고쳐주러 온 뚝딱이 안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</td>
                                                <td>2023.04.27 13:00:00</td>
                                            </tr>    
                                            <!-- 여기에 요소 추가 -->                                 
                                            <tr>
                                                <td>1</td>
                                                <td>뚝딱이</td>
                                                <td>임종욱</td>
                                                <td>27</td>
                                                <td>1팀 고쳐주러 온 뚝딱이 안녕하세요안녕하세요안녕하세요안녕하세녕하세녕하세녕하세녕하세요안녕하세요</td>
                                                <td>2023.04.27 13:00:00</td>
                                            </tr>    
                                            <!-- 여기에 요소 추가 -->                                 
                                            <tr>
                                                <td>1</td>
                                                <td>뚝딱이</td>
                                                <td>임종욱</td>
                                                <td>27</td>
                                                <td>1팀 고쳐주러 온 뚝딱이 안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</td>
                                                <td>2023.04.27 13:00:00</td>
                                            </tr>    
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                        <button type="button" class="btn confirm-button">
                            <span>다음으로</span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script src="jquery.js"></script>
<script src="jquery-ui.js"></script>
<script src="datepicker-ko.js"></script> -->
<script>

    const $selectBox = $(".select-layout");
    const $selectMenuBox = $(".select-menu-box");

    $selectBox.mouseup(() => {
        $selectMenuBox.show();
    });

    $selectMenuBox.mouseleave(() => {
        $selectMenuBox.hide();
    })


    let $selectOption = $(".select-option");

    $selectOption.each((i, e) => {

        $(e).click(() => {
            $selectOption.css("color", "#0c0c0c");
            $(".select-placeholder").css("color","#0c0c0c"); 
            $(".select-placeholder").text($(e).text()); 
            $(e).css("color", "#e1e1e1");
            $selectMenuBox.hide();       
        });
    });


    /* 달력 모달 */

        // datepicker를 사용하여 달력 생성
    /*         $('#datepicker').datepicker({
                dateFormat: 'yy년 mm월 dd일',
                monthNames: [
                    '1월',
                    '2월',
                    '3월',
                    '4월',
                    '5월',
                    '6월',
                    '7월',
                    '8월',
                    '9월',
                    '10월',
                    '11월',
                    '12월',
                ],
                dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
                titleFormat: 'yyyy년 MM월',
                todayHighlight: true,
                autoclose: true,
                titleFormat: 'yyyy년 MM월',
                yearSuffix: '년',
                monthSuffix: '월',
            });
    
            // date-container 클릭 시 datepicker 보이도록 설정
            $('.date-container').click(function (e) {
                e.stopPropagation();
                $('#datepicker').datepicker('show');
            });
    
            // datepicker에서 날짜 선택 시 input value에 값을 넣는 함수
            $('#datepicker').datepicker({
                onSelect: function (dateText) {
                    $('#datepicker').val(dateText);
                },
            }); */
</script>

</html>