<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모집 게시글 작성</title>
    <link rel="stylesheet" href="../../static/css/event-board/event-board-write.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">  
</head>
<body>
    <div id="page-container">
        <main id="container">
            <form class="event-register">
                <!-- 회원 유형 선택 -->                
                <section class="info-register">

                    <h3 class="h3-text">모집 정보 입력하기</h3>
                    <p class="description-content">홍보할 모집 정보를<br>
                    양식에 맞게 입력해주세요</p>
                    
                        <!-- 행사명 -->
                    <div class="waffle field">
                        <div class="waffle label">
                            <label>게시글 제목</label>
                        </div>
                        <div class="input-container">
                            <div class="waffle input">
                                <input placeholder="모집 게시글 제목을 적어주세요">
                            </div>
                            <div class="waffle helper mb"></div>
                        </div>
                    </div>

                    <div class="waffle field">
                        <div class="waffle label">
                            <label>게시글 소제목</label>
                        </div>
                        <div class="input-container">
                            <div class="waffle input">
                                <input placeholder="모집 게시글 소제목을 적어주세요">
                            </div>
                            <div class="waffle helper mb"></div>
                        </div>
                    </div>

                    
                    <!-- 이벤트 장소  -->
                    <div class="waffle field">
                        <div class="waffle label">
                            <label>모집 장소</label>
                        </div>
                        <div class="action-input">
                            <div class="input-container mb13">
                                <input name="address" class="address" placeholder="주소검색">
                                <button class="address-btn" type="button">주소검색</button>
                                </div>
                           </div>
                        </div>
                        <div class="input-container">

                            <div class="waffle input">
                            
                                <input placeholder="상세주소" disabled>
                            </div>
                            <div class="waffle helper mb"></div>
                    </div>   

                             <!-- 이벤트 장소  -->
                    <div class="waffle field">
                        <div class="waffle label">
                            <label>모집 날짜</label>
                        </div>
                        <div class="input-container">
                            <div class="waffle input">
                                <input type="date" name="startDate" id="startDate">
                            </div>
                            <div class="waffle helper mb"></div>
                        </div>
                        </div>

                        <div class="waffle field">
                            <div class="waffle label">
                                <label>모집 인원</label>
                            </div>
                            <div class="input-container">
                                <div class="waffle input">
                                    <input placeholder="모집 인원수를 적어주세요" maxlength="5">
                                </div>
                                <div class="waffle helper mb"></div>
                            </div>
                        </div>

                        <div class="waffle field">
                            <div class="waffle label">
                                <label>참가비</label>
                            </div>
                            <div class="input-container">
                                <div class="waffle input">
                                    <input placeholder="참가비를 적어주세요(ex. 티켓값, 클래스비용 등)">
                                </div>
                                <div class="waffle helper mb">금액을 숫자로 입력해주세요</div>
                            </div>
                        </div>


                    <!-- 이벤트 소개  -->
                    <div class="waffle field">
                        <div class="waffle label">
                            <label>모집글 소개</label>
                        </div>
                        <div class="input-container">
                                <textarea rows="5"placeholder="모집글 소개를 적어주세요"></textarea>

                            <div class="waffle helper mb"></div>
                        </div>
                    </div>                  

                    <!-- 이벤트 장소  -->
                    <div class="waffle field">
                        <div class="waffle label">
                            <label>파일 첨부</label>
                        </div>
                    <button class="file-button" type="button">
                        <span>
                            <span class="button-children">
                                <input class="file-input" type="file" name="" accept="application/pdf,image/jpg,image/jpeg,image/png">등록</span>
                            </span>
                        </span>
                    </button>
                </div>                  
                <div class="waffle helper mb">10MB 이내 pdf, jpeg, png 파일을 등록하세요.</div>
                <div class="submit-container">
                <button class="submit-btn btn" type="button" disabled>등록하기</button>
                <p class="submit-notice"></p>
            </div>
                </section>


            </form>

        </main>
    </div><!-- page container -->

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/js/event-board/event-board.js"></script>
</html>

