@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700&display=swap');

body{
    font-family: 'Noto Sans KR';
    margin: 0;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
}

input::placeholder {
	/* color : #d9d9d9; */
	color : #B2B2B2;
	font-size: 17px;
	font-weight: 200;
}

header{
    display: block;
    position: relative;
    padding: 0;
    height: 56px;
    text-align: left;
    top: 0;
    background-color: #fff;
    width: 100%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #f0f2f5;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
}

#wrapper {
	padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
    border: 0;
    vertical-align: baseline;
}

#header-logo{
    display: inline-block;
    position: static;
    margin: 0;
    line-height: 22px;
    font-size: 32px;
}

#header-a-tag {
	padding: 14px 0 18px;
    display: block;
}

.header-logo-span {
	width: 85;
    height: 25;
	overflow-clip-margin: content-box;
    overflow: hidden;
    color: inherit;
}

#header-select {
    position: absolute;
    right: 80px;
    left: auto;
    color: #60656a;
	display: block;
    margin-left: 24px;
    box-shadow: none;
    width: auto;
    list-style: none;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    text-align: left;
}

.header-selects {
	float: left;
    width: auto;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    color: #60656a;
    width: 70px
}

#header-select-login {
	width: 56.5px;
}

.header-selects-a-tag {
	margin-left: 16px;
    padding: 0;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #60656a;
    margin: 0;
    border: 0;
    cursor: pointer;
    list-style: none;
}

.header-selects-span-tag {
	font-size: 15px;
    font-weight: 400;
    line-height: 55px;
    color: rgba(0,0,0,.84);
    margin: 0;
    border: 0;
    padding: 0;
    padding-top: 1px;
    vertical-align: baseline;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: -2px;
    right: -8px;
}


#wz-header{
    position: static;
    height: 55.11px;
    margin: 0px;
    padding: 0px;
    padding-top: 3px;
}

.web-header {
    position: static;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.header-wrapper{
    position: relative;
    text-align: center;
    border-bottom: 1px solid #f0f2f5;
    margin: 0;
    padding: 0;
    z-index: 9998;
    background-color: #fff;
    width: 100%;
    width: 1440px;
    height: 56px;
}

.header-container{
    padding: 0 80px;
    display: flex;
    margin: 0px 39.6px;
    height: 100%;
    position: absolute;
    transform: translate(210%);

}

.wadiz-label{
    padding: 13px 16px 18px;
}

.path{
    width: 82.55px;
    height: 21.84px;
}

.gnb-large{
    position: absolute;
    display:flex;
    transform: translate(220%);
    color: #000000D6;
    list-style: none;
    text-align: center;
    right: -207px;
    top: 0px;
    font-weight: 400;
}

.gnb-large span{
    color: #000000D6;
    font-weight: 400;
}

.login{
    display:flex;
    font-weight: 400;
}

.login a{
    text-decoration: none;
    margin-right:15px;
    font-weight: 400;
}

.login span{
    color: #000000D6;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    font-family: 'Noto Sans KR';
}

.loginlogin{
    color: #000000D6;
    font-weight: 400;
}

.signup{
    font-weight: 400;
    display: flex;
    width: auto;
    text-decoration: none;
    
}

.sign span{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    font-family: 'Noto Sans KR';
}

.signup a{
    text-decoration: none;
    color: #000000D6;
    font-weight: 400;
}

#forwardForm{
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

#sessionLoginCheck{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

.account-find{
    margin: 0;
    padding: 0;
   /*  padding-left: 50%; */
}

.page-header{
    margin: 0;
    padding: 0;
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
    display: block;
    height:179px;
}

.wz-text-display1{
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    color: rgba(0,0,0,.84);
    line-height: 40px;
    font-size: 32px;
    letter-spacing: -.6px;
    font-weight: 700;
    text-align: center;
    font-family: 'Noto Sans KR';
    text-align: left;
    padding: 56px 16px 36px;
}

.tab-list{
    position: relative;
    top: 13px;
    transition-property: background-color,-webkit-backdrop-filter,backdrop-filter;
    transition-duration: .5s;
    z-index: 100;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 8%);
    background: #fff;
    width: 100%;
    margin: 0;
    padding: 0;

}

.tab-list ul{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    color: rgba(0,0,0,.84);
    list-style: none;
    padding: 0 16px;
   
}

.tab-list a{
    display: block;
    width: 100%;
    height: 47px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

.tab-list li{
    margin-right: 24px;
    width: auto;
    float: left;
}

.active{
    height: 47px;
    float: left;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    border-bottom: 2px solid #00c4c4;
}

.active a{
    color: #00b2b2;
    display: block;
    width: 100%;
    height: 47px;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    font-size: 15px;
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
    font-weight: 400;
    padding-bottom: 10px;
}

.password a{
    color: #90949c;
    display: block;
    width: 100%;
    height: 47px;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    font-size: 15px;
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
    font-weight: 400;
    padding-bottom: 10px;
}

.tab-list ul::after{
    display: block;
    clear: both;
    content: "";
}

.page-body{
    background: #f5f7fa;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    letter-spacing: -.02em;
    color: #000000D6;
}

.wz-containder-id-check{
    margin: 0 auto;
    border-top: 1px solid transparent;
    width: 100%;
    max-width: 400px;
    min-height: calc(100vh - 187px);
    box-sizing: border-box;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    padding: 25px 16px 160px;
    position: relative;
    color: #0000008A;
    top: 13px;
/*     margin: 0 auto;
    border-top: 1px solid transparent;
    width: 100%;
    max-width: 400px;
    min-height: calc(100vh - 187px);
    box-sizing: border-box;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    padding: 25px 16px 160px;
    margin: 1px 559.6px 0px;
    position: relative;
    color: #0000008A; */
}

p.wz-text-body1{
    margin: 0 0 40px;
    padding: 0;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400px;
    word-break: keep-all;
    border: 0;
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    font-family: 'Noto Sans KR';
    color: rgba(0,0,0,.54);
    letter-spacing: -.02em;
}

#form-findId{
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    color: rgba(0,0,0,.84);
}

.label-hidden-field{
    margin: 24px 0;
    padding: 0;
    display:block;
    font: inherit;
    box-sizing: border-box;
}

.text-hidden{
    display: none;
    line-height: 24px;
    color: rgba(0,0,0,.84);
    font-size: 17px;
    height: 1px;
    overflow: hidden;
    text-indent: -9999px;
}

.wz-input{
    border: 0;
    color: rgba(0,0,0,.84);
    font: inherit;
    box-sizing: border-box;
    position: relative;
    font-size: 17px;
    padding-right: 33px;
}

.input-text{
    padding: 0 16px;
    height: 48px;
    line-height: 1.2em;
    font-size: 17px;
    font-weight: 300;
    transition-duration: .2s,0s;
    outline: none;
    border: 1px solid rgba(0,0,0,.15);
    background: #fff;
    width: 100%;
    vertical-align: middle;
    color: rgba(0,0,0,.84);
    font-family: 'Noto Sans KR';
}

.wz-input::after{
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: wadizicon!important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0);
    transition-property: transform,opacity;
    transition-duration: .2s;
    opacity: 0;
    box-sizing: border-box;
    pointer-events: none;
    color: #00c4c4;
    font-size: 1.41176em;
}

.wz-primary-block-button{
    font-weight: 100px; 
}

.helper-error{
    margin-bottom: 25px;
}

#btnIsJoinedEmail{
    background-color: #00c4c4;
    color: #fff;
    border-color: #00c4c4;
    width: 100%;
    text-align: center;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .2s;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    cursor: pointer;
    padding: 0 1.41176em;
    height: 48px;
    vertical-align: middle;
    line-height: 1;
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box!important;
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
    font-family: 'Noto Sans KR';
}

#ok-button {
    font-weight: 500;
    font-family: 'Noto Sans KR';
    margin: 0 auto;
    top: -2px;
    position: relative;
}

#footer{
    position: relative;
    margin: 0;
    padding-top:120;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
}

.web-footer{
    position: relative;
    background: #fff;
    padding-top: 120px;
    color: #212121;
    font-size: 12px;
}

.FooterMenu-container{
    border-top: 1px solid #e6eaed;
    border-bottom: 1px solid #e6eaed;
    text-align: left;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    border: 0;
}

.FooterMenu_bar{
    border-top: 1px solid #e6eaed;
    border-bottom: 1px solid #e6eaed;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 80px;
    max-width: 1440px;
    display: flex;
    font-family: 'Noto Sans KR';
}

.FooterMenu_left{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}

.FooterMenu_menu{
    align-items: center;
    color: #495057;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-start;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    outline: none;
    margin: 0;
    padding: 0 12px 0 16px;
    width: auto;
    font-family: 'Noto Sans KR';
}

.icon-chevron-right{
    display: inline-block!important;
    transform: rotate(90deg);
    animation: Linker_activeHide__1p9gT .5s forwards;
    margin-left: 4px;
    color: rgba(0,0,0,.54);
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    text-align: left;
}

icon-chevron-right::before{
    font-size: 16px;
    content: "";
    display: inline-block;
    margin-top: -0.2em;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: wadizicon!important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
}

.FooterMenu_bold{
    font-weight: 700;
    align-items: center;
    color: #495057;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-start;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    line-height: 20px;
    letter-spacing: 0;
    position: relative;
    outline: none;
}

.icon-chevron-right-Linker{
    display: inline-block!important;
    transform: rotate(90deg);
    animation: Linker_activeHide__1p9gT .5s forwards;
    margin-left: 4px;
    color: rgba(0,0,0,.54);
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
}

.FooterMenu_right{
    flex-wrap: nowrap;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;


}

.FooterMenu_menu_btnMore{
    align-items: center;
    color: #495057;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-start;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    margin-left: 620px;
    width: 103px;
}

.icon-chevron-right-Linker_linkerIcon{
    display: inline-block!important;
    transform: rotate(90deg);
    animation: Linker_activeHide__1p9gT .5s forwards;
    margin-left: 4px;
    color: rgba(0,0,0,.54);
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: 0;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    width: 50%;
}

.FooterMenu_menu_notice{
    align-items: center;
    color: #495057;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-start;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 500;
    transition: color .2s;
    margin-left: -30px;
    margin-right: 20px;
}

.withIcon_icon{
    font-size: 16px;
    display: inline-block;
    margin-left: 6px;
    vertical-align: text-top;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
    color: #495057;
    cursor: pointer;
    line-height: 20px;
    letter-spacing: 0;
}

.FooterMenu_menu_menu{
    align-items: center;
    color: #495057;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-start;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    margin-right: 20px;

}

.FooterMenu_menu_sns{
    align-items: center;
    color: #495057;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-start;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    outline: none;
}

.icon-chevron-right-linker_linkerIcon_icon{
    display: inline-block!important;
    transform: rotate(90deg);
    animation: Linker_activeHide__1p9gT .5s forwards;
    margin-left: 4px;
    color: rgba(0,0,0,.54);
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

.icon-chevron-right-linker_linkerIcon_icon::before{
    font-size: 16px;
    content: "";
    display: inline-block;
    margin-top: -0.2em;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: wadizicon!important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
}

.FooterMenu_menu__3nRbk_Linker_btnMore__1PEzz{
    align-items: center;
    color: #495057;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-start;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 500;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    position: relative;
    outline: none;
    margin-left:20px;
}
.FooterMenu_menu__3nRbk_Linker_btnMore__1PEzz img{
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    color: #495057;
    cursor: pointer;
}

.icon_chevron-right_Linker_linkerIcon__1QJpf{
    display: inline-block!important;
    transform: rotate(90deg);
    animation: Linker_activeHide__1p9gT .5s forwards;
    margin-left: 4px;
    color: rgba(0,0,0,.54);
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

.FooterContainer_container__3LibG{
    padding-bottom: 0;
    margin: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

.FooterContainer_inner__3Nket{
    display: flex;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    flex-direction: row;
    gap: 80px;
    margin: 0 auto;
    max-width: 1280px;
}

.FooterContainer_leftSection__2BtHF{
    border-bottom: 1px solid #f2f4f6;
    display: block;
    margin: 0;
    font: inherit;
    box-sizing: border-box;
    padding: 40px 0 80px;
    width: 200px;
}

.FooterInfo_info__1aB0e{
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

.FooterInfo_info__1aB0e li:after {
    content: "|";
    color: #dde2e6;
    margin: 0 5px;
}

.FooterContainer_title__1mcxQ{
    align-items: center;
    color: #212529;
    display: flex;
    margin-bottom: 4px;
    line-height: 28px;
    letter-spacing: -.6px;
    font-size: 18px;
    font-weight: 700;

}

.FooterContainer_title__1mcxQ::before {
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAA8UExURUdwTCUoLSEmKyEmKSElKScsLiImKiElKSElKSEmKiElKiIlKyElKiInKyIlKSIlKiImKSQqLS1AQCElKRLEMhcAAAATdFJOUwAiVJbvEoz7vm7ZSaMxdqumGwUhhJyxAAABbElEQVRIx6VW2aKEIAglcwGrafH///VW0zSh0DKXR0Q8HDYB/i/OkB8QW0/GXVtXhCHtEpDGc/M+FdJWOpY6JEGCV5A1NiliG8n+lXQJVJhPbTqVesouXNjPNy7whCJ+hqrhZ7hkzBnkLg6RO8aP3X3R8Zlgv+zWzJWZPVBd03xu2IHf88vw9p+MLOyzzIdPznk9dDBuCO0IHa+S7QGeVQB/wMCz/65EYroIsLODAFGgFjn/MQb1Aq6cZikKLLscUliYNXo5NFnQK+VZCFn5eKE+vGY/c9SFUgeDYv8CGGOuHHKSuP/CfqVJvhAn6ISWRRWSARcF9aAFPRP+UoDKtEYFKmmJ0y4YoTTeNYtoZaQ6r5KgUN6nQkIDbTEQSZAqqUW3PpX89OIQ2Po0b4XjEMjGzPZCdzItx8KZ9b7UOXVUav13czl8++PRuG8fLpR2erSycjy/LUV97dbu0WLvq2dfh+r252S49zm5lD8cD271e3tWtwAAAABJRU5ErkJggg==) no-repeat 50%/16px 16px;
    content: "";
    display: inline-block;}


.FooterContainer_buttonBlock__FQR2E{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

.FooterContainer_directBtn__2ICcT{
    color: #495057;
    cursor: pointer;
    display: inline-block;
    margin: 8px 0;
    padding: 0;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: -.3px;
    line-height: 28px;
    margin: 4px 0;
    width: 100%;
    border: 0;
    text-decoration: none;
}

.icon-chevron-right{
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    margin-left: 8px;
    color: #495057;
    cursor: pointer;
    text-align:left;
}

.FooterContainer_directBtn__2ICcT i::before {
    display: inline-block;
    margin-top: -0.2em;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: wadizicon!important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    content: "";
    text-decoration: none;
}



.FooterContainer_directBtn__2ICcT_FooterContainer_customcenterBtn__4TIQa{
    font-size: 16px;
    letter-spacing: -.3px;
    line-height: 28px;
    margin: 4px 0;
    width: 100%;
    color: #495057;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: left;
    font-weight: 500;
    text-decoration: none;
}


.Divider_divider{
    margin: 12px 0;
    background-color: #f2f4f6;
    opacity: 1;
    height: 1px;
}

.FooterContainer_divider__25UmA::before {
    background-color: #e9ecef;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
}

.FooterContainer_enableTime__B19o3{
    color: #868e96;
    padding-top: 8px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
}

.FooterContainer_enableTime__B19o dt{
    font-weight: 800;
    margin-bottom: 4px;
    margin: 0;
    padding: 0;
    display: block;
}

.FooterContainer_enableTime__B19o dd{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

.FooterContainer_rightSection__2uaQk{
    display: block;
    margin:0;
    font: inherit;
    box-sizing: border-box;
    margin-left: 0px;
    margin-top: 0px;
    padding: 40px 0 80px;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    display: block;
}

.FooterInfo_info__1aB0e{
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
}

.FooterInfo_info__1aB0e li {
    display: inline;
    color: #495057;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

.FooterInfo_info__1aB0e li:after {
    content: "|";
    color: #dde2e6;
    margin: 0 5px;
}

.FooterInfo_contactInfoWrap__2u2vv {
    display: block;
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.FooterInfo_info__1aB0e_FooterInfo_contactInfo__sPvNn{
    margin-top: 4px;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
}

.FooterInfo_info__1aB0e_FooterInfo_contactInfo__sPvNn a{
    transition: color .2s;
    color: rgba(0,0,0,.84);
    text-decoration: none;
}

.FooterInfo_info__1aB0e_FooterInfo_contactInfo__sPvNn a::after {
    content: "|";
    color: #dde2e6;
    margin: 0 5px;
}

.FooterInfo_info__1aB0e li {
    display: inline;
    color: #495057;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

.FooterInfo_copyright__802qi{
    display: inline-block;
    margin-top: 4px;
    color: rgba(0,0,0,.84);
  
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    font-weight: 700;
}

.FooterContainer_infoNotice__3m1oJ{
    display: block;
    color: #868e96;
    margin-top: 16px;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

.FooterContainer_infoNotice__3m1oJ p{
    display: block; 

}

.notice1{
    margin: 0;
}

.notice2{
    margin-top: 0px;
}

.FooterContainer_appStoreSection__2zpAZ{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 37px;
    justify-content: flex-start;
}

.icon-google-play {
    align-items: center;
    color: #212529;
    display: flex;
    flex-direction: row;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.FooterContainer_appStoreSection__2zpAZ a::before{
    margin-right: 4px;
    color: #545a60;
    font-size: 24px;
    display: inline-block;
    margin-top: -0.2em;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: wadizicon!important;
    font-style: normal;
    font-variant: normal;
} 

.icon-apple {
    align-items: center;
    color: #212529;
    display: flex;
    flex-direction: row;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.externals{
    display: none;
    overflow: hidden;
    vertical-align: middle;
    margin: 0;
    padding: 0;

}
