@charset "UTF-8";

body {
    line-height: 1.33;
    font-family: 'Noto Sans KR' !important;
}

body {
    overflow-y: scroll;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;

}

a, address, article, aside, audio, b, body, button, canvas, caption, dd, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, label, legend, li, nav, ol, p, pre, section, small, span, strong, summary, table, tbody, td, th, thead, time, tr, ul, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

article, blockquote, body, dd, div, dl, dt, h1, h2, h3, h4, html, li, main, ol, p, section, table, tbody, td, th, thead, tr, ul {
    margin: 0;
    padding: 0;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body, body button, body input, body li, body ol, body select, body textarea, body ul {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body li, body ol, body ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}

body a {
    color: rgba(0,0,0,.84);
}

input, optgroup, select, textarea {
    color: inherit;
}

body, body button, body input, body select, body textarea {
    font-family: 'Noto Sans KR' !important;
}

button:not(:disabled) {
    cursor: pointer;
}


h2.find-title {
    line-height: 36px;
    letter-spacing: -.6px;
    font-size: 28px;
    font-weight: 700;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 1024px;
    color: #000;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

.tab-list {
    position: relative;
    top: 0;
    left: 0;
    transition-property: background-color,-webkit-backdrop-filter,backdrop-filter;
    transition-duration: .5s;
    z-index: 100;
    box-shadow: 0 1px #00000014;
    background: #fff;
    width: 100%;
}

.tab-list ul{
    display: block;
    margin: 0 auto;
    padding: 0;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 1024px;
    color: #000;
}

.tab-list li {
    float: left;
    width: 50%;
}

.tab-list a {
    display: block;
    width: 100%;
    height: 47px;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    color: #90949c;
    font-size: 15px;
}

.tab-list li.active {
    border-bottom: 2px solid #00c4c4;
    height: 47px;
}

.tab-list li.active a {
    color: #00b2b2;
}

.tab-list ul:after {
    display: block;
    clear: both;
    content: "";
}

.page-body {
    background: #f5f7fa;
}

.common {
    position: relative;
    padding: 40px 16px;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 1024px;
    color: #000;
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,0);
    padding-top: 24px;
    padding-bottom: 160px;
    width: 100%;
    max-width: 400px;
}

.common.password-check {
    padding-bottom: 10px;
    min-height: calc(100vh - 187px);
}

p.check-text {
    word-break: keep-all;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #0000008a;
}

.field {
    margin: 24px 0;
}

.text-hidden {
    margin: -1px 0 0!important;
    height: 1px;
    overflow: hidden;
    text-indent: -9999px;
}

.field>label {
    display: block;
    margin-bottom: 8px;
    line-height: 24px;
    color: rgba(0,0,0,.84);
    font-size: 17px;
}

.field.label-hidden>label {
    display: none;
}

.input-email {
    display: block;
    position: relative;
    font-size: 17px;
}

.input-email>input {
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    transition-property: border-color,height,padding-right,color;
    transition-duration: .2s,0s;
    outline: none;
    border: 1px solid rgba(0,0,0,.15);
    background: #fff;
    padding: 0 0.94118em;
    width: 100%;
    vertical-align: middle;
    color: rgba(0,0,0,.84);
    font-family: 'Noto Sans KR' !important;
    height: 48px;
    line-height: 1.2em;
    font-size: 17px;
    font-weight: 300;
}

.input-email:after {
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: wadizicon!important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    speak: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0);
    transition-property: transform,opacity;
    transition-duration: .2s;
    opacity: 0;
    margin-top: 0;
    width: auto;
    height: auto;
    box-sizing: border-box;
    pointer-events: none;
    color: #00c4c4;
    font-size: 1.41176em;
}

.input-email:after {
    display: inline-block;
}

.helper {
    display: block;
    margin-top: 4px;
    font-style: normal;
}

.helper.error {
    display: none;
}

p.helper {
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
}

.helper.error {
    color: #f25555;
}

.button {
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .2s;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    padding: 0 1.41176em;
    height: 48px;
    vertical-align: middle;
    line-height: 1;
    color: rgba(0,0,0,.54);
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box!important;
    -webkit-appearance: none;
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
    margin-bottom: 12px;
}

.button.block {
    width: 100%;
    text-align: center;
}

.button.primary {
    background-color: #00c4c4;
    border-color: #00c4c4;
    color: #fff;
}

/* 모달 시작 */
.modal-whole {
    position: static;
}

.modal-wrap .modal-container {
    transition-duration: 80ms;
}

.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    transition-property: opacity;
    opacity: 0;
    z-index: 20000;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.element {
    opacity: 1;
}

.modal-contaier {
    position: relative;
    transition-property: opacity;
    transition-timing-function: ease-out;
    outline: none;
    min-height: 100%;
    transform: none;
}



.modal {
    position: relative;
    padding-top: 56px;
    height: 100%;
    box-sizing: border-box;
    text-align: left;
}

.modal-box {
    position: relative;
    margin: 0 auto;
    padding: 24px 32px 32px;
    min-width: 320px;
    min-height: 100%;
    box-sizing: border-box;
}

.modal-title {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 32px;
    color: #44484b;
    font-size: 24px;
    font-weight: 700;
}

.modal-message {
    margin-top: 12px;
    margin-bottom: 24px;
    color: #44484b;
}

.modal-message p {
    margin: 12px 0;
    line-height: 24px;
    font-size: 17px;
    font-weight: 300;
}

.modal-button {
    margin-top: 31px;
    text-align: right;
}

.modal-check {
    
}

/* =============================== */
.modal-whole {
    font-family: 'Noto Sans KR' !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* display: flex; */
    display: none;
}

.modal {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    height: 300px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    font-size: 30px;
    cursor: pointer;
    /* display: none; */
}

.modal-title{
    margin-left: 10px;
}





/* 모달 끝 */

@media screen and (min-width: 769px) {
    .page-header .find-title  {
        line-height: 40px;
        font-size: 32px;
        padding-top: 56px;
        padding-bottom: 36px;
        text-align: left;
    }

    .tab-list ul{
        padding: 0 16px;
    }

    .tab-list li {
        margin-right: 24px;
        width: auto;
    }

    .modal-whole {
        background: none;   
    }

    .modal-wrap {
        background: rgba(0,0,0,.6);
    }

    .modal {
        height: auto;
        display: inline-block;
        margin: 5%;
        box-shadow: 0 2px 6px rgba(0,0,0,.4);
        background: #fff;
        min-width: 300px;
    }

    .modal-box {
        max-width: 560px;
    }


}
