@charset "UTF-8";

body {
    line-height: 1.33;
    font-family: 'Noto Sans KR' !important;
}

body {
    overflow-y: scroll;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

a, address, article, aside, audio, b, body, button, canvas, caption, dd, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, label, legend, li, nav, ol, p, pre, section, small, span, strong, summary, table, tbody, td, th, thead, time, tr, ul, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

article, blockquote, body, dd, div, dl, dt, h1, h2, h3, h4, html, li, main, ol, p, section, table, tbody, td, th, thead, tr, ul {
    margin: 0;
    padding: 0;
}

body, body button, body input, body li, body ol, body select, body textarea, body ul {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

button {
    background: none;
    color: inherit;
}

button:not(:disabled) {
    cursor: pointer;
}

.container, body a {
    color: rgba(0,0,0,.84);
}

.container {
    position: relative;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 375px;
    color: #212529;
}

.page-header {
    padding-top: 24px;
    padding-bottom: 44px;
}

.page-header h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.33;
}

.page-header-text {
    margin-top: 8px;
    color: #495057;
}

.password {
    line-height: 24px;
}

.new-password {
    position: relative;
}

.password-confirm {
    position: relative;
}

/* input태그 클릭시 보더색 변경 */
.password-confirm input:focus{
    border-color:#006633;
    outline: none;
}

.new-password input:focus{
    border-color:#006633;
    outline: none;
}

/* check-icon 위치 */
.check-icon img, .re-check-icon img {
    display: none;
    position: absolute;
    top: 20px;
    right: 16px;
    width: 16px;
    height: 16px;
}

.input-text {
    margin: 4px 0;
    padding: 0 16px;
    width: 100%;
    height: 48px;
    border: 1px solid #dde2e6;
    border-radius: 3px;
    line-height: 48px;
    font-size: 17px;
    outline: none;
}

.helper-text {
    font-size: 12px;
    color: #868e96;
    display: none;
}

.text-field {
    position: relative;
}

.btn-confirm {
    margin-top: 36px;
}

.password-submit {
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .2s;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    padding: 0 1.41176em;
    height: 48px;
    vertical-align: middle;
    line-height: 1;
    color: rgba(0,0,0,.54);
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box!important;
    -webkit-appearance: none;
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
}

.btn-color {
    width: 100%;
    text-align: center;
    background-color: #00c4c4;
    color: #fff;
    border-color: #00c4c4;
    height: 56px;
}

/* 모달시작 */
.modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11001;
    overflow-y: auto;
    background-color: #0009;
}

.modal-container {
    position: relative;
    box-shadow: 0 2px 6px rgba(0,0,0,.4);
    background: #fff;
    left: 0;
    right: 0;
}

.modal-text {
    position: relative;
    background-color: #fff;
    box-sizing: border-box;

}

.modal-text .headline {
    line-height: 32px;
    font-size: 24px;
    font-weight: 700;
}

.modal-text p {
    line-height: 24px;
    font-size: 17px;
    font-weight: 300;
}

.body-margin {
    margin-top: 12px;
}

.close {
    position: absolute;
    top: 32px;
    left: 24px;
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 1;
    font-size: 24px;
}

.btn-agree-box {
    position: absolute;
    bottom: 32px;
    left: unset;
    right: 24px;
}

.confirm {
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .2s;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    padding: 0 1.41176em;
    height: 48px;
    vertical-align: middle;
    line-height: 1;
    color: rgba(0,0,0,.54);
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box!important;
    -webkit-appearance: none;
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
    border-color: #006633;
    background-color: #006633;
    color: #fff;
}

.close img {
    position: absolute;
    width: 35px;
}
/* 모달 끝 */


@media screen and (min-width: 1097px) {
    .modal-text .headline {
        line-height: 36px;
        font-size: 28px;
    }
    
}

@media screen and (min-width: 769px) {
    .page-header {
        padding-top: 50px;
    }

    .page-header h2 {
        font-size: 36px;
    }

    .page-header-text {
        margin-top: 16px;
    }

    .modal-container {
        margin: 0 auto;
        top: 240px;
        width: 560px;
        height: 276px;
    }

    .modal-text {
        padding: 72px 32px 32px;
    }

    .close {
        position: absolute;
        top: 10px;
        left: unset;
        right: 48px;
    }
    
    .btn-agree-box {
        right: 32px;
    }
}

@media screen and (min-width: 400px) {
    .modal-container {
        min-height: auto;
    }

}